* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    &:focus,
    &:active {
        outline: 0;
    }
}
body {
    font-family: $main-font, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $text-color;
    background-color: $body-bg;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: $duration;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &:active,
    &:focus {
        outline: 0;
    }
}

p {
    margin-bottom: 0;
    line-height: 1.62;
}

img {
    display: block;
    max-width: 100%;
    flex-shrink: 0;
}
button {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
    &:active,
    &:focus {
        outline: 0;
    }
}
label {
    cursor: pointer;
}

input,
textarea {
    font-family: $main-font;
    &::placeholder {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        opacity: 1;
    }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

b,
strong {
    font-weight: 600;
}

svg {
    display: block;
    width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-avialable;
    background: transparent url('../img/figure-bubbles.svg') center 29.0625vw no-repeat;
    background-size: 100vw auto;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header,
main,
content {
    width: 100%;
}

main {
    flex-grow: 1;
    // padding-top: 88px;

}

.wrap {
    width: 100%;
    max-width: calc(#{$wrap-inner-width} + 2*#{$wrap-padding-x});
    margin-left: auto;
    margin-right: auto;
    padding: 0 $wrap-padding-x;
    @include mobile {
        padding: 0 $wrap-padding-x-mobile;
    }
}

.text-center {
    text-align: center;
}



h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    line-height: 1.32;
    color: $title-color;
}
h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    @include maxw1440 {
        font-size: 56px;
    }
    @include maxw1199 {
        font-size: 52px;
    }
    @include touch {
        font-size: 46px;
    }
    @include mobile {
        font-size: 40px;
    }
}

h2 {
    font-size: 50px;
    @include maxw1440 {
        font-size: 48px;
    }
    @include maxw1199 {
        font-size: 44px;
    }
    @include touch {
        font-size: 40px;
    }
    @include mobile {
        font-size: 26px;
    }
    &.text-center {
        max-width: 1010px;
    }
}

h3 {
    font-size: 42px;
    @include maxw1440 {
        font-size: 40px;
    }
    @include maxw1199 {
        font-size: 36px;
    }
    @include touch {
        font-size: 32px;
    }
    @include mobile {
        font-size: 28px;
    }
}

h4 {
    font-size: 36px;
    @include maxw1199 {
        font-size: 32px;
    }
    @include touch {
        font-size: 28px;
    }
    @include mobile {
        font-size: 24px;
    }
}

h5 {
    font-size: 28px;
    @include touch {
        font-size: 24px;
    }
    @include mobile {
        font-size: 22px;
    }
}

h6 {
    font-size: 22px;
    @include touch {
        font-size: 21px;
    }
    @include mobile {
        font-size: 20px;
    }
}

.title-descr {
    margin-top: 25px;
    font-size: 22px;
    line-height: 1.36;
    @include touch {
        margin-top: 24px;
        font-size: 20px;
    }
    @include mobile {
        margin-top: 16px;
        font-size: 18px;
    }
    &.text-center {
        max-width: 1000px;
    }
    &.small {
        font-size: 18px;
        line-height: 1.56;
    }
}

ul, ol {
    list-style: none;
    li {
        position: relative;
        &::before {
            display: block;
            position: absolute;
            left: 0;
        }
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }
}

ul {
    li {
        padding-left: 21px;
        &::before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $list-marker-color;
            top: 10px;
        }
    }
}
ol {
    counter-reset: step-counter;
    li {
        padding-left: 30px;
        counter-increment: step-counter;
        &::before {
            display: block;
            content: counter(step-counter)'.';
            color: $list-marker-color;
            top: 0;
            font-weight: 600;
        }
    }
}

.link {
    color: $blue;
    text-decoration: underline;
}

p {
    line-height: 1.62;
    + p {
        margin-top: 16px;
    }
    strong, b {
        font-weight: 600;
    }
}

.quote-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    position: relative;
    @include mobile {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &::before {
        display: block;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='57' height='48' viewBox='0 0 57 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6 0H6.5C4.7 0 3.2 0.6 1.9 1.9C0.6 3.2 0 4.7 0 6.5V19.6C0 21.4 0.6 23 1.9 24.2C3.2 25.5 4.7 26.1 6.5 26.1H14.1C15 26.1 15.8 26.4 16.4 27.1C17 27.7 17.4 28.5 17.4 29.4V30.5C17.4 32.9 16.5 35 14.8 36.7C13.1 38.4 11 39.3 8.6 39.3H6.5C5.9 39.3 5.4 39.5 5 39.9C4.6 40.3 4.4 40.8 4.4 41.4V45.8C4.4 46.4 4.6 46.9 5 47.3C5.4 47.8 6 48 6.5 48H8.7C11.1 48 13.3 47.5 15.5 46.6C17.6 45.7 19.5 44.4 21.1 42.9C22.7 41.3 23.9 39.5 24.8 37.3C25.7 35.2 26.2 32.9 26.2 30.5V6.5C26.2 4.7 25.6 3.1 24.3 1.9C23 0.6 21.5 0 19.6 0ZM54.8 1.9C53.5 0.6 52 0 50.2 0H37.1C35.3 0 33.7 0.6 32.5 1.9C31.2 3.2 30.6 4.7 30.6 6.5V19.6C30.6 21.4 31.2 23 32.5 24.2C33.8 25.5 35.3 26.1 37.1 26.1H44.7C45.6 26.1 46.4 26.4 47 27.1C47.6 27.7 48 28.5 48 29.4V30.5C48 32.9 47.1 35 45.4 36.7C43.7 38.4 41.6 39.3 39.2 39.3H37C36.4 39.3 35.9 39.5 35.5 39.9C35.1 40.3 34.9 40.8 34.9 41.4V45.8C34.9 46.4 35.1 46.9 35.5 47.3C35.9 47.7 36.4 47.9 37 47.9H39.2C41.6 47.9 43.8 47.4 46 46.5C48.1 45.6 50 44.3 51.6 42.8C53.2 41.2 54.4 39.4 55.3 37.2C56.2 35.1 56.7 32.8 56.7 30.4V6.4C56.7 4.7 56.1 3.2 54.8 1.9Z' fill='%23243C92'/%3E%3C/svg%3E%0A");
        width: 57px;
        height: 48px;
        position: absolute;
        right: 30px;
        top: -6px;
        @include mobile {
            top: 0;
            right: 0;
        }
    }
    &-image {
        width: 310px;
        height: 330px;
        overflow: hidden;
        border-radius: $radius;
        position: absolute;
        bottom: 30px;
        left: 30px;
        @include mobile {
            width: 40%;
            left: 15px;
            bottom: initial;
            top: 0;
            height: auto;
            @include mobile {
                position: static;
                width: 150px;
                padding: 0 15px;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include mobile {

            }
        }
    }
    &-head {
        padding-left: 390px;
        @include touch {
            padding-left: 370px;
        }
        @include mobile {
            padding-left: 0;
            // padding-left: calc(40% + 30px);
            padding-right: 60px;
            width: calc(100% - 150px);
        }
    }
    &-job {
        font-size: 14px;
        line-height: 1.57;
        color: $grey;
        margin-top: 8px;
    }
    &-message {
        margin-top: 30px;
        background-color: $beige-light;
        padding: 50px 50px 50px 390px;
        min-height: 260px;
        font-style: italic;
        border-radius: $radius;
        @include touch {
            padding-left: 370px;
        }
        @include mobile {
            margin-top: 15px;
            // padding: 15px 15px 15px calc(40% + 30px);
            padding: 15px;
            min-height: initial;
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 1.57;
    text-transform: uppercase;
    font-weight: 600;
    background: $red-gradient-normal;
    min-width: $button-min-width;
    padding: 0 16px;
    @include touch {
        height: 60px;
        min-width: 240px;
    }
    &:hover {
        box-shadow: $red-box-shadow;
    }
    &:active {
        background: $red-gradient-active;
    }
    &.transparent {
        background: transparent;
        color: $red-text;
        border: 1px solid rgba($red, .7);
        &:hover {
            background: $red-gradient-normal;
            color: #fff;
        }
        &:active {
            background: $red-gradient-active;
            color: #fff;
        }
    }
}

.video-wrapper {
    position: relative;
    border-radius: $radius;
    overflow: hidden;
    .video-btn {
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: $blue;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3816 6.87278L3.76339 0.327326C3.02703 -0.0817649 2.04521 -0.0817649 1.30885 0.327326C0.490665 0.736417 -0.000244141 1.5546 -0.000244141 2.4546V15.5455C-0.000244141 16.4455 0.490665 17.1819 1.22703 17.591C1.96339 18.0819 2.94521 18.0819 3.68157 17.591L15.2998 11.0455C16.4452 10.391 16.8543 8.91824 16.1998 7.77278C16.0361 7.44551 15.7088 7.11824 15.3816 6.87278Z' fill='%23E4A991'/%3E%3C/svg%3E%0A");
        background-size: 17px 18px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: calc(50% - 45px);
        left: calc(50% - 45px);
        transition: $duration;
        &::before {
            display: block;
            content: '';
            position: absolute;
            left: -30px;
            right: -30px;
            top: -30px;
            bottom: -30px;
            border-radius: 50%;
            border: 1px solid rgba(#fff, .4);
            pointer-events: none;
        }
        &:hover {
            box-shadow: 0 0 0 15px rgba($blue, .4);
        }
    }
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    input:checked + .checkbox-custom::before {
        opacity: 1;
    }
    .checkbox-custom {
        width: 22px;
        height: 22px;
        margin-right: 14px;
        border-radius: 6px;
        flex-shrink: 0;
        display: block;
        border: 1px solid $input-border;
        position: relative;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.08 6C2.88 6 2.72 5.92 2.6 5.8L0.2 3.4C0.08 3.28 0 3.12 0 2.92C0 2.72 0.08 2.56 0.2 2.44C0.32 2.32 0.48 2.24 0.68 2.24C0.88 2.24 1.04 2.32 1.16 2.44L3.08 4.36L7.24 0.2C7.36 0.08 7.52 0 7.72 0C7.92 0 8.08 0.08 8.2 0.2C8.48 0.48 8.48 0.88 8.2 1.16L3.56 5.8C3.44 5.92 3.24 6 3.08 6Z' fill='%23243C92'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 9px 6px;
            opacity: 0;
            transition: opacity $duration;
        }
    }
    .checkbox-text {
        font-size: 12px;
        font-weight: 300;
        color: $grey;
        letter-spacing: 0.06em;
        a {
            color: $blue;
            text-decoration: underline;
        }
    }
}

.radio-label {
    display: inline-flex;
    align-items: center;
    input:checked + .radio-custom::before {
        opacity: 1;
    }
    .radio-custom {
        width: 22px;
        height: 22px;
        margin-right: 14px;
        border-radius: 50%;
        flex-shrink: 0;
        border: 1px solid $input-border;
        position: relative;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 4px;
            bottom: 4px;
            left: 4px;
            right: 4px;
            border-radius: 50%;
            opacity: 0;
            background-color: $blue;
            transition: opacity $duration;
        }
    }
    .radio-text {
        font-size: 12px;
        // font-weight: 300;
        color: $grey;
        letter-spacing: 0.06em;
    }
}

.input-label {
    display: block;
    position: relative;
    &::before {
        display: block;
        content: '';
        width: 38px;
        height: 38px;
        position: absolute;
        top: 14px;
        left: 14px;
        border-radius: 50%;
        background-color: $beige-light;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.user-label {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1999 0C4.1999 0 2.4999 1.7 2.4999 3.7C2.4999 5.7 4.1999 7.4 6.1999 7.4C8.1999 7.4 9.8999 5.7 9.8999 3.7C9.8999 1.7 8.1999 0 6.1999 0ZM10.6999 9.8C9.6999 8.8 8.2999 8.2 6.8999 8.2H5.2999C3.8999 8.2 2.4999 8.8 1.4999 9.8C0.499902 10.8 -0.100098 12.2 -0.100098 13.6C-9.76548e-05 13.8 0.199902 14 0.399902 14H11.8999C12.0999 14 12.2999 13.8 12.2999 13.6C12.2999 12.2 11.7999 10.8 10.6999 9.8Z' fill='%23E4A991'/%3E%3C/svg%3E%0A");
            background-size: 13px 16px;
        }
    }
    &.phone-label {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8625 9.1875C11.9875 9.1875 11.2 9.0125 10.325 8.75C9.975 8.575 9.45 8.75 9.1875 9.0125L7.6125 10.2375C5.775 9.275 4.6375 8.1375 3.675 6.3L4.8125 4.725C5.25 4.4625 5.3375 4.025 5.25 3.5875C4.9875 2.8 4.8125 2.0125 4.8125 1.1375C4.8125 0.525 4.2875 0 3.675 0H1.1375C0.525 0 0 0.525 0 1.1375C0 8.225 5.775 14 12.8625 14C13.475 14 14 13.475 14 12.8625V10.325C14 9.7125 13.475 9.1875 12.8625 9.1875Z' fill='%23E4A991'/%3E%3C/svg%3E%0A");
            background-size: 14px 14px;
        }
    }
    .input {
        width: 100%;
        height: 66px;
        border-radius: 40px;
        border: 1px solid $input-border;
        padding-left: 70px;
        padding-right: 15px;
        font-size: 14px;
        line-height: 1.57;
        transition: $duration;
        &::placeholder {
            color: $grey;
        }
        &:not(:placeholder-shown):not(:valid) {
            border-color: rgba($red, .7);
            color: $red;
            padding-bottom: 20px;
            + .error {
                opacity: 1;
            }
        }
    }
    .error {
        opacity: 0;
        pointer-events: none;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.06em;
        color: $grey;
        position: absolute;
        bottom: 14px;
        left: 70px;
        transition: opacity $duration;
    }
}

.contact-link {
    // padding-left: 50px;
    display: inline-flex;
    align-items: center;
    color: $blue;
    position: relative;
    &::before {
        display: block;
        content: '';
        width: 36px;
        height: 36px;
        background-color: $beige-light;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 14px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover {
        text-decoration: underline;
    }
    &.mail {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9125 0.7L9.625 4.9L13.9125 9.1C14 8.925 14 8.75 14 8.575V1.225C14 1.05 13.9125 0.875 13.9125 0.7ZM12.775 0H1.225C1.05 0 0.875 0.0875 0.7 0.0875L6.125 5.5125C6.5625 5.95 7.35 5.95 7.875 5.5125L13.3 0.0875C13.125 0.0875 12.95 0 12.775 0ZM0.0875 0.7C0.0875 0.875 0 1.05 0 1.225V8.575C0 8.75 0.0875 8.925 0.0875 9.1L4.375 4.9L0.0875 0.7ZM9.0125 5.5125L8.4875 6.125C7.6125 6.9125 6.3875 6.9125 5.5125 6.125L4.9875 5.5125L0.7 9.7125C0.875 9.8 1.05 9.8 1.225 9.8H12.775C12.95 9.8 13.125 9.7125 13.3 9.7125L9.0125 5.5125Z' fill='%23E4A991'/%3E%3C/svg%3E%0A");
            background-size: 14px 10px;
        }
    }
    &.phone {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8625 9.1875C11.9875 9.1875 11.2 9.0125 10.325 8.75C9.975 8.575 9.45 8.75 9.1875 9.0125L7.6125 10.2375C5.775 9.275 4.6375 8.1375 3.675 6.3L4.8125 4.725C5.25 4.4625 5.3375 4.025 5.25 3.5875C4.9875 2.8 4.8125 2.0125 4.8125 1.1375C4.8125 0.525 4.2875 0 3.675 0H1.1375C0.525 0 0 0.525 0 1.1375C0 8.225 5.775 14 12.8625 14C13.475 14 14 13.475 14 12.8625V10.325C14 9.7125 13.475 9.1875 12.8625 9.1875Z' fill='%23E4A991'/%3E%3C/svg%3E%0A");
            background-size: 14px 14px;
        }
    }
}
