.block-color-bg {
    background-color: $beige-light;
    position: relative;
    &::before,
    &::after {
        background-size: 792px 801px;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 195px;
        position: absolute;
        content: '';
        pointer-events: none;
        // z-index: 2;
    }
    &:before {
        left: 0;
        background-image: url('../img/circles-cluster-white-left.svg');
        background-position: right bottom;
    }
    &::after {
        right: 0;
        background-image: url('../img/circles-cluster-white-right.svg');
        background-position: left bottom;
        width: 240px;
    }
}

.block-home-banner {
    .wrap {
        display: flex;
    }
    .text-column {
        padding-top: 184px;
        padding-bottom: 40px;
        width: 610px;
        padding-right: 110px;
        flex-shrink: 0;
    }
    .title-descr {
        margin-top: 10px;
        font-family: $title-font;
        color: #D78564;
        font-size: 34px;
        line-height: 45px;
    }
    .price-label {
        margin-top: 48px;
        padding: 26px 35px;
        border-radius: $radius;
        background-color: rgba(#fff, .9);
        box-shadow: 0px 12px 16px rgba(249, 229, 222, 0.9);
        position: relative;
        font-size: 22px;
        line-height: 1.36;
        &::before {
            display: block;
            content: '';
            width: 4px;
            position: absolute;
            top: 26px;
            left: 0;
            bottom: 26px;
            background-color: $beige;
        }
        // b {
        //     font-weight: 600;
        // }
        span {
            margin-top: 12px;
            font-size: 16px;
        }
    }
    .btn-order {
        margin-top: 40px;
    }
    .annotation {
        margin-top: 53px;
        font-size: 12px;
        line-height: 1.83;
        font-weight: 300;
        color: $grey;
    }
    .banner-column {
        width: calc(100% + ((100vw - #{$wrap-inner-width}) / 2));
        margin-right: calc((-100vw + #{$wrap-inner-width}) / 2);
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
}

.block-icons-advantages {
    margin-top: 40px;

    .wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .icon-item {
        padding: 40px 30px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: $radius;
        transition: $duration;
        position: relative;
        &:hover {
            box-shadow: $grey-box-shadow;
            z-index: 2;
        }
        .icon {
            flex-shrink: 0;
            margin-right: 24px;
            width: 79px;
            height: 86px;
        }
        b, strong {
            font-weight: 600;
        }
    }
}

.block-list-advantages-cta {
    margin-top: 140px;

    .advantages-banner-list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    .advantages-banner {
        width: 45%;
        overflow: hidden;
        position: relative;
        border-radius: $radius;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url('../img/circles-cluster-white-right.svg');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 792px 801px;
            width: 24%;
            max-width: 162px;
            z-index: 2;
        }
        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: rgba(0, 0, 0, 0.1);
            pointer-events: none;
        }
        img {
            position: relative;
            z-index: 1;
        }
    }
    .advantages-text {
        width: 49%;
        padding-top: 20px;
    }
    // .title-descr {
    //     margin-top: 25px;
    //     font-size: 22px;
    //     line-height: 1.45;
    // }
    .advantages-list {
        margin-top: 55px;
        list-style: none;
        padding-bottom: 70px;
        li {
            display: flex;
            align-items: center;
            align-content: center;
            font-size: 18px;
            line-height: 1.56;
            padding-left: 0;
            &::before {
                display: block;
                content: '';
                width: 46px;
                height: 46px;
                border-radius: 50%;
                border: 4px solid $beige;
                flex-shrink: 0;
                margin-right: 30px;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='13' viewBox='0 0 19 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.67333 13C6.24 13 5.89333 12.8267 5.63333 12.5667L0.433333 7.36667C0.173333 7.10667 0 6.76 0 6.32667C0 5.89333 0.173333 5.54667 0.433333 5.28667C0.693333 5.02667 1.04 4.85333 1.47333 4.85333C1.90667 4.85333 2.25333 5.02667 2.51333 5.28667L6.67333 9.44667L15.6867 0.433333C15.9467 0.173333 16.2933 0 16.7267 0C17.16 0 17.5067 0.173333 17.7667 0.433333C18.3733 1.04 18.3733 1.90667 17.7667 2.51333L7.71333 12.5667C7.45333 12.8267 7.02 13 6.67333 13Z' fill='%23E4A991'/%3E%3C/svg%3E%0A");
                background-size: 19px 13px;
                background-position: center;
                background-repeat: no-repeat;
                position: initial;
            }
            &:not(:last-child) {
                margin-bottom: 28px;
            }
            b {
                margin-right: 4px;
            }
        }
    }

    .cta-group {
        // margin-top: -250px;
        margin-top: -230px;
        padding: 70px 0 80px;
        .wrap {
            display: flex;
        }
    }
    .cta-content {
        width: 49%;
        margin-left: auto;
    }
    .cta-buttons {
        margin-top: 55px;
        display: flex;
        align-items: center;
        .btn {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

.block-advantages-hovered-cards {
    margin-top: 140px;
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        max-width: 1010px;
    }
    // .title-descr {
    //     margin-top: 25px;
    //     font-size: 22px;
    //     line-height: 1.36;
    // }
    .hovered-cards {
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding-bottom: 30px;
        width: 100%;
    }
    .card-item {
        position: relative;
        counter-increment: card-item;
        &:hover {
            .card-item-info {
                top: 0;
                left: 0;
                right: 0;
                background-color: $blue;
                padding: 100px 40px 40px;
                box-shadow: $blue-box-shadow;
                border-radius: $radius;
                &::before,
                &::after {
                    opacity: 1;
                }
            }
            .card-item-number {
                opacity: 0;
            }
            .card-item-title {
                color: #fff;
                text-align: left;
            }
            .card-item-list {
                opacity: 1;
                width: 100%;
                visibility: visible;
            }
        }
        &-image {
            height: 100%;
            border-radius: $radius;
            overflow: hidden;
        }
        &-info {
            background-color: #fff;
            position: absolute;
            left: 30px;
            right: 30px;
            top: calc(100% - 135px);
            bottom: -30px;
            padding: 55px 25px 25px;
            border-radius: $radius-smaller;
            color: $blue;
            transition: $duration;
            box-shadow: 0px 16px 22px rgba(181, 183, 184, 0.16);
            &::before,
            &::after {
                background-size: 792px 801px;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                right: 0;
                height: 112px;
                position: absolute;
                content: '';
                pointer-events: none;
                opacity: 0;
                transition: opacity $duration;
            }
            &:before {
                top: 0;
                background-image: url('../img/circles-cluster-white-top.svg');
                background-position: center bottom;
            }
            &::after {
                bottom: 0;
                background-image: url('../img/circles-cluster-white-bottom.svg');
                background-position: center top;
            }
        }
        &-number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 72px;
            height: 72px;
            border: 4px solid currentColor;
            color: $beige;
            background-color: #fff;
            position: absolute;
            left: calc(50% - 36px);
            top: -36px;
            pointer-events: none;
            transition: opacity $duration;
            font-family: $title-font;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            border-radius: 50%;
            &::before {
                content: counter(card-item);
            }
        }
        &-title {
            transition: $duration;
            text-align: center;
        }
        &-list {
            margin-top: 28px;
            opacity: 0;
            transition: opacity $duration, width $duration;
            width: calc(100% + 60px);
            visibility: hidden;
            li {
                color: #fff;
                &::before {
                    background-color: #fff;
                }
            }
        }
    }
}

.block-title-text-banner {
    margin-top: 160px;
    .wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    h2 {
        max-width: 49%;
    }
    .block-color-bg {
        margin-top: 70px;
        .wrap {
            padding: 60px 0;
        }
    }
    .text-column {
        width: 49%;
        padding-left: 30px;
        padding-top: 22px;
        padding-bottom: 32px;
        position: relative;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 18px;
            left: 0;
            bottom: 24px;
            width: 4px;
            background-color: $beige;
        }
    }
    .banner-column {
        width: 45%;
        font-size: 18px;
        line-height: 1.56;
        position: relative;
        // overflow: hidden;
        img {
            border-radius: $radius;
            position: absolute;
            bottom: 0;
        }
    }
}

.block-banner-accordeon {
    margin-top: 90px;
    .wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .banner-column {
        width: 49%;
        overflow: hidden;
    }
    .accordeon-column {
        width: 45%;
        padding-top: 20px;
    }
    .accordeon-item {
        padding-left: 116px;
        padding-right: 40px;
        background-color: #fff;
        border-radius: $radius;
        cursor: pointer;

        +.accordeon-item {
            &.open {
                margin-top: 40px;
            }
            &:not(.open) {
                margin-top: 51px;
            }
        }
        &.open {
            padding-top: 40px;
            padding-bottom: 40px;
            box-shadow: $grey-white-box-shadow;
            .accordeon-item-title {
                &::before {
                    background-color: $beige;
                    background-image: url("data:image/svg+xml,%3Csvg width='21' height='3' viewBox='0 0 21 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='21' height='3' rx='1.5' fill='white'/%3E%3C/svg%3E%0A");
                    background-size: 21px 3px;
                }
            }
            .accordeon-item-list {
                display: block;
            }
        }
        &-title {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 52px;
            &::before {
                display: block;
                content: '';
                position: absolute;
                left: -76px;
                top: calc(50% - 26px);
                width: 52px;
                height: 52px;
                border: 4px solid $beige;
                border-radius: 50%;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='9' width='21' height='3' rx='1.5' fill='%23E4A991'/%3E%3Crect x='12' width='21' height='3' rx='1.5' transform='rotate(90 12 0)' fill='%23E4A991'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 21px 21px;
            }
        }
        &-list {
            margin-top: 28px;
            display: none;
        }
    }
}

.block-two-icons-cards {
    margin-top: 140px;
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        max-width: 1010px;
    }
    // .title-descr {
    //     margin-top: 25px;
    //     max-width: 1000px;
    //     font-size: 22px;
    //     line-height: 1.36;
    // }
    .two-cards {
        margin-top: 55px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .card-item {
        background-color: #fff;
        border-radius: $radius;
        padding: 40px 125px 50px 50px;
        box-shadow: $grey-white-box-shadow;
        overflow: hidden;
        transition: background-color $duration, box-shadow $duration;
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 210px;
            position: absolute;
            content: '';
            pointer-events: none;
            right: 0;
            background-image: url('../img/circles-cluster-beige-right.svg');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 792px 801px;
        }
        &:hover {
            background-color: $blue;
            box-shadow: $blue-box-shadow;
            &::after {
                background-image: url('../img/circles-cluster-white-right.svg');
            }
            .card-item-title {
                color: #fff;
            }
            .card-item-list {
                li {
                    color: #fff;
                    &::before {
                        background-color: #fff;
                    }
                }
            }
        }
        &-head {
            display: flex;
            align-items: center;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            flex-grow: 0;
            width: 96px;
            height: 96px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 30px;
            border: 4px solid $beige;
        }
        &-title {
            transition: color $duration;
        }
        &-list {
            margin-top: 36px;
            li {
                transition: color $duration;
                &::before {
                    transition: background-color $duration;
                }
            }
        }
        .card-icon-1 {
            width: 52px;
            height: 52px;
        }
        .card-icon-2 {
            width: 54px;
            height: 52px;
        }
    }
}

.block-three-icons-cards {
    margin-top: 140px;
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        max-width: 1010px;
    }
    // .title-descr {
    //     margin-top: 25px;
    //     max-width: 1000px;
    //     font-size: 22px;
    //     line-height: 1.36;
    // }
    .three-cards {
        margin-top: 55px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .card-item {
        background-color: #fff;
        border-radius: $radius;
        padding: 40px 30px;
        box-shadow: $grey-white-box-shadow;
        overflow: hidden;
        transition: background-color $duration, box-shadow $duration;
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 118px;
            position: absolute;
            content: '';
            pointer-events: none;
            left: 0;
            background-image: url('../img/circles-cluster-beige-left.svg');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 792px 801px;
        }
        &:hover {
            background-color: $blue;
            box-shadow: $blue-box-shadow;
            &::before {
                background-image: url('../img/circles-cluster-white-left.svg');
            }
            .card-item-descr {
                color: #fff;
            }
        }
        &-head {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            flex-grow: 0;
            width: 86px;
            height: 86px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 24px;
            border: 4px solid $beige;
        }
        &-descr {
            transition: color $duration;
        }
        .card-icon-3 {
            width: 44px;
            height: 48px;
        }
        .card-icon-4 {
            width: 37px;
            height: 48px;
        }
        .card-icon-5 {
            width: 44px;
            height: 46px;
        }
    }
}

.block-banner-icons-list {
    margin-top: 140px;
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .banner-column {
        overflow: hidden;
        border-radius: $radius;
        width: 45%;
        position: relative;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url('../img/circles-cluster-white-right.svg');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 792px 801px;
            width: 24%;
            max-width: 162px;
            z-index: 2;
        }
        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: rgba(0, 0, 0, 0.1);
            pointer-events: none;
        }
    }
    .text-column {
        width: 49%;
    }
    // .title-descr {
    //     margin-top: 25px;
    //     font-size: 22px;
    //     line-height: 1.45;
    // }
    .icons-list {
        margin-top: 55px;
    }
    .icon-item {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 1.56;
        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        flex-shrink: 0;
        margin-right: 24px;
    }
    .list-icon-1 {
        width: 62px;
        height: 66px;
    }
    .list-icon-2 {
        width: 63px;
        height: 64px;
    }
    .list-icon-3 {
        width: 60px;
        height: 57px;
    }
    .list-icon-4 {
        width: 62px;
        height: 61px;
    }
}

.block-check-list-banner {
    // margin-top: 150px;
    margin-top: 140px;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 665px;
    display: flex;
    .wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .text-column {
        width: 45%;
    }
    .banner-column {
        width: 49%;
        position: relative;
        img {
            position: absolute;
            border-radius: $radius;
            bottom: 0;
        }
    }
    .check-list {
        margin-top: 45px;
        &-item {
            display: flex;
            align-items: center;
            font-size: 18px;
            line-height: 1.56;
            &::before {
                display: block;
                content: '';
                width: 46px;
                height: 46px;
                border-radius: 50%;
                border: 4px solid $beige;
                flex-shrink: 0;
                margin-right: 30px;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='13' viewBox='0 0 19 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.67333 13C6.24 13 5.89333 12.8267 5.63333 12.5667L0.433333 7.36667C0.173333 7.10667 0 6.76 0 6.32667C0 5.89333 0.173333 5.54667 0.433333 5.28667C0.693333 5.02667 1.04 4.85333 1.47333 4.85333C1.90667 4.85333 2.25333 5.02667 2.51333 5.28667L6.67333 9.44667L15.6867 0.433333C15.9467 0.173333 16.2933 0 16.7267 0C17.16 0 17.5067 0.173333 17.7667 0.433333C18.3733 1.04 18.3733 1.90667 17.7667 2.51333L7.71333 12.5667C7.45333 12.8267 7.02 13 6.67333 13Z' fill='%23E4A991'/%3E%3C/svg%3E%0A");
                background-size: 19px 13px;
                background-position: center;
                background-repeat: no-repeat;
                position: initial;
            }
            &:not(:last-child) {
                margin-bottom: 28px;
            }
        }
    }
}

.block-prices {
    margin-top: 140px;
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-annotation {
        margin-top: 55px;
        font-size: 14px;
        line-height: 1.57;
        display: flex;
        align-items: center;
        &::before {
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $red;
            margin-right: 18px;
        }
    }
    .prices-list {
        margin-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px;
        align-items: center;
    }

    .price-item {
        position: relative;
        border-radius: $radius;
        overflow: hidden;
        background-color: #fff;
        box-shadow: $grey-white-box-shadow;
        transition: box-shadow $duration;
        &:hover {
            box-shadow: $grey-box-shadow;
        }
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 134px;
            position: absolute;
            content: '';
            pointer-events: none;
            right: 0;
            background-image: url('../img/circles-cluster-beige-right.svg');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 792px 801px;
        }
        &.action {
            background-color: $blue;
            color: #fff;
            box-shadow: $blue-box-shadow;
            &::after {
                background-image: url('../img/circles-cluster-white-right.svg');
            }
            .price-item-title {
                color: $beige-light;
                text-transform: uppercase;
            }
            .price-item-cost {
                color: #fff;
            }
            .price-item-period {
                color: $beige-light;
            }
            .feature-item {
                color: #fff;
            }
        }
        &-inner {
            padding: 35px 30px;
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &-title {
            color: $dark;
        }
        &-cost {
            margin-top: 10px;
            display: flex;
            align-items: baseline;
            font-family: $title-font;
            color: $blue;
            font-size: 36px;
            line-height: 1.33;
            position: relative;
            &::after {
                content: '₽';
                margin-left: 5px;
                font-size: 22px;
                line-height: 1.36;
                font-weight: 300;
            }
            &.with-annotation {
                &::before {
                    display: block;
                    content: '';
                    position: absolute;
                    right: -11px;
                    top: 11px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $red;
                }
            }
        }
        &-period {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.57;
            color: $grey;
        }
        &-features {
            margin-top: 30px;
        }
        .feature-item {
            display: flex;
            align-items: center;
            font-weight: 300;
            &::before {
                display: block;
                content: '';
                width: 16px;
                height: 16px;
                border-radius: 50%;
                flex-shrink: 0;
                margin-right: 11px;
                background-color: $beige;
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.08 6C2.88 6 2.72 5.92 2.6 5.8L0.2 3.4C0.08 3.28 0 3.12 0 2.92C0 2.72 0.08 2.56 0.2 2.44C0.32 2.32 0.48 2.24 0.68 2.24C0.88 2.24 1.04 2.32 1.16 2.44L3.08 4.36L7.24 0.2C7.36 0.08 7.52 0 7.72 0C7.92 0 8.08 0.08 8.2 0.2C8.48 0.48 8.48 0.88 8.2 1.16L3.56 5.8C3.44 5.92 3.24 6 3.08 6Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 9px 6px;
            }
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
        &-availability {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.57;
        }
        .btn {
            margin-top: 30px;
            min-width: 100%;
        }
    }
}

.block-offers-cases {
    margin-top: 90px;
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-color-bg {
        margin-top: 185px;
        .wrap {
            padding-bottom: 80px;
        }
    }
    .offers-cases {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-top: -130px;
    }
    .case-item {
        border-radius: $radius;
        position: relative;
        overflow: hidden;
        background-color: #fff;
        box-shadow: $grey-white-box-shadow;
        transition: color $duration, background-color $duration, box-shadow $duration;
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 118px;
            position: absolute;
            content: '';
            pointer-events: none;
            left: 0;
            background-image: url('../img/circles-cluster-beige-left.svg');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 792px 801px;
        }
        &:hover {
            background-color: $blue;
            color: #fff;
            box-shadow: $blue-box-shadow;
            &::before {
                background-image: url('../img/circles-cluster-white-left.svg');
            }
            .case-item-title {
                color: #fff;
            }
        }
        &-inner {
            padding: 35px;
            position: relative;
            z-index: 2;
        }
        &-head {
            display: flex;
            align-items: center;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            flex-grow: 0;
            width: 86px;
            height: 86px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 24px;
            border: 4px solid $beige;
        }
        &-title {
            transition: color $duration;
        }
        &-descr {
            margin-top: 24px;
        }
        .btn {
            margin-top: 30px;
            width: 100%;
            min-width: initial;
        }
        .case-icon-1 {
            width: 48px;
            height: 48px;
        }
        .case-icon-2 {
            width: 46px;
            height: 50px;
        }
        .case-icon-3 {
            width: 49px;
            height: 37px;
        }
    }
}

.block-banner-callback {
    margin-top: 140px;
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .banner-column {
        width: 45%;
        overflow: hidden;
        border-radius: $radius;
        position: relative;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url('../img/circles-cluster-white-right.svg');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 792px 801px;
            width: 24%;
            max-width: 162px;
            z-index: 2;
        }
        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: rgba(0, 0, 0, 0.1);
            pointer-events: none;
        }
    }
    .text-column {
        width: 49%;
    }
    .callback-form {
        margin-top: 55px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
    }
}

.block-contacts-map {
    margin-top: 140px;
    position: relative;
    .wrap {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .contacts-group {
        position: relative;
        z-index: 2;
        margin-left: auto;
        padding: 50px 40px;
        border-radius: $radius;
        box-shadow: $grey-box-shadow;
        width: 49%;
        background-color: #fff;
    }

    address {
        display: flex;
        align-items: center;
        font-style: normal;
        .icon-wrapper {
            width: 76px;
            height: 76px;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid $beige;
            background-color: #fff;
            margin-right: 22px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .address-icon {
            width: 36px;
            height: 45px;
        }
    }

    .annotation {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid $beige-light;
        line-height: 1.62;
    }
}