@font-face {
  /* font-display: swap; */
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Reg/ProximaNova-Reg.eot");
  src: url("../fonts/ProximaNova-Reg/ProximaNova-Reg.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/ProximaNova-Reg/ProximaNova-Reg.woff") format("woff"), url("../fonts/ProximaNova-Reg/ProximaNova-Reg.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  /* font-display: swap; */
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  /* font-display: swap; */
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  /* font-display: swap; */
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
body {
  font: 16px/1.4em Proxima Nova, "Arial", sans-serif;
  color: #333;
}
button, input, select, textarea, a {
  font: 16px/1.4em Proxima Nova, "Arial", sans-serif;
  font-size: 1rem;
}

:root {
  --orange: #fb4509;
}

button, .btn, input[type="button"] {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  background-color: var(--orange);
  padding: 0.6em 1.2em;
  line-height: 1em;
  transition: background 100ms;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

button.focus, button:focus, button:hover, button:active, .btn.focus, .btn:focus, .btn:hover, .btn:active, input[type="button"].focus, input[type="button"]:focus, input[type="button"]:hover, input[type="button"]:active {
  text-decoration: none;
  background-color: #fb4709;
}

button:active, button:focus, .btn:active, .btn:focus, input[type="button"]:active, input[type="button"]:focus {
  outline: none;
}


a {
  color: var(--orange);
  transition: all 0.35s;
  text-decoration: none;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-smoothing: antialiased;
  tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  background: #e6e6e6;
  position: relative;
}

body.fixed {
  overflow: hidden;
}

body.fixed.client-ios {
  position: fixed;
  height: 100%;
  width: 100%;
}

body._has-modal {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  body.no-scroll {
    width: 100%;
    height: 100vh;
    position: fixed;
  }
}

body main {
  position: relative;
}

a {
  border: none;
  outline: none;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  vertical-align: middle;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

ul.list-inline > li {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5714285714285716rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.7142857142857142rem;
  }
}

h3 {
  font-size: 1.7142857142857142rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.4285714285714286rem;
  }
}

h4 {
  font-size: 1.4285714285714286rem;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.2857142857142858rem;
  }
}

h5 {
  font-size: 1.2857142857142858rem;
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: 1.1428571428571428rem;
  }
}

h6 {
  font-size: 1.1428571428571428rem;
}

hr {
  border: 0;
  display: block;
  border-top: 1px solid #353434;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  clear: both;
}

label {
  border-radius: 0;
}



button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active, a:focus, a:active {
  outline: none;
}

button {
  color: #fff;
}

input,
textarea {
  outline: none;
  font: 16px/1.4em Proxima Nova, "Arial", sans-serif;
  color: #353434;
  font-size: 1rem;
  border-radius: 0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  background: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder,
textarea::placeholder {
  font: 16px/1.4em Proxima Nova, "Arial", sans-serif;
  font-size: 1rem;
}
input {
  appearance: none;
}
.container {
  margin: 0 auto;
  width: 1440px;
  background: #fff;
}


@media screen and (max-width: 1600px) {
  .container {
    width: 1360px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1280px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1230px;
  }
}

@media screen and (max-width: 1380px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
.container .wrap {
  width: 1170px;
  margin: 0 auto;
}


@media screen and (max-width: 1380px){
  .container .wrap {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media screen and (max-width: 959px) {

  .container .wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.hidden {
  display: none !important;
}

.image-holder {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.image-holder img {
  object-fit: cover;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.image-holder .fake-img {
  opacity: 0;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.image-holder .img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.align-center,
.text-center {
  text-align: center;
}

.align-right,
.text-right {
  text-align: right;
}

.align-left,
.text-left {
  text-align: left;
}

.inline-layout {
  font-size: 0;
  letter-spacing: 0;
}

.inline-layout > * {
  display: inline-block;
  vertical-align: top;
  font: 16px/1.4em 'Proxima Nova', 'Arial', sans-serif;
}




header .top_header {
  background-color: var(--orange);
  background-image: linear-gradient(to right, var(--orange) 0%, #ff7c12 100%);
}

header .top_header .wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 480px) {
  header .top_header .wrap {
    padding-left: 0;
    padding-right: 0;
  }
}


@media screen and (max-width: 767px) {
  header .top_header .block_menu.active nav {
    height: auto;
    transition: height 0.35s;
  }
}

header .top_header .block_menu > label {
  display: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 30px;
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu > label {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.35s;
    background: #fff;
    z-index: 11;
  }
}

header .top_header .block_menu nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  header .top_header .block_menu nav > ul {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav > ul {
    border-bottom: 1px solid var(--orange);
    border-left: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
  }
}

header .top_header .block_menu nav > ul > li {
  border-right: 1px solid #fd8a4a;
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav > ul > li {
    border-right: 0;
    border-bottom: 1px solid #e5e5e5;
    display: block;
  }
  header .top_header .block_menu nav > ul > li:last-child {
    border-bottom: 0;
  }
}

header .top_header .block_menu nav > ul > li.parent:hover .drop-menu {
  opacity: 1;
  transition: all 0.35s;
  z-index: 10;
  pointer-events: auto;
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav > ul > li:hover, header .top_header .block_menu nav > ul > li.active {
    border-color: var(--orange);
  }
}

header .top_header .block_menu nav > ul > li:hover > a, header .top_header .block_menu nav > ul > li.active > a {
  color: #000;
  background-color: #fff;
  transition: all 0.35s;
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav > ul > li:hover > a, header .top_header .block_menu nav > ul > li.active > a {
    border-color: var(--orange);
  }
}

header .top_header .block_menu nav > ul > li:last-child {
  border-right: 0;
  background-image: linear-gradient(-45deg, #18bfd2 20%, #1196b6);
}


header .top_header .block_menu nav > ul > li:nth-last-child(2):hover > a {
  background-color: #fff;
  background-image: url("../img/icons/array_down2.svg");
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav > ul > li:nth-last-child(2):hover > a {
    background-image: none!important;
  }

  header .top_header .block_menu nav > ul > li:last-child > a {
    color: #fff;
  }

  header .top_header .block_menu nav > ul > li:last-child:hover > a {
    background: #fff!important;
    color: #000!important;
  }
}

header .top_header .block_menu nav > ul > li:nth-last-child(2) > a {
  padding-right: 30px;
  background: url("../img/icons/array_down.svg") no-repeat calc(100% - 7px) center;
}

@media screen and (max-width: 959px) {
  header .top_header .block_menu nav > ul > li:nth-last-child(2) > a {
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav > ul > li:nth-last-child(2) > a {
    padding-right: 0;
    background: none;
  }
}

header .top_header .block_menu nav > ul > li > a {
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1em;
  padding: 17px 15px;
  display: block;
  transition: all 0.35s;
}

@media screen and (max-width: 1340px) {
  header .top_header .block_menu nav > ul > li > a {
    font-size: 0.875rem;
    padding: 18px 10px;
  }
}

@media screen and (max-width: 1100px) {
  header .top_header .block_menu nav > ul > li > a {
    padding: 18px 7px 19px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav > ul > li > a {
    color: #000;
    padding: 10px 15px;
    border-top: 1px solid transparent;
  }
}

header .top_header .block_menu nav .drop-menu {
  opacity: 0;
  transition: all 0.35s;
  z-index: -1;
  position: absolute;
  left: -135px;
  top: 100%;
  width: 1440px;
  background: #fff;
  border-left: 1px solid var(--orange);
  border-right: 1px solid var(--orange);
  display: block;
  padding-top: 1px;
  padding-left: 1px;
  pointer-events: none;
}

@media screen and (max-width: 1600px) {
  header .top_header .block_menu nav .drop-menu {
    width: 1360px;
    left: -95px;
  }
}

@media screen and (max-width: 1500px) {
  header .top_header .block_menu nav .drop-menu {
    width: 1280px;
    left: -55px;
  }
}

@media screen and (max-width: 1440px) {
  header .top_header .block_menu nav .drop-menu {
    width: 1230px;
    left: -30px;
  }
}

@media screen and (max-width: 1380px) {
  header .top_header .block_menu nav .drop-menu {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  header .top_header .block_menu nav .drop-menu {
    display: none;
    pointer-events: auto;
  }
}

header .top_header .block_menu nav .drop-menu:after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--orange);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

header .top_header .block_menu nav .drop-menu .link_catalog {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: 2px solid var(--orange);
  color: #000;
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 12px 60px 12px 30px;
  line-height: 1em;
  transition: all 0.35s;
  background: url("../img/icons/array_orange.svg") no-repeat calc(100% - 20px) center;
  border-radius: 20px;
}

header .top_header .block_menu nav .drop-menu .link_catalog:hover {
  transition: all 0.35s;
  background: var(--orange) url("../img/icons/array_w.svg") no-repeat calc(100% - 20px) center;
  color: #fff;
}

header .top_header .block_menu nav .drop-menu li {
  margin-top: -1px;
  margin-left: -1px;
  width: calc(100%/8 + 1px);
  border: 1px solid #e5e5e5;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1024px) {
  header .top_header .block_menu nav .drop-menu li {
    width: calc(100%/6 + 1px);
  }
}

@media screen and (max-width: 959px) {
  header .top_header .block_menu nav .drop-menu li {
    width: calc(100%/5 + 1px);
  }
}

header .top_header .block_menu nav .drop-menu li:hover {
  z-index: 3;
  border-color: var(--orange);
}
header .top_header .block_menu nav .drop-menu li:nth-of-type(8n):hover {
  border-right-color: transparent;
}
header .top_header .block_menu nav .drop-menu li:nth-of-type(8n+1):hover {
  border-left-color: transparent;
}
header .top_header .block_menu nav .drop-menu li:nth-of-type(-n+8):hover {
  border-top-color: transparent;
}
@media screen and (max-width: 1024px) {
  header .top_header .block_menu nav .drop-menu li:nth-of-type(8n):hover {
    border-right-color: var(--orange);
  }
  header .top_header .block_menu nav .drop-menu li:nth-of-type(8n+1):hover {
    border-left-color: var(--orange);
  }
  header .top_header .block_menu nav .drop-menu li:nth-of-type(-n+8):hover {
    border-top-color: var(--orange);
  }
  header .top_header .block_menu nav .drop-menu li:nth-of-type(6n):hover {
    border-right-color: transparent;
  }
  header .top_header .block_menu nav .drop-menu li:nth-of-type(6n+1):hover {
    border-left-color: transparent;
  }
  header .top_header .block_menu nav .drop-menu li:nth-of-type(-n+6):hover {
    border-top-color: transparent;
  }
}

header .top_header .block_menu nav .drop-menu li:hover a {
  transition: all 0.35s;
  z-index: 3;
}

header .top_header .block_menu nav .drop-menu li:hover a .name {
  text-decoration: underline;
  transition: all 0.35s;
}

header .top_header .block_menu nav .drop-menu li:hover a .name .number {
  text-decoration: none;
}

header .top_header .block_menu nav .drop-menu li.active {
  border-color: var(--orange);
  z-index: 3;
}

header .top_header .block_menu nav .drop-menu li.active a {
  transition: all 0.35s;
  border-color: var(--orange);
}

header .top_header .block_menu nav .drop-menu li.active a .name {
  text-decoration: underline;
  transition: all 0.35s;
}

header .top_header .block_menu nav .drop-menu li.active a .name .number {
  text-decoration: none;
}

header .top_header .block_menu nav .drop-menu li:nth-child(8n+1) {
  border-left-color: var(--orange);
}

@media screen and (max-width: 1024px) {
  header .top_header .block_menu nav .drop-menu li:nth-child(8n+1) {
    border-left-color: #e5e5e5;
  }
}

@media screen and (max-width: 1024px) {
  header .top_header .block_menu nav .drop-menu li:nth-child(6n+1) {
    border-left-color: var(--orange);
  }
}

@media screen and (max-width: 959px) {
  header .top_header .block_menu nav .drop-menu li:nth-child(6n+1) {
    border-left-color: #e5e5e5;
  }
}

@media screen and (max-width: 959px) {
  header .top_header .block_menu nav .drop-menu li:nth-child(5n+1) {
    border-left-color: var(--orange);
  }
}

header .top_header .block_menu nav .drop-menu li a {
  padding: 30px 0;
  height: 180px;
  border: 1px solid transparent;
  transition: all 0.35s;
  display: block;
  box-sizing: border-box;
}

@media screen and (max-width: 1380px) {
  header .top_header .block_menu nav .drop-menu li a {
    height: 160px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 1340px) {
  header .top_header .block_menu nav .drop-menu li a {
    font-size: 0.875rem;
    height: 140px;
    padding: 12px 0;
  }
}

@media screen and (max-width: 1024px) {
  header .top_header .block_menu nav .drop-menu li a {
    height: 160px;
    padding: 20px 0;
  }
}

header .top_header .block_menu nav .drop-menu li a .image-holder {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

@media screen and (max-width: 1340px) {
  header .top_header .block_menu nav .drop-menu li a .image-holder {
    margin-bottom: 7px;
  }
}

header .top_header .block_menu nav .drop-menu li a .name {
  font-weight: 500;
  color: #000;
  font-size: 1rem;
  text-align: center;
  line-height: 1.1em;
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.35s;
  padding: 0 5px;
}

@media screen and (max-width: 1340px) {
  header .top_header .block_menu nav .drop-menu li a .name {
    font-size: 0.875rem;
    max-height: 30px;
  }
}

header .top_header .block_menu nav .drop-menu li a .name .number {
  color: var(--orange);
  font-weight: 400;
  font-size: 0.9375rem;
  vertical-align: top;
  display: inline-block;
  margin-left: 7px;
}

@media screen and (max-width: 1340px) {
  header .top_header .block_menu nav .drop-menu li a .name .number {
    font-size: 0.875rem;
  }
}

header .bottom_header {
  padding: 20px 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  header .bottom_header {
    padding: 15px 0;
  }
}

header .bottom_header .wrap {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .bottom_header .logo {
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  header .bottom_header .logo {
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  header .bottom_header .logo {
    height: 24px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 479px) {
  header .bottom_header .logo {
    padding-right: 20px;
  }
}

header .bottom_header .logo img {
  max-height: 100%;
  width: auto!important;
}

header .bottom_header .lang {
  padding-right: 40px;
  padding-left: 30px;
  background: url("../img/icons/lang.svg") no-repeat left center;
  background-size: 16px;
}

@media screen and (max-width: 959px) {
  header .bottom_header .lang {
    display: none;
  }
}

header .bottom_header .lang a {
  color: #777;
  font-size: 0.8125rem;
  line-height: 1em;
  transition: all 0.35s;
}

header .bottom_header .lang a:hover {
  transition: all 0.35s;
  color: var(--orange);
}

header .bottom_header .block_search {
  max-width: 550px;
  flex-grow: 2;
  padding-right: 40px;
  position: relative;
}

@media screen and (max-width: 767px) {
  header .bottom_header .block_search {
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  header .bottom_header .block_search {
    padding-right: 0;
  }
}

header .bottom_header .block_search .search-autocomplete {
  z-index: 9;
}

header .bottom_header .block_search .search-autocomplete ul {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  background: #fff;
}

header .bottom_header .block_search .search-autocomplete ul li {
  padding: 10px;
  transition: all 0.35s;
  cursor: pointer;
}

header .bottom_header .block_search .search-autocomplete ul li:hover {
  transition: all 0.35s;
  color: var(--orange);
}

header .bottom_header .block_search .search-autocomplete ul li .qs-option-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 30px);
}

header .bottom_header .block_search .search-autocomplete ul li .amount {
  color: var(--orange);
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 30px;
}

header .bottom_header .block_search .form-holder.error input {
  border-color: red;
}

header .bottom_header .block_search .form-holder input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 30px 12px 0;
  line-height: 1em;
  color: #000;
  font-size: 0.9375rem;
}

@media screen and (max-width: 767px) {
  header .bottom_header .block_search .form-holder input {
    font-size: 0.8125rem;
    padding: 7px 28px 7px 0;
  }
}

@media screen and (max-width: 600px) {
  header .bottom_header .block_search .form-holder input {
    padding: 4px 28px 4px 0;
  }
}

header .bottom_header .block_search .form-holder input::-webkit-input-placeholder {
  color: #aaa;
  font-size: 0.9375rem;
}

header .bottom_header .block_search .form-holder input::-moz-placeholder {
  color: #aaa;
  font-size: 0.9375rem;
}

header .bottom_header .block_search .form-holder input:-ms-input-placeholder {
  color: #aaa;
  font-size: 0.9375rem;
}

header .bottom_header .block_search .form-holder input::placeholder {
  color: #aaa;
  font-size: 0.9375rem;
}

@media screen and (max-width: 767px) {
  header .bottom_header .block_search .form-holder input::-webkit-input-placeholder {
    font-size: 0.8125rem;
  }
  header .bottom_header .block_search .form-holder input::-moz-placeholder {
    font-size: 0.8125rem;
  }
  header .bottom_header .block_search .form-holder input:-ms-input-placeholder {
    font-size: 0.8125rem;
  }
  header .bottom_header .block_search .form-holder input::placeholder {
    font-size: 0.8125rem;
  }
}

header .bottom_header .block_search input[type="submit"] {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 40px;
  width: 29px;
  height: 29px;
  border: 0;
  background: #fff url("../img/icons/search.svg") no-repeat center;
  background-size: 100%;
  padding: 0;
}

@media screen and (max-width: 767px) {
  header .bottom_header .block_search input[type="submit"] {
    width: 26px;
    height: 26px;
    margin-top: -13px;
    right: 30px;
  }
}

@media screen and (max-width: 600px) {
  header .bottom_header .block_search input[type="submit"] {
    margin-top: 0;
    top: -2px;
    right: 0;
  }
}

header .bottom_header .block_contact {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  header .bottom_header .block_contact {
    display: none;
  }
}

header .bottom_header .block_contact .block_phone p {
  color: #777;
  font-size: 0.8125rem;
  line-height: 1.3em;
  margin-bottom: 7px;
}

header .bottom_header .block_contact .block_phone p:last-child {
  margin-bottom: 0;
}

header .bottom_header .block_contact .block_phone a {
  display: inline-block;
  vertical-align: middle;
  color: #3a3a3a;
  font-size: 1.5625rem;
  line-height: 1em;
  font-weight: 500;
  transition: all 0.35s;
  margin-bottom: 7px;
}

header .bottom_header .block_contact .block_phone a:hover {
  transition: all 0.35s;
  color: var(--orange);
}

header .bottom_header .block_contact .block_phone .block_info {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 15px;
  margin-bottom: 7px;
}

header .bottom_header .block_contact .block_phone .block_info:hover .block_text {
  transition: all 0.35s;
  display: block;
}

header .bottom_header .block_contact .block_phone .block_info .info {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../img/icons/info.svg") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

header .bottom_header .block_contact .block_phone .block_info .block_text {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 100%;
  transition: all 0.35s;
  width: 160px;
  padding-top: 10px;
  z-index: 10;
}

@media screen and (max-width: 1380px) {
  header .bottom_header .block_contact .block_phone .block_info .block_text {
    margin-left: -100px;
  }
}

@media screen and (max-width: 1199px) {
  header .bottom_header .block_contact .block_phone .block_info .block_text {
    margin-left: -130px;
  }
}

@media screen and (max-width: 959px) {
  header .bottom_header .block_contact .block_phone .block_info .block_text {
    margin-left: -140px;
  }
}

header .bottom_header .block_contact .block_phone .block_info .block_text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  left: 50%;
  margin-left: -7px;
  top: 2px;
}

@media screen and (max-width: 1380px) {
  header .bottom_header .block_contact .block_phone .block_info .block_text:before {
    left: calc(50% + 20px);
  }
}

@media screen and (max-width: 1199px) {
  header .bottom_header .block_contact .block_phone .block_info .block_text:before {
    left: calc(50% + 50px);
  }
}

@media screen and (max-width: 959px) {
  header .bottom_header .block_contact .block_phone .block_info .block_text:before {
    left: calc(50% + 60px);
  }
}

header .bottom_header .block_contact .block_phone .block_info .block_text > div {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 26px;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
}











.block_subscription {
  padding: 100px 0;
  text-align: center;
  clear: both;
  background: #fff;
}

@media screen and (max-width: 1640px) {
  .block_subscription {
    padding: 60px 0;
  }
}
@media screen and (max-width: 880px) {
  .block_subscription {
    padding: 30px 0;
  }
}

.block_subscription form h3 {
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 1.1em;
  max-width: 270px;
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 0;
}
@media screen and (max-width: 1640px) {
  .block_subscription form h3 {
    margin-right: 20px;
  }
}

@media screen and (max-width: 880px) {
  .block_subscription form h3 {
    margin-bottom: 15px;
    max-width: 255px;
  }
}

@media screen and (max-width: 375px) {
  .block_subscription form h3 {
    max-width: 220px;
    font-size: 1.625rem;
  }
}

.block_subscription form .percent {
  vertical-align: middle;
  font-size: 5rem;
  color: var(--orange);
  margin-right: 30px;
  font-weight: 600;
  line-height: 50px;
}

@media screen and (max-width: 1640px) {
  .block_subscription form .percent {
    margin-right: 20px;
  }
}

@media screen and (max-width: 880px) {
  .block_subscription form .percent {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .block_subscription form .percent {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .block_subscription form .percent {
    font-size: 4.0625rem;
  }
}

.block_subscription form .form-holder {
  vertical-align: middle;
  margin-right: 30px;
  width: 470px;
}

@media screen and (max-width: 1640px) {
  .block_subscription form .form-holder {
    margin-right: 20px;
    width: calc(100% - 630px);
  }
}

@media screen and (max-width: 880px) {
  .block_subscription form .form-holder {
    width: calc(100% - 255px);
  }
}

@media screen and (max-width: 480px) {
  .block_subscription form .form-holder {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.block_subscription form .form-holder.error input {
  border-color: red;
}

.block_subscription form .form-holder input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 17px 0 15px;
  font-size: 16px;
  line-height: 1.1em;
  color: #000;
}

.block_subscription form .form-holder input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.block_subscription form .form-holder input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.block_subscription form .form-holder input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.block_subscription form .form-holder input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.block_subscription form input[type="submit"] {
  vertical-align: middle;
  border-radius: 50px;
  background: var(--orange);
  color: #fff;
  font-size: 1.125rem;
  line-height: 1em;
  padding: 15px 80px 13px;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  border: 2px solid var(--orange);
}

@media screen and (max-width: 1640px) {
  .block_subscription form input[type="submit"] {
    padding: 15px 60px 13px;
  }
}

@media screen and (max-width: 480px) {
  .block_subscription form input[type="submit"] {
    width: 100%;
    padding: 10px 60px 8px;
  }
}

.block_subscription form input[type="submit"]:hover {
  transition: all 0.35s;
  background: #fff;
  color: var(--orange);
}






.cms-no-route .columns .column.main {
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1380px) {
  .cms-no-route .columns .column.main {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 959px) {
  .cms-no-route .columns .column.main {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.cms-no-route .columns .column.main .error404 {
  width: 550px;
  margin: auto;
  padding: 100px 0;
  padding-left: 290px;
  background-image: url("../img/content/error404.png");
  background-size: 240px auto;
  background-position: left center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 959px) {
  .cms-no-route .columns .column.main .error404 {
    padding: 40px 0 40px 290px;
  }
}

@media screen and (max-width: 600px) {
  .cms-no-route .columns .column.main .error404 {
    width: 100%;
    padding-left: 200px;
    background-size: 180px auto;
  }
}

@media screen and (max-width: 450px) {
  .cms-no-route .columns .column.main .error404 {
    width: 100%;
    text-align: center;
    padding-left: 0;
    background: none;
  }
}

.cms-no-route .columns .column.main .error404 h1 {
  color: #1b1a1a;
  margin-bottom: 20px;
  font-size: 10rem;
  line-height: 0.8em;
}

@media screen and (max-width: 600px) {
  .cms-no-route .columns .column.main .error404 h1 {
    font-size: 7.5rem;
  }
}

.cms-no-route .columns .column.main .error404 h3 {
  margin-bottom: 40px;
  font-size: 1.5rem;
  color: #1b1a1a;
}

@media screen and (max-width: 600px) {
  .cms-no-route .columns .column.main .error404 h3 {
    margin-bottom: 20px;
  }
}

.cms-no-route .columns .column.main .error404 p {
  font-size: 1.25rem;
  color: #1b1a1a;
}

.cms-no-route .columns .column.main .error404 p a {
  color: var(--orange);
  font-size: 1.25rem;
}






.checkout-index-index .columns {
  position: relative;
}

.checkout-index-index .columns .column.main {
  width: 100%;
}





footer {
  padding: 60px 0;
}

@media screen and (max-width: 959px) {
  footer {
    padding: 30px 0;
  }
}

footer.container {
  background: #f4f4f4;
}

footer .bottom_footer .copyright {
  vertical-align: middle;
  color: #777;
  font-size: 0.8125rem;
  width: 65%;
}

footer .bottom_footer {
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  display: block;
}

@media screen and (max-width: 1023px) {
  footer .bottom_footer .copyright {
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  footer .bottom_footer{
    text-align: center;
    margin-top: 25px;
  }
  footer .bottom_footer .copyright {
    width: 100%;
    margin-bottom: 20px;
  }
}

footer .bottom_footer .block_icon {
  vertical-align: middle;
  width: 35%;
}

@media screen and (max-width: 1023px) {
  footer .bottom_footer .block_icon {
    width: 40%;
  }
}

@media screen and (max-width: 720px) {
  footer .bottom_footer .block_icon {
    width: 100%;
  }
}


footer .bottom_footer .block_icon .icon_payment {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
  padding-right: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: url("../img/icons/payment.png") no-repeat center;
  width: 145px;
  height: 19px;
}

footer .bottom_footer .block_icon .block_social {
  vertical-align: middle;
  display: inline-block;
}

footer .bottom_footer .block_icon .block_social a {
  margin-right: 12px;
  width: 28px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

footer .bottom_footer .block_icon .block_social a.facebook {
  background: #4267b2;
}

footer .bottom_footer .block_icon .block_social a.vk {
  background: #4a76a8;
}

footer .bottom_footer .block_icon .block_social a.instagram {
  background-color: #f09433;
  background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
footer .bottom_footer .block_icon .block_social a i {
  color: inherit;
}

footer .bottom_footer .block_icon .block_social a.instagram i {
  margin-top: -1px;
  margin-left: 1px;
}

footer .bottom_footer .block_icon .block_social a:last-child {
  margin-right: 0;
}
footer .top_footer .block_footer_menu {
  width: 35%;
  float: right;
  font-size: 0;
  letter-spacing: 0;
}

@media screen and (max-width: 1023px) {
  footer .top_footer .block_footer_menu {
    width: 40%;
  }
}

@media screen and (max-width: 880px) {
  footer .top_footer .block_footer_menu {
    width: 100%;
    float: none;
  }

  footer .top_footer .block_footer_menu .block_worktime {
    display: none;
  }
}

footer .top_footer .block_footer_menu nav {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  footer .top_footer .block_footer_menu nav {
    width: 40%;
  }
}

@media screen and (max-width: 880px) {
  footer .top_footer .block_footer_menu nav {
    width: 60%;
  }
}

@media screen and (max-width: 479px) {
  footer .top_footer .block_footer_menu nav {
    width: 100%;
    padding-right: 0;
  }
}


footer .top_footer .block_footer_menu nav li {
  margin-bottom: 15px;
}

@media screen and (max-width: 479px) {
  footer .top_footer .block_footer_menu nav li {
    margin-bottom: 10px;
    text-align: center;
  }
}

footer .top_footer .block_footer_menu nav li.active a {
  color: var(--orange);
}

footer .top_footer .block_footer_menu nav li a {
  line-height: 1.2em;
  color: #000;
  font-size: 0.875rem;
  transition: all 0.35s;
}

footer .top_footer .block_footer_menu nav li a:hover {
  transition: all 0.35s;
  color: var(--orange);
}

footer .top_footer .block_footer_menu nav li:last-child {
  margin-bottom: 0;
}

footer .top_footer .block_footer_menu .block_contact {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1023px) {
  footer .top_footer .block_footer_menu .block_contact {
    width: 60%;
  }
}

@media screen and (max-width: 880px) {
  footer .top_footer .block_footer_menu .block_contact {
    width: 40%;
  }
}

@media screen and (max-width: 479px) {
  footer .top_footer .block_footer_menu .block_contact {
    width: 100%;
    margin-top: 30px;
  }
}

footer .top_footer .block_footer_menu .block_contact .block_phone {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 479px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone {
    padding-bottom: 25px;
    margin-bottom: 0;
    text-align: center;
  }
}

footer .top_footer .block_footer_menu .block_contact .block_phone a {
  display: inline-block;
  vertical-align: middle;
  color: #3a3a3a;
  font-size: 1.3125rem;
  line-height: 1em;
  font-weight: 500;
  transition: all 0.35s;
  margin-bottom: 7px;
}

@media screen and (max-width: 1100px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone a {
    font-size: 1.25rem;
  }
}

footer .top_footer .block_footer_menu .block_contact .block_phone a:hover {
  transition: all 0.35s;
  color: var(--orange);
}

footer .top_footer .block_footer_menu .block_contact .block_phone .block_info {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 15px;
  margin-bottom: 7px;
}

footer .top_footer .block_footer_menu .block_contact .block_phone .block_info:hover .block_text {
  transition: all 0.35s;
  display: block;
}

footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .info {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../img/icons/info.svg") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 100%;
  transition: all 0.35s;
  width: 160px;
  padding-top: 10px;
}

@media screen and (max-width: 1380px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text {
    margin-left: -100px;
  }
}

@media screen and (max-width: 1199px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text {
    margin-left: -130px;
  }
}

@media screen and (max-width: 374px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text {
    margin-left: -140px;
  }
}

footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  left: 50%;
  margin-left: -7px;
  top: 2px;
}

@media screen and (max-width: 1380px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text:before {
    left: calc(50% + 20px);
  }
}

@media screen and (max-width: 1199px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text:before {
    left: calc(50% + 50px);
  }
}

@media screen and (max-width: 374px) {
  footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text:before {
    left: calc(50% + 60px);
  }
}

footer .top_footer .block_footer_menu .block_contact .block_phone .block_info .block_text > div {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
}
footer .top_footer .block_footer_menu .block_contact .block_worktime {
  display: none;
}
footer .top_footer .block_footer_menu .block_contact p {
  color: #777;
  font-size: 0.8125rem;
  line-height: 1.3em;
  margin-bottom: 7px;
}

footer .top_footer .block_footer_menu .block_contact p:last-child {
  margin-bottom: 0;
}

footer .top_footer .list_menu {
  width: 65%;
  font-size: 0;
  letter-spacing: 0;
}

@media screen and (max-width: 1023px) {
  footer .top_footer .list_menu {
    width: 60%;
  }
}

@media screen and (max-width: 880px) {
  footer .top_footer .list_menu {
    display: none;
  }
}

footer .top_footer .list_menu .item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding-right: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 959px) {
  footer .top_footer .list_menu .item {
    width: 50%;
  }
}

footer .top_footer .list_menu .item h3 {
  margin-bottom: 20px;
  max-width: 130px;
}

footer .top_footer .list_menu .item h3.active a {
  color: var(--orange);
}

footer .top_footer .list_menu .item h3 a {
  line-height: 1.2em;
  color: #000;
  font-size: 1.125rem;
  transition: all 0.35s;
  font-weight: 500;
}

footer .top_footer .list_menu .item h3 a:hover {
  transition: all 0.35s;
  color: var(--orange);
}

footer .top_footer .list_menu .item ul {
  max-width: 130px;
  margin-bottom: 35px;
}

footer .top_footer .list_menu .item ul li {
  margin-bottom: 15px;
}

footer .top_footer .list_menu .item ul li.active a {
  color: var(--orange);
}

footer .top_footer .list_menu .item ul li a {
  line-height: 1.2em;
  color: #777;
  font-size: 0.875rem;
  transition: all 0.35s;
}

footer .top_footer .list_menu .item ul li a:hover {
  transition: all 0.35s;
  color: var(--orange);
}