/* slider casino item */
    .establishment-item {
        width: 150px;
        position: relative;
    }
    .establishment-item .add-to-wishlist {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        width: 23px;
        height: 21px;
        border: 0;
        background: transparent url('../img/icon-wishlist-white-empty.png') center no-repeat;
        background-size: contain;
    }
    .establishment-item .info {
        margin-top: 9px;
    }
    .establishment-item .title {
        font-size: 12px;
    }
    .establishment-item .rating {
        margin-top: 4px;
        display: flex;
    }
    .establishment-item .rate-number {
        color: var(--grey-dark);
        line-height: 1;
    }
    .establishment-item .location {
        font-size: 10px;
        color: var(--grey-dark);
        display: flex;
        align-items: center;
        margin-top: 7px;
    }
    .establishment-item .location .icon {
        font-size: 12px;
        margin-right: 4px;
    }
/* slider casino item */

/* Блок что вам найти */
    .block-what-to-find .block-title {
        padding-left: 15px;
    }
    .block-what-to-find .find-recommend-item {
        width: 90px;
    }
    .block-what-to-find .find-recommend-item .title {
        border: 1px solid var(--grey-border);
        border-top: 0;
        border-radius: 0 0 2px 2px;
        min-height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
/* Блок что вам найти */
