.unit_header {
    @media #{$maxw768} {
        height: 60px;
    }
    @media #{$maxw576} {
        height: 45px;
        padding: 2px 0;
    }
    .ark_center {
        @media #{$maxw768} {
            height: 60px;
        }
        @media #{$maxw576} {
            height: 45px;
        }
    }
    ul.menu {
        a {
            &.active {
                color: $green;
            }
        }
        li:hover {
            > a {
                path {
                    fill: $green;
                }
            }
        }
    }
}






