section {
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 0;
    @media #{$maxw1200} {
        padding-top: 100px;
    }
    @media #{$maxw1100} {
        padding-top: 75px;
    }
    @media #{$maxw768} {
        padding-top: 50px;
    }
    &:last-child {
        padding-bottom: 100px;
        @media #{$maxw1100} {
            padding-bottom: 75px;
        }
        @media #{$maxw768} {
            padding-bottom: 50px;
        }
    }
}
section * {
    box-sizing: border-box;
    letter-spacing: 0;
}
.block-homescreen {
    height: 600px;
    background-color: #ccc;
    background-image: url('../img/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 270px;
    padding-bottom: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$maxw1200} {
        padding-top: 250px;
        line-height: 1.3;
    }
    @media #{$maxw768} {
        background-image: url("../img/home-bg-mobile.jpg");
        height: auto;
        min-height: 100vh;
        max-height: 768px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .ark_center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-title {
        font-size: 47px;
        line-height: 55px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        @media #{$maxw1200} {
            font-size: 45px;
            line-height: 1.2;
        }
        @media #{$maxw1100} {
            font-size: 44px;
        }
        @media #{$maxw992} {
            font-size: 42px;
        }
        @media #{$maxw860} {
            font-size: 40px;
        }
        @media #{$maxw768} {
            font-size: 38px;
        }
        @media #{$maxw640} {
            font-size: 36px;
        }
        @media #{$maxw576} {
            font-size: 34px;
        }
        @media #{$maxw480} {
            font-size: 32px;
        }
        span {
            font-weight: 700;
            display: block;
        }
    }
    .vacancies-button {
        margin-top: 40px;
        @media #{$maxw768} {
            margin-top: 30px;
        }
    }
}

.unit_vacansii {
    border-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    &.all-vacancies {
        .ark_container {
            @media #{$maxw768} {
                flex-direction: column;
                align-items: center;
            }
        }
        .vacancy {
            @media #{$maxw1200} {
                margin-right: 20px;
            }
            @media #{$maxw992} {
                margin-right: 30px;
            }
            @media #{$maxw768} {
                margin-right: 0;
                // max-width: 100%;
            }
            &:nth-child(3n) {
                margin-right: 0;
                @media #{$maxw1200} {
                    margin-right: initial;
                }
                @media #{$maxw992} {
                    margin-right: 30px;
                    display: flex;
                }
                @media #{$maxw768} {
                    margin-right: 0;
                }
            }
            &:nth-child(2n) {
                @media #{$maxw992} {
                    margin-right: 0;
                }
            }
            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 28px;
                @media #{$maxw992} {
                    margin-bottom: initial;
                }
            }
            &:not(:nth-last-child(-n+2)) {
                @media #{$maxw992} {
                    margin-bottom: 28px;
                }
                @media #{$maxw768} {
                    margin-bottom: initial;
                }
            }
            &:nth-last-child(-n+3):nth-child(3n+3):not(:last-child) {
                margin-bottom: 28px;
                @media #{$maxw992} {
                    margin-bottom: 28px;
                }
                @media #{$maxw768} {
                    margin-bottom: initial;
                }
            }
            &:nth-last-child(-n+3):nth-child(3n+2):not(:last-child) {
                // margin-bottom: 28px;
                @media #{$maxw992} {
                    // margin-bottom: initial;
                }
                @media #{$maxw768} {
                    margin-bottom: 30px;
                }
            }
            &:nth-last-child(-n+2):nth-child(2n+1):not(:last-child) {
                // margin-bottom: 30px;
                @media #{$maxw992} {
                    margin-bottom: initial;
                }
                @media #{$maxw768} {
                    margin-bottom: 30px;
                }
            }
            &:nth-last-child(-n+2):nth-child(2n) {
                @media #{$maxw992} {
                    margin-bottom: initial;
                }
            }
            &:not(:last-child) {
                @media #{$maxw768} {
                    margin-bottom: 30px;
                }
            }
        }
    }
    @media #{$maxw1100} {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media #{$maxw768} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .ark_center {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .vacancies {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @media #{$maxw768} {
            flex-direction: column;
            align-items: center;
        }
    }
    .vacancy {
        width: calc((100% - 60px) / 3);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 30px;
        @media #{$maxw1200} {
            width: calc((100% - 40px) / 3);
            margin-right: 20px;
        }
        @media #{$maxw992} {
            width: calc(50% - 15px);
            margin-right: 30px;
        }
        @media #{$maxw768} {
            width: 100%;
            max-width: 320px;
            margin-right: 0;
        }
        &:nth-child(3n) {
            margin-right: 0;
            @media #{$maxw992} {
                display: none;
            }
            @media #{$maxw768} {
                display: flex;
            }
        }
        &:nth-child(2n) {
            @media #{$maxw992} {
                margin-right: 0;
            }
        }
        &:not(:last-child) {
            @media #{$maxw768} {
                margin-bottom: 30px;
            }
        }
        &-video {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #fff;
            z-index: 1;
            // pointer-events: auto;
            &:hover {
                .circle {
                    transition: box-shadow 0.5s;
                    box-shadow: 0 0 0 9px rgba(255,255,255,0.3);
                }
            }
            .circle {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 14px;
                width: 30px;
                height: 30px;
                background-color: #fff;
                position: relative;
                box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.3);
                border-radius: 50%;
                transition: box-shadow 0.5s;
                &:before {
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5.5px 0 5.5px 7px;
                    border-color: transparent transparent transparent $green;
                }
            }
        }
        &-photo {
            // background-color: #ccc;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 8px 8px 0 0;
            overflow: hidden;
            min-height: 185px;
            position: relative;
            flex-shrink: 0;
            flex-grow: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 20px;
            z-index: 1;
            box-sizing: border-box;
            pointer-events: none;
        }
        &-photo-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
            pointer-events: none;
        }
        &-number {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 16px;
            color: #fff;
            position: relative;
            z-index: 2;
        }
        &-annotation {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.03em;
            background-color: $red;
            padding: 3px 9px;
            border-radius: 20px;
            margin-left: 10px;
        }
        &-title {
            font-size: 20px;
            line-height: 23px;
            font-weight: 700;
            color: #fff;
            margin-top: 10px;
            position: relative;
            z-index: 2;
        }
        &-info {
            border-radius: 0 0 8px 8px;
            border-width: 0px 1px 1px 1px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.1);
            flex-grow: 1;
            padding: 20px 20px 25px;
            pointer-events: none;
        }
        .info-groups {
            pointer-events: none;
        }
        .info-group {
            display: flex;
            position: relative;
            padding-left: 43px;
            font-size: 16px;
            line-height: 19px;
            &:before {
                display: block;
                content: '';
                position: absolute;
                left: 0;
                width: 30px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            &.city {
                &:before {
                    background-image: url('../img/icon-building-green.svg');
                    height: 24px;
                    top: calc(50% - 12px);
                }
            }
            &.job-title {
                &:before {
                    background-image: url('../img/icon-card-green.svg');
                    height: 24px;
                    top: calc(50% - 12px);
                }
            }
            &.salary {
                &:before {
                    background-image: url('../img/icon-cost-green.svg');
                    height: 27px;
                    top: calc(50% - 13.5px);
                }
            }
            &.living-cost {
                &:before {
                    background-image: url('../img/icon-bed-green.svg');
                    height: 18px;
                    top: calc(50% - 9px);
                }
            }
            &:not(:last-child) {
                margin-bottom: 11px;
            }
            .title {
                color: #111;
                font-weight: 700;
            }
            .value {
                color: rgba(17, 17, 17, 0.6);
                margin-left: 3px;
            }
        }
        .info-buttons {
            display: flex;
            margin-top: 26px;
            justify-content: space-between;
            @media #{$maxw1200} {
                flex-direction: column;
            }
            @media #{$maxw992} {
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .button {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
            font-size: 14px;
            line-height: 16px;
            text-transform: none;
            margin-top: 0;
            pointer-events: auto;
            @media #{$maxw1200} {
                text-align: center;
                justify-content: center;
            }
            &:not(:last-child) {
                @media #{$maxw1200} {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .vacancies-link {
        margin-top: 70px;
        min-width: 190px;
        text-align: center;
        display: block;
        @media #{$maxw1200} {
            margin-top: 50px;
        }
        @media #{$maxw768} {
            margin-top: 30px;
        }
    }
}

.unit_feedback {
    padding-top: 100px;
    padding-bottom: 100px;
    @media #{$maxw1200} {
        padding-top: 100px;
    }
    @media #{$maxw1100} {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media #{$maxw768} {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &.block-feedback-single {
        padding-bottom: 100px;
        @media #{$maxw1200} {
            padding-top: 150px;
        }
        @media #{$maxw1100} {
            padding-top: 120px;
        }
        @media #{$maxw576} {
            padding-top: 80px;
        }
        .ark_center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .ark_container {
            width: 100%;
            margin-top: 60px;
            align-items: stretch;
            justify-content: flex-start;
            @media #{$maxw1200} {
                margin-top: 50px;
            }
            @media #{$maxw768} {
                margin-top: 30px;
                align-items: center;
            }
        }
        .ark_feed {
            border-bottom: 2px solid #e0e0e0;
            padding-bottom: 28px;
            margin-right: 30px;
            @media #{$maxw1200} {
                margin-right: 20px;
            }
            @media #{$maxw992} {
                margin-right: 30px;
            }
            @media #{$maxw768} {
                margin-right: 0;
                border-width: 1px;
            }
            &:nth-child(3n) {
                margin-right: 0;
                @media #{$maxw1200} {
                    margin-right: initial;
                }
                @media #{$maxw992} {
                    margin-right: 30px;
                    display: flex;
                }
                @media #{$maxw768} {
                    margin-right: 0;
                }
            }
            &:nth-child(2n) {
                @media #{$maxw992} {
                    margin-right: 0;
                }
            }
            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 28px;
                @media #{$maxw992} {
                    margin-bottom: initial;
                }
            }
            &:not(:nth-last-child(-n+2)) {
                @media #{$maxw992} {
                    margin-bottom: 28px;
                }
                @media #{$maxw768} {
                    margin-bottom: initial;
                }
            }
            &:nth-last-child(-n+3):nth-child(3n+3):not(:last-child) {
                margin-bottom: 28px;
                @media #{$maxw992} {
                    margin-bottom: initial;
                }
            }
            &:nth-last-child(-n+3):nth-child(3n+2):not(:last-child) {
                margin-bottom: 28px;
                @media #{$maxw992} {
                    margin-bottom: initial;
                }
                @media #{$maxw768} {
                    margin-bottom: 30px;
                }
            }
            &:nth-last-child(-n+2):nth-child(3n+2):not(:last-child) {
                margin-bottom: 0;
                @media #{$maxw992} {
                    margin-bottom: 28px;
                }
                @media #{$maxw768} {
                    margin-bottom: 30px;
                }
            }
            &:nth-last-child(-n+2):nth-child(2n) {
                @media #{$maxw992} {
                    margin-bottom: 28px;
                }
                @media #{$maxw768} {
                    margin-bottom: initial;
                }
            }
            &:not(:last-child) {
                @media #{$maxw768} {
                    margin-bottom: 30px;
                }
            }
        }
        .review-item-gallery {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        .review-gallery-item {
            width: 100px;
            display: block;
            @media #{$maxw480} {
                width: calc((100% - 20px) / 3);
                margin-right: 10px;
            }
            &:only-child {
                width: 100%;
                max-width: 240px;
            }
            &:not(:last-child) {
                margin-right: 20px;
                @media #{$maxw768} {
                    margin-right: 10px;
                }
                @media #{$maxw480} {
                    // margin-right: initial;
                }
            }
            &:not(:nth-last-child(-n+3)) {
                @media #{$maxw480} {
                    margin-bottom: 10px;
                }
            }
            &:nth-child(3n) {
                @media #{$maxw480} {
                    margin-right: 0;
                }
            }
            img {
                max-width: 100%;
            }
        }
        .add-more-button {
            margin-top: 60px;
            display: flex;
            align-items: center;
            span {
                color: $green;
                font-size: 15px;
                font-weight: 700;
                margin-left: 12px;
            }
            @media #{$maxw1200} {
                margin-top: 50px;
            }
            @media #{$maxw768} {
                margin-top: 30px;
            }
        }
        .ark_buttons {
            margin-top: 60px;
            @media #{$maxw1200} {
                margin-top: 50px;
            }
            @media #{$maxw768} {
                margin-top: 30px;
            }
        }
    }
    .ark_container {
        @media #{$maxw768} {
            flex-direction: column;
            align-items: center;
        }
    }
    .ark_feed {
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        padding: 0 0;
        @media #{$maxw1200} {
            width: calc((100% - 40px) / 3);
            margin-right: 20px;
        }
        @media #{$maxw992} {
            width: calc(50% - 15px);
            margin-right: 30px;
        }
        @media #{$maxw768} {
            width: 100%;
            max-width: 320px;
            margin-right: 0;
        }
        &:nth-child(3n) {
            margin-right: 0;
            @media #{$maxw992} {
                display: none;
            }
            @media #{$maxw768} {
                display: flex;
            }
        }
        &:nth-child(2n) {
            @media #{$maxw992} {
                margin-right: 0;
            }
        }
        &:not(:last-child) {
            @media #{$maxw768} {
                margin-bottom: 30px;
            }
        }
        .ark_photo {
            width: auto;
            margin-right: 20px;
            @media #{$maxw768} {
                margin-right: 10px;
            }
            .photo {
                width: 70px;
                height: 70px;
                flex-shrink: 0;
                @media #{$maxw576} {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .ark_text {
            width: auto;
            display: flex;
            flex-wrap: wrap;
            // align-items: center;
            align-items: flex-start;
            justify-content: space-between;
            .title {
                line-height: 19px;
            }
            .date {
                font-size: 14px;
                // line-height: 16px;
                line-height: 21px;
                color: rgba(0, 0, 0, 0.4);
            }
            .description {
                width: 100%;
                margin-top: 8px;
                line-height: 1.6;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    .ark_buttons {
        display: flex;
        align-items: center;
        @media #{$maxw992} {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        @media #{$maxw768} {
            display: flex;
        }
        .button {
            @media #{$maxw992} {
                margin: 0;
                width: 100%;
                max-width: 320px;
                justify-content: center;
            }@media #{$maxw768} {
                width: 100%;
            }
            &:not(:last-child) {
                @media #{$maxw992} {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.unit_news {
    padding-top: 80px;
    padding-bottom: 106px;
    min-height: 780px;
    background-attachment: initial;
    @media #{$maxw1200} {
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: initial;
        background-position: top center;
    }
    @media #{$maxw1100} {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media #{$maxw768} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &.all-news {
        min-height: initial;
    }
    .ark_center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ark_title {
        .title {
            @media #{$maxw576} {
                padding-top: 0;
            }
        }
    }
    .slider_news {
        // margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @media #{$maxw768} {
            flex-direction: column;
            align-items: center;
        }
    }
    .news-item {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        @media #{$maxw1200} {
            width: calc((100% - 40px) / 3);
            margin-right: 20px;
        }
        @media #{$maxw992} {
            width: calc(50% - 15px);
            margin-right: 30px;
        }
        @media #{$maxw768} {
            width: 100%;
            max-width: 320px;
            margin-right: 0;
        }
        &:nth-child(3n) {
            margin-right: 0;
            @media #{$maxw992} {
                display: none;
            }
            @media #{$maxw768} {
                display: flex;
            }
        }
        &:nth-child(2n) {
            @media #{$maxw992} {
                margin-right: 0;
            }
        }
        &:not(:last-child) {
            @media #{$maxw768} {
                margin-bottom: 30px;
            }
        }
        &-photo {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            min-height: 185px;
            position: relative;
            flex-shrink: 0;
            flex-grow: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 20px;
            z-index: 1;
            box-sizing: border-box;
        }
        &-photo-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
        &-date {
            font-size: 14px;
            color: #fff;
            position: relative;
            z-index: 2;
        }
        &-title {
            font-size: 20px;
            line-height: 23px;
            font-weight: 700;
            color: #fff;
            margin-top: 10px;
            position: relative;
            z-index: 2;
            @media #{$maxw768} {
                font-size: 18px;
            }
        }
        &-info {
            flex-grow: 1;
            padding: 20px 20px 25px;
            background-color: rgba(255,255,255,0.2);
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media #{$maxw768} {
                align-items: center;
            }
        }
        &-descr {
            font-size: 14px;
            line-height: 1.4;
            color: rgba(255,255,255,0.9);
            flex-grow: 1;
            @media #{$maxw768} {
                width: 100%;
                text-align: justify;
                font-weight: 300;
            }
        }
        &-link {
            margin-top: 20px;
            flex-grow: 0;
            @media #{$maxw768} {
                min-width: 190px;
                justify-content: center;
            }
        }
    }
    .all-news-link {
        margin-top: 60px;
        min-width: 190px;
        text-align: center;
        display: block;
        @media #{$maxw1200} {
            margin-top: 50px;
        }
        @media #{$maxw768} {
            margin-top: 30px;
        }
    }

}


.block-how-we-work {
    // padding-top: 120px;
    padding-top: 100px;
    // padding-bottom: 120px;
    background-color: #fff;
    @media #{$maxw1200} {
        // padding-top: 100px;
        // padding-bottom: 100px;
    }
    @media #{$maxw1100} {
        padding-top: 75px;
        // padding-bottom: 75px;
    }
    @media #{$maxw768} {
        padding-top: 50px;
        // padding-bottom: 50px;

    }
    .ark_center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work-steps {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 60px;
        @media #{$maxw1200} {
            margin-top: 50px;
        }
        @media #{$maxw992} {
            flex-direction: column;
            margin-top: 30px;
        }
        @media #{$maxw768} {
            margin-top: 0;
        }
    }
    .steps {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 58%;
        max-width: 670px;
        list-style: none;
        &:only-child {
            width: 100%;
        }
        @media #{$maxw992} {
            width: 100%;
            max-width: 100%;
        }
        @media #{$maxw768} {
            justify-content: center;
        }
    }
    .step {
        font-size: 15px;
        line-height: 1.4;
        font-weight: 700;
        position: relative;
        // counter: counter;
        color: #000;
        width: calc(100% / 3);
        max-width: 180px;
        // counter-reset: counter;
        counter-increment: counter;
        padding-top: 36px;
        // position: relative;
        display: flex;
        align-items: center;
        @media #{$maxw992} {
            max-width: 100%;
            padding-right: 30px;
        }
        @media #{$maxw768} {
            width: calc(50% - 15px);
            max-width: 270px;
            padding-right: 0;
            margin-right: 30px;
            text-align: center;
            justify-content: center;
        }
        @media #{$maxw480} {
            margin-right: 20px;
            width: calc(50% - 10px);
        }
        &:not(:nth-last-child(-n+3)) {
            margin-bottom: 62px;
            @media #{$maxw1200} {
                margin-bottom: 50px;
            }
            @media #{$maxw768} {
                margin-bottom: initial;
            }
        }
        &:nth-child(2n) {
            margin-right: 0;
        }

        &:not(:nth-child(3n)) {
            &:after {
                display: block;
                content: '';
                position: absolute;
                right: -25%;
                top: 5px;
                width: 97px;
                height: 15px;
                background: transparent url('../img/step-dash.svg') center no-repeat;
                background-size: cover;
                @media #{$maxw992} {
                    content: none;
                }
            }
        }
        &:not(:last-child) {
            @media #{$maxw768} {
                margin-bottom: 50px;
            }
        }
        &:last-child {
            @media #{$maxw768} {
                margin-right: 0;
            }
        }
        &:before {
            display: block;
            // counter-increment: counter;
            content: counter(counter);
            color: rgba(72, 171, 21, 0.3);
            font-size: 110px;
            font-weight: 900;
            position: absolute;
            line-height: 1.4;
            left: 0;
            bottom: -40px;
            pointer-events: none;
            @media #{$maxw768} {
                right: 0;
                text-align: center;
            }
        }
    }
    .text {
        width: 36%;
        max-width: 415px;
        overflow-y: scroll;
        height: 360px;
        @media #{$maxw992} {
            width: 100%;
            max-width: 100%;
            margin-top: 30px;
            height: auto;
            overflow-y: initial;
            display: none;
        }
    }
    .step-group {
        &:not(:last-child) {
            margin-bottom: 18px;
        }
        &-title {
            font-size: 14px;
            line-height: 16px;
            color: #000;
            font-weight: 700;
        }
        &-descr {
            font-size: 13px;
            margin-top: 10px;
            line-height: 1.4;
            text-align: justify;
            color: rgba(0, 0, 0, 0.5);
        }
    }
    .details-button {
        margin-top: 70px;
        min-width: 190px;
        text-align: center;
        display: block;
        @media #{$maxw1200} {
            margin-top: 50px;
        }
        @media #{$maxw768} {
            margin-top: 30px;
        }
    }
}


.block-faq {
    padding-top: 120px;
    padding-bottom: 156px;
    background-color: #fff;
    @media #{$maxw1200} {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    @media #{$maxw1100} {
        padding-top: 120px;
    }
    @media #{$maxw576} {
        padding-top: 80px;
    }
    .ark_center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-groups {
        margin-top: 40px;
        @media #{$maxw768} {
            margin-top: 30px;
        }
        // @media #{$maxw576} {
        //     margin-top: 0;
        // }
    }
    .faq-group {
        &:not(:last-child) {
            margin-bottom: 80px;
            @media #{$maxw1200} {
                margin-bottom: 50px;
            }
            @media #{$maxw768} {
                margin-bottom: 30px;
            }
        }
    }
    .faq-group-title {
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #000;
        @media #{$maxw768} {
            margin-bottom: 15px;
            font-size: 21px;
            line-height: 1.2;
        }
    }
    .faq-list {
        border: 1px solid rgba(0,0,0,0.1);
    }
    .faq-item {
        padding-left: 90px;
        padding-right: 83px;
        position: relative;
        transition: background-color 0.5s;
        @media #{$maxw768} {
            padding-left: 0;
            padding-right: 0;
        }
        &.open {
            background-color: rgba(73, 171, 21, 0.1);
            transition: background-color 0.5s;
            .faq-item-toggler {
                &:before {
                    content: '–';
                }
            }
            .faq-item-answer {
                height: auto;
                max-height: 1000px;
                transition: max-height 0.5s;
                padding-bottom: 24px;
                @media #{$maxw768} {
                    padding-bottom: 15px;
                }
                @media #{$maxw576} {
                    padding-bottom: 8px;
                }
            }
        }
        &:before {
            display: flex;
            align-items: center;
            justify-content: center;
            content: '?';
            position: absolute;
            left: 30px;
            top: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $green;
            color: #fff;
            font-size: 22px;
            font-weight: 900;
            @media #{$maxw768} {
                left: 20px;
            }
            @media #{$maxw576} {
                width: 30px;
                height: 30px;
                font-size: 20px;
                font-weight: 300;
                left: 10px;
                top: 10px;
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        &-toggler {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            top: 15px;
            right: 10px;
            cursor: pointer;
            @media #{$maxw768} {
                right: 5px;
            }
            @media #{$maxw576} {
                top: 5px;
                right: 0;
            }
            &:before {
                display: block;
                content: '+';
                font-size: 34px;
                font-weight: 900;
                color: $green;
                @media #{$maxw576} {
                    font-weight: 300;
                }
            }
        }
        &-question {
            padding-top: 25px;
            padding-bottom: 26px;
            font-size: 22px;
            letter-spacing: 0.03em;
            line-height: 1.3;
            color: $black;
            @media #{$maxw768} {
                min-height: 70px;
                padding-left: 80px;
                padding-right: 60px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding: 15px 60px 15px 80px;
                font-size: 20px;
            }
            @media #{$maxw576} {
                // padding-left: 50px;
                min-height: 60px;
                font-size: 18px;
                padding: 8px 50px;
            }
        }
        &-answer {
            color: $grey;
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: 0.03em;
            height: 0;
            transition: max-height 0.5s;
            overflow: hidden;
            max-height: 0;
            @media #{$maxw768} {
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 300;
            }
            @media #{$maxw576} {
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: justify;
            }
        }
    }
    .all-questions-link {
        margin-top: 60px;
        min-width: 190px;
        text-align: center;
        display: block;
        @media #{$maxw1200} {
            margin-top: 50px;
        }
        @media #{$maxw768} {
            margin-top: 30px;
        }
    }
}

.block-vacancy {
    padding-top: 132px;
    padding-bottom: 290px;
    @media #{$maxw1200} {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    @media #{$maxw1100} {
        padding-top: 120px;
        padding-bottom: 75px;
    }
    @media #{$maxw576} {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .vacancy-head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media #{$maxw768} {
            flex-wrap: wrap;
        }
    }
    .head-column {
        width: calc(50% - 20px);
        flex-shrink: 0;
        flex-grow: 0;
        @media #{$maxw1200} {
            width: calc(50% - 15px);
        }
        @media #{$maxw992} {
            width: calc(50% - 10px);
        }
        @media #{$maxw768} {
            // order: 1;
            width: 100%;
        }
    }
    .vacancy-slider {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 40px;
        min-width: 580px;
        @media #{$maxw1200} {
            margin-right: 30px;
            min-width: 50%;
        }
        @media #{$maxw1200} {
            margin-right: 20px;
        }
        @media #{$maxw768} {
            // order: 2;
            margin-right: 0;
            // margin-top: 30px;
            margin-bottom: 30px;
            max-width: 340px;
            width: 100%;
            max-width: 576px;
            min-width: initial;
            margin-left: auto;
            margin-right: auto;
        }
        @media #{$maxw480} {
            max-width: 340px;
        }
        img {
            width: 100%;
        }
    }
    .vacancy-gallery-slider {
        width: 80%;
        &:hover {
            .slide {
                &:before, &:after {
                    opacity: 1;
                    transition: opacity 0.5s;
                }
            }
            button.slider-arrow {
                opacity: 0.7;
                transition: opacity 0.5s;
                @media #{$maxw768} {
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                    transition: opacity 0.5s;
                }
                &.slick-disabled:hover {
                    opacity: 0;
                }
            }
        }
        .slide {
            position: relative;
            border: 0;
            &:before, &:after {
                display: block;
                position: absolute;
                z-index: 2;
                pointer-events: none;
                top: 0;
                bottom: 0;
                content: '';
                opacity: 0;
                transition: opacity 0.5s;
                // width: 12%;
                @media #{$maxw768} {
                    opacity: 1;
                }
            }
            &:before {
                left: 0px;
                right: calc(100% - 55px);
                background: -moz-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 );
            }
            &:after {
                right: 0;
                left: calc(100% - 55px);
                background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
                background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
                background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=1 );
            }
            img {
                position: relative;
                z-index: 1;
            }
        }
        .photo-item {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            padding-bottom: 74%;
        }
        button.slider-arrow {
            width: 45px;
            height: 63px;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15px 33px;
            position: absolute;
            top: calc(50% - 31.5px);
            background-image: url('../img/slider-arrow-right-white.svg');
            transition: opacity 0.5s;
            z-index: 3;
            margin: 0;
            padding: 15px;
            border: 0;
            border-radius: 0;
            opacity: 0;
            transition: opacity 0.5s;
            @media #{$maxw768} {
                opacity: 1;
            }
            &.prev-arrow {
                left: 5px;
                transform: rotate(180deg);
            }
            &.next-arrow {
                right: 5px;
            }
            &.slick-disabled {
                opacity: 0;
                cursor: default;
            }
        }
    }
    .vacancy-thumbs-slider {
        width: 17%;
        &:after {
            display: block;
            content: '';
            position: absolute;
            left: -2px;
            right: -2px;
            bottom: -2px;
            // height: 17px;
            height: 16px;
            background-color: #f8f8f8;
            pointer-events: none;
            @media #{$maxw480} {
                height: 13px;
            }
        }
        &:hover {
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;
            cursor: grab;
        }
        &:active {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;
        }
        &.not-full {
            &:hover {
                cursor: pointer;
            }
            &:active {
                cursor: pointer;
            }
            .slick-track {
                transform: none !important;
            }
        }
        .slide {
            padding-bottom: 14px;
            border: 0;
            @media #{$maxw480} {
                padding-bottom: 8px;
            }
            &.slick-current {
                .photo-item {
                    border: 1px solid $green;
                    // box-shadow: 0px 0px 0px 6px $green;
                }
            }
        }
        .photo-item {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            padding-bottom: 74%;
            border: 1px solid transparent;
        }
    }
    .vacancy-title {
        font-size: 30px;
        font-weight: 700;
        color: #000;
    }
    .vacancy-about {
        font-size: 16px;
        line-height: 1.6;
        color: rgba(0,0,0,0.6);
        margin-top: 20px;
        p {
            margin: 0;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    .vacancy-buttons {
        display: flex;
        margin-top: 20px;
        @media #{$maxw768} {
            justify-content: center;
        }
        @media #{$maxw576} {
            flex-direction: column;
            align-items: center;
        }
        .button {
            margin: 0;
            text-transform: initial;
            display: flex;
            align-items: center;
            @media #{$maxw576} {
                min-width: 240px;
                justify-content: center;
            }
            &.vacancy-cv-button {

            }
            &.vacancy-video-button {
                &:hover {
                    path {
                        fill: #ffffff;
                    }
                }
            }
            &:not(:last-child) {
                margin-right: 20px;
                @media #{$maxw576} {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
            svg {
                margin-right: 10px;
            }
        }
    }
    .vacancy-descr {
        margin-top: 30px;
        p {
            margin: 0;
            font-size: 16px;
            line-height: 1.6;
            color: rgba(0,0,0,0.6);
            font-weight: 400;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            b, strong {
                font-weight: 700;
                color: #000;
            }
        }
    }
    .vacancy-reviews {
        margin-top: 30px;
        padding-top: 40px;
        border-top: 1px solid rgba(0,0,0,0.1);
        @media #{$maxw768} {
            padding-top: 30px;
        }
        &-title {
            font-size: 24px;
            font-weight: 700;
            color: #000;
            @media #{$maxw768} {
                font-size: 21px;
            }
            span {
                &:before {
                    content: '(';
                }
                &:after {
                    content: ')';
                }
            }
        }
        .review-items {
            width: 100%;
            max-width: 770px;
            margin-top: 30px;
        }
        .review-item {
            width: 100%;
            display: flex;
            align-items: flex-start;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            @media #{$maxw768} {
                padding-bottom: 20px;
            }
            &:not(:first-child) {
                padding-top: 30px;
                // padding-bottom: 30px;
                // border-top: 1px solid rgba(0,0,0,0.1);
                // border-bottom: 1px solid rgba(0,0,0,0.1);
                @media #{$maxw768} {
                    padding-top: 20px;
                }
            }
            &:not(:last-child) {
                // border-bottom: 1px solid rgba(0,0,0,0.1);
            }
            &-photo {
                width: 70px;
                height: 70px;
                // padding-top: 100%;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                flex-shrink: 0;
                flex-grow: 0;
                margin-right: 30px;
                @media #{$maxw768} {
                    margin-right: 15px;
                }
                @media #{$maxw480} {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }
            }
            &-info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                flex-shrink: 1;
            }
            &-author {
                font-size: 16px;
                font-weight: 500;
                color: #000;
            }
            &-date {
                font-size: 14px;
                color: rgba(0,0,0,0.4);
                position: relative;
                padding-left: 23px;
                &:before {
                    position: absolute;
                    left: 0;
                    width: 13px;
                    height: 15px;
                    // top: calc(50% - 7.5px);
                    top: -1px;
                    content: '';
                    background: transparent url('../img/icon-calendar-grey.svg') center no-repeat;
                    background-size: cover;
                }
            }
            &-body {
                margin-top: 11px;
            }
            &-text {
                width: 100%;
                font-size: 14px;
                line-height: 1.6;
                color: rgba(0,0,0,0.4);
            }
            &-gallery {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                &:not(:first-child) {
                    margin-top: 20px;
                }
                .review-gallery-item {
                    width: 100px;
                    display: block;
                    @media #{$maxw480} {
                        width: calc((100% - 20px) / 3);
                        margin-right: 10px;
                    }
                    &:not(:last-child) {
                        margin-right: 20px;
                        @media #{$maxw768} {
                            margin-right: 10px;
                        }
                        @media #{$maxw480} {
                            // margin-right: initial;
                        }
                    }
                    &:not(:nth-last-child(-n+3)) {
                        @media #{$maxw480} {
                            margin-bottom: 10px;
                        }
                    }
                    &:nth-child(3n) {
                        @media #{$maxw480} {
                            margin-right: 0;
                        }
                    }
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .vacancy-feedback {
        margin-top: 54px;
        @media #{$maxw1200} {
            margin-top: 50px;
        }
        @media #{$maxw768} {
            margin-top: 30px;
        }
        .feedback-title {
            font-size: 24px;
            font-weight: 700;
            color: #000;
            @media #{$maxw768} {
                font-size: 21px;
            }
        }
        .feedback-form {
            max-width: 470px;
            width: 100%;
            margin-top: 30px;
        }
        .input-label {
            display: block;
            width: 100%;
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
        .input-title {
            font-size: 14px;
            color: rgba(0,0,0,0.6);
            display: block;
        }
        .input {
            margin-top: 10px;
            width: 100%;
            max-width: 370px;
            border-radius: 8px;
            height: 46px;
            line-height: 44px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding-left: 15px;
            padding-right: 15px;
            background-color: transparent;
        }
        .textarea {
            max-width: 100%;
            height: 146px;
            resize: none;
            padding-top: 10px;
            line-height: normal;
        }
        .upload-label-wrapper {
            display: flex;
            align-items: center;
            margin-top: 14px;
        }
        .upload-label {
            display: block;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .upload-input-default {
            // display: none;
        }
        .upload-input-custom {
            display: block;
            position: relative;
            color: #fff;
            font-size: 14px;
            line-height: 1.3;
            font-weight: 500;
            padding: 7px 20px 7px 47px;
            border-radius: 30px;
            background-color: rgba(0,0,0,0.4);
            cursor: pointer;
            &:before {
                display: block;
                content: '';
                width: 17px;
                height: 12px;
                position: absolute;
                z-index: 1;
                left: 20px;
                top: calc(50% - 6px);
                background: transparent url('../img/icon-upload-white.svg') center no-repeat;
                background-size: cover;
            }
        }
        .upload-file-name {
            margin-left: 20px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.05em;
            color: rgba(0,0,0,0.6);
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-grow: 0;
            flex-shrink: 1;
            overflow: hidden;
            &.reset-upload {
                padding-right: 18px;
                position: relative;
                cursor: pointer;
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    right: 0;
                    top: calc(50% - 5px);
                    width: 10px;
                    height: 10px;
                    background: transparent url('../img/icon-close-grey.svg') center no-repeat;
                    background-size: cover;
                }
            }
        }
        .submit-button {
            margin-top: 40px;
            text-transform: none;
            font-size: 14px;
            padding: 10px 27px;
            letter-spacing: 0.03em;
            font-weight: 500;
        }
    }
}

.block-work-steps {
    padding-top: 132px;
    padding-bottom: 140px;
    @media #{$maxw1200} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$maxw1100} {
        padding-top: 120px;
        padding-bottom: 75px;
    }
    @media #{$maxw576} {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .work-steps {
        list-style: none;
    }
    .work-step {
        padding-left: 98px;
        display: block;
        position: relative;
        // counter: counter;
        counter-increment: counter;
        @media #{$maxw768} {
            padding-left: 75px;
        }
        @media #{$maxw576} {
            padding-left: 50px;
        }
        &:not(:last-child) {
            margin-bottom: 46px;
            @media #{$maxw768} {
                margin-bottom: 30px;
            }
        }
        &:before {
            display: block;
            content: counter(counter);
            position: absolute;
            left: 0;
            top: 0;
            color: $green;
            font-size: 110px;
            font-weight: 900;
            line-height: 0.85;
            @media #{$maxw768} {
                font-size: 70px;
            }

        }
        .title {
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            color: #000;
            &:before {
                display: inline;
                content: counter(counter)'.';
                margin-right: 4px;
            }
        }
        .descr {
            font-size: 16px;
            line-height: 1.6;
            color: rgba(0, 0, 0, 0.6);
            font-weight: 400;
            margin-top: 10px;
            p {
                font-size: inherit;
                line-height: inherit;
                color: inherit;
                font-weight: inherit;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.block-text {
    padding-top: 100px;
    padding-bottom: 50px;

    // @media #{$maxw1100} {
    //     padding-top: 75px;
    // }
    // @media #{$maxw768} {
    //     padding-top: 50px;
    // }
    &:first-child {
        padding-top: 132px;
        @media #{$maxw1200} {
            padding-top: 150px;
        }
        @media #{$maxw1100} {
            padding-top: 120px;
        }
        @media #{$maxw576} {
            padding-top: 80px;
        }
    }
    &:last-child {
        padding-bottom: 140px;
        @media #{$maxw1200} {
            padding-bottom: 100px;
        }
        @media #{$maxw1100} {
            padding-bottom: 75px;
        }
        @media #{$maxw768} {
            padding-bottom: 50px;
        }
    }
    .content-container {
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 1.6;
        color: rgba(0,0,0,0.6);
        text-align: justify;
        @media #{$maxw1200} {
            padding-left: 10px;
            padding-right: 10px;
        }
        img {
            object-fit: cover;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        p {
            margin: 0;
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            line-height: inherit;
            &:not(:last-child) {
                margin-bottom: 15px;
            }

        }
        ul {
            list-style: none;
            li {
                position: relative;
                padding-left: 20px;
                list-style-type: none;
                &:before {
                    display: block;
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $green;
                    position: absolute;
                    left: 0;
                    top: 10px;
                }
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
        h3 {
            font-size: 24px;
            line-height: 28px;
            color: #000;
            font-weight: 700;
        }
        p + ul,
        ul + p {
            margin-top: 20px;
        }
        h3 + p,
        h3 + ul {
            margin-top: 30px;
        }
        ul + h3,
        p + h3 {
            margin-top: 40px;
        }
    }
}



.unit_about,
.unit_misja,
.unit_news,
.unit_sertificat {
    padding-top: 100px;
    padding-bottom: 0;
    border-top: 0;
    @media #{$maxw1200} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media #{$maxw1100} {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media #{$maxw768} {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &:last-child {
        padding-bottom: 60px;
    }
}

// .unit_feedback,
.unit_about,
.unit_main_form {
    padding-top: 100px;
    padding-bottom: 100px;
    // @media #{$maxw1200} {
    //     padding-top: 50px;
    //     padding-bottom: 50px;
    // }
    @media #{$maxw1100} {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media #{$maxw768} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


.block-how-we-work + .block-faq {
    padding-top: 100px;
    padding-bottom: 0;
    @media #{$maxw1100} {
        padding-top: 75px;
    }
    @media #{$maxw768} {
        padding-top: 50px;
    }
}


.unit_news {
    &:only-of-type {
        padding-bottom: 100px;
        margin-top: 90px;
        @media #{$maxw1100} {
            padding-bottom: 75px;
        }
        @media #{$maxw768} {
            padding-bottom: 50px;
        }
        @media #{$maxw576} {
            margin-top: 70px;
        }
    }
}


