
@font-face {
    font-display: swap;
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-display: swap;
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-display: swap;
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-display: swap;
    font-family: 'Courier New';
    src: url('../fonts/CourierNew-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-family: 'Courier New';
    src: url('../fonts/CourierNew-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
