
/.DS_Store
**/*/.DS_Store

/node_modules
**/**/node_modules

/projects/
/projects/adalant/
/projects/ahmangal/
/projects/aplugs/
/projects/artinua/
/projects/axell-kraft/
/projects/axell-kraft-new/
/projects/breezephoto/
/projects/bridge2china/
/projects/elan-ads-platform/
/projects/family-supps-vitamins/
/projects/fast-build/
/projects/fix-404/
/projects/frankly/
/projects/geoprofcom-kadastr/
/projects/ibp-partner/
/projects/kanekalon/
/projects/kron-koin/
/projects/levelsand/
/projects/logistika-rs/
/projects/lookin-casino/
/projects/main-street/
/projects/mels-landing/
/projects/more-remonta/
/projects/rda/
/projects/reach-point/
/projects/remontodessa/
/projects/ses-balashiha/
/projects/top-staff/
/projects/yeezy/
