
/.DS_Store
**/*/.DS_Store

/node_modules
**/**/node_modules
projects/**/temp
projects/dozorro

# /projects-folders/
# /projects-folders/adalant/
# /projects-folders/ahmangal/
# /projects-folders/aplugs/
# /projects-folders/artinua/
# /projects-folders/axell-kraft/
# /projects-folders/axell-kraft-new/
# /projects-folders/breezephoto/
# /projects-folders/bridge2china/
# /elan-ads-platform/
# /family-supps-vitamins/
# /projects-folders/fast-build/
# /projects-folders/fix-404/
# /projects-folders/frankly/
# /projects-folders/geoprofcom-kadastr/
# /projects-folders/ibp-partner/
# /projects-folders/kanekalon/
# /projects-folders/kron-koin/
# /projects-folders/levelsand/
# /projects-folders/logistika-rs/
# /projects-folders/lookin-casino/
# /projects-folders/main-street/
# /projects-folders/mels-landing/
# /projects-folders/more-remonta/
# /projects-folders/rda/
# /projects-folders/reach-point/
# /projects-folders/remontodessa/
# /projects-folders/ses-balashiha/
# /projects-folders/top-staff/
# /projects-folders/yeezy/
