.block-news-main .slider:not(:first-child) {
    margin-top: 26px;
}
.block-news-main .main-news-item {
    width: 210px;
    display: block;
}
.block-news-main .main-news-item .photo {
    border-radius: 3px;
    overflow: hidden;
}
.block-news-main .main-news-item .info {
    margin-top: 9px;
}
.block-news-main .main-news-item .title {
    font-size: 12px;
}
.block-news-main .main-news-item .date {
    font-size: 10px;
    color: var(--grey-text);
    margin-top: 4px;
}


.block-calendar-events .one-slide-slider {
    padding-bottom: 18px;
}
.block-calendar-events .one-slide-slider:not(:first-child) {
    margin-top: 30px;
}
.block-calendar-events .event-item {
    position: relative;
    display: block;
    width: 100%;
}
.block-calendar-events .event-item .photo {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.block-calendar-events .event-item .photo img {
    width: 100%;
}
.block-calendar-events .event-item .info {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    padding: 0 60px 30px 30px;
    color: #fff;
    z-index: 2;
    width: 100%;
}
.block-calendar-events .event-item .title {
    font-size: 14px;
    line-height: normal;
}
.block-calendar-events .event-item .date {
    font-size: 10px;
    line-height: normal;
    margin-top: 4px;
}
.block-calendar-events .event-item .comments {
    background-color: #fff;
    position: absolute;
    top: calc(50% - 11px);
    right: 30px;
    line-height: 22px;
    padding-left: 7px;
    padding-right: 7px;
    color: var(--blue);
    font-size: 11px;
    text-align: center;
    min-width: 22px;
}
.block-calendar-events .event-item .comments:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 0 6.5px 5px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    pointer-events: none;
}
.block-calendar-events .slick-dots {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-calendar-events .slick-dots li:not(:last-child) {
    margin-right: 9px;
}
.block-calendar-events .slick-dots li button {
    width: 8px;
    height: 8px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    background-color: transparent;
    display: block;
    font-size: 0;
}
.block-calendar-events .slick-dots li.slick-active button {
    background-color: var(--blue);
}


.block-casino-links .slider .slide {
    padding-right: 15px;
}
.block-casino-links .casino-link-item {
    display: block;
    position: relative;
    width: 210px;
}
.block-casino-links .casino-link-item .photo {
    border-radius: 3px;
    overflow: hidden;
}
.block-casino-links .casino-link-item .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.block-casino-links .casino-link-item .title {
    font-size: 20px;
    line-height: normal;
}
.block-casino-links .casino-link-item .location {
    font-size: 13px;
    margin-top: 5px;
}
.block-casino-links .casino-link-item .link {
    margin-top: 30px;
}


.block-popular-videos .videos {
    margin-top: 30px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
}
.block-popular-videos .video-item {
    position: relative;
    padding-bottom: 76%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;
}

.block-popular-videos .video-item:nth-child(2n) {
    grid-column: 1;
}
.block-popular-videos .video-item:nth-child(2n+1) {
    grid-column: 2;
}
.block-popular-videos .video-item:nth-child(1) {
    padding-bottom: 65%;
    grid-column: 1/3;
}
.block-popular-videos .video-item .play {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent url('../img/video-play.svg') center no-repeat;
    background-size: 20px 20px;
}


.block-top-prizes .slider {
    margin-top: 30px;
}
.block-top-prizes .slider .slide {
    padding-right: 14px;
}
.block-top-prizes .top-prize-item {
    width: 160px;
}
.block-top-prizes .top-prize-item .photo {
    overflow: hidden;
    border-radius: 3px;
}
.block-top-prizes .top-prize-item .info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.block-top-prizes .top-prize-item .title {
    font-size: 12px;
    line-height: normal;
}
.block-top-prizes .top-prize-item .date {
    font-size: 10px;
    color: var(--grey-text);
    margin-top: 5px;
}
.block-top-prizes .top-prize-item .descr {
    line-height: 17px;
}
.block-top-prizes .top-prize-item .link {
    margin-top: 18px;
}