.header {
    transition: box-shadow 0.5s;
    margin-bottom: 5px;
    position: relative;
}
body.inner-page .header {
    margin-bottom: 0;
}
.header.fixed {
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    z-index: 100;
}

body.home-page .header.fixed + main.content {
    padding-top: 240px;
}
body.inner-page .header + main.content {
    padding-top: 55px;
}

.header-top {
    background-color: var(--blue);
    position: relative;
    z-index: 3;
}
.header-top .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}
.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    width: 27px;
    height: 27px;
}
.burger.open {
    background: transparent url('../img/burger-close.svg') center no-repeat;
    background-size: cover;
}
.burger span {
    width: 27px;
    height: 2px;
    background-color: #fff;
    display: block;
}
.burger.open span {
    opacity: 0;
}
.burger span:not(:last-child) {
    margin-bottom: 8px;
}

.burger-menu {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    height: calc(100vh - 55px);
    top: -100vh;
    pointer-events: none;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    padding-top: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.burger-menu.open {
    top: 0;
    pointer-events: auto;
    opacity: 1;
}
.burger-menu-title {
    font-size: 21px;
    padding: 30px 15px 0;
    flex-grow: 0;
}
.burger-menu-list {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;
}
.burger-menu ol {
    counter-reset: item;
}
.burger-menu li {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    line-height: 2;
    border-top: 1px solid var(--grey-border);
}
.burger-menu-list > li:first-child {
    border-top: 0;
}
.burger-menu li:before {
    content: counters(item, ".") ".";
    counter-increment: item;
    margin-right: 3px;
}
.burger-menu li.active:before {
    color: var(--blue-light);
}
.burger-menu li ol {
    padding-left: 43px;
    width: 100%;
}
.burger-menu li ol li {
    padding-right: 0;
}
.burger-menu li a {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 57px;
    flex-grow: 1;
}
.burger-menu li a.active {
    text-decoration: underline;
    color: var(--blue-light);
    pointer-events: none;
}
.burger-menu li a:after {
    content: '>';
    display: block;
    margin-left: auto;
}
.burger-menu li a.active:after {
    text-decoration: none;
}









.header .logo {
    max-width: 205px;
}

.header .notifications {
    display: block;
    background: transparent url('../img/icon-bell-white-empty.png') center no-repeat;
    background-size: contain;
    width: 23px;
    height: 27px;
    border: 0;
    transition: padding 0.5s;
}

.header-center {
    position: relative;
    z-index: 1;
    padding: 70px 0;
    background: linear-gradient(45deg, #2c65ae 0%,#5c88c0 100%);
}
.header.fixed .header-center {
    padding: 10px 0;
}
.header-center .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-center .jq-selectbox__select {
    transition: height 0.5s;
}
.header.fixed .header-center .jq-selectbox__select {
    height: 34px;
}

.header-center .select-annotation {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 15px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 210px;
    min-height: 28px;
}
.header.fixed .header-center .select-annotation {
    display: none;
}
.header-center .select-annotation .icon {
    margin-right: 3px;
}
.header-bottom .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--grey-border);
    grid-gap: 1px;
    grid-auto-rows: 85px;
}
.header.fixed .header-bottom .categories {
    grid-template-columns: repeat(6, 1fr);
    background-color: #fff;
    grid-gap: 0;
    grid-auto-rows: 50px;
}
.header-bottom .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.header-bottom .category .title {
    margin-top: 8px;
}
.header.fixed .header-bottom .category .title {
    display: none;
}

.header-bottom .more-categories {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-top: 1px solid var(--grey-border);
    border-bottom: 1px solid var(--grey-border);
    text-decoration: underline;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}
.header.fixed .header-bottom .more-categories {
    display: none;
}