.header {
    flex-grow: 0;
    width: 100%;
    &.menu-open {
        .menu {
            @media #{$maxw992} {
                pointer-events: auto;
                transition: opacity 0.5s, top 0.5s;
                opacity: 1;
                top: 0;
            }
        }
    }
    .container {
        padding-top: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$maxw992} {
            padding-top: 15px;
        }
    }
    .logo {
        display: block;
        position: relative;
        z-index: 999;
        img {
            width: 136px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        @media #{$maxw992} {
            // display: none;
            pointer-events: none;
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 99;
            top: -9999px;
            transition: opacity 0.5s, top 0.5s;
            background-color: #fff;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }
    }
    .menu-item {
        position: relative;
        // font-size: 20px;
        font-size: calc(20px * 0.75);
        font-weight: 500;
        @media #{$maxw992} {
            // font-size: 24px;
            font-size: calc(24px * 0.75);
        }
        &.active {
            @media #{$maxw992} {
                // font-size: 34px;
                font-size: calc(34px * 0.75);
                color: $orange
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5px;
                height: 3px;
                background-color: $orange;
                @media #{$maxw992} {
                    background-color: $black;
                    bottom: 0;
                }
            }
        }
        &:not(:last-child) {
            margin-right: 48px;
            @media #{$maxw1170} {
                margin-right: 30px;
            }
            @media #{$maxw992} {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
    .menu-burger {
        display: none;
        padding: 0;
        border: 0;
        background-color: transparent;
        position: relative;
        z-index: 999;
        @media #{$maxw992} {
            display: block;
        }
        span {
            display: block;
            background-color: $black;
            height: 4px;
            width: 40px;
            &:not(:last-child) {
                margin-bottom: 7px;
            }
        }
    }
}






