.header {
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @include maxw1024 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include maxw480 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        max-width: 134px;
        flex-shrink: 0;
        @include maxw768 {
            position: relative;
            z-index: 2;
        }
        @include maxw480 {
            max-width: 110px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        @include maxw768 {
            position: absolute;
            top: -100vh;
            left: 0;
            right: 0;
            background-color: #fff;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 100px;
            opacity: 0;
            pointer-events: none;
            transition: top $duration, opacity $duration;
            border-bottom: 1px solid $border-color-dark;
        }
        @include maxw480 {
            padding-top: 70px;
        }
        &-link {
            font-size: 18px;
            line-height: 1.4;
            color: $title-color;
            transition: color $duration;
            @include maxw768 {
                font-size: 22px;
                text-transform: uppercase;
                opacity: 0;
                transition: opacity $duration;
                transition-delay: $duration;
            }
            &:not(:last-child) {
                margin-right: 40px;
                @include maxw1024 {
                    margin-right: 25px;
                }
                @include maxw768 {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
            &:hover {
                color: $blue;
            }
        }
    }
    .btn {
        position: relative;
        z-index: 2;
        flex-shrink: 0;
    }
    .burger {
        display: none;
        width: 30px;
        height: 24px;
        flex-direction: column;
        justify-content: space-between;
        border: 0;
        background-color: transparent;
        margin-left: 100px;
        z-index: 2;
        flex-shrink: 0;
        @include maxw768 {
            display: flex;
        }
        @include maxw480 {
            margin-left: 0;
        }
        &.open {
            span {
                // transition: transform $duration, left $duration;
                left: -3px;
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
        }
        span {
            display: block;
            width: 30px;
            height: 2px;
            border-radius: 1px;
            background-color: $title-color;
            position: relative;
            transition: transform $duration, left $duration, opacity $duration;
            left: 0;
            &:nth-child(1) {
                transform-origin: right bottom;
            }
            &:nth-child(2) {
                opacity: 1;
            }
            &:nth-child(3) {
                transform-origin: right top;
            }
        }
    }
}

.inner-page .header {
    position: relative;
    background: transparent url('../img/header-bg.svg') center top no-repeat;
    background-size: cover;
}

.menu-open {
    .wrapper {
        height: 100vh;
        overflow: hidden;
    }
    .header {
        .menu {
            @include maxw768 {
                top: 0;
                opacity: 1;
                pointer-events: auto;
            }
            &-link {
                @include maxw768 {
                    opacity: 1;
                }
            }
        }
    }
}

