.content {
    position: relative;
    z-index: 1;
}

.block-homescreen {
    padding-top: 200px;
    padding-bottom: 115px;
    background: transparent url('../img/homescreen-bg.svg') center no-repeat;
    background-size: cover;
    @include maxw1024 {
        padding-bottom: 100px;
    }
    @include maxw768 {
        padding-bottom: 50px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    .text-group {
        @include maxw768 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
        }
    }
    .block-title {
        max-width: 560px;
    }
    .title-descr {
        font-size: 21px;
        line-height: 1.5;
        color: $title-color;
        margin-top: 30px;
        font-weight: 300;
        max-width: 505px;
        @include maxw1024 {
            font-size: 18px;
        }
        @include maxw768 {
            font-size: 16px;
        }
    }
    .btn {
        margin-top: 50px;
        @include maxw768 {
            margin-top: 30px;
        }
    }
    .figure-group {
        width: 50%;
        max-width: 560px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        @include maxw768 {
            display: none;
        }
    }
    .figure {
        width: 60%;
        .small {
            margin-top: -170px;
            margin-left: 100px;
        }
    }
}

.block-about {
    background: transparent url('../img/about-bg.svg') center no-repeat;
    background-size: cover;
    padding-bottom: 85px;
    @include maxw768 {
        padding-bottom: 50px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        @include maxw768 {
            flex-direction: column;
            align-items: center;
        }
    }
    .figure-group {
        width: 50%;
        max-width: 560px;
        display: flex;
        justify-content: center;
        padding-top: 70px;
        @include maxw768 {
            padding-top: 50px;
            width: 100%;
        }
    }
    .figure {
        max-width: 490px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .blur {
            position: absolute;
            z-index: 1;
            margin: auto 0;
            &:nth-child(1) {
                left: 0;
            }
            &:nth-child(2) {
                right: 0;
            }
        }
        .screen-group {
            position: relative;
            z-index: 2;
            @include maxw480 {
                max-width: 60%;
            }
        }
    }
    .text-group {
        width: 50%;
        max-width: 560px;
        padding-top: 200px;
        @include maxw768 {
            width: 100%;
            padding-top: 50px;
        }
        .block-title {
            @include maxw768 {
                text-align: center;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        p {
            font-size: 18px;
            line-height: 1.7;
            font-weight: 300;
            @include maxw768 {
                font-size: 16px;
                line-height: 1.6;
            }
            &:not(:last-child) {
                margin-bottom: 31px;
                @include maxw768 {
                    margin-bottom: 20px;
                }
            }
        }
        .violet {
            color: #fff;
            background-color: $violet;
            padding: 5px 0 2px;
            background-color: border-box;
        }
        .green {
            color: #fff;
            background-color: $green;
            padding: 5px 0 2px;
            background-color: border-box;
        }
    }
}

.block-functions {
    padding-top: 140px;
    padding-bottom: 140px;
    background: transparent url('../img/functions-bg.svg') center no-repeat;
    background-size: cover;
    @include maxw1024 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include maxw768 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .block-title {
        text-align: center;
    }
    .title-descr {
        font-size: 20px;
        line-height: 1.7;
        font-weight: 300;
        text-align: center;
        margin-top: 20px;
        @include maxw1024 {
            font-size: 18px;
        }
        @include maxw768 {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.6;
        }
    }
    .functions-text {
        margin-top: 80px;
        columns: 3;
        column-gap: 60px;
        @include maxw1024 {
            column-gap: 40px;
            margin-top: 50px;
        }
        @include maxw860 {
            column-gap: 20px;
        }
        @include maxw768 {
            margin-top: 30px;
            columns: 2;
        }
        @include maxw640 {
            columns: initial;
        }
    }
    .text-group {
        break-inside: avoid;
        &:not(:last-child) {
            @include maxw768 {
                margin-bottom: 20px;
            }
        }
        &:nth-child(3) {
            margin-top: 90px;
            @include maxw768 {
                margin-top: 20px;
            }
        }
        .group-title {
            font-size: 25px;
            line-height: 1.3;
            font-weight: 600;
            color: $title-color;
            @include maxw768 {
                font-size: 24px;
            }
        }
        p {
            font-size: 16px;
            line-height: 1.7;
            margin-top: 20px;
            @include maxw640 {
                margin-top: 0;
            }
        }
    }
    .text-violet-figure {
        margin-top: 20px;
    }
    .text-green-figure {
        position: relative;
        margin-top: 26px;
        break-inside: avoid;
        @include maxw768 {
            margin-top: 20px;
        }
        .title {
            position: relative;
            transform: rotate(-6.56deg);
            z-index: 2;
            max-width: 80%;
            @include maxw860 {
                max-width: 100%;
            }
            @include maxw768 {
                max-width: initial;
                display: inline-block;
                transform: none;
            }
            &:before {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 7px;
                left: 13px;
                border-radius: 26px;
                z-index: 1;
                background-color: $green-dark;
                content: '';
                @include maxw768 {
                    top: 5px;
                    left: 8px;
                }
            }
            &-inner {
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                background-color: $green;
                border-radius: 26px;
                font-size: 25px;
                line-height: 1.3;
                font-weight: 600;
                color: #fff;
                padding: 20px 20px 15px;
                @include maxw768 {
                    padding: 15px 15px 13px;
                    font-size: 22px;
                }
                @include maxw480 {
                    font-size: 18px;
                }
                img {
                    max-width: 40px;
                    transform: rotate(6.56deg);
                    flex-shrink: 0;
                }
                span {
                    &:not(:only-child) {
                        margin-left: 20px;
                        @include maxw768 {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .text {
            padding: 25px 30px;
            font-size: 16px;
            line-height: 1.7;
            font-weight: 300;
            color: $title-color;
            position: relative;
            z-index: 1;
            background-color: $green-light;
            border-radius: 26px;
            @include maxw1024 {
                padding: 20px;
            }
            @include maxw768 {
                padding: 15px;
                line-height: 1.6;
            }
        }
    }
}

.block-process {
    .block-head {
        padding-top: 120px;
        padding-bottom: 215px;
        background: transparent url('../img/process-head-bg.svg') center bottom no-repeat;
        background-size: cover;
        text-align: center;
        @include maxw1024 {
            padding-top: 100px;
            padding-bottom: 150px;
        }
        @include maxw768 {
            padding-top: 50px;
            padding-bottom: 100px;
        }
        .title-descr {
            margin: 30px auto 0;
            max-width: 840px;
            font-size: 20px;
            line-height: 1.7;
            font-weight: 300;
            @include maxw1024 {
                font-size: 18px;
            }
            @include maxw768 {
                font-size: 16px;
                line-height: 1.6;
                margin-top: 10px;
            }
        }
    }
    .block-body {
        margin-top: -150px;
        @include maxw1024 {
            margin-top: -100px;
        }
        @include maxw768 {
            margin-top: -50px;
        }
    }
    .process-step {
        counter-increment: step-item;
        display: flex;
        align-items: center;
        text-align: right;
        position: relative;
        padding-top: 35px;
        padding-bottom: 35px;
        @include maxw640 {
            flex-direction: column;
            // padding-left: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
        }
        &:before {
            display: block;
            content: '';
            width: 1px;
            position: absolute;
            left: calc(50% - 1px);
            top: 0;
            bottom: 0;
            background-color: $border-color-dark;
            @include maxw640 {
                // left: 15px;
                content: none;
            }
            @include maxw480 {
                left: 6px;
            }
        }
        &:after {
            display: block;
            content: '';
            width: 13px;
            height: 13px;
            background-color: $green;
            position: absolute;
            top: calc(50% - 6.5px);
            left: calc(50% - 6.5px);
            box-shadow: 0 0 0 7px $green-light;
            border-radius: 50%;
            @include maxw640 {
                // left: 9px;
                content: none;
            }
            @include maxw480 {
                left: 0;
            }
        }
        &:nth-child(1) {
            .figure {
                &-column {
                    justify-content: center;
                }
                &-1 {
                    width: 11%;
                    position: absolute;
                    top: 0;
                    left: 60px;
                    @include maxw1024 {
                        left: 40px;
                    }
                    @include maxw860 {
                        left: 20px;
                    }
                    @include maxw640 {
                        left: 0;
                    }
                }
                &-2 {
                    width: 29.5%;
                    position: absolute;
                    top: 14%;
                    left: 60px;
                    @include maxw1024 {
                        width: 20%;
                        left: 40px;
                    }
                    @include maxw860 {
                        left: 20px;
                    }
                    @include maxw640 {
                        left: 0;
                    }
                }
                &-3 {
                    width: 56%;
                }
            }
        }
        &:nth-child(2) {
            .figure {
                &-column {
                    justify-content: center;
                }
                &-1 {
                    width: 56%;
                }
                // &-2 {}
                // &-3 {}
            }
        }
        &:nth-child(3) {
            .figure {
                &-column {
                    justify-content: center;
                }
                &-1 {
                    width: 56%;
                }
                // &-2 {}
                // &-3 {}
            }
        }
        &:nth-child(4) {
            .figure {
                &-column {
                    flex-wrap: wrap;
                }
                &-1 {
                    width: 61%;
                    margin-right: auto;
                }
                &-2 {
                    width: 23%;
                    position: absolute;
                    top: 20%;
                    left: 58%;
                    @include maxw640 {
                        left: 70%
                    }
                }
                &-3 {
                    width: 95%;
                    margin-left: auto;
                    margin-top: -23%;
                }
            }
        }
        &:nth-child(5) {
            .figure {
                &-column {
                    flex-wrap: wrap;
                }
                &-1 {
                    width: 58%;
                    margin-left: 6%;
                }
                &-2 {
                    width: 11%;
                    position: absolute;
                    top: 46%;
                    right: 20%;
                }
                &-3 {
                    width: 60%;
                    margin-top: -8%;
                    margin-left: 28%;
                }
            }
        }
        &:first-child {
            &:before {
                top: 50%;
            }
        }
        &:not(:last-child) {
            @include maxw640 {
                border-bottom: 1px dashed $border-color-dark;
            }
        }
        &:last-child {
            &:before {
                bottom: 50%;
            }
        }
        &:nth-child(2n) {
            flex-direction: row-reverse;
            text-align: left;
            @include maxw640 {
                flex-direction: column;
                text-align: center;
            }
            .text-column {
                padding-left: 60px;
                padding-right: 0;
                @include maxw1024 {
                    padding-left: 40px;
                }
                @include maxw860 {
                    padding-left: 20px;
                }
                @include maxw640 {
                    padding-left: 0;
                    text-align: center;
                    flex-direction: column;
                }
            }
            .figure-column {
                padding-left: 0;
                padding-right: 60px;
                @include maxw1024 {
                    padding-right: 40px;
                }
                @include maxw860 {
                    padding-right: 20px;
                }
                @include maxw640 {
                    padding-right: 0;
                }
            }
            .step-number {
                justify-content: flex-start;
                @include maxw640 {
                    justify-content: center;
                }
            }
        }

        .text-column {
            padding-right: 60px;
            width: 50%;
            @include maxw1024 {
                padding-right: 40px;
            }
            @include maxw860 {
                padding-right: 20px;
            }
            @include maxw640 {
                padding-right: 0;
                width: 100%;
            }
        }
        .step-number {
            display: flex;
            align-items: baseline;
            font-size: 14px;
            line-height: 1.3;
            letter-spacing: 0.04em;
            color: $green;
            justify-content: flex-end;
            @include maxw640 {
                justify-content: center;
            }
            &:after {
                content: counter(step-item);
                font-weight: 600;
                font-size: 28px;
                margin-left: 4px;
            }
        }
        .block-title {
            margin-top: 44px;
            font-size: 36px;
            @include maxw768 {
                font-size: 32px;
                margin-top: 30px;
            }
            @include maxw640 {
                margin-top: 10px;
            }
        }
        .step-descr {
            font-size: 18px;
            line-height: 1.7;
            font-weight: 300;
            margin-top: 40px;
            @include maxw768 {
                font-size: 16px;
                line-height: 1.6;
                margin-top: 30px;
            }
            @include maxw640 {
                margin-top: 10px;
            }
            p {
                &:not(:last-child) {
                    margin-bottom: 31px;
                    @include maxw768 {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .text-violet-figure {
            margin-top: 20px;
        }
        .figure-column {
            padding-left: 60px;
            display: flex;
            width: 50%;
            position: relative;
            @include maxw1024 {
                padding-left: 40px;
            }
            @include maxw860 {
                padding-left: 20px;
            }
            @include maxw640 {
                padding-left: 0;
                margin-top: 30px;
                width: 100%;
                max-width: 560px;
            }
        }
        .shadow {
            margin-top: 10px;
        }
    }
}

.block-prices {
    background: transparent url('../img/prices-bg.svg') center top no-repeat;
    background-size: auto auto;
    padding-top: 235px;
    padding-bottom: 140px;
    @include maxw1200 {
        padding-top: 200px;
    }
    @include maxw1024 {
        padding-top: 150px;
        padding-bottom: 100px;
        background-size: cover;
    }
    @include maxw768 {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-group {
        display: flex;
        align-items: center;
        position: relative;
        .title-label {
            position: absolute;
            bottom: 70%;
            border-radius: 25px;
            transform: rotate(-6.56deg);
            right: calc(100% - 12px);
            padding: 15px 25px 15px;
            background-color: $green;
            color: #fff;
            font-size: 25px;
            line-height: 0.92;
            font-weight: 500;
            z-index: 1;
            white-space: nowrap;
            text-align: center;
            @include maxw860 {
                right: 50%;
            }
            @include maxw768 {
                transform: none;
                bottom: 100%;
            }
            @include maxw480 {
                right: 30px;
            }
            &:after {
                display: block;
                content: '';
                position: absolute;
                width: 56px;
                height: 56px;
                right: -28px;
                bottom: -28px;
                background: transparent url('../img/label-ellipse-green.svg') center no-repeat;
                background-size: contain;
                z-index: 1;
            }
            span {
                font-size: 34px;
                line-height: 1.3;
                font-weight: 600;
                display: block;
                position: relative;
                z-index: 2;
            }
        }
        .block-title {
            position: relative;
            z-index: 2;
        }
    }
    .title-descr {
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.7;
        text-align: center;
        @include maxw1024 {
            font-size: 18px;
        }
        @include maxw768 {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.6;
        }
    }
    .price-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 60px;
        width: 100%;
        margin-top: 70px;
        @include maxw1024 {
            grid-gap: 40px;
            margin-top: 50px;
        }
        @include maxw860 {
            grid-gap: 20px;
        }
        @include maxw768 {
            grid-template-columns: 1fr 1fr;
            margin-top: 30px;
        }
        @include maxw480 {
            grid-template-columns: 1fr;
        }
    }
    .price-item {
        display: flex;
        flex-direction: column;
        padding-top: 34px;
        padding-bottom: 20px;
        background-color: rgba(#fff, 0.3);
        border: 1px solid $border-color-dark;
        text-align: center;
        border-radius: 15px;
        position: relative;
        @include maxw480 {
            max-width: 360px;
            justify-self: center;
            width: 100%;
        }
        &-label {
            position: absolute;
            left: -10px;
            top: -30px;
            height: 42px;
            line-height: 42px;
            border-radius: 30px;
            padding-left: 42px;
            padding-right: 14px;
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            background-color: $blue-dark;
            @include maxw480 {
                top: -10px;
            }
            &:before {
                display: block;
                content: '';
                position: absolute;
                left: 14px;
                top: calc(50% - 9px);
                width: 19px;
                height: 18px;
                background: transparent url('../img/icons/icon-star-white.svg') center no-repeat;
                background-size: contain;
            }
        }
        &-title {
            font-size: 21px;
            line-height: 1.3;
            font-weight: 600;
            color: $title-color;
            text-transform: uppercase;
        }
        &-tax {
            display: flex;
            align-items: baseline;
            width: 100%;
            justify-content: center;
            border-bottom: 1px solid $border-color-dark;
            padding-bottom: 14px;
            margin-top: 17px;
            color: $green;
            letter-spacing: 0.03em;
            line-height: 1.3;
            .curr {
                font-size: 22px;
                font-weight: 500;
            }
            .val {
                font-size: 32px;
                font-weight: 600;
            }
        }
        &-vacancies {
            display: flex;
            align-items: baseline;
            color: $title-color;
            margin-top: 10px;
            justify-content: center;
            font-weight: 300;
            span {
                font-weight: 600;
                font-size: 23px;
                line-height: 1.4;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
        .btn {
            max-width: 100%;
            margin: 15px 20px 0;
        }
    }
    .price-text {
        columns: 2;
        column-gap: 60px;
        font-size: 18px;
        line-height: 1.7;
        font-weight: 300;
        width: 100%;
        margin-top: 40px;
        @include maxw1024 {
            column-gap: 40px;
        }
        @include maxw860 {
            column-gap: 20px;
        }
        @include maxw768 {
            font-size: 16px;
            line-height: 1.6;
        }
        @include maxw640 {
            columns: 1;
        }
        p {
            &:not(:last-child) {
                @include maxw768 {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .try {
        margin-top: 50px;
    }
}

.block-management {
    padding-top: 140px;
    @include maxw1024 {
        padding-top: 100px;
    }
    @include maxw768 {
        padding-top: 50px;
    }
    .wrap {
        display: flex;
        align-items: center;
        @include maxw768 {
            flex-direction: column-reverse;
        }
    }
    .text-group {
        width: 50%;
        max-width: 560px;
        @include maxw768 {
            width: 100%;
            margin-top: 30px;
        }
        .block-title {
            margin-bottom: 40px;
            @include maxw768 {
                margin-bottom: 30px;
                text-align: center;
            }
        }
        p {
            font-size: 20px;
            line-height: 1.7;
            font-weight: 300;
            @include maxw768 {
                font-size: 16px;
                line-height: 1.6;
            }
            &:not(:last-child) {
                margin-bottom: 34px;
                @include maxw768 {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .figure-group {
        width: 50%;
        max-width: 560px;
        @include maxw768 {
            width: 100%;
        }
    }
    .figure {
        width: 100%;
        position: relative;
        img {
            position: absolute;
            &:nth-child(1) {
                width: 100%;
                position: relative;
                // animation-delay: 0.25s;
            }
            &:nth-child(2) {
                width: 17%;
                top: 4%;
                right: 20%;
                // animation-delay: 0.5s;
            }
            &:nth-child(3) {
                // animation-delay: 0.75s;
                top: 14%;
                right: 44%;
                width: 18%;
            }
            &:nth-child(4) {
                // animation-delay: 1s;
                width: 60%;
                right: 20%;
                top: 42%;
            }
            &:nth-child(5) {
                // animation-delay: 1.75s;
                top: 78%;
                right: 32%;
                width: 40%;
            }
        }
    }
}

.block-integration {
    padding-top: 140px;
    @include maxw1024 {
        padding-top: 100px;
    }
    @include maxw768 {
        padding-top: 50px;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-title {
        text-align: center;
    }
    .integration-items {
        margin-top: 60px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 3fr 2fr;
        width: 100%;
        @include maxw1024 {
            margin-top: 50px;
        }
        @include maxw768 {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(1) {
                @include maxw768 {
                    width: 60%;
                }
                @include maxw480 {
                    width: 90%;
                }
                .graph {
                    margin-top: 15px;
                    @include maxw768 {
                        margin-top: 10px;
                    }
                }
            }
            &:nth-child(2) {
                @include maxw768 {
                    width: 40%;
                }
                @include maxw480 {
                    width: 60%;
                }
                .graph {
                    margin-top: 3px;
                    @include maxw768 {
                        margin-top: 10px;
                    }
                }
            }
            .title {
                font-weight: 500;
                font-size: 30px;
                line-height: 1.3;
                text-align: center;
                letter-spacing: 0.1em;
                color: rgba(57, 57, 105, 0.4);
                @include maxw768 {
                    font-size: 24px;
                }
            }
        }
    }
    .text-violet-figure {
        text-align: center;
        margin-top: 70px;
        line-height: 1.7;
        @include maxw1024 {
            margin-top: 50px;
        }
        @include maxw768 {
            margin-top: 30px;
        }
        .title {
            font-size: 22px;
            font-weight: 600;
            @include maxw768 {
                font-size: 18px;
            }
        }
        .text {
            font-weight: 300;
            margin-top: 5px;
        }
    }
}

.block-reviews {
    padding-top: 140px;
    @include maxw1024 {
        padding-top: 100px;
    }
    @include maxw768 {
        padding-top: 50px;
    }
    .block-title {
        text-align: center;
    }
    .reviews-slider {
        margin-top: 70px;
        @include maxw1440 {
            padding-left: 50px;
            padding-right: 50px;
        }
        @include maxw1024 {
            margin-top: 50px;
        }
        @include maxw768 {
            margin-top: 30px;
        }
        @include maxw480 {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .slide {
        &.slick-active {
            .review {
                padding-right: 20px;
                @include maxw860 {
                    padding-right: 10px;
                }
                @include maxw640 {
                    padding-right: 0;
                }
            }
            + .slick-active {
                .review {
                    padding-right: 0;
                    padding-left: 20px;
                    @include maxw860 {
                        padding-left: 10px;
                    }
                    @include maxw640 {
                        padding-left: 0;
                    }
                }
            }
        }
    }
    .review {
        display: flex;
        align-items: flex-start;
        .photo-outer {
            position: relative;
            margin-right: 30px;
            @include maxw860 {
                margin-right: 20px;
            }
        }
        .author-fb-link {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 50%;
            background: $blue url('../img/icons/icon-fb-white.svg') center no-repeat;
            background-size: 7px 14px;
        }
        .photo {
            width: 120px;
            height: 120px;
            overflow: hidden;
            flex-shrink: 0;
            position: relative;
            z-index: 1;
            @include maxw860 {
                width: 100px;
                height: 100px;
            }
        }
        .text {
            font-size: 14px;
            line-height: 1.6;
            color: rgba(17, 17, 17, 0.7);
            font-weight: 300;
        }
        .author {
            font-size: 18px;
            color: #111;
            font-weight: 600;
            line-height: 1.4;
            margin-top: 20px;
            @include maxw768 {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin-top: 40px;
        @include maxw480 {
            margin-top: 30px;
        }
        li {
            display: block;
            &:not(:last-child) {
                margin-right: 20px;
                @include maxw480 {
                    margin-right: 10px;
                }
            }
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid $green;
                background-color: transparent;
                font-size: 0;
                color: transparent;
                display: block;
                @include maxw480 {
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: calc(50% - 18px);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid rgba(67, 150, 247, 0.7);
        background: transparent url('../img/slider-arrow-blue.svg') center no-repeat;
        background-size: 7px 12px;
        font-size: 0;
        color: transparent;
        @include maxw480 {
            top: initial;
            bottom: -16px;
        }
        &.slick-prev {
            transform: rotate(-180deg);
            left: -80px;
            @include maxw1440 {
                left: 0;
            }
        }
        &.slick-next {
            right: -80px;
            @include maxw1440 {
                right: 0;
            }
        }
    }
}

.block-faq {
    padding-top: 140px;
    padding-bottom: 140px;
    @include maxw1024 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include maxw768 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .block-title {
        text-align: center;
    }
    .faq-list {
        margin-top: 70px;
        @include maxw1024 {
            margin-top: 50px;
        }
        @include maxw768 {
            margin-top: 30px;
        }
    }
    .faq-item {
        border-radius: 15px;
        position: relative;
        border: 1px solid $border-color-dark;
        padding: 20px 30px 18px;
        background-color: $grey-light;
        transition: background-color 0.3s;
        cursor: pointer;
        user-select: none;
        @include maxw1024 {
            padding: 20px 20px 18px;
        }
        @include maxw768 {
            padding: 15px 15px 13px;
        }
        &:after {
            display: block;
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24px;
            right: 30px;
            background: transparent url('../img/icons/icon-plus-grey.svg') center no-repeat;
            background-size: contain;
            @include maxw768 {
                right: 10px;
                top: 18px;
            }
        }
        &.open {
            background-color: $blue-light;
            &:after {
                background-image: url('../img/icons/icon-minus-grey.svg');
            }
            .answer-wrapper {
                max-height: 1000px;
            }
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        .question {
            color: $accordeon-title-color;
            font-size: 18px;
            line-height: 1.3;
            font-weight: 600;
            padding-right: 40px;
            @include maxw768 {
                padding-right: 20px;
                font-size: 16px;
            }
        }
        .answer-wrapper {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s;
        }
        .answer {
            color: $accordeon-text-color;
            font-size: 16px;
            line-height: 1.6;
            margin-top: 15px;
            font-weight: 300;
        }
    }
}

.block-cta {
    padding-top: 120px;
    padding-bottom: 185px;
    background-color: $blue-light;
    @include maxw1024 {
        padding-top: 100px;
        padding-bottom: 150px;
    }
    @include maxw768 {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        @include maxw768 {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    .contacts-group {
        max-width: 460px;
        width: 50%;
        @include maxw768 {
            max-width: 560px;
            width: 100%;
            margin-top: 30px;
        }
    }
    .form-group {
        width: 50%;
        max-width: 560px;
        @include maxw768 {
            width: 100%;
        }
    }
    .contact-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        @include maxw768 {
            align-items: center;
        }
        .link {
            font-size: 22px;
            line-height: 1.3;
            color: $title-color;
            padding-left: 47px;
            position: relative;
            @include maxw768 {
                min-width: 330px;
            }
            @include maxw480 {
                font-size: 20px;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: calc(50% - 15px);
                left: 0;
                width: 30px;
                height: 30px;
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.phone {
                &:before {
                    background-image: url('../img/icons/icon-contact-phone.svg');
                }
            }
            &.mail {
                &:before {
                    background-image: url('../img/icons/icon-contact-mail.svg');
                }
            }
            &.fb {
                &:before {
                    background-image: url('../img/icons/icon-contact-fb.svg');
                }
            }
            &.site {
                &:before {
                    background-image: url('../img/icons/icon-contact-site.svg');
                }
            }
        }
    }
    .block-title {
        @include maxw768 {
            text-align: center;
        }
    }
    .title-descr {
        margin-top: 20px;
        font-size: 20px;
        line-height: 1.7;
        font-weight: 300;
        @include maxw1024 {
            font-size: 18px;
        }
        @include maxw768 {
            font-size: 16px;
            line-height: 1.6;
            margin-top: 10px;
            text-align: center;
        }
        a {
            font-weight: 400;
            text-decoration: underline;
        }
    }
    .form-holder {
        margin-top: 30px;
        position: relative;
    }
    .cta-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .input {
            width: calc(50% - 10px);
            height: 52px;
            line-height: 50px;
            border: 1px solid $border-color-dark;
            background-color: #fff;
            border-radius: 30px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 16px;
            line-height: 1.6;
            font-weight: 300;
            @include maxw1024 {
                padding-left: 20px;
                padding-right: 20px;
            }
            @include maxw860 {
                width: 100%;
            }
            @include maxw768 {
                padding-left: 15px;
                padding-right: 15px;
            }
            &:not(:last-of-type) {
                @include maxw860 {
                    margin-bottom: 20px;
                }
            }
        }
        textarea {
            border-radius: 26px;
            background-color: #fff;
            border: 1px solid $border-color-dark;
            padding: 13px 30px;
            font-size: 16px;
            line-height: 1.6;
            font-weight: 300;
            margin-top: 20px;
            height: 100px;
            resize: none;
            width: 100%;
            @include maxw1024 {
                padding: 13px 20px;
            }
            @include maxw768 {
                padding: 13px 15px;
            }
        }
        .checkbox-label {
            display: flex;
            align-items: center;
            margin-top: 20px;
            .checkbox-custom {
                background: #fff;
                border: 1px solid $border-color-dark;
                border-radius: 6px;
                width: 22px;
                height: 22px;
                position: relative;
                flex-shrink: 0;
                margin-right: 10px;
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 3px;
                    bottom: 3px;
                    left: 3px;
                    right: 3px;
                    border-radius: 4px;
                    background-color: transparent;
                }
            }
            input:checked + .checkbox-custom:before {
                background: linear-gradient(0deg, #0084FF, #0084FF), #B0B0C3;
            }
            .checkbox-text {
                font-size: 14px;
                line-height: 160%;
                color: rgba(153, 153, 153, 0.7);
                font-weight: 300;
                a {
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }
        .btn {
            width: 100%;
            margin-top: 20px;
        }
    }
    .form-popup {
        width: 300px;
        position: absolute;
        top: -40px;
        left: calc(50% - 150px);
        background-color: $grey-light;
        border-radius: 26px;
        border: 1px solid $border-color-dark;
        padding: 40px;
        display: none;
        min-height: 180px;
        .close {
            border: 0;
            width: 14px;
            height: 14px;
            background: transparent url('../img/icons/icon-close-grey.svg') center no-repeat;
            background-size: cover;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .text-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .text {
            font-size: 20px;
            line-height: 1.7;
            font-weight: 300;
            text-align: center;
            display: none;
        }
    }
}

.block-text {
    padding-top: 70px;
    padding-bottom: 140px;
    color: $title-color;
    .block-title {
        text-align: center;
        margin-bottom: 60px;
    }
    p {
        font-size: 16px;
        line-height: 1.7;
        font-weight: 300;
        + p {
            margin-top: 27px;
        }
        + .subtitle {
            margin-top: 60px;
        }
    }
    .subtitle {
        font-size: 22px;
        line-height: 1.3;
        font-weight: 600;
        + p {
            margin-top: 30px;
        }
    }
}