
$main-font: 'Gilroy';

$green-light: #D6F5E0;
$green: #33CC66;
$green-dark: #29A352;
$violet: #D100D1;
$violet-dark: #960096;
$blue-light: #E6F7FF;
$blue: #4396F7;
$grey-light: #f9f9f9;
$blue-dark: #0000A2;

$border-color: #fbfbfb;
$border-color-dark: #d8d8d8;
$text-color: #73738C;
$title-color: #393969;
$accordeon-title-color: #2F4050;
$accordeon-text-color: #798790;