.footer {
    background: $bg-color;
    flex-grow: 0;
    width: 100%;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        color: #fff;
        @media #{$mobile} {
            flex-direction: column;
        }
    }
}
