/*Блок лучшие предложения*/
    .block-best-offers {
        margin-top: 50px;
    }
    .block-best-offers .best-offers-outer {
        margin-top: 30px;
        width: 100%;
        position: relative;
    }
    .block-best-offers .best-offers-outer:before,
    .block-best-offers .best-offers-outer:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        background-color: #fff;
        top: 0;
        bottom: 0;
        width: 10px;
        pointer-events: none;
    }
    .block-best-offers .best-offers-outer:before {
        left: -10px;
    }
    .block-best-offers .best-offers-outer:after {
        right: -10px;
    }
    .block-best-offers .best-offers {
        width: calc(100% + 20px);
        margin-left: -10px;
        position: relative;
        z-index: 1;
    }
    .block-best-offers .best-offers .slide {
        padding: 0 10px;
    }
    /*.block-best-offers .top-prizes .slick-slide > div:nth-child(2) {
        margin-top: 28px;
    }*/
    .block-best-offers .slick-prev {
        right: 76px;
    }
    .block-best-offers .slick-next {
        right: 10px;
    }



    /*slider offer item*/
        .block-best-offers .best-offer-item {
            width: 100%;
        }
        .block-best-offers .best-offer-item .photo {
            position: relative;
            background-color: var(--grey);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 180px;
            width: 100%;
        }
        .block-best-offers .best-offer-item .info {
            padding-top: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .block-best-offers .best-offer-item .label {
            color: var(--grey);
        }
        .block-best-offers .best-offer-item .date {
            color: var(--grey);
        }
        .block-best-offers .best-offer-item .title {
            font-size: 19px;
            line-height: 26px;
            width: 100%;
            margin-top: 10px;
        }
        .block-best-offers .best-offer-item .descr {
            font-size: 13px;
            line-height: 19px;
            margin-top: 10px;
            width: 100%;
        }
        .block-best-offers .best-offer-item .link {
            margin-top: 19px;
            transition: 0.5s;
        }
        .block-best-offers .best-offer-item .link:hover {
            transition: 0.5s;
            border-color: var(--blue);
            color: var(--blue);
        }
    /*top prize item*/

/*Блок лучшие предложения*/


/*Блок лотерея и акции*/
    .block-actions-lottery {
        margin-top: 50px;
        position: relative;
        z-index: 10;
    }
    .block-actions-lottery .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .block-actions-lottery .gambling-column {
        width: 905px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-actions-lottery .gambling-ratings-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


    .block-actions-lottery .gambling-items {
        margin-top: 20px;
        width: 100%;
    }
    .block-actions-lottery .gambling-item {
        width: 100%;
        background-color: var(--grey-light);
        padding: 20px 20px;
        display: flex;
        /*align-items: center;*/
        /*align-content: center;*/
    }
    .block-actions-lottery .gambling-item:not(:last-child) {
        margin-bottom: 24px;
    }
    .block-actions-lottery .gambling-item .photo {
        width: 225px;
        height: 200px;
        background-size: cover;
        background-color: #e8e8e8;
        position: relative;
        flex-shrink: 0;
        margin-right: 20px;
    }
    .block-actions-lottery .gambling-item .zoom-photo {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgba(40,98,172,0.75);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 23px 23px;
        background-image: url('../img/icon-zoom-white.png');
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        border: 0;
        position: relative;
    }
    .block-actions-lottery .gambling-item .zoom-photo:hover {
        transition: 0.5s;
        background-color: rgba(40,98,172,1);
    }
    .block-actions-lottery .gambling-item .info {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        /*padding-top: 10px;*/
    }
    .block-actions-lottery .gambling-item .descr-column {
        width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .block-actions-lottery .gambling-item .title {
        font-size: 19px;
        line-height: normal;
        position: relative;
    }
    .block-actions-lottery .gambling-item .title.orange {
        color: var(--orange);
    }
    .block-actions-lottery .gambling-item .title:after {
        display: block;
        content: '';
        width: 56px;
        height: 2px;
        background-color: var(--blue-light);
        position: absolute;
        bottom: -8px;
    }
    .block-actions-lottery .gambling-item .title.orange:after {
        background-color: var(--orange);
    }
    .block-actions-lottery .gambling-item .date {
        color: var(--grey);
        font-size: 13px;
        line-height: 19px;
        margin-top: 15px;
    }
    .block-actions-lottery .gambling-item .descr {
        line-height: 19px;
        margin-top: 10px;
    }
    .block-actions-lottery .gambling-item .buttons {
        display: flex;
        align-items: center;
        margin-top: auto;
    }
    .block-actions-lottery .gambling-item .button:first-child {
        margin-right: 20px;
    }
    .block-actions-lottery .gambling-item .params-column {
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block-actions-lottery .gambling-item .labels {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .block-actions-lottery .gambling-item .map-link {
        margin-top: 15px;
        line-height: 19px;
        position: relative;
        color: var(--blue);
        text-decoration: underline;
        padding-left: 25px;
        transition: 0.5s;
    }
    .block-actions-lottery .gambling-item .map-link:hover {
        color: var(--blue-light);
        transition: 0.5s;
    }
    .block-actions-lottery .gambling-item .map-link:before {
        display: block;
        content: '';
        position: absolute;
        left: 6px;
        top: calc(50% - 8px);
        width: 12px;
        height: 16px;
        background: transparent url('../img/icon-marker-small-blue.png') center no-repeat;
        background-size: contain;
    }
    .block-actions-lottery .gambling-item .recommend-label,
    .block-actions-lottery .gambling-item .choice-label {
        color: var(--blue);
        font-size: 12px;
        padding-left: 25px;
        position: relative;
    }
    .block-actions-lottery .gambling-item .recommend-label:before {
        display: block;
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 4px;
        width: 16px;
        height: 14px;
        background: transparent url('../img/icon-trophy-blue.png') center no-repeat;
        background-size: contain;
    }
    .block-actions-lottery .gambling-item .choice-label:before {
        display: block;
        content: '';
        position: absolute;
        top: calc(50% - 6px);
        left: 3px;
        width: 15px;
        height: 12px;
        background: transparent url('../img/icon-heart-blue.png') center no-repeat;
        background-size: contain;
    }
    .block-actions-lottery .gambling-item .id-label {
        font-size: 13px;
        background-color: var(--blue);
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        color: #fff;
        line-height: 20px;
        padding-top: 0.5px;
        margin-right: -20px;
    }
    .block-actions-lottery .gambling-item .id-label span {
        margin-left: 4px;
    }
    .block-actions-lottery .gambling-item .logo-and-rates {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .block-actions-lottery .gambling-item .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
    }
    .block-actions-lottery .gambling-item .logo img {
        width: auto;
        max-width: 140px;
    }
    .block-actions-lottery .gambling-item .rates {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .block-actions-lottery .gambling-item .rate-and-stars {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 0;
    }
    .block-actions-lottery .gambling-item .rate-value-group {
        display: flex;
        align-items: last baseline;
        justify-content: flex-end;
        align-self: flex-end;
    }
    .block-actions-lottery .gambling-item .rate-title {
        font-size: 13px;
        line-height: 12px;
        margin-right: 7px;
        text-align: right;
    }
    .block-actions-lottery .gambling-item .rate-value {
        font-size: 27.4px;
        line-height: 21px;
    }
    .b_chrome .block-actions-lottery .gambling-item .rate-value,
    .b_safari .block-actions-lottery .gambling-item .rate-value {
        line-height: 27px;
    }
    .block-actions-lottery .gambling-item .item-stars {
        margin-top: 8px;
    }
    .block-actions-lottery .gambling-item .stars-rate-group .star:not(:last-child) {
        margin-right: 9px;
    }
    .block-actions-lottery .gambling-item .reviews-link {
        margin-top: 8px;
        font-size: 12px;
        line-height: 1;
        margin-top: 10px;
        text-decoration: underline;
        color: var(--blue);
        transition: 0.5s;
    }
    .block-actions-lottery .gambling-item .reviews-link:hover {
        color: var(--blue-light);
        transition: 0.5s;
    }
    .block-actions-lottery .gambling-item .reviews-link .value {
        margin-right: 2px;
    }

    .block-actions-lottery .gambling-item .params-column .parameters {
        padding-right: 28px;
        margin-top: 15px;
    }
    .block-actions-lottery .gambling-item .params-column .param-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 23px;
        padding-left: 35px;
        position: relative;
    }
    .block-actions-lottery .gambling-item .param-item:before {
        width: 35px;
        display: block;
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
    }
    /*Игровое заведение */

    .block-actions-lottery .more-items-link {
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding-left: 22px;
        padding-right: 22px;
    }
    .block-actions-lottery .more-items-link span {
        padding-right: 13px;
        margin-left: 4px;
        position: relative;
        display: block;
    }
    .block-actions-lottery .more-items-link span:after {
        margin-left: 5px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        right: 0;
        top: calc(50% - 2.5px);
    }
/*Блок лотерея и акции*/
















