@font-face
{
	font-family:"Adelle";
	src:url(../fonts/AdelleCyrillic-Light.eot);
	src:url(../fonts/AdelleCyrillic-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/AdelleCyrillic-Light.woff) format("woff"),url(../fonts/AdelleCyrillic-Light.ttf) format("truetype"),url(../fonts/AdelleCyrillic-Light.svg#Adelle) format("svg");
	font-weight:300;
	font-style:normal
}

@font-face
{
	font-family:"Adelle";
	src:url(../fonts/AdelleCyrillic-SemiBold.eot);
	src:url(../fonts/AdelleCyrillic-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/AdelleCyrillic-SemiBold.woff) format("woff"),url(../fonts/AdelleCyrillic-SemiBold.ttf) format("truetype"),url(../fonts/AdelleCyrillic-SemiBold.svg#Adelle) format("svg");
	font-weight:600;
	font-style:normal
}

@font-face
{
	font-family:"ProximaNova";
	src:url(../fonts/ProximaNova-Thin.eot);
	src:url(../fonts/ProximaNova-Thin.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Thin.woff) format("woff"),url(../fonts/ProximaNova-Thin.ttf) format("truetype"),url(../fonts/ProximaNova-Thin.svg#JProximaNova) format("svg");
	font-weight:100;
	font-style:normal
}

@font-face
{
	font-family:"ProximaNova";
	src:url(../fonts/ProximaNova-Light.eot);
	src:url(../fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Light.woff) format("woff"),url(../fonts/ProximaNova-Light.ttf) format("truetype"),url(../fonts/ProximaNova-Light.svg#JProximaNova) format("svg");
	font-weight:300;
	font-style:normal
}

@font-face
{
	font-family:"ProximaNova";
	src:url(../fonts/ProximaNova-LightIt.eot);
	src:url(../fonts/ProximaNova-LightIt.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-LightIt.woff) format("woff"),url(../fonts/ProximaNova-LightIt.ttf) format("truetype"),url(../fonts/ProximaNova-LightIt.svg#JProximaNova) format("svg");
	font-weight:300;
	font-style:italic
}

@font-face
{
	font-family:"ProximaNova";
	src:url(../fonts/ProximaNova-Regular.eot);
	src:url(../fonts/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Regular.woff) format("woff"),url(../fonts/ProximaNova-Regular.ttf) format("truetype"),url(../fonts/ProximaNova-Regular.svg#JProximaNova) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face
{
	font-family:"ProximaNova";
	src:url(../fonts/ProximaNova-SemiBold.eot);
	src:url(../fonts/ProximaNova-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-SemiBold.woff) format("woff"),url(../fonts/ProximaNova-SemiBold.ttf) format("truetype"),url(../fonts/ProximaNova-SemiBold.svg#JProximaNova) format("svg");
	font-weight:600;
	font-style:normal
}

@font-face
{
	font-family:"ProximaNova";
	src:url(../fonts/ProximaNova-Bold.eot);
	src:url(../fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Bold.woff) format("woff"),url(../fonts/ProximaNova-Bold.ttf) format("truetype"),url(../fonts/ProximaNova-Bold.svg#JProximaNova) format("svg");
	font-weight:700;
	font-style:normal
}

@font-face
{
	font-family:"GothamPro";
	src:url(../fonts/GothamPro-Bold.eot);
	src:url(../fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/GothamPro-Bold.woff) format("woff"),url(../fonts/GothamPro-Bold.ttf) format("truetype"),url(../fonts/GothamPro-Bold.svg#GothamPro) format("svg");
	font-weight:700;
	font-style:normal
}

@font-face
{
	font-family:"FuturaFuturisC";
	src:url(../fonts/FuturaFuturisC-Bold.eot);
	src:url(../fonts/FuturaFuturisC-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/FuturaFuturisC-Bold.woff) format("woff"),url(../fonts/FuturaFuturisC-Bold.ttf) format("truetype"),url(../fonts/FuturaFuturisC-Bold.svg#FuturaFuturisC) format("svg");
	font-weight:700;
	font-style:normal
}

*
{
	padding:0;
	margin:0;
	box-sizing:border-box
}

a
{
	text-decoration:none;
	outline:none;
	color:inherit
}

body
{
	font-family:"ProximaNova",sans-serif;
	font-weight:300;
	color:#373839
}

img
{
	max-width:1920px;
	width:100%;
	display:block
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	opacity: 1
}
input::-moz-placeholder, textarea::-moz-placeholder {
	opacity: 1
}
input:-moz-placeholder, textarea:-moz-placeholder {
	opacity: 1
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	opacity: 1
}

textarea::-webkit-input-placeholder {
	font-size: 16px;
	font-weight: 300;
}
textarea::-moz-placeholder          {
	font-size: 16px;
	font-weight: 300;
}
textarea:-moz-placeholder           {
	font-size: 16px;
	font-weight: 300;
}
textarea:-ms-input-placeholder      {
	font-size: 16px;
	font-weight: 300;
}

.content
{
	position:relative
}

.container
{
	max-width:970px;
	width:100%;
	padding:0 15px;
	margin-left:auto;
	margin-right:auto;
	position:relative
}

.red-button
{
	min-width:240px;
	padding:0 15px;
	height:54px;
	text-transform:uppercase;
	background:#d83232;
	color:#fff;
	border:2px solid #d83232;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:"GothamPro";
	font-weight:700;
	font-size:14px;
	border-radius:3px;
	transition:.5s;
	padding-top:2px;
	cursor:pointer
}

.red-button:hover
{
	transition:.5s;
	background:#fff;
	border-color:#d83232;
	color:#d83232
}

.red-button:hover span:after
{
	border-color:transparent transparent transparent #d83232
}

.red-button span
{
	position:relative;
	padding-right:18px;
	display:block
}

.red-button span:after
{
	display:block;
	content:'';
	width:0;
	height:0;
	border-style:solid;
	border-width:4px 0 4px 5px;
	border-color:transparent transparent transparent #fff;
	position:absolute;
	right:0;
	top: 5px
}

.white-button
{
	min-width:170px;
	padding:0 15px;
	height:54px;
	text-transform:uppercase;
	background:#fff;
	color:#d83232;
	border:2px solid #d83232;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:"GothamPro";
	font-weight:700;
	font-size:14px;
	border-radius:3px;
	transition:.5s;
	padding-top:2px;
	cursor:pointer
}

.white-button:hover
{
	color:#fff;
	background:#d83232;
	transition:.5s
}

.top-button {
	display: none;
	text-align: center;
	line-height: 60px;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 4px;
	font-weight: 400;
	position: fixed;
	bottom: 20px;
	left: 20px;
	transition: 0.5s;
	border: 2px solid #d83232;
	color: #d83232;
	font-size: 28px;

}
.top-button i {
	transition: 0.5s;
}
.top-button:hover i {
	transform: scale(1.8);
	transition: 0.5s;
}

.block-title
{
	padding-top:65px;
	font-weight:700;
	font-family:"ProximaNova";
	font-size:36px;
	color:#71aaf6;
	text-transform:uppercase;
	line-height:1
}

.text-content-container
{
	margin-top:25px;
	font-size:16px
}

.text-content-container b
{
	font-weight:700
}

.text-content-container .paragraph
{
	width:100%;
	max-width:510px
}

.text-content-container .paragraph:not(:last-child)
{
	margin-bottom:15px
}

.text-content-container ul
{
	list-style:none;
	margin-top:10px
}

.text-content-container li
{
	position:relative;
	padding-left:23px
}

.text-content-container li:before
{
	display:block;
	content:'';
	position:absolute;
	top:6px;
	left:0;
	width:0;
	height:0;
	border-style:solid;
	border-width:5px 0 5px 8px;
	border-color:transparent transparent transparent #de5353
}

.text-content-container li:not(:last-child)
{
	margin-bottom:10px
}

.text-content-container .blue-link
{
	display:flex;
	color:#71aaf6;
	font-size:17px
}

.text-content-container .blue-link:not(:last-child)
{
	margin-bottom:10px
}

.text-content-container .blue-link i
{
	display:block;
	width:28px
}

.slick-arrow
{
	position:absolute;
	display:block;
	width:16px;
	height:28px;
	top:calc(50% - 14px);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	border:0;
	border-radius:0;
	cursor:pointer
}


.slick-prev
{
	left:-76px
}

.slick-next
{
	right:-76px
}

.slick-red
{
	background:transparent url(../img/red-arrow-right.png)
}

.slick-white
{
	background:transparent url(../img/white-arrow-right.png)
}

.slick-red.slick-prev
{
	transform:rotate(-180deg)
}

.slick-white.slick-prev
{
	transform:rotate(-180deg)
}

.header
{
	min-height:70px;
	background:#404142;
	padding:15px 0;
	position:relative
}

.header .container
{
	display:flex;
	align-items:center;
	justify-content:space-between
}

.header-logo a
{
	display:flex
}

.header-logo img
{
	width:48px;
	height:40px
}

.header-logo .logo-text
{
	margin-left:14px;
	font-family:"Adelle";
	text-transform:uppercase;
	color:#fff
}

.header-logo span:nth-child(1)
{
	font-size:27px;
	font-weight:600;
	display:block;
	line-height:1
}

.header-logo span:nth-child(2)
{
	font-size:12px;
	font-weight:300;
	display:block
}

.header-menu
{
	display:flex;
	align-items:center;
	justify-content:flex-end
}

.header-menu-link
{
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	transition:.5s;
	cursor: pointer;
}

.header-menu-link:hover
{
	color:#71aaf6;
	transition:.5s
}

.header-menu-link:not(:last-child)
{
	margin-right:25px
}

.block-homescreen
{
	min-height:530px;
	background:#fdfdfd url(../img/main-homescreen-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center
}

.homescreen-title
{
	padding-top:55px;
	color:#373839;
	text-transform:uppercase;
	line-height:1;
	max-width:455px;
	position:relative;
	font-weight:300
}

.homescreen-title:after
{
	display:block;
	content:'';
	width:600px;
	height:2px;
	background:#373839;
	position:absolute;
	bottom:-40px
}

.title-top
{
	font-size:26px;
	margin-bottom:10px;
	display:block
}

.title-center
{
	font-family:"FuturaFuturisC";
	font-weight:700;
	font-size:80px;
	text-align:justify;
	line-height:1;
	color:#5c5c5c;
	display:block
}

.title-center:nth-child(3)
{
	letter-spacing:2.8px
}

.title-bottom
{
	font-size:19px;
	text-align:justify;
	margin-top:4px;
	letter-spacing:.61px;
	display:block
}

.homescreen-buttons
{
	display:flex;
	align-items:center;
	margin-top:80px
}

.homescreen-buttons .red-button
{
	margin-right:16px
}

.block-services
{
	text-align:center;
	padding-bottom:90px
}

.block-services .block-title-descr
{
	font-size:17px;
	margin-top:20px
}

.services-container
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-top:35px
}

.service-item
{
	width:225px;
	height:225px;
	border:1px solid #ececec;
	display:flex;
	align-items:center;
	flex-direction:column;
	padding:0 5px
}

.service-item:nth-child(-n+4)
{
	margin-bottom:15px
}

.service-item:not(:nth-child(4n))
{
	margin-right:13px
}

.service-item:hover
{
	box-shadow:3px 3px 25px 0 #ddd
}

.service-item-icon
{
	height:90px;
	display:flex;
	align-items:center;
	justify-content:center
}

.service-item-title
{
	font-weight:700;
	font-size:15px;
	text-transform:uppercase;
	line-height:1.4
}

.service-item-text
{
	font-size:16px;
	font-weight:400;
	color:#5c5c5c;
	line-height:1.4;
	margin-top:5px
}

.presentation-button
{
	margin:35px auto 0;
	display:inline-flex;
	cursor:pointer
}

.presentation-button:hover
{
	color:#fff;
	background:#de5454
}

.presentation-button span
{
	padding-right:26px
}

.presentation-button span:after,.presentation-button:hover span:after
{
	width:14px;
	height:12px;
	border:0;
	content:'\f019';
	font-family:FontAwesome;
	background-repeat:no-repeat;
	background-size:cover;
	top:0
}

.block-content-right .container
{
	padding-left:500px
}

.block-content-right .text-content-container
{
	max-width:455px
}

.block-mkit
{
	background:url(../img/mkit-full-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:right center;
	background-position:center;
	padding-bottom:90px
}

.block-protection
{
	background:#fdfdfd url(../img/protection-full-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding-bottom:90px
}

.block-integration
{
	background:url(../img/integration-full-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding-bottom:60px
}

.block-marketing
{
	background:#fdfdfd url(../img/marketing-full-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding-bottom:60px
}

.block-support
{
	background:url(../img/support-full-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding-bottom:110px
}

.block-media-text
{
	background:#fdfdfd url(../img/block-content-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding-bottom:320px
}

.block-development
{
	background:url(../img/development-full-bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding-bottom:260px
}

.block-audit
{
	background:#fdfdfd;
	padding-bottom:180px;
	position:relative;
	background:url(../img/block-audit-bg.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat
}

.block-news
{
	background:url(../img/block-news-bg.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	padding-bottom:70px;
	text-align:center
}

.block-news .block-title
{
	text-align:center;
	color:#fefefe
}

.news-slider
{
	margin-top:45px
}

.news-slider .slick-track
{
	padding-bottom:15px
}

.news-item
{
	display:flex!important;
	justify-content:center
}

.news-item-inner
{
	width:290px;
	/*min-height:510px;*/
	background:#fefefe;
	box-shadow:0 3px 11px 0 rgba(0,0,0,0.5)
}

.news-item-body
{
	/*padding:13px 15px 0;*/
	padding: 13px 15px;
	text-align:left
}

.news-item-photo
{
	width:100%;
	height:auto
}

.news-item-photo:hover,.news-item-title:hover
{
	cursor:pointer
}

.news-item-title
{
	font-size:15px;
	color:#71aaf6;
	font-weight:600;
	text-transform:uppercase
}

.news-item-date
{
	font-size:14px;
	font-weight:300;
	font-style:italic;
	color:#979899;
	padding-left:20px;
	margin-top:10px;
	position:relative
}

.news-item-date:before
{
	display:block;
	content:'';
	position:absolute;
	top:2px;
	left:0;
	width:12px;
	height:12px;
	background:url(../img/icon-newsitem-time.png) center center no-repeat;
	background-size:cover
}

.news-item-text
{
	color:#5c5c5c;
	font-weight:400;
	line-height:1.4;
	font-size:15px;
	margin-top:10px
}

.block-news .red-button,.block-articles .red-button
{
	display:inline-flex;
	margin-top:40px
}

.block-articles
{
	text-align:center;
	padding-bottom:70px
}

.block-articles .block-title
{
	color:#5c5c5c
}

.footer
{
	background:url(../img/footer-bg.jpg) center center no-repeat;
	background-size:cover
}

.copyright
{
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	font-size:15px;
	color:#fefefe;
	border-top:1px solid #3f3f3f;
	height:90px
}

.footer-top .container
{
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
	padding-top:125px;
	padding-bottom:105px
}

.footer-logo
{
	display:flex
}

.footer-logo img
{
	width:85px;
	height:75px
}

.footer-logo .logo-text
{
	margin-left:22px;
	font-family:"Adelle";
	text-transform:uppercase;
	color:#fff
}

.footer-logo span:nth-child(1)
{
	font-size:41px;
	font-weight:600;
	display:block;
	line-height:1
}

.footer-logo span:nth-child(2)
{
	margin-top:5px;
	font-size:18px;
	font-weight:300;
	display:block
}

.footer-menu
{
	max-width:225px;
	width:100%
}

.footer-menu-link
{
	height:36px;
	line-height:35px;
	display:block;
	color:#dddfe2;
	border-bottom:1px solid #dddfe2;
	overflow:hidden;
	transition:.5s;
	position:relative;
	cursor:pointer
}

.footer-menu-link:after
{
	display:block;
	content:'';
	position:absolute;
	top:16px;
	right:-8px;
	width:0;
	height:0;
	border-style:solid;
	border-width:3px 8px 3px 0;
	border-color:transparent #d83232 transparent transparent;
	transition:.5s
}

.footer-menu-link:not(:last-child)
{
	margin-bottom:2px
}

.footer-menu-link:hover
{
	color:#d83232;
	border-color:#d83232;
	transition:.5s
}

.footer-menu-link:hover:after
{
	right:0;
	transition:.5s
}

.footer-socials-title,.footer-contacts-title
{
	font-size:16px;
	color:#fefefe;
	text-transform:uppercase;
	font-weight:400
}

.footer-socials-icons
{
	display:flex;
	align-items:center;
	margin-top:20px
}

.footer-social-icon, .sidebar-social-icon
{
	width:31px;
	height:31px;
	transition:.5s;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background:#dcdde0;
	color:#1b1b1b;
	/*transition: 0.5s;*/
}
.footer-social-icon {
	color: #1b1b1b;

}
.sidebar-social-icon {
	color: #fff;
	background: #b4b4b4;
	box-shadow: 0 1px 18px 0 rgba(0,0,0,0.2);
}

.footer-social-icon:hover, .sidebar-social-icon:hover
{
	box-shadow:0 0 0 3px rgba(210,34,44,.6);
	background:#d83232;
	color:#fff;
	/*transition: 0.5s;*/
}

.footer-social-icon:not(:last-child), .sidebar-social-icon:not(:last-child)
{
	margin-right:14px
}

.footer-contacts-container
{
	margin-top:40px
}

.footer-contact-item
{
	margin-top:20px;
	display:block;
	position:relative;
	padding-left:45px;
	font-size:16px;
	font-weight:100;
	color:#dddfe2
}

.footer-contact-item:before
{
	display:block;
	content:'';
	width:15px;
	height:15px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:3px;
	top:3px;
	font-family:FontAwesome
}

.footer-mail:before
{
	content:'\f0b1'
}

.footer-phone:before
{
	content:'\f095'
}

.left-menu
{
	position:fixed;
	top:135px;
	left:0;
	z-index:99
}

.aside-menu-item
{
	width:50px;
	height:50px;
	border:1px solid #ececec;
	display:flex;
	align-items:center;
	box-shadow:1px 1px 4px 0 #dedede;
	background:#fff;
	overflow:hidden;
	cursor:pointer
}

.aside-menu-icon
{
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	width:50px;
	color:#97989a
}

.aside-menu-item span
{
	display:block;
	width:0;
	height:40px;
	line-height:40px;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
	transition:.5s;
	white-space:nowrap;
	text-align:center
}

.aside-menu-item i
{
	width:50px;
	text-align:center
}

.aside-menu-item:hover
{
	transition:.5s;
	width:100%;
	background:#db5959;
	background:-moz-linear-gradient(top,#db5959 0%,#d83232 100%);
	background:-webkit-linear-gradient(top,#db5959 0%,#d83232 100%);
	background:linear-gradient(to bottom,#db5959 0%,#d83232 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5959',endColorstr='#d83232',GradientType=0);
	box-shadow:3px 3px 10px 3px #ccc
}

.aside-menu-item:hover .aside-menu-icon
{
	border-right:1px solid #e17171;
	width:48px;
	color:#fff
}

.aside-menu-item:hover span
{
	width:calc(100% - 50px);
	padding:0 20px
}

.aside-menu-item:not(:last-child)
{
	margin-bottom:5px
}

.burger-button
{
	display:none;
	width:45px;
	cursor:pointer;
	border:0;
	flex-direction:column;
	align-items:flex-end;
	margin:0;
	padding:0;
	background:transparent;
	outline:none
}

.burger-button span
{
	background:#fff;
	height:4px;
	margin:0;
	margin-bottom:6px;
	display:block;
	transition:all .3s linear 0;
	position:relative
}

.burger-button span:nth-child(1)
{
	width:45px;
	transition:all .3s linear 0
}

.burger-button span:nth-child(2)
{
	width:25px;
	opacity:1;
	transition:all .3s linear 0
}

.burger-button span:nth-child(3)
{
	width:35px;
	margin-bottom:0;
	transition:all .3s linear 0
}

.burger-button.open span:nth-child(1)
{
	width:48px;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
	transition:all .3s linear 0;
	bottom:-10px
}

.burger-button.open span:nth-child(3)
{
	width:48px;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	transition:all .3s linear 0;
	top:-10px
}

.burger-button.open span:nth-child(2)
{
	opacity:0;
	transition:all .3s linear 0
}


body.modal-open {
  padding: 0 !important;
}
.modal-popup {
  padding: 0 !important;
}

.modal-popup .modal-dialog {
	max-width: 600px;
	width: 100%;
	margin: 50px auto 10px;
}
.modal-popup .close {
	opacity: 1;
	position: absolute;
	top: 7px;
	right: 10px;
	border: 0;
	font-size: 60px;
	font-weight: 100;
	background: transparent;
	line-height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.modal-popup .modal-body {
	background: #fff;
	border-radius: 5px;
	padding: 40px 25px;
	color: #101010;
	text-align: center;
	line-height: 1;
}

.modal-popup .modal-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 32px;
	margin-top: 25px;
}
.modal-popup .modal-descr {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	margin-top: 10px;
}
.modal-popup .form-container {
	margin: 30px auto 0;
	max-width: 400px;
	display: block;
	width: 90%;
}
.modal-popup label {
	display: block;
	text-align: left;
}
.modal-popup label:nth-child(-n+2) {
	margin-bottom: 20px;
}
.modal-popup .label-title {
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	line-height: 1.4;
}

.modal-popup input {
	width: 100%;
	height: 50px;
	border: 1px solid #101010;
	border-radius: 2px;
	font-size: 18px;
	padding: 0 20px;
}

.modal-popup input::-webkit-input-placeholder {
	opacity: 1;
}
.modal-popup input::-moz-placeholder          {
	opacity: 1;
}
.modal-popup input:-moz-placeholder           {
	opacity: 1;
}
.modal-popup input:-ms-input-placeholder      {
	opacity: 1;
}

.modal-popup .safe-text {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	/*text-align: left;*/
	display: inline-block;
	margin-top: 10px;
	padding-left: 15px;
	position: relative;
}
.modal-popup .safe-text:after {
	display: block;
	content: '\f023';	
	font-family:FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	font-style: normal;
}
.modal-popup .submit-button {
	/*display: block;
	width: 100%;
	height: 50px;
	background: transparent;
	border: 1px solid #101010;
	border-radius: 2px;
	color: #101010;
*/	margin-top: 30px;
	width: 100%;
	font-size: 18px;
}
.modal-popup .safe-policy {
	margin-top: 30px;
	display: block;
	color: #71aaf6;
	font-weight: 400;
	font-size: 18px;
	/*text-align: left;*/
}



.modal-open {
	overflow: hidden
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5
}

.inner-page {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #f8f9fa;
}
.inner-page-block .container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
}
.block-sidebar-right {
	width: 300px;
}
.block-main-left {
	width: calc(100% - 330px);
}
.white-block-shadow {
	background: #fff;	
	box-shadow: 0 1px 18px 0 rgba(0,0,0,0.3);
}

/*Sidebar*/
.sidebar-element {
	display: block;
	width: 100%;
}

.sidebar-element:not(:last-child) {
	margin-bottom: 30px;
}

.sidebar-subscribe form {
	display: block;
}
.sidebar-input {
	width: 100%;
	height: 50px;
	position: relative;
	display: block;
	border: 1px solid #cecfd0;	
	margin-bottom: 12px;
}
.sidebar-input input {
	color: #5c5c5c;
	display: flex;
	align-items: center;
	background: #fff;
	font-size: 16px;
	font-weight: 300;
	border: 0;
	width: 100%;
	height: 100%;
	padding-right: 60px;
	padding-left: 20px;
}

.sidebar-input:after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: '\f003';
	font-family: "FontAwesome";
	text-align: center;
	color: #d83232;
	font-size: 16px;
	width: 60px;
	height: 22px;
	border-left: 1px solid #cecfd0;
	position: absolute;
	right: 0;
	top: calc(50% - 11px);
}

.sidebar-button {
	max-width: 100%;
	width: 100%;
}

.sidebar-socials-title {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
	position: relative;
	font-size: 18px;
	font-weight: 300;
	color: #373839;
}
.sidebar-socials-title:after {
	display: block;
	content: '';
	width: 20px;
	height: 1px;
	background: #d83232;
	position: absolute;
	bottom: -18px;
	left: calc(50% - 10px);
}
.sidebar-social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}



.sidebar-links-container {
	width: 100%;
}
.sidebar-links-container-title {
	color: #fff;
	background: #3f4041;
	padding: 0 20px;
	line-height: 54px;
	height: 54px;
	font-weight: 400;
	font-size: 20px;
}

.sidebar-links-container-body {
	padding: 18px;
}
.link-item {
	display: block
}
.link-item:not(:last-child) {
	margin-bottom: 18px;
}

.block-now-reading .link-item,
.block-feature-articles .link-item {
	display: flex;
	/*align-items: flex-start;*/
	align-items: center;
	width: 100%;
}

.block-now-reading .link-item-photo,
.block-feature-articles .link-item-photo,
.block-popular-services .link-item-photo {
	width: 112px;
	height: 112px;
	overflow: hidden;
	position: relative;
}

.block-now-reading .link-item-photo img,
.block-feature-articles .link-item-photo img,
.block-popular-services .link-item-photo img {
	min-width: 112px;
	min-height: 112px;
	position: absolute;
	top: -50%;
	bottom: -50%;
	right: -50%;
	left: -50%;
	margin: auto;
	object-fit: cover;
	display: block;
}

.block-now-reading .link-item-text,
.block-feature-articles .link-item-text {
	width: calc(100% - 127px);
	margin-left: 15px;
}
.link-item-title {
	color: #71aaf6;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}
.link-item-status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	color: #979899;
	font-size: 13px;
	font-style: italic;
	line-height: 10px;
}
.link-item-status > div {
	flex-grow: 1;
}
.link-item-status i {
	margin-right: 5px;
}
.link-item-comments {
	text-align: right;
	border-left: 1px solid #979899;
}

.block-popular-services .link-item-photo {
	width: 100%;

}
.block-popular-services .link-item-photo img {
	min-width: 254px;
}
.block-popular-services .link-item-text {
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
}

.block-popular-services .link-item-description {
	font-size: 15px;
	font-weight: 300;
	color: #373839;
	margin-top: 10px;
}

.sidebar-element .red-button {
	width: 100%;

}

.sidebar-element .red-button i {
	margin-left: 5px;
}

/*Article*/
.single-article-title {
	color: #5c5c5c;
	font-size: 25px;
	font-weight: 600;
}
.single-article-container {
	position: relative;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 400;
	color: #5c5c5c;
	line-height: 1.4;
	margin-bottom: 30px;
}

.article-tags-container {
	position: absolute;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	top: 20px;
	left: 20px;
	z-index: 1;
}
.article-tag {
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 10px;
	position: relative;
	background: rgba(216,50,50,0.6);
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}
.article-tag:before {
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 2px);
	left: 8px;
}
.article-tag:not(:last-child) {
	margin-right: 7px;
}
.single-article-body {
	padding: 20px 20px 30px;
	border-bottom: 1px solid #bfc0c0;
}

.single-article-container p:not(:last-child) {
	margin-bottom: 15px;
}
.single-article-container h3 {
	font-weight: 700;
	font-size: 20px;
	color: #373839;
	margin-bottom: 10px;
}
.single-article-container h4 {
	font-weight: 600;
	color: #373839;
	font-size: 16px;
}

.single-article-container ul {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

.single-article-container li {
	position: relative;
	padding-left: 20px;
}

.single-article-container li:before {
	display: block;
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4.5px 0 4.5px 6px;
	border-color: transparent transparent transparent #d83232;
	left: 0;
	top: 7px;
}
.single-article-container a {
	color: #71aaf6;
}

.single-article-links {
	border-bottom: 1px solid #bfc0c0;
	padding: 20px;
	position: relative;
}
.single-article-links .links-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #373839;
	font-size: 18px;
}

.single-article-status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	color: #979899;
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	line-height: 10px;
}
.single-article-status span {
	margin-left: 3px
}
.single-article-status span:last-child {
	margin-left: 1px;
}
.article-item-time {
	flex-grow: 0
}
.article-item-views {
	flex-grow: 1;
	text-align: right;
	padding-right: 15px;
}
.article-item-comments {
	flex-grow: 0;
	padding-left: 15px;
	border-left: 1px solid #979899;
}

.single-article-comments > div:not(:last-child) {
	margin-bottom: 15px;
}

.article-comments-head {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #4a4a4b;
}

.article-comments-head .head-title {
	color: #fff;
	padding-left: 20px;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
}

.article-comments-head .head-title span {
	margin-left: 15px;
	line-height: 28px;
}

.article-comments-head .button-default {
	display: none;
}

.article-comments-head label {
	display: flex;
	align-items: center;
}

.article-comments-head .button-text {
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	margin-right: 19px;
}

.article-comments-head .button-custom {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #d83232;
	font-size: 36px;
	color: #fff;
}
.article-commet-item {
	width: 100%;
	background: #fff;
}
.article-comment-item:not(:last-child) {
	margin-bottom: 15px;
}
.article-comment-body {
	padding: 20px;
}

.article-comment-author {
	font-size: 16px;
	color: #d83232;
	font-weight: 700;
}

.article-comment-text {
	color: #5c5c5c;
	font-style: italic;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}
.article-comment-date {
	color: #757980;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	margin-top: 20px;
}

.comment-feedback-item {
	border-top: 1px solid #bfc0c0;
	background: #fbfafa;
}


.comment-feedback-item .article-comment-body {
	padding-left: 30px;
	border-left: 14px solid #d83232;
}

.article-comment-form form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.article-comment-form .input-container {
	width: calc(50% - 5px);
	height: 50px;
	border: 1px solid #d5d6d7;
	position: relative;
}

.article-comment-form .input {
	color: #5c5c5c;
	display: flex;
	align-items: center;
	background: #fff;
	font-size: 16px;
	font-weight: 300;
	border: 0;
	width: 100%;
	height: 100%;
	padding-right: 60px;
	padding-left: 20px;
}

.input-container:after {
	display: flex;
	align-items: center;
	justify-content: center;	
	font-family: "FontAwesome";
	text-align: center;
	color: #d83232;
	font-size: 16px;
	width: 60px;
	height: 22px;
	border-left: 1px solid #cecfd0;
	position: absolute;
	right: 0;
	top: calc(50% - 11px);
}
.user-input:after {
	content: '\f2c0';
}
.mail-input:after {
	content: '\f003';
}

.comment-button {
	max-width: 100%;
	width: 100%;
}

.article-comment-form textarea {
	resize: none;
	border: 1px solid #d5d6d7;
	padding: 17px 20px;
	background: #fff;
	font-size: 16px;
	font-weight: 300;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 114px;
	font-family: "ProximaNova", sans-serif;
}


.recommended-container {
	margin-top: 35px;
	border-top: 1px solid #bfc0c0;
}
.recommended-container-title {
	min-height: 85px;
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}

.recommended-container-title i {
	color: #d83232;
	margin-right: 18px;
	margin-bottom: 2px;
}

.recommended-article {
	display: flex;
	width: 100%;
}
.recommended-article:not(:last-child) {
	margin-bottom: 15px;
}
.recommended-article-photo {
	height: 155px;
	width: 205px;
	position: relative;
	overflow: hidden;
}

.recommended-article-photo img {
	position: absolute;
	top: -50%;
	right: -50%;
	bottom: -50%;
	left: -50%;
	margin: auto;
	object-fit: cover;
	min-width: 205px;
	min-height: 155px;
}
.recommended-article-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 14px 23px;
	width: calc(100% - 205px);
}
.recommended-article-title {
	color: #71aaf6;
	font-size: 15px;
	font-weight: 600;
	flex-grow: 0;
	text-transform: uppercase;
}
.recommended-article-text {
	flex-grow: 1;
	font-size: 15px;
	font-weight: 400;
	color: #5c5c5c;
	margin-top: 13px;
}
.recommended-article-status {
	color: #979899;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	flex-grow: 0;
	margin-top: 10px;
	line-height: 1;
}
.recommended-article-status .status-date {
	padding-right: 10px;
	border-right: 1px solid #979899;
}
.recommended-article-status .status-comments {
	padding-left: 10px;
}
.more-recommended-button {
	height: 45px;
	font-weight: 600;
	font-size: 14px;
	color: #d83232;
	margin-top: 15px;
	border: 0;
	text-transform: uppercase;
	display: block;
	width: 100%;
	cursor: pointer;
}




/*Product*/

.product-homescreen {
	background-color: #fdfdfd;
	position: relative;
	padding-top: 108px;
	padding-bottom: 148px;
	min-height: 480px;
}
.product-title-image {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.product-homescreen .container {
	position: relative;
	z-index: 2;
}
.product-title {
	text-transform: uppercase;
	display: inline-flex;
	flex-direction: column;
	max-width: 455px;
}
.product-title > span {
	display: block;
}
.product-title .top {
	font-size: 32px;
	font-weight: 300;
}
.product-title .center {
	font-size: 65px;
	font-weight: 700;
	font-family: "FuturaFuturisC";

}
.product-title .bottom {
	font-weight: 300;
	font-size: 19px;
	text-align: right;
}
.download-button i {
	margin-left: 5px;
}

.product-description-title {
	color: #5c5c5c;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
}
.product-description .text-content-container {
	color: #5c5c5c;
	padding-bottom: 30px;
}
.block-additional-description {
	padding: 30px 0;
	border-top: 1px solid #5c5c5c;
}

.addtional-description-title {
	font-weight: 400;
	font-size: 22px;
	text-transform: uppercase;
}
.addtional-description-title i {
	color: #d83232;
	margin-right: 18px;
}

.addtional-description-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 28px;
}

.additional-description-link {
	color: #71aaf6;
	font-weight: 400;
	font-size: 15px;
}
.additional-description-link:not(:last-child) {
	margin-bottom: 15px;
	line-height: 1;
}

.cases-slider {
	width: 100%;
	padding: 0 30px;
	margin-top: 28px;
}
.case-slide {
	padding: 25px;
}
.case-link {
	max-width: 245px;
	display: block;
}
.case-slide-photo {
	width: 100%;
	height: 155px;
	overflow: hidden;
	position: relative;
}
.case-slide-photo img {
	position: absolute;
	top: -50%;
	bottom: -50%;
	left: -50%;
	right: -50%;
	margin: auto;
	object-fit: cover;
	min-width: 245px;
	min-height: 155px;
}
.case-slide-descr {
	padding: 15px;
}
.case-slide-descr-title {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #71aaf6;
}
.case-slide-descr-text {
	margin-top: 11px;
	font-size: 15px;
	color: #5c5c5c;
}
.cases-slider .slick-prev {
	left: 0;
}
.cases-slider .slick-next {
	right: 0;
}


@media screen and (max-width: 1199px) {
	.slick-prev
	{
		left:-30px
	}
	
	.slick-next
	{
		right:-30px
	}
}

@media screen and (max-width: 1023px) {
	.left-menu
	{
		display:none
	}
	
	.news-slider
	{
		max-width:80%;
		margin-left:auto;
		margin-right:auto
	}
	
	.block-services
	{
		padding-bottom:0
	}
	
	.news-item-text
	{
		font-size:14px
	}
}

@media screen and (max-width: 969px) {
	.service-item:nth-child(-n+4)
	{
		margin-bottom:0
	}
	
	.service-item:not(:nth-child(4n))
	{
		margin-right:0
	}
	
	.service-item:nth-child(-n+6)
	{
		margin-bottom:15px
	}
	
	.service-item:not(:nth-child(3n))
	{
		margin-right:13px
	}
	
	.footer-menu
	{
		position:relative;
		top:-10px
	}
	
	.footer-menu-link:not(:last-child)
	{
		margin-bottom:15px
	}
	
	.block-mkit
	{
		background-size:contain;
		background-position:right -100px center
	}
}

@media screen and (max-width: 859px) {
	.block-content-right .container
	{
		padding-left:400px
	}
	
	.news-slider
	{
		max-width:85%
	}
}

@media screen and (max-width: 767px) {
	.news-item-inner
	{
		width:90%
	}
	
	.news-item-body
	{
		padding:13px 15px
	}
	
	.footer-top .container
	{
		flex-wrap:wrap;
		justify-content:center;
		padding-top:50px;
		padding-bottom:50px
	}
	
	.footer-logo
	{
		width:100%;
		justify-content:center;
		margin-bottom:40px
	}
	
	.footer-logo img
	{
		width:75px;
		height:63px
	}
	
	.footer-menu
	{
		margin-right:40px
	}
	
	.block-title
	{
		padding-top:50px
	}
	
	.service-item:nth-child(-n+6)
	{
		margin-bottom:35px
	}
	
	.service-item:not(:nth-child(3n))
	{
		margin-right:0
	}
	
	.service-item:not(:nth-child(2n))
	{
		margin-right:35px
	}
	
	.block-content-right .container
	{
		padding-left:15px
	}
	
	.block-content-right .block-title
	{
		text-align:center
	}
	
	.block-content-right .text-content-container
	{
		margin-right:auto;
		margin-left:auto
	}
	
	.block-side-bg
	{
		background:none;
		padding-bottom:50px
	}
	
	.block-homescreen
	{
		min-height:auto
	}
	
	.block-news,.block-articles
	{
		padding-bottom:50px
	}
	
	.visible-mobile
	{
		display:flex
	}
	
	.header
	{
		position:relative
	}
	
	.header .container
	{
		position:static
	}
	
	.header-menu nav
	{
		background:#404142;
		position:absolute;
		z-index:-1;
		visibility:hidden;
		opacity:0;
		right:-100%;
		top:100%;
		display:flex;
		flex-direction:column;
		align-items:flex-end;
		padding:30px;
		border-radius:0 0 0 10px;
		text-align:right;
		transition:.5s
	}
	
	.header-menu nav.active
	{
		z-index:999;
		visibility:visible;
		opacity:1;
		transition:.5s;
		right:0
	}
	
	.header-menu-link:not(:last-child)
	{
		margin-right:0;
		margin-bottom:20px
	}
	
	.header-menu-link
	{
		font-size:18px;
	}
	
	.wrapper
	{
		overflow:hidden
	}
}

@media screen and (max-width: 639px) {
	.block-title
	{
		font-size:30px;
		padding-top:40px
	}
	
	.block-side-bg
	{
		padding-bottom:40px
	}
	
	.block-news,.block-articles
	{
		padding-bottom:40px
	}
	
	.homescreen-title::after
	{
		width:455px
	}
}

@media screen and (max-width: 519px) {
	.service-item:nth-child(-n+6)
	{
		margin-bottom:0
	}
	
	.service-item:nth-child(-n+7)
	{
		margin-bottom:30px
	}
	
	.service-item:not(:nth-child(4n))
	{
		margin-right:0
	}
	
	.service-item:not(:nth-child(3n))
	{
		margin-right:0
	}
	
	.service-item:not(:nth-child(2n))
	{
		margin-right:0
	}
	
	.service-item
	{
		margin-left:4%;
		margin-right:4%
	}
	
	.footer-menu
	{
		margin-right:0;
		margin-bottom:40px;
		max-width:100%;
		padding-left:calc((100% - 225px) / 2);
		padding-right:calc((100% - 225px) / 2)
	}
	
	.footer-socials-title,.footer-contacts-title
	{
		text-align:center
	}
	
	.footer-socials-icons
	{
		justify-content:center
	}
	
	.footer-contacts-container
	{
		display:flex;
		flex-direction:column;
		align-items:center
	}
	
	.footer-contact-item
	{
		margin-top:30px;
		display:inline-flex;
		padding-left:35px;
		padding-right:35px
	}
	
	.footer-social-icon:not(:last-child)
	{
		margin-right:30px
	}
	
	.homescreen-title
	{
		max-width:290px
	}
	
	.homescreen-title::after
	{
		width:290px
	}
	
	.title-top
	{
		font-size:20px;
		letter-spacing:.2px
	}
	
	.title-center
	{
		font-size:51px
	}
	
	.title-center:nth-child(2)
	{
		letter-spacing:.85px
	}
	
	.title-bottom
	{
		font-size:16px;
		letter-spacing:.31px
	}
	
	.red-button
	{
		font-size:13px
	}
}

@media screen and (max-width: 479px) {
	.homescreen-buttons
	{
		display:block
	}
	
	.homescreen-buttons .red-button
	{
		margin-left:auto;
		margin-right:auto;
		width:260px
	}
	
	.homescreen-buttons .white-button
	{
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
		width:260px
	}
}

@media screen and (max-width: 359px) {
	.news-slider
	{
		max-width:98%
	}
	
	.slick-prev
	{
		left:-5px
	}
	
	.slick-next
	{
		right:-5px
	}
}