
$main-font: 'Segoe UI';
$title-font: 'Tinos';

$grey: #4c4c4c;
$grey-lighter: #878787;
$blue: #1752a1;
$blue-lighter: #2270b4;
$yellow: #fbcb19;
$orange: #ffa800;
$blue-grey: #3b4b5f;

$duration: 0.3s;

$wrapper-gap-x: 15px;

$text-color: $grey;