.header {
	background-color: #fff;
    position: relative;
    z-index: 100;
}

.header > div:not(:last-child) {
	border-bottom: 1px solid var(--blue-light);
}
.header .header-top {
	position: relative;
	z-index: 3;
}
.header .header-top .wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 48px;
}
.header .header-top .menu-link {
    position: relative;
    font-size: 13px;
    transition: 0.5s;
}
.header .header-top .menu-link:not(:last-child) {
    margin-right: 40px;
}
.header .header-top .menu-link:not(:last-child):after {
    display: block;
    content: '';
    background-color: var(--blue-light);
    width: 2px;
    height: 6px;
    top: calc(50% - 3px);
    right: -21px;
    position: absolute;
}
.header .header-top .menu-link:hover {
    color: var(--blue-light);
}
.header .select-group {
	height: 48px;
	display: flex;
	align-items: center;
	position: relative;
	padding-right: 8px;
    cursor: pointer;
}
.header .select-group-title {
	position: relative;
	padding-left: 24px;
	font-size: 13px;
	color: var(--grey-blue);
	margin-right: 14px;
}
.header .select-group-title:before {
	display: block;
	position: absolute;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    pointer-events: none;
}
.header .select-group.countries .select-group-title:before {
	content: '';
	background-image: url('../img/icon-marker-greyblue.png');
    width: 15px;
    height: 21px;
    top: calc(50% - 10.5px);
}
.header .select-group.currency .select-group-title:before {
	content: '';
	background-image: url('../img/icon-currency-greyblue.png');
    width: 12px;
    height: 17px;
    top: calc(50% - 8.5px);
}
.header .select-group.games .select-group-title:before {
    content: '';
    background-image: url('../img/icon-token-greyblue.png');
    width: 17px;
    height: 17px;
    top: calc(50% - 8.5px);
}
.header .select-group.lang {
    padding-left: 16px;
    margin-right: 11px;
}
.header .select-group.lang .select-group-chosen {
    color: #000;
    font-size: 15px;
}
.header .select-group.lang .select-group-chosen:before {
    display: block;
    content: '';
    position: absolute;
    left: -16px;
    width: 1px;
    background-color: var(--blue-light);
    top: -1px;
    bottom: -3px;
}
.header .select-group.lang .select-group-chosen:after {
    border-color: #000 transparent transparent;
}
.header .select-group.lang .select-group-dropdown {
    left: initial;
}
.header .select-group.lang .select-group-dropdown-inner {
    padding-left: 14px;
    padding-right: 28px;
}
.header .select-group.lang .select-group-link {
    /*font-size: 20px;*/
    font-size: 13px;
}

.header .header-top .right-column {
    display: flex;
    align-items: center;
}
.header .account {
    background-color: var(--blue-light);
    padding-left: 40px;
    padding-right: 15px;
    color: #fff;
    height: 100%;
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.header .account:before {
    display: block;
    content: '';
    background: url('../img/icon-access-white.png') center no-repeat;
    background-size: contain;
    left: 14px;
    top: calc(50% - 8px);
    width: 19px;
    height: 16px;
    position: absolute;
    background-size: contain;
}
.header .account:hover {
    background-color: var(--blue);
    box-shadow: 0 18px 9px -11px rgba(36,171,234,.35);
    transition: 0.5s;
}
.header .select-group-chosen {
	color: var(--blue-light);
	font-size: 13px;
    font-weight: 400;
	padding-right: 12px;
	position: relative;
}
.header .select-group-chosen:after {
	position: absolute;
	right: 0;
	top: calc(50% - 1px);
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 2.5px 0 2.5px;
	border-color: var(--blue-light) transparent transparent;
}
.header .select-group-dropdown {
    display: none;
	position: absolute;
    font-weight: 300;
	top: 100%;
	left: 0;
	right: 0;
    border: 1px solid var(--grey);
    background-color: #fff;
    z-index: 10;
    -webkit-box-shadow: 0px 6px 15px 6px rgba(20,20,20,0.15);
    -moz-box-shadow: 0px 6px 15px 6px rgba(20,20,20,0.15);
    box-shadow: 0px 6px 15px 6px rgba(20,20,20,0.15);
}
.header .select-group-dropdown:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5.5px 10px 5.5px;
    border-color: transparent transparent var(--grey) transparent;
    position: absolute;
    top: -10px;
    right: 6px;
}
.header .select-group-dropdown:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 4.5px 9px 4.5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -9px;
    right: 7px;
}
.header .select-group-dropdown-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*padding: 16px 30px;*/
    padding: 12px 14px;
    position: relative;
    z-index: 1;
}
.header .select-group-dropdown-inner:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 5px 3px;
    border-color: transparent transparent var(--grey-blue) transparent;
    position: absolute;
    right: 9px;
    bottom: 29px;
    z-index: 2;
    pointer-events: none;
}
.header .select-group-dropdown-inner:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: var(--grey-blue) transparent transparent transparent;
    position: absolute;
    right: 9px;
    bottom: 16px;
    z-index: 2;
    pointer-events: none;
}
.header .select-group:hover .select-group-dropdown {
	display: block;
}
.header .select-group-link {
	font-size: 13px;
	/*font-weight: 600;*/
	color: var(--grey-blue);
	line-height: 1;
}
.header .select-group-link:hover {
	color: var(--blue-light);
}
.header .select-group-link:not(:last-child) {
	/*margin-bottom: 16px;*/
    margin-bottom: 12px;
}


.header .header-center {
	padding-top: 17px;
	/*padding-bottom: 25px;*/
	z-index: 2;
}
.header .header-center .wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.header .header-center .left-column {
	display: flex;
    flex-shrink: 0;
}
.header .logo-group {
    padding-top: 4px;
	flex-shrink: 0;
	margin-right: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header .logo-img {
    max-width: 330px;
}
.header .logo-text {
	font-size: 15px;
	margin-top: 8px;
	line-height: normal;
}
.header .header-center .right-column {
	display: flex;
	align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 759px;
}

.header .phone-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 11px;
    /*padding-top: 10px;*/
}
.header .phone-title {
    font-size: 15px;
}
.header .phone-descr {
    color: var(--grey-blue);
    margin-top: 3px;
}
.header .phone-number {
    color: var(--blue-light);
    font-size: 22px;
    margin-top: 3px;
    transition: 0.5s;
}
.header .phone-number:hover {
    transition: 0.5s;
    color: var(--blue);
}
.header .header-center .links {
    display: flex;
    padding-top: 13px;
    padding-right: 8px;
    margin-left: auto;
}
.header .header-center .column-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}
.header .header-center .column-group:not(:last-child) {
	margin-right: 40px;
}
.header .header-center .column-group:not(:last-child):after {
	display: block;
	content: '';
	top: 7px;
	bottom: 4px;
	width: 1px;
	background-color: var(--blue-light);
	position: absolute;
	right: -24px;
}
.header .column-menu-link {
	padding-left: 32px;
	font-size: 13px;
	line-height: 18px;
	color: var(--blue-light);
	position: relative;
	display: flex;
	align-items: center;
    transition: 0.5s;
}
.header .column-menu-link:before {
	display: block;
	content: '';
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
    background-size: contain;
}
.header .column-menu-link.flights:before {
	background-image: url('../img/icon-plane-bluelight.png');
    width: 19px;
    height: 18px;
}
.header .column-menu-link.residence:before {
	background-image: url('../img/icon-house-bluelight.png');
    width: 19px;
    height: 17px;
}
.header .column-menu-link.booking:before {
	background-image: url('../img/icon-calendar-bluelight.png');
    width: 16px;
    height: 16px;
}
.header .column-menu-link.faq:before {
	background-image: url('../img/icon-headset-bluelight.png');
    width: 15px;
    height: 16px;
}
.header .column-menu-link:not(:last-child) {
    margin-bottom: 18px;
}
.header .column-menu-link:hover {
    transition: 0.5s;
    color: var(--blue);
}
.header .events-slider {
    display: flex;
    /*width: 100%;*/
    flex-grow: 0;
    border: 1px solid var(--blue-light);
    border-bottom: 0;
    min-height: 36px;
    margin-top: 16px;
    margin-left: auto;
}
.header .events-slider .slider-title {
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
    color: var(--blue-light);
    border-right: 1px solid var(--blue-light);
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 35px;
    min-width: 130px;
}
.header .events-slider .slider-buttons {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-end;
    align-items: stretch;
    margin-left: auto;
}
.header .events-slider .slider-items {
    flex-grow: 1;
    width: 558px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 35px;
    font-weight: 400;
    color: var(--grey-blue);
    display: block;
    font-size: 13px;
    overflow: hidden;
}
.header .events-slider .slide-item {
    font-size: 13px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex !important;
}
.header .events-slider .slide-item:not(:first-child) {
    /*opacity: 0;*/
    display: none !important;
}
.header .events-slider .slide-item * {

}
.header .events-slider .slide-item a {
    text-decoration: underline;
    color: var(--blue-light);
    transition: 0.5s;
    margin-left: 6px;
}
.header .events-slider .slide-item a:hover {
    transition: 0.5s;
    color: var(--blue);
}
.header .events-slider .slider-btn {
    width: 35px;
    height: 35px;
    border: 0;
    border-left: 1px solid var(--blue-light);
    background-color: transparent;
    background-size: 6px 9px;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.header .events-slider .slider-btn.prev-slide {
    background-image: url('../img/icon-left-blue.png');
}
.header .events-slider .slider-btn.next-slide {
    background-image: url('../img/icon-right-blue.png');
}




.header .header-bottom {
	/*padding-top: 21px;*/
	/*padding-bottom: 21px;*/
	/*min-height: 60px;*/
	z-index: 1;
}
.header .header-bottom .wrap {
	display: flex;
	align-items: center;
    justify-content: space-between;
}
.header .header-bottom.inner-page-menu .home-link {
    width: 25px;
    height: 25px;
    background: transparent url('../img/icon-home-bluelight.png') center no-repeat;
    background-size: contain;
    margin-right: 30px;
    flex-shrink: 0;
    display: block;
    order: 1;
}
.header .burger-content {
	margin-right: 30px;
	display: flex;
	align-items: center;
    height: 60px;
    position: relative;
}
.header .header-bottom.inner-page-menu .burger-content {
    order: 3;
    margin-right: 0;
    margin-left: 30px;
}

.header .burger-content .menu-burger {
	background-color: transparent;
	border: 0;
    position: relative;
    z-index: 1;
    height: 22px;
    width: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .burger-content .menu-burger:before {
    display: block;
    content: '';
    left: -32px;
    top: -19px;
    bottom: -19px;
    right: -32px;
    background-color: #fff;
    transition: box-shadow 0.5s;
    position: absolute;
    z-index: 1;
}
.header .burger-content.active .menu-burger:before {
    box-shadow: 6px 10px 19px rgba(20,20,20,0.19);
    transition: box-shadow 0.5s;
}
.header .burger-content .menu-burger span {
	width: 21px;
	height: 2px;
	display: block;
	background-color: var(--blue-light);
    position: relative;
    z-index: 2;
    transition: 0.5s;
}
.header .burger-content .menu-burger:hover span {
    transition: 0.5s;
    background-color: var(--blue);
}
.header .burger-content.active .menu-burger span:nth-child(2) {
    opacity: 1;
    /*transition: opacity 0.5s;*/
}
.header .burger-content.active .menu-burger span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: center bottom;
    transition: transform 0.5s;
}
.header .burger-content.active .menu-burger span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.5s;
}
.header .burger-content.active .menu-burger span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: center top;
    transition: transform 0.5s;
}
.header .burger-content .menu-burger span:not(:last-child) {
	margin-bottom: 3px;
}
.header .burger-content.active .menu-burger span:not(:last-child) {
    margin-bottom: -1.5px;
}
.header .burger-content .burger-dropdown {
    /*display: none;*/
    position: absolute;
    top: 100%;
    left: -32px;
    background-color: #fff;
    box-shadow: 6px 10px 19px rgba(20,20,20,0.19);
    z-index: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.header .header-bottom.inner-page-menu .burger-dropdown {
    left: initial;
    right: -32px;
}
.header .burger-content.active .burger-dropdown {
    /*display: block;*/
    max-height: 1000px;
    transition: max-height 0.5s, padding 0.5s;
    padding-top: 22px;
    padding-bottom: 22px;
}
.header .burger-content .burger-menu-link {
    font-size: 15px;
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    line-height: 30px;
    transition: background-color 0.5s;
    white-space: nowrap;
    transition: 0.5s;
}
.header .burger-content .burger-menu-link:hover {
    background-color: #f7f7f7;
    color: var(--blue-light);
    transition: background-color 0.5s;
}
.header .header-bottom.inner-page-menu .burger-menu-link {
    text-align: right;
}
.header .menu {
	display: flex;
	align-items: center;
}
.header .header-bottom.inner-page-menu .menu {
    order: 2;
}
.header .header-bottom .menu-link {
	position: relative;
	font-size: 15px;
    white-space: nowrap;
    transition: 0.5s;
}
.header .header-bottom .menu-link:hover {
    transition: 0.5s;
    color: var(--blue-light);
}
.header .header-bottom .menu-link:not(:last-child) {
	margin-right: 40.75px;
}
.header .header-bottom.inner-page-menu .menu-link:not(:last-child) {
    margin-right: 35px;
}
.header .header-bottom .menu-link:not(:last-child):after {
	display: block;
	content: '';
	background-color: var(--blue-light);
	width: 2px;
	height: 6px;
	top: calc(50% - 2px);
	right: -22px;
	position: absolute;
}
.header .header-bottom.inner-page-menu .menu-link:not(:last-child):after {
    right: -18px;
}

.breadcrumbs {
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 52px;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
}
.breadcrumbs:first-child {
    border-top: 1px solid var(--blue-light);
}
.breadcrumbs .parent-link {
	color: var(--grey-dark);
}
.breadcrumbs .current-page {
	color: var(--blue);
}


/*@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
    .header .menu-link,
    .header .select-group-title,
    .header .select-group-chosen,
    .header .select-group-link,
    .header .select-group.lang .select-group-link,
    .header .phone-title,
    .header .column-menu-link,
    .breadcrumbs {
        font-size: 12px;
    }
    .header .header-top .wrap {
        min-height: 50px;
    }
    .header .phone-group {
        padding-top: 0;
    }
    .header .header-center .column-group {
        align-items: flex-end;
    }
    .header .header-center .column-group:not(:last-child) {
        margin-right: 0;
    }
    .header .menu-link:not(:last-child) {
        margin-right: 20px;
    }
    .header .burger-content {
        margin-right: 40px;
    }
    .header .select-group {
        height: 50px;
    }
    .header .header-bottom {
        padding: 15px 0;
    }
    .header .header-center {
        padding: 15px 0;
    }
    .header .header-center .wrap {
        flex-wrap: wrap;
    }
    .header .logo-group {
        margin-right: 0;
    }
    .header .header-center .left-column,
    .header .header-center .right-column {
        width: 100%;
    }
    .header .header-center .left-column {
        justify-content: space-between;
    }
    .header .header-center .right-column {
        margin-top: 10px;
        padding-top: 0;
    }
    .header .header-center .column-group {
        flex-direction: row;
        align-items: center;
        width: 50%;
        justify-content: space-around;
    }
}*/
/*@media screen and (max-width: 880px) {
    .header.desktop {
        display: none;
    }
}
*/

/*Мобильный хедер*/
    /*body.menu-open {
        overflow: hidden;
        height: 100vh;
    }
    .header-mobile {
        display: none;
    }
    .header-mobile .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-mobile .burger-content {
        position: absolute;
        left: 0;
        right: 0;
        top: -120vh;
        pointer-events: none;
        transition: 0.5s;
        height: 100vh;
        z-index: 9999;
        margin: 0;
        display: flex;
        flex-direction: column;

        background-color: #fff;
    }
    .header-mobile.open .burger-content {
        top: 0;
        transition: 0.5s;
        pointer-events: auto;
    }
    .header-mobile .selectors {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 50px;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        border-bottom: 1px solid var(--blue-light);
    }
    .header-mobile .select-group {
        height: auto;

    }
    .header-mobile .column-menu-links {
        padding: 20px 50px;
        border-bottom: 1px solid var(--blue-light);
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .header-mobile .menu {
        flex-grow: 1;
        flex-shrink: 1;

        width: 100%;
        position: relative;
    }
    .header-mobile .menu-inner {
        padding: 20px 50px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .header-mobile .phone-group {
        padding: 20px 50px;
        border-top: 1px solid var(--blue-light);
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .header-mobile .menu-link:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .header-mobile .menu-close {
        position: absolute;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 8px;
        top: 5px;
        background-color: transparent;
        border: 0;
        font-weight: 100;
        font-size: 50px;
        c*/olor: var(--blue-light);
    }

    /*@media screen and (max-width: 880px) {
        .header-mobile {
            display: block;
        }
    }
    @media screen and (max-width: 480px) {
        .header-mobile .selectors {
            justify-content: center;
        }
        .header-mobile .countries {
            margin-right: 20px;
        }
        .header .select-group-title,
        .header .select-group-content {
            padding-left: 27px;
        }
        .header .select-group-dropdown {
            min-width: 150px;
            left: initial;
        }
        .header .select-group-dropdown-inner {
            padding: 15px;
        }

        .header-mobile .selectors,
        .header-mobile .column-menu-links,
        .header-mobile .menu-inner,
        .header-mobile .phone-group {
            padding: 15px 30px;
        }
        .header-mobile .column-menu-links {
            padding-left: 20px;
        }
        .header-mobile .select-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 0;
        }
    }*/
/*Мобильный хедер*/









