/*Начальный блок новостей*/
    .block-main-short-news {
        margin-top: 50px;
    }

    /*block head*/
        .block-main-short-news .main-short-news-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        .block-main-short-news .main-short-news-head .left-column {
            display: flex;
            align-items: center;
        }

        .block-main-short-news .news-type-selectors {
            display: flex;
            align-items: center;
            margin-left: 45px;
        }
        .block-main-short-news .news-type-link {
            padding-left: 30px;
            position: relative;
            font-size: 13px;
            line-height: 26px;
            color: var(--blue-light);
            text-decoration: underline;
            cursor: pointer;
            transition: 0.5s;
        }
        .block-main-short-news .news-type-link.poker-club {
            padding-left: 25px;
        }
        .block-main-short-news .news-type-link.active {
            color: #bcbdc1;
            cursor: default;
        }
        .block-main-short-news .news-type-link:not(.active):hover {
            transition: 0.5s;
            color: var(--blue);
        }
        .block-main-short-news .news-type-link:before {
            display: block;
            content: '';
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            left: 0;
            top: calc(50% - 10px);
            position: absolute;
        }
        .block-main-short-news .news-type-link:not(:last-child) {
            margin-right: 28px;
        }
        .block-main-short-news .news-type-link.casino:before {
            width: 20px;
            height: 20px;
            background-image: url('../img/icon-token-blue.png');
        }
        .block-main-short-news .casino.active:before {
            background-image: url('../img/icon-token-grey.png');
        }
        .block-main-short-news .news-type-link.poker:before {
            width: 16px;
            height: 20px;
            background-image: url('../img/icon-card-blue.png');
        }
        .block-main-short-news .poker.active:before {
            background-image: url('../img/icon-card-grey.png');
        }
        .block-main-short-news .news-type-link.bets:before {
            width: 20px;
            height: 20px;
            background-image: url('../img/icon-ball-blue.png');
        }
        .block-main-short-news .bets.active:before {
            background-image: url('../img/icon-ball-grey.png');
        }
        .block-main-short-news .news-type-link.actions:before {
            width: 22px;
            height: 20px;
            background-image: url('../img/icon-action-blue.png');
        }
        .block-main-short-news .actions.active:before {
            background-image: url('../img/icon-action-grey.png');
        }
        .block-main-short-news .news-type-link.lottery:before {
            width: 19px;
            height: 20px;
            background-image: url('../img/icon-cup-blue.png');
            top: calc(50% - 11px);
        }
        .block-main-short-news .lottery.active:before {
            background-image: url('../img/icon-cup-grey.png');
        }
        .block-main-short-news .news-type-link.calendar:before {
            width: 21px;
            height: 22px;
            background-image: url('../img/icon-calendar-fill-blue.png');
            top: calc(50% - 11px);
        }
        .block-main-short-news .calendar.active:before {
            background-image: url('../img/icon-calendar-fill-grey.png');
        }

        .block-main-short-news .socials {
            display: flex;
            align-items: center;
        }
        .block-main-short-news .social {
            display: block;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #fff;
            background-size: cover;
            transition: 0.5s;
        }
        .block-main-short-news .social:hover {
            opacity: 0.5;
            transition: 0.5s;
        }
        .block-main-short-news .social:not(:last-child) {
            margin-right: 10px;
        }
        .block-main-short-news .social.fb {
            background-image: url('../img/social-fb-bluelight.png');
        }
        .block-main-short-news .social.insta {
            background-image: url('../img/social-insta-bluelight.png');
        }
        .block-main-short-news .social.telegram {
            background-image: url('../img/social-telegram-bluelight.png');
        }
        .block-main-short-news .social.twitter {
            background-image: url('../img/social-twitter-bluelight.png');
        }
        .block-main-short-news .social.vk {
            background-image: url('../img/social-vk-bluelight.png');
        }
        .block-main-short-news .social.youtube {
            background-image: url('../img/social-youtube-bluelight.png');
        }
    /*block head*/


    .block-main-short-news .main-short-news-body {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .block-main-short-news .main-news-tabs {
        margin-top: 30px;
        width: 100%;
    }
    .block-main-short-news .news-type-tab {
        display: none;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .block-main-short-news .news-type-tab.active {
        display: flex;

    }



    /*Article photos slider*/
        .block-main-short-news .main-article-slider {
            width: 370px;
        }
        .block-main-short-news .main-article-slider .photo {
            position: relative;
        }
        .block-main-short-news .main-article-slider .slide {
            display: block !important;
        }
        .block-main-short-news .main-article-slider .info {
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        .block-main-short-news .main-article-slider .title {
            width: 100%;
            line-height: normal;
            font-size: 13px;
        }
        .block-main-short-news .main-article-slider .date {
            font-size: 12px;
            line-height: normal;
            color: var(--grey);
            font-weight: 400;
        }
        .block-main-short-news .main-article-slider .button {
            color: var(--blue-light);
            border-color: var(--blue-light);
            transition: 0.5s;
        }
        .block-main-short-news .main-article-slider .button:hover {
            transition: 0.5s;
            border-color: var(--blue);
            color: var(--blue);
        }

        /*Slider controls*/
            .block-main-short-news .main-article-slider .slider-controls {
                left: 0;
                right: 0;
                position: absolute;
                bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
            }
            .block-main-short-news .main-article-slider .prev {
                font-size: 0;
                color: transparent;
                background-color: transparent;
                background-image: url('../img/arrow-right-white.png');
                border: 0;
                background-size: 7px 12px;
                background-position: center;
                background-repeat: no-repeat;
                width: 7px;
                height: 12px;
                z-index: 10;
                cursor: pointer;
                transform: rotate(-180deg);
                order: 1;
                margin-right: 16px;
            }
            .block-main-short-news .main-article-slider .next {
                font-size: 0;
                color: transparent;
                background-color: transparent;
                background-image: url('../img/arrow-right-white.png');
                border: 0;
                background-size: 7px 12px;
                background-position: center;
                background-repeat: no-repeat;
                width: 7px;
                height: 12px;
                z-index: 10;
                cursor: pointer;
                order: 3;
                margin-left: 16px;
            }
            .block-main-short-news .main-article-slider .next-arrow {
                order: 3;
            }
            .block-main-short-news .main-article-slider .slick-dots {
                list-style-type: none;
                list-style: none;
                display: flex;
                order: 2;
            }
            .block-main-short-news .main-article-slider .slick-dots li {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .block-main-short-news .main-article-slider .slick-dots li:not(:last-child) {
                margin-right: 17px;
            }
            .block-main-short-news .main-article-slider .slick-dots button {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                border: 2px solid #fff;
                background-color: transparent;
                font-size: 0;
                color: transparent;
            }
            .block-main-short-news .main-article-slider .slick-dots .slick-active button {
                /*border-width: 3px;*/
                background-color: #fff;
            }
        /*Slider controls*/

    /*Article photos slider*/



    .block-main-short-news .main-short-news {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 760px;
    }
    .block-main-short-news .short-news-item {
        display: flex;
        padding-right: 42px;
        width: calc(50% - 10px);
        align-items: center;
        text-align: left;
        position: relative;
    }
    .block-main-short-news .short-news-item:not(:last-child):after {
        display: block;
        content: '';
        left: 98px;
        right: 0;
        height: 1px;
        background-color: #dcdcdc;
        bottom: -16px;
        position: absolute;
    }
    .block-main-short-news .short-news-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .block-main-short-news .short-news-item:nth-child(7) {
        margin-bottom: 0;
    }
    .block-main-short-news .short-news-item:nth-child(7):after {
        content: none;
    }
    .block-main-short-news .short-news-item .photo {
        width: 78px;
        height: 54px;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .block-main-short-news .short-news-item .title {
        font-size: 13px;
        line-height: 1;
    }
    .block-main-short-news .short-news-item .date {
        font-size: 12px;
        line-height: normal;
        color: var(--grey);
        margin-top: 5px;
    }
    .block-main-short-news .short-news-item .comments {
        background-color: var(--blue-light);
        position: absolute;
        top: calc(50% - 11px);
        left: calc(100% - 42px);
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: #fff;
        font-size: 11px;
    }
    .block-main-short-news .short-news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent var(--blue-light);
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }
/*Начальный блок новостей*/



/*Блок календарь событий*/
    .block-events-calendar {
        margin-top: 50px;
    }
    .block-events-calendar .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .block-events-calendar .block-title {
        width: 100%;
        margin-bottom: 30px;
    }
    .block-events-calendar .calendar-column {
        width: 910px;
    }
    .block-events-calendar .calendar-items {
        /*margin-top: 30px;*/
        display: flex;
    }
    .block-events-calendar .primary-news {
        width: 370px;
        margin-right: 20px;
    }
    .block-events-calendar .secondary-news {
        width: 520px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 165px 165px;
    }

    /*Slider controls*/
        .block-events-calendar .slider-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
        }
        .block-events-calendar .prev {
            font-size: 0;
            color: transparent;
            background-color: transparent;
            background-image: url('../img/arrow-right-blue.png');
            border: 0;
            background-size: 7px 12px;
            background-position: center;
            background-repeat: no-repeat;
            width: 7px;
            height: 12px;
            z-index: 10;
            cursor: pointer;
            transform: rotate(-180deg);
            order: 1;
            margin-right: 16px;
        }
        .block-events-calendar .next {
            font-size: 0;
            color: transparent;
            background-color: transparent;
            background-image: url('../img/arrow-right-blue.png');
            border: 0;
            background-size: 7px 12px;
            background-position: center;
            background-repeat: no-repeat;
            width: 7px;
            height: 12px;
            z-index: 10;
            cursor: pointer;
            order: 2;
            margin-left: 16px;
        }
        .block-events-calendar .next-arrow {
            order: 3;
        }
        .block-events-calendar .slick-dots {
            list-style-type: none;
            list-style: none;
            display: flex;
            order: 2;
        }
        .block-events-calendar .slick-dots li {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .block-events-calendar .slick-dots li:not(:last-child) {
            margin-right: 17px;
        }
        .block-events-calendar .slick-dots button {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 2px solid var(--blue);
            background-color: transparent;
            font-size: 0;
            color: transparent;
        }
        .block-events-calendar .slick-dots .slick-active button {
            background-color: var(--blue);
        }
    /*Slider controls*/

    .block-events-calendar .calendar-item {
        padding: 25px 20px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        color: #fff;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: left;
    }
    .block-events-calendar .primary-news .calendar-item {
        height: 320px;
    }
    .block-events-calendar .secondary-news .calendar-item {
        /*height: 220px;*/
        padding: 20px 20px;
    }

    .block-events-calendar .calendar-item .title {
        font-size: 24px;
        line-height: normal;
    }
    .block-events-calendar .secondary-news .calendar-item .title {
        font-size: 16px;
    }
    .block-events-calendar .calendar-item .date {
        font-size: 12px;
        line-height: 1;
        margin-top: 10px;
    }
    .block-events-calendar .calendar-item .comments {
        background-color: #fff;
        position: absolute;
        bottom: 25px;
        right: 20px;
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: var(--blue);
        font-size: 11px;
        min-width: 22px;
        text-align: center;
    }
    .block-events-calendar .secondary-news .calendar-item .comments {
        bottom: 20px;
    }
    .block-events-calendar .calendar-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }


    .block-events-calendar .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: var(--blue) url('../img/video-banner.jpg') center no-repeat;
        background-size: cover;
        min-height: 66px;
        margin-top: 20px;
    }
    .block-events-calendar .banner .title {
        text-transform: uppercase;
        font-size: 18px;
        margin-right: 56px;
    }

    .block-events-calendar .aside-column .game-banner.full {
        min-height: 436px;
    }
/*Блок календарь событий*/



/*Блок три категории новостей*/
    .block-three-news-categories {
        margin-top: 50px;
    }
    .block-three-news-categories .wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }
    .block-three-news-categories .news-category-column {
        grid-row: 1;
    }
    .block-three-news-categories .casino-row {
        grid-row: 2;
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-auto-rows: minmax(250px, 1fr);
    }
    .block-three-news-categories .casino-item {
        display: flex;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .block-three-news-categories .casino-item-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        padding: 60px 0;
    }
    .block-three-news-categories .casino-item .title {
        font-size: 26px;
        line-height: 1;
    }

    .block-three-news-categories .casino-item .descr {
        font-size: 13px;
        margin-top: 10px;
    }
    .block-three-news-categories .casino-item .button {
        margin-top: auto;
    }

    .block-three-news-categories .column-content {
        margin-top: 30px;
    }
    .block-three-news-categories .news-item {
        height: 250px;
        padding: 25px 20px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        color: #fff;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: left;
    }
    .block-three-news-categories .news-item .title {
        font-size: 24px;
        line-height: normal;
    }
    .block-three-news-categories .news-item .date {
        font-size: 12px;
        line-height: 1;
        margin-top: 10px;
    }
    .block-three-news-categories .news-item .comments {
        background-color: #fff;
        position: absolute;
        bottom: 25px;
        right: 20px;
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: var(--blue);
        font-size: 11px;
        min-width: 22px;
        text-align: center;
    }
    .block-three-news-categories .news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }
    /*.block-three-news-categories .news-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
        z-index: 1;
        pointer-events: none;
    }*/
    .block-three-news-categories .short-news {
        margin-top: 30px;
    }
    .block-three-news-categories .short-news-item {
        display: flex;
        padding-right: 42px;
        width: 100%;
        align-items: center;
        text-align: left;
        position: relative;
    }
    .block-three-news-categories .short-news-item:not(:last-child):after {
        display: block;
        content: '';
        left: 98px;
        right: 0;
        height: 1px;
        background-color: #dcdcdc;
        bottom: -16px;
        position: absolute;
    }
    .block-three-news-categories .short-news-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .block-three-news-categories .short-news-item .photo {
        width: 78px;
        height: 54px;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .block-three-news-categories .short-news-item .title {
        font-size: 13px;
        line-height: 1;
    }
    .block-three-news-categories .short-news-item .date {
        font-size: 12px;
        line-height: normal;
        color: var(--grey);
        margin-top: 5px;
    }
    .block-three-news-categories .short-news-item .comments {
        background-color: var(--blue-light);
        position: absolute;
        top: calc(50% - 11px);
        left: calc(100% - 42px);
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: #fff;
        font-size: 11px;
    }
    .block-three-news-categories .short-news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent var(--blue-light);
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }
/*Блок три категории новостей*/



/*Блок новости о ставках на спорт*/
    .block-sport-bets-news {
        margin-top: 50px;
    }
    .block-sport-bets-news .sport-bets-news {
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .block-sport-bets-news .primary-news {
        width: 580px;
    }
    .block-sport-bets-news .news-item {
        padding: 25px 20px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        color: #fff;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: left;
    }
    .block-sport-bets-news .primary-news .news-item {
        height: 430px;
    }
    .block-sport-bets-news .secondary-news .news-item {
        height: 220px;
        padding: 20px 20px;
    }

    .block-sport-bets-news .news-item .title {
        font-size: 24px;
        line-height: normal;
    }
    .block-sport-bets-news .secondary-news .news-item .title {
        font-size: 16px;
    }
    .block-sport-bets-news .news-item .date {
        font-size: 12px;
        line-height: 1;
        margin-top: 10px;
    }
    .block-sport-bets-news .news-item .comments {
        background-color: #fff;
        position: absolute;
        bottom: 25px;
        right: 20px;
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: var(--blue);
        font-size: 11px;
        min-width: 22px;
        text-align: center;
    }
    .block-sport-bets-news .secondary-news .news-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .block-sport-bets-news .secondary-news .news-item .comments {
        bottom: 20px;
    }
    .block-sport-bets-news .news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }

    /*Slider controls*/
        .block-sport-bets-news .slider-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
        }
        .block-sport-bets-news .prev {
            font-size: 0;
            color: transparent;
            background-color: transparent;
            background-image: url('../img/arrow-right-blue.png');
            border: 0;
            background-size: 7px 12px;
            background-position: center;
            background-repeat: no-repeat;
            width: 7px;
            height: 12px;
            z-index: 10;
            cursor: pointer;
            transform: rotate(-180deg);
            order: 1;
            margin-right: 16px;
        }
        .block-sport-bets-news .next {
            font-size: 0;
            color: transparent;
            background-color: transparent;
            background-image: url('../img/arrow-right-blue.png');
            border: 0;
            background-size: 7px 12px;
            background-position: center;
            background-repeat: no-repeat;
            width: 7px;
            height: 12px;
            z-index: 10;
            cursor: pointer;
            order: 2;
            margin-left: 16px;
        }
        .block-sport-bets-news .next-arrow {
            order: 3;
        }
        .block-sport-bets-news .slick-dots {
            list-style-type: none;
            list-style: none;
            display: flex;
            order: 2;
        }
        .block-sport-bets-news .slick-dots li {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .block-sport-bets-news .slick-dots li:not(:last-child) {
            margin-right: 17px;
        }
        .block-sport-bets-news .slick-dots button {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 2px solid var(--blue);
            background-color: transparent;
            font-size: 0;
            color: transparent;
        }
        .block-sport-bets-news .slick-dots .slick-active button {
            background-color: var(--blue);
        }
    /*Slider controls*/

    .block-sport-bets-news .secondary-news {
        width: 270px;
    }
    .block-sport-bets-news .short-news {
        width: 270px;
        padding-right: 10px;
        border-right: 2px solid #dcdcdc;
    }
    .block-sport-bets-news .short-news-item {
        display: flex;
        padding-right: 42px;
        width: 100%;
        align-items: center;
        text-align: left;
        position: relative;
    }
    .block-sport-bets-news .short-news-item:not(:last-child) {
        margin-bottom: 31px;
    }
    .block-sport-bets-news .short-news-item:not(:last-child):after {
        display: block;
        content: '';
        left: 0;
        right: 0;
        height: 1px;
        background-color: #dcdcdc;
        bottom: -16px;
        position: absolute;
    }
    .block-sport-bets-news .short-news-item .title {
        font-size: 13px;
        line-height: 1;
    }
    .block-sport-bets-news .short-news-item .date {
        font-size: 12px;
        line-height: normal;
        color: var(--grey);
        margin-top: 10px;
    }
    .block-sport-bets-news .short-news-item .comments {
        background-color: var(--blue-light);
        position: absolute;
        top: calc(50% - 11px);
        left: calc(100% - 42px);
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: #fff;
        font-size: 11px;
    }
    .block-sport-bets-news .short-news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent var(--blue-light);
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }

    /*Блок новостей в событиях*/
    
/*Блок новости о ставках на спорт*/



/*Блок популярные видео*/
    .block-popular-videos {
        margin-top: 50px;
    }
    .block-popular-videos .popular-videos {
        width: 100%;
        margin-top: 30px;
    }
    .block-popular-videos .popular-videos .slide {
        display: grid !important;
        grid-template-rows: 120px 120px;
        grid-template-columns: 370px repeat(4, 1fr);
        grid-gap: 20px;
    }
    .block-popular-videos .slick-prev {
        right: 66px;
    }
    .block-popular-videos .slick-next {
        right: 0px;
    }

    /*popular video item*/
        .popular-video-item {
            width: 100%;
            position: relative;
            display: block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: var(--grey-light);
            min-height: 120px;
        }
        .popular-video-item:nth-child(1) {
            grid-row: 1/3;
        }
        .popular-video-item .item-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            z-index: 1;
            opacity: 0;
            transition: 0.5s;
        }
        .popular-video-item:hover .item-bg {
            transition: 0.5s;
            opacity: 0.55;
            cursor: pointer;
        }
       .popular-video-item .item-open {
            border: 0;
            background: transparent url('../img/button-play.png') center no-repeat;
            background-size: cover;
            width: 17px;
            height: 19px;
            position: absolute;
            left: -50%;
            right: -50%;
            top: -50%;
            bottom: -50%;
            margin: auto;
            z-index: 2;
            cursor: pointer;
            transition: 0.5s;
        }
        .popular-video-item .item-open:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    /*popular video item*/


    .block-popular-videos .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: var(--blue) url('../img/video-banner.jpg') center no-repeat;
        background-size: cover;
        min-height: 66px;
        margin-top: 20px;
    }
    .block-popular-videos .banner .title {
        text-transform: uppercase;
        font-size: 18px;
        margin-right: 56px;
    }

/*Блок популярные видео*/


/*Блок акции*/
   .block-actions {
        margin-top: 50px;
    }
    .block-actions .actions-outer {
        margin-top: 30px;
        width: 100%;
        position: relative;
    }
    .block-actions .actions-outer:before,
    .block-actions .actions-outer:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        background-color: #fff;
        top: 0;
        bottom: 0;
        width: 8px;
        pointer-events: none;
    }
    .block-actions .actions-outer:before {
        left: -10px;
    }
    .block-actions .actions-outer:after {
        right: -10px;
    }
    .block-actions .actions {
        width: calc(100% + 20px);
        margin-left: -10px;
        position: relative;
        z-index: 1;
    }
    .block-actions .actions .slide {
        padding: 0 10px;
        display: block !important;
    }
    .block-actions .actions .slick-slide > div {
        display: flex;
    }
    .block-actions .actions .slick-slide > div:nth-child(2) {
        margin-top: 20px;
    }
    .block-actions .slick-prev {
        right: 76px;
    }
    .block-actions .slick-next {
        right: 10px;
    }

    /*action item*/
        .action-item {
            width: 100%;
            position: relative;
            display: block;
        }
        .action-item .photo {
            position: relative;
            background-color: var(--grey);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
        .action-item .info {
            width: 100%;
            height: 185px;
            /*background-color: rgba(0,0,0,0.5);*/
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 17px 20px;
            position: relative;
            z-index: 2;
        }
        .action-item .title {
            font-size: 16px;
            line-height: normal;
        }
        .action-item .date {
            font-size: 12px;
            line-height: normal;
            margin-top: 8px;
        }
    /*action item*/
/*Блок акции*/



/*Блок новости о розыгрышах*/
    .block-lottery-news {
        margin-top: 50px;
    }
    .block-lottery-news .wrap {
    }
    .block-lottery-news .lottery-news {
        display: flex;
        /*align-items: center;*/
        justify-content: space-between;
        margin-top: 30px;
    }

    .block-lottery-news .left-column {
        width: 270px;
        height: 460px;
    }
    .block-lottery-news .center-column {
        width: 580px;
        height: 460px;
    }
    .block-lottery-news .right-column {
        width: 270px;
    }
    .block-lottery-news .news-item {
        padding: 25px 20px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        color: #fff;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: left;
    }
    .block-lottery-news .right-column .news-item {
        height: 185px;
        padding: 20px 20px;
    }

    .block-lottery-news .news-item .title {
        font-size: 24px;
        line-height: normal;
    }
    .block-lottery-news .right-column .news-item .title {
        font-size: 16px;
    }
    .block-lottery-news .news-item .date {
        font-size: 12px;
        line-height: 1;
        margin-top: 10px;
    }
    .block-lottery-news .news-item .comments {
        background-color: #fff;
        position: absolute;
        bottom: 25px;
        right: 20px;
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: var(--blue);
        font-size: 11px;
        min-width: 22px;
        text-align: center;
    }
    .block-lottery-news .right-column .news-item .comments {
        bottom: 20px;
    }
    .block-lottery-news .news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }

    .block-lottery-news .short-news {
        margin-top: 30px;
    }
    .block-lottery-news .short-news-item {
        display: flex;
        padding-right: 42px;
        width: 100%;
        align-items: center;
        text-align: left;
        position: relative;
    }
    .block-lottery-news .short-news-item:not(:last-child) {
        margin-bottom: 38px;
    }
    .block-lottery-news .short-news-item:not(:last-child):after {
        display: block;
        content: '';
        left: 0;
        right: 0;
        height: 1px;
        background-color: #dcdcdc;
        bottom: -20px;
        position: absolute;
    }
    .block-lottery-news .short-news-item .photo {
        width: 78px;
        height: 54px;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .block-lottery-news .short-news-item .title {
        font-size: 13px;
        line-height: 1;
    }
    .block-lottery-news .short-news-item .date {
        font-size: 12px;
        line-height: normal;
        color: var(--grey);
        margin-top: 10px;
    }
    .block-lottery-news .short-news-item .comments {
        background-color: var(--blue-light);
        position: absolute;
        top: calc(50% - 11px);
        left: calc(100% - 42px);
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: #fff;
        font-size: 11px;
    }
    .block-lottery-news .short-news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent var(--blue-light);
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }
/*Блок новости о розыгрышах*/



/*Блок топ выигрышей*/
   .block-top-prizes {
        margin-top: 50px;
    }
    .block-top-prizes .top-prizes-outer {
        margin-top: 30px;
        width: 100%;
        position: relative;
    }
    .block-top-prizes .top-prizes-outer:before,
    .block-top-prizes .top-prizes-outer:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        background-color: #fff;
        top: 0;
        bottom: 0;
        width: 10px;
        pointer-events: none;
    }
    .block-top-prizes .top-prizes-outer:before {
        left: -10px;
    }
    .block-top-prizes .top-prizes-outer:after {
        right: -10px;
    }
    .block-top-prizes .top-prizes {
        width: calc(100% + 20px);
        margin-left: -10px;
        position: relative;
        z-index: 1;
    }
    .block-top-prizes .top-prizes .slide {
        padding: 0 10px;
    }
    /*.block-top-prizes .top-prizes .slick-slide > div:nth-child(2) {
        margin-top: 28px;
    }*/
    .block-top-prizes .slick-prev {
        right: 76px;
    }
    .block-top-prizes .slick-next {
        right: 10px;
    }



    /*top prize item*/
        .top-prize-item {
            width: 100%;
        }
        .top-prize-item .photo {
            position: relative;
            background-color: var(--grey);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 185px;
            width: 100%;
        }
        .top-prize-item .info {
            padding-top: 27px;
        }
        .top-prize-item .title {
            font-size: 16px;
            line-height: normal;
            /*line-height: 24px;*/
            /*position: relative;*/
        }
        .top-prize-item .date {
            font-size: 12px;
            line-height: normal;
            margin-top: 10px;
            color: var(--grey);
        }
        .top-prize-item .descr {
            font-size: 13px;
            line-height: 19px;
            margin-top: 10px;
        }
        .top-prize-item .link {
            color: var(--blue);
            text-decoration: underline;
        }
    /*top prize item*/

/*Блок топ выигрышей*/
