/* @@index Файл кастомных стилей клиентской части сайта */

/* Test 1 2 3*/

html,body{
min-width:320px;
}
.new_publicity__img input{
display:none;
}
.new_publicity__img{
background-position:center;
background-size:cover;
}
.new_publicity__top .new_publicity__photo__right .new_publicity__img[style]:after{
content:'✘';
}
/*.new_publicity__top__right--preview{
background-size:cover;
border-radius:5px;
}*/

option[data-depth="1"]{
margin-left: 10px;
}
option[data-depth="2"]{
margin-left: 20px;
}
option[data-depth="3"]{
margin-left: 30px;
}
option[data-depth="4"]{
margin-left: 40px;
}
.pagination{
width:100%;
text-align:center;
}
.pagination li{
display:inline-block;
padding: 5px;
margin:0;
background:#1fb0c7;
border:1px solid #1fb0c7;
min-width:2em;
text-align:center;
}
.pagination .active{
background:#fff;
}
.pagination li span,
.pagination li a{
color:#fff;
}
.pagination .active a{
color:#1fb0c7;
}
.publicity.publicity--vip > .pagination{
background:#ffffc8;
padding-bottom:1em;
}

.publicity.publicity--vip > .pagination li:not(.active){
background-color:#f17202;
border:1px solid #f17202;
}
.publicity.publicity--vip > .pagination li.active{
border:1px solid #f17202;
}
.publicity.publicity--vip > .pagination .active a{
color:#f17202;
}
/*.loading{
color:red!important;
}*/
.loading .user_page__main__center .user_page__block__top{
position:relative;
}
.loading .user_page__main__center .user_page__block__top:after,
.loading.main__center__category__inside :after,
.loading .publicity__main__block :after{
content: ' ';
display: block;
width: 100%;
position: absolute;
height: 100%;
background: url(/img/loading.gif) repeat;
/*background: url(https://media.giphy.com/media/EO9j0o6pHdYmk/giphy.gif) repeat;*/
top: 0;
left: 0;
background-size:10px;
mix-blend-mode:color;
animation: fadein 2s;
}
@keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}
.important_info__right li{
margin-bottom:.74em;
}

.shop_list__block__right {flex-grow: 1}

.lang:before{
content: attr(data-oplang);
}
header .header_search__location__popup{
width:644px;
top:3.2em;
bottom:initial;
}

.wrapper-column{
margin: 0 auto;
max-width:900px;
}
.gutter.gutter-horizontal{
max-width:9px;
cursor: ew-resize;
background:#aaa;
}

.custom {
display:-webkit-box !important;
display:-ms-flexbox !important;
display:flex !important;
-webkit-box-align: center !important;
-ms-flex-align: center !important;
align-items: center !important;
padding-bottom:0 !important;
cursor: pointer;
}
.custom:before{
display:none;
}
.custom [type=checkbox] {display:none;}
.custom [type=checkbox]:checked + .custom__checkbox {
border-color: #7badd8;
background: #d7e8f4;
background: linear-gradient(180deg, #d7e8f4 1%, #b6d5f0 41%, #7fc0f9 51%, #c4e5f2);
}
.custom [type=checkbox]:checked + .custom__checkbox:before,
.custom [type=checkbox]:checked + .custom__checkbox:after { display:inline-block; }
.custom__checkbox {
position:relative;
width: 14px;
min-width:14px;
height: 14px;
display: inline-block;
margin-right: 12px;
background: #fff;
background: linear-gradient(180deg, #fff 0, #f7f7f7 40%, #ededed 56%, #eee 77%, #fcfcfc);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#fcfcfc", GradientType=0);
border: 1px solid #abaea0;
border-radius: 4px;
margin-top: -5px;
}
.custom__checkbox:before,
.custom__checkbox:after {
content: "";
height: 2px;
position: absolute;
background-color: #000;
display:none;
}
.custom__checkbox:before {
width: 14px;
left: 3px;
top: 2px;
transform: rotate(-55deg);
}
.custom__checkbox:after {
left: 3px;
top: 5.5px;
width:5px;
transform: rotate(55deg);
}
.custom__label {
display: inline-block;
font-size: 14px;
font-family: PFBeauSansPro;
color: initial !important;
font-weight: normal !important;
}

.user_page__info__date .custom__checkbox {
width: 20px;
height: 20px;
top: 0;
left: 0;
position: absolute;
background: none;
border: 1px solid #ccc;
border-radius: 1px;
margin:0;
}
.user_page__info__date .custom [type=checkbox]:checked + .custom__checkbox {
border: 1px solid #ccc;
background:none;
position:absolute !important;
}

.user_page__info__date .custom [type=checkbox]:checked + .custom__checkbox:before {
top: 9px !important;
left: -2px !important;
}
.user_page__info__date .custom [type=checkbox]:checked + .custom__checkbox:after {
top: 4px !important;
left: 3px !important;
}

@media only screen and (min-width:1015px) {
.user_page__block__add {
width:260px;
}
}

.uk-notification,.uk-notification-message{
display: none !important;
}