/*Calendar*/
    .block-calendar {
        margin-top: 50px;
    }




    /*Calendar plugin*/
        .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
            border-color: var(--grey-ultralight);
        }
        .fc-unthemed td.fc-head-container {
            border-color: var(--blue-light);
        }
        .fc-toolbar.fc-header-toolbar .fc-center {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .fc-toolbar.fc-header-toolbar .fc-center .fc-button {
            height: 38px;
            min-width: 136px;
            border: 1px solid var(--grey);
            color: var(--grey);
            font-size: 13px;
            font-weight: 400;
            border-radius: 0;
            background-color: transparent;
            margin: 0;
        }
        .fc-toolbar.fc-header-toolbar .fc-center .fc-button-active {
            color: var(--blue-light);
            border-color: var(--blue-light);
        }
        .fc-toolbar.fc-header-toolbar .fc-center .fc-button:not(:first-child) {
            margin-right: 20px;
        }

        .fc-unthemed thead {
            border: 0;
        }
        .fc-unthemed th.fc-day-header {
            height: auto;
            font-size: 13px;
            color: #fff;
            background-color: var(--blue-light);
            border: 0;
        }
        .fc-unthemed th.fc-day-header span {
            display: block;
            height: 40px;
            position: relative;
            line-height: 40px;
            text-align: center;
        }
        .fc-dayGrid-view .fc-body .fc-row {
            min-height: 140px;
        }
        .fc-scroller.fc-day-grid-container {
            overflow: visible !important;
            height: auto !important;
        }
        .fc .fc-row .fc-content-skeleton td.fc-day-top {
            height: 23px;
            line-height: 23px;
            font-size: 13px;
            text-align: center;
            background-color: var(--grey-ultralight);
            border-right: 1px solid #fff;
        }
        .fc .fc-row .fc-content-skeleton td.fc-day-top.fc-today {
            background-color: var(--blue-light);
        }
        .fc-unthemed td.fc-today {
            /*background-color: var(--grey-ultralight);*/
            background-color: #fff;
        }
        .fc .fc-row .fc-content-skeleton td.fc-day-top.fc-today .fc-day-number {
            color: #fff;
        }
        .fc .fc-row .fc-content-skeleton td.fc-day-top.fc-other-month {
            background-color: var(--grey-ultralight);
            opacity: 1;
            border-right: 1px solid #fff;
            border-top: 0;
        }
        .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
            padding: 0;
            color: var(--black);
            font-size: 13px;
            float: none;
        }
        .fc-ltr .fc-dayGrid-view .fc-day-top.fc-other-month .fc-day-number {
            color: var(--grey);
            float: none;
        }
        .fc-prev-button,
        .fc-next-button {
            border: 0;
            background-color: var(--blue-light);
            padding: 0;
            width: 32px;
            height: 32px;
            border-radius: 0;
        }
        .fc-prev-button:hover,
        .fc-next-button:hover {
            background-color: var(--blue);
            /*border-color: var(--blue);*/
        }
        tr:first-child > td > .fc-day-grid-event {
            margin-top: initial;
            margin-bottom: 2px;
        }
        .fc-event-container .fc-day-grid-event {
            margin: 0;
            background-color: var(--blue);
            border-radius: 0;
            border: 0;
        }
        .fc-day-grid-event .fc-content {
            white-space: initial;
            overflow: visible;
            padding: 10px 12px;
            cursor: pointer;
            position: relative;
            min-height: 54px;
            box-sizing: border-box;
        }
        .fc-day-grid-event .fc-content .fc-title {
            font-size: 13px;
            line-height: normal;
            color: #fff;
        }
        td.fc-event-container:nth-child(6) > a .calendar-item-popup,
        td.fc-event-container:nth-child(7) > a .calendar-item-popup {
            right: 0;
            left: initial;
        }
        /*td.fc-event-container:nth-child(6) > a .calendar-item-popup:after,
        td.fc-event-container:nth-child(7) > a .calendar-item-popup:after {
            right: 40px;
            left: initial;
        }*/
    /*Calendar plugin*/

    /*Calendar item popup*/
        .calendar-item-popup {
            position: absolute;
            bottom: 100%;
            z-index: 9999;
            width: 280px;
            background-color: #fff;
            box-shadow: 0px 3px 5px 1px rgba(20,20,20,0.15);
        }
        /*.calendar-item-popup:after {
            display: block;
            position: absolute;
            top: 100%;
            left: 40px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13px 7.5px 0 7.5px;
            border-color: #fff transparent transparent transparent;
            content: '';
        }*/
        .calendar-item-photo {
            width: 100%;
            height: 110px;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: var(--grey-light);
        }
        .calendar-item-photo img {
            position: absolute;
            left: -50%;
            top: -50%;
            right: -50%;
            bottom: -50%;
            margin: auto;
            object-fit: cover;
            min-width: 280px;
            max-width: initial;
            min-height: 110px;
        }
        .calendar-item-info {
            padding: 15px 10px;
            background-color: #fff;
            font-size: 12px;
            line-height: normal;
            color: var(--black);
        }
        .calendar-item-title {
            font-size: 16px;
        }
        .calendar-item-duration {
            color: var(--grey);
            margin-top: 5px;
        }
        .calendar-item-title-descr {
            /*line-height: normal;*/
        }
        .calendar-item-descr {
            margin-top: 15px;
            color: var(--grey-dark);
            font-weight: 400;
        }
    /*Calendar item popup*/

/*Calendar*/



















