/*Блок рейтинг игроков*/
    .block-players-rating {
        margin-top: 50px;
    }
    .block-players-rating:last-child {
        padding-bottom: 135px;
    }
    .block-players-rating .wrap {
        display: flex;
        flex-wrap: wrap;
        /*overflow: hidden;*/
    }
    .block-complex-rating .wrap {
        align-items: center;
    }
    .block-players-rating .block-title {
        flex-grow: 0;
        display: inline-block;
    }
    .block-casino-players-rating .block-players-rating .block-title:before {
        display: block;
        content: '';
        position: absolute;
        top: 1px;
        left: calc(100% + 19px);
        width: 17px;
        height: 16px;
        background: transparent url('../img/icon-star-greyblue.png') center no-repeat;
        background-size: contain;
    }

    .block-players-rating .rating-type-selectors {
        display: flex;
        align-items: center;
        margin-left: 45px;
    }
    .block-players-rating .rating-type-link {
        padding-left: 30px;
        position: relative;
        font-size: 13px;
        line-height: 26px;
        color: var(--blue-light);
        text-decoration: underline;
        cursor: pointer;
        transition: 0.5s;
    }
    .block-players-rating .rating-type-link.active {
        color: #bcbdc1;
        cursor: default;
    }
    .block-players-rating .rating-type-link:not(.active):hover {
        transition: 0.5s;
        color: var(--blue);
    }
    .block-players-rating .rating-type-link:before {
        display: block;
        content: '';
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        /*top: calc(50% - 10px);*/
        position: absolute;
    }
    .block-players-rating .rating-type-link:not(:last-child) {
        /*margin-right: 28px;*/
        margin-right: 26px;
    }
    .block-players-rating .rating-type-link.rate:before {
        width: 23px;
        height: 20px;
        background-image: url('../img/icon-star-bluelight.png');
        top: calc(50% - 10px);

    }
    .block-players-rating .rate.active:before {
        background-image: url('../img/icon-star-grey.png');
    }
    .block-players-rating .rating-type-link.users:before {
        width: 19px;
        height: 18px;
        background-image: url('../img/icon-user-blue.png');
        top: calc(50% - 9px);
    }
    .block-players-rating .users.active:before {
        background-image: url('../img/icon-user-grey.png');
    }
    .block-players-rating .rating-type-link.site:before {
        width: 23px;
        height: 18px;
        background-image: url('../img/icon-site-blue.png');
        top: calc(50% - 9px);
    }
    .block-players-rating .site.active:before {
        background-image: url('../img/icon-site-grey.png');
    }


    .block-players-rating .players-rating-outer {
        width: 100%;
        position: relative;
    }
    .block-casino-players-rating .block-players-rating .players-rating-outer {
        margin-top: 14px;
    }
    .block-players-rating .rating-types-tabs {
        margin-top: 30px;
        width: 100%;
    }
    .block-players-rating .rating-type-tab {
        display: none;
    }
    .block-players-rating .rating-type-tab.active {
        display: block;
    }
    .block-players-rating .players-rating-outer:before,
    .block-players-rating .players-rating-outer:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        background-color: #fff;
        top: 0;
        bottom: 0;
        width: 20px;
        pointer-events: none;
    }
    .block-players-rating .players-rating-outer:before {
        left: -20px;
    }
    .block-players-rating .players-rating-outer:after {
        right: -20px;
    }
    .block-players-rating .players-rating {
        width: calc(100% + 40px);
        margin-left: -20px;
        position: relative;
        z-index: 1;
    }
    .block-players-rating .players-rating .slide {
        padding: 0 20px;
    }
    .block-players-rating .players-rating .slick-slide > div:nth-child(2) {
        margin-top: 18px;
    }
    .block-casino-players-rating .block-players-rating .slick-arrow {
        top: -51px;
    }
    .block-players-rating .slick-prev {
        right: 86px;
    }
    .block-players-rating .slick-next {
        right: 20px;
    }
    .block-players-rating .title {
        font-size: 12px;
        line-height: normal;
    }
    .block-players-rating .chart {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 20px;
        display: flex;
        position: relative;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        /*background-color: var(--grey-light);*/
        background-color: var(--blue-light);
        margin-top: 5px;
    }
    .block-players-rating .chart .bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        background-color: var(--blue);
        z-index: 1;
    }
    .block-players-rating.visible .slick-active .chart .bg {
        -webkit-animation: progress-bar 1.5s;
        -moz-animation: progress-bar 1.5s;
        animation: progress-bar 1.5s;
    }
    .block-players-rating .chart .value {
        position: relative;
        z-index: 2;
    }
    .block-players-rating .button {
        margin-top: 10px;
        min-width: initial;
        width: 100%;
    }

/*Блок рейтинг игроков*/


