* { margin: 0; padding: 0; }
body { min-width: 1100px; max-width: 1920px; margin: 0px auto; }
a { text-decoration: none; }
::-webkit-scrollbar { width: 7px; height: 25px; background: transparent; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-track-piece { background: transparent; -webkit-border-radius: 2px; }
::-webkit-scrollbar-thumb:vertical { height: 5px; background-color: #1565c0; -webkit-border-radius: 2px; }
::-webkit-scrollbar-thumb:horizontal { width: 5px; background-color: #1565c0; -webkit-border-radius: 2px; }

.clear { clear: both; }
.ark-centered { width: 940px; padding: 0px 80px; margin: 0px auto; }

/*Landing-page Thanks*/
.unit-thanks { min-height: 800px; height: 100vh; background: url(../images/bg-thanks.jpg) center top no-repeat; background-size: cover; }
.unit-thanks .container-thanks { padding: 100px 0 0 90px; }
.unit-thanks .ark-title { font-family: SSPro-Bold; font-size: 100px; color: #1565c0; text-transform: uppercase; }
.unit-thanks .ark-descr-top { font-family: SSPro-Bold; font-size: 57px; color: #333333; text-transform: uppercase; }
.unit-thanks .ark-descr-bottom {font-family: SSPro-Bold; font-size: 27px; color: #333333; text-transform: uppercase; margin-top: -10px; }
.unit-thanks .ark-bottom { font-family: SSPro-Regular; font-size: 18px; color: #333333; padding: 30px 0 100px 0; }
.unit-thanks .button-thanks { font-family: SSPro-Medium; font-size: 20px; width: 300px; height: 56px; background: #1565c0; border-radius: 4px; text-align: center; }
.unit-thanks .button-thanks:hover { background: #4794eb; border-radius: 4px; }
.unit-thanks .button-thanks a { text-decoration: none; color: #ffffff; line-height: 56px; }
.unit-thanks .button-thanks:before { display: block; content: ''; position: relative; width: 10px; height: 56px; float: left; background: url(../images/button-cursor-yellow.png) center center no-repeat; padding: 0px 0 0 0px; padding-right: 40px; margin-right: -50px; 
	-moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);
}
/*Landing-page main*/
/*Firstblock - homescreen*/
.unit1 { height: 780px; background: url(../images/bg1.jpg) center top no-repeat; }
.unit1 .header { height: 100px; }
.unit1 .header-logo { font-family: SSPro-Bold; font-size: 32px; color: #1565c0; line-height: 100px; padding: 0 100px 0 0px; float: left; }
.unit1 .header-mail, .unit1 .header-phone, .unit1 .header-recall { height: 100px; font-family: SSPro-LIght; font-size: 14px; color: #333333; float: left; line-height: 100px; padding-left: 55px; }
.unit1 .header-mail:before, .unit1 .header-phone:before, .unit1 .header-recall:before { display: block; content: ''; width: 16px; position: relative; float: left; padding: 0 10px 0 0; }
.unit1 .header-mail:before { background: url(../images/header-ico1.png) center center no-repeat; height: 98px; }
.unit1 .header-phone:before { background: url(../images/header-ico2.png) center center no-repeat; height: 94px; }
.unit1 .header-recall:before { background: url(../images/header-ico3.png) center center no-repeat; height: 98px; }
.unit1 .menu { height: 60px; background: #1565c0; margin: 0px auto; }
.unit1 .menu ul li { float: left; list-style:none; line-height: 57px; font-family: OS-Light; font-size: 16px; color: #ffffff; margin-left: 45px; }
.unit1 .menu ul li a {text-decoration: none; color: #ffffff; }
.unit1 .menu ul li:nth-child(1) {margin-left: 0px !important; }
.unit1 .menu ul li:hover { border-bottom: 3px solid #ffc808; color: #ffc808; }
.unit1 .ark-title { font-family: SSPro-Bold; font-size: 42px; color: #333333; padding-top: 120px; text-transform: uppercase; }
.unit1 .ark-descr { font-family: SSPro-Bold; font-size: 18px; color: #1565c0; padding-top: 50px; }
.unit1 .ark-bottom { font-family: SSPro-Regular; font-size: 24px; color: #333333; padding-top: 5px; }
.unit1 .ark-button { margin-top: 60px; width: 300px; height: 56px; background: #1565c0; border-radius: 4px; text-align: center; }
.unit1 .ark-button:hover { background: #4794eb; border-radius: 4px; }
.unit1 .ark-button a { font-family: SSPro-Medium; font-size: 20px; text-decoration: none; color: #ffffff; line-height: 56px; padding: 15px 40px 15px 40px; }
.unit1 .ark-button:after { display: block; content: ''; position: relative; width: 10px; height: 56px; float: right; background: url(../images/button-cursor-yellow.png) center center no-repeat; padding-left: 40px; margin-left: -50px; }


.unit2 { height: 720px; background: #f2f2f2; }
.unit2 .list-centered { width: 1070px; margin-left: 50px; margin: 0px auto;  }
.unit2 .ark-title { font-family: SSPro-Bold; font-size: 32px; text-transform: uppercase; text-align: center; color: #333333; padding-top:  100px; }
.unit2 .ark-title:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #1565c0; margin: 0px auto; margin-top: 15px; }
.unit2 .ark-list { padding-top: 70px; }
.unit2 .item-list { width: 320px; height: 160px; float: left; margin-right: 25px; }
.item-list:hover { background: #ffffff; }
.item-list:hover .hexagon { margin-top: 40px;  transition-duration:500ms; -webkit-transition-duration:500ms; -o-transition-duration:500ms; -moz-transition-duration:500ms; }
.item-list:hover .hexagon:after { display: block; content: ''; width: 4px; height: 113px; background: url(../images/block2-hexagon-after.png) center top no-repeat; margin-left: 28px; margin-top: -22px; }
.unit2 .hexagon { margin-left: 10px; margin-top: 10px; float: left; width: 60px; height: 69px; padding-top: }
.unit2 .item-one { background: url(../images/block2-ico1.png) left top no-repeat; }
.unit2 .item-two { background: url(../images/block2-ico2.png) left top no-repeat; }
.unit2 .item-three { background: url(../images/block2-ico3.png) left top no-repeat; }
.unit2 .item-four { background: url(../images/block2-ico4.png) left top no-repeat; }
.unit2 .item-five { background: url(../images/block2-ico5.png) left top no-repeat; }
.unit2 .item-title { font-family: OS-Bold; font-size: 14px; color: #1565c0; margin-left: 80px; padding-top: 20px; }
.unit2 .item-descr { font-family: OS-Light; font-size: 14px; color: #333333; margin-left: 80px; padding-top: 15px; }
.unit2 .item-width { width: 340px !important; }
.unit2 .padded {  margin-top: 50px; }



.unit3 { height: 570px; background: url(../images/bg3.jpg) center top no-repeat; }
.unit3 .ark-title { font-family: SSPro-Bold; font-size: 54px; color: #fde428; padding-top: 100px; }
.unit3 .ark-descr { font-family: SSPro-Regular; font-size: 32px; color: #ffffff; }
.unit3 .ark-bottom { font-family: OS-Light; font-size: 20px; color: #ffffff; padding-top: 75px; }
.unit3 .ark-button { margin-top: 60px; width: 380px; height: 56px; background: #ffffff; border-radius: 4px; text-align: center; }
.unit3 .ark-button:hover { background: #4794eb; border-radius: 4px; }
.unit3 .ark-button:hover a { color: #ffffff; }
.unit3 .ark-button a { font-family: SSPro-Medium; font-size: 20px; text-decoration: none; color: #01579b; line-height: 56px; padding: 15px 38px 15px 38px; }
.unit3 .ark-button:after { display: block; content: ''; position: relative; width: 10px; height: 56px; float: right; background: url(../images/button-cursor-blue.png) center center no-repeat; padding-left: 40px; margin-left: -50px; }


.unit4 { height: 630px; background: #ffffff; }
.unit4 .ark-title { font-family: SSPro-Bold; font-size: 32px; text-transform: uppercase; text-align: center; color: #333333; padding-top: 95px; }
.unit4 .ark-title:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #1565c0; margin: 0px auto; margin-top: 15px; }
.unit4 .ark-list { padding-top: 60px; margin: 0px auto; }
.unit4 .item-list { float: left; height: 300px; width: 226px; padding: 0px 4px; }
.unit4 .item-background-white { width: 220px; height: 170px; border: 2px solid #ffffff; }
.unit4 .item-background-blue { border: 1px solid #1565c0; }
.unit4 .item-one { background: url(../images/block4-img1.jpg) center top no-repeat; }
.unit4 .item-two { background: url(../images/block4-img2.jpg) center top no-repeat; }
.unit4 .item-three { background: url(../images/block4-img3.jpg) center top no-repeat; }
.unit4 .item-four { background: url(../images/block4-img4.jpg) center top no-repeat; }
.unit4 .item-descr { font-family: OS-Light; font-size: 14px; color: #333333; text-align: center; padding-top: 25px; }


.unit5 { height: 650px; background: url(../images/bg5.jpg) center top no-repeat; }
.unit5 .ark-title { font-family: SSPro-Bold; font-size: 32px; text-transform: uppercase; text-align: left; color: #ffffff; padding-top: 95px; }
.unit5 .ark-title:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #fde428; margin-top: 15px; }
.unit5 .ark-slider { font-family: OS-Light; font-size: 18px; color: #ffffff; padding-top: 15px; }
.unit5 .item-slide { height: 190px; }
.unit5 .ark-descr { font-family: OS-Light; font-size: 14px; color: #ffffff; width: 860px; padding: 12px 0 12px 30px; background: #ec2828; margin-top: 10px; }
.unit5 .ark-bottom { font-family: OS-Light; font-size: 14px; color: #ffffff; padding-top: 15px; }


.unit6 { height: 715px; background: #ffffff; }
.unit6 .ark-title { font-family: SSPro-Bold; font-size: 32px; text-transform: uppercase; text-align: center; color: #333333; padding-top: 95px; }
.unit6 .ark-title:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #1565c0; margin: 0px auto; margin-top: 15px; }
.unit6 .ark-list { padding-top: 60px; margin: 0px auto; height: 230px; }
.unit6 .item-list { float: left; height: 190px; width: 186px; padding: 0px 0px; }
.unit6 .item-background-white { border: 5px solid #ffffff; border-radius: 50%; width: 99px; height: 99px;  }
.unit6 .item-background-blue { border: 1px dashed #1565c0; border-radius: 50%; width: 109px; height: 109px; margin: auto; }
.unit6 .item-one { background: url(../images/block6-ico1.png) center center no-repeat; width: 95px; height: 95px; border: 2px solid #1565c0; border-radius: 50%; margin: 5px auto; }
.unit6 .item-two { background: url(../images/block6-ico2.png) center center no-repeat; width: 95px; height: 95px; border: 2px solid #1565c0; border-radius: 50%; margin: 5px auto; }
.unit6 .item-three { background: url(../images/block6-ico3.png) center center no-repeat; width: 95px; height: 95px; border: 2px solid #1565c0; border-radius: 50%; margin: 5px auto; }
.unit6 .item-four { background: url(../images/block6-ico4.png) center center no-repeat; width: 95px; height: 95px; border: 2px solid #1565c0; border-radius: 50%; margin: 5px auto; }
.unit6 .item-five { background: url(../images/block6-ico5.png) center center no-repeat; width: 95px; height: 95px; border: 2px solid #1565c0; border-radius: 50%; margin: 5px auto; }
.unit6 .item-descr { font-family: OS-Light; font-size: 14px; color: #333333; text-align: center; padding-top: 25px; }
.unit6 .ark-descr { width: 940px; font-family: SSPro-Bold; font-size: 32px; color: #333333; background: #ffc808; text-align: center; padding: 15px 0; border-radius: 1px; }
.unit6 .container-button { height: 110px; margin: 0px auto; background: url(../images/dashed-line.png) center center no-repeat; }
.unit6 .ark-button { width: 300px; height: 56px; background: #01579b; border-radius: 4px; text-align: center; position: absolute; margin: 49px 320px 100px 320px; }
.unit6 .ark-button:hover { background: #4794eb; border-radius: 4px; }
.unit6 .ark-button:hover a { color: #ffffff; }
.unit6 .ark-button a { font-family: SSPro-Medium; font-size: 20px; text-decoration: none; color: #ffffff; line-height: 56px; padding: 15px 40px 15px 40px; }
.unit6 .ark-button:after { display: block; content: ''; position: relative; width: 10px; height: 56px; float: right; background: url(../images/button-cursor-yellow.png) center center no-repeat; padding-left: 40px; margin-left: -50px; }

.unit7 { height: 920px; background: #ffffff; }
.unit7 .ark-title { font-family: SSPro-Bold; font-size: 32px; text-transform: uppercase; text-align: center; color: #333333; padding-top: 95px; }
.unit7 .ark-title:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #1565c0; margin: 0px auto; margin-top: 15px; }
.unit7 .item-list { font-family: OS-Light; font-size: 18px; color: #333333; text-align: left; }
.unit7 .item-bg { background: url(../images/dashed-figure.png) left center no-repeat; width: 112px; height: 520px; z-index: 100; float: left; position: absolute; margin: 100px 0 0 0; }
.unit7 .column-left { width: 450px; height: 720px; float: left; z-index: 10; }
.unit7 .column-right { width: 450px; height: 720px; float: right; z-index: 10; }
.unit7 .item { padding-top: 110px; height: 100px; }
.unit7 .item-icon { float: left; width: 100px; height: 100px; background: #ffc808; margin-left: 20px; }
.unit7 .item-descr p { margin-left: 140px; padding-bottom: 20px; }
.unit7 .align-one p { padding-top: 37px; }
.unit7 .align-two p { padding-top: 25px; }
.unit7 .align-three p { padding-top: 12px; }
.unit7 .item-descr:hover .item-icon {
    -webkit-transform:rotate(360deg);
    -webkit-transition-duration:500ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transform:rotate(360deg);
    -moz-transition-duration:500ms;
    -moz-transition-timing-function: ease-out; 
    -o-transform:rotate(360deg);
    -o-transition-duration:500ms;
    -o-transition-timing-function: ease-out;
    transform:rotate(360deg);
    transition-duration:500ms;
    transition-timing-function: ease-out; 
} 

.unit7 .item-icon:before { display: block; content:''; width: 100px; height: 100px; position: relative; }
.unit7 .icon-one:before { ; background: url(../images/block7-ico1.png) center center no-repeat; }
.unit7 .icon-two:before { ; background: url(../images/block7-ico2.png) center center no-repeat; }
.unit7 .icon-three:before { ; background: url(../images/block7-ico3.png) center center no-repeat; }
.unit7 .icon-four:before { ; background: url(../images/block7-ico4.png) center center no-repeat; }
.unit7 .icon-five:before { ; background: url(../images/block7-ico5.png) center center no-repeat; }
.unit7 .icon-six:before { ; background: url(../images/block7-ico6.png) center center no-repeat; }



.unit8 { height: 650px; background: url(../images/bg8.jpg) center top no-repeat; }
.unit8 .ark-title { font-family: SSPro-Bold; font-size: 44px; color: #1565c0; padding-top: 130px; }
.unit8 .ark-descr { font-family: SSPro-Regular; font-size: 32px; color: #333333; }
.unit8 .ark-descr:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #1565c0; margin-top: 15px; }
.unit8 .ark-button { width: 380px; height: 56px; background: #1565c0; border-radius: 4px; text-align: center; margin: 125px 0 0 0; }
.unit8 .ark-button:hover { background: #4794eb; border-radius: 4px; }
.unit8 .ark-button:hover a { color: #ffffff; }
.unit8 .ark-button a { font-family: SSPro-Medium; font-size: 20px; text-decoration: none; color: #ffffff; line-height: 56px; padding: 15px 40px 15px 40px; }
.unit8 .ark-button:after { display: block; content: ''; position: relative; width: 10px; height: 56px; float: right; background: url(../images/button-cursor-yellow.png) center center no-repeat; padding-left: 40px; margin-left: -50px; }



.unit9 { height: 750px; background: #ffffff; }
.unit9 .ark-title { font-family: SSPro-Bold; font-size: 44px; color: #333333; padding-top: 80px; text-transform: uppercase; text-align: center; }
.unit9 .ark-title:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #1565c0; margin: 0px auto; margin-top: 15px; }
.unit9 .ark-list { padding-top: 65px; }
.unit9 .item-list { float: left; width: 250px; height: 240px; }
.unit9 .item-border-white {  border-radius: 50%; width: 102px; height: 102px; }
.unit9 .item-border-blue { border: 4px solid #1565c0; border-radius: 50%; width: 106px; height: 105px; margin: auto; }
.unit9 .item-one { background: url(../images/block9-ico1.png) center center no-repeat; width: 99px; height: 99px; border: 1px solid #1565c0; border-radius: 50%; margin: 2px auto; }
.unit9 .item-two { background: url(../images/block9-ico2.png) center center no-repeat; width: 99px; height: 99px; border: 1px solid #1565c0; border-radius: 50%; margin: 2px auto; }
.unit9 .item-three { background: url(../images/block9-ico3.png) center center no-repeat; width: 99px; height: 99px; border: 1px solid #1565c0; border-radius: 50%; margin: 2px auto; }
.unit9 .item-four { background: url(../images/block9-ico4.png) center center no-repeat; width: 99px; height: 99px; border: 1px solid #1565c0; border-radius: 50%; margin: 2px auto; }
.unit9 .item-five { background: url(../images/block9-ico5.png) center center no-repeat; width: 99px; height: 99px; border: 1px solid #1565c0; border-radius: 50%; margin: 2px auto; }
.unit9 .item-six { background: url(../images/block9-ico6.png) center center no-repeat; width: 99px; height: 99px; border: 1px solid #1565c0; border-radius: 50%; margin: 2px auto; }
.unit9 .item-circle { width: 48px; height: 48px; background: #ffffff; border: 1px dashed #1565c0; border-radius: 50%; position: absolute; font-family: OS-Regular; font-size: 24px; color: #1565c0; text-align: center; line-height: 48px; margin: 0 0 0 75px; }
.unit9 .item-descr { font-family: OS-Light; font-size: 14px; color: #333333; text-align: center; padding-top: 20px; }
.unit9 .padded { padding-right: 95px; }

.unit10 { height: 900px; background: url(../images/bg10.jpg) center top no-repeat; }
.unit10 .ark-title { font-family: SSPro-Bold; font-size: 44px; color: #1565c0; padding-top: 70px; }
.unit10 .ark-title:after { display: block; content: ''; width: 100px; height: 3px; position: relative; background: #1565c0; margin-top: 10px; }
.unit10 .ark-descr { font-family: OS-Regular; font-size: 14px; color: #333333; margin-top: 18px; }
.unit10 .contacts { margin-top: 30px; font-family: OS-Light; font-size: 24px; color: #333333; line-height: 45px; }
.unit10 .item-phone, .unit10 .item-mail, .unit10 .item-skype { padding-top: 15px; }
.unit10 .item-phone a, .unit10 .item-mail a, .unit10 .item-skype a {text-decoration: none; font-family: OS-Light; font-size: 24px; color: #333333; line-height: 45px; }
.unit10 .item-phone a:hover, .unit10 .item-mail a:hover, .unit10 .item-skype a:hover { color:  #1565c0; }
.unit1 .header-mail a, .unit1 .header-phone a, .unit1 .header-recall a {  font-family: SSPro-LIght; font-size: 14px; color: #333333;  }
.unit1 .header-mail a:hover, .unit1 .header-phone a:hover, .unit1 .header-recall a:hover { color: #1565c0; }
.unit10 .item-phone:before { display: block; content: ''; width: 45px; height: 45px; position: relative; background: url(../images/block10-contacts-ico1.png) center center no-repeat; float: left; margin-right: 35px; }
.unit10 .item-mail:before { display: block; content: ''; width: 45px; height: 45px; position: relative; background: url(../images/block10-contacts-ico2.png) center center no-repeat; float: left; margin-right: 35px; }
.unit10 .item-skype:before { display: block; content: ''; width: 45px; height: 45px; position: relative; background: url(../images/block10-contacts-ico3.png) center center no-repeat; float: left; margin-right: 35px; }
.unit10 .copyright { font-family: OS-Regular; font-size: 12px; color: #333333; padding-top: 80px; }
.unit10 .copyright span { font-family: OS-Light; }


.unit10 form { padding-top: 40px;  } 
.unit10 input[type="text"] { width: 324px; height: 38px; background: transparent; border: 1px solid #b2cae6; border-radius: 4px; margin-top: 10px; font-family: OS-Light; font-size: 14px; color: #01579b; padding-left: 50px; }
.unit10 input[type="submit"] { width: 376px; height: 38px; background: #1565c0; color: #ffffff; border-radius: 4px; margin-top: 10px; font-family: OS-Bold; font-size: 14px; text-transform: uppercase; text-align: center; border: none; }
.unit10 input[type="submit"]:hover { background: #4794eb; border-radius: 4px;  }
.unit10 textarea { width: 324px; height: 98px; background: transparent; border: 1px solid #b2cae6; border-radius: 4px; margin-top: 10px;  resize: none; font-family: OS-Light; font-size: 14px; color: #01579b; padding-left: 50px; }
.unit10 input::-webkit-input-placeholder { color: #01579b; }
.unit10 input::-moz-placeholder { color: #01579b; }
.unit10 input:-o-placeholder { color: #01579b; }
.unit10 textarea::-webkit-input-placeholder { color: #01579b; }
.unit10 textarea::-moz-placeholder { color: #01579b; }
.unit10 textarea:-o-placeholder { color: #01579b; }
.unit10 .name:before { display: inline-block; content: ''; width: 15px; height: 36px; background: url(../images/block10-input-ico1.png) center center no-repeat; float: left; padding-top: 5px; margin: 10px -32px 0px 16px; }
.unit10 .phone:before { display: inline-block; content: ''; width: 15px; height: 36px; background: url(../images/block10-input-ico2.png) center center no-repeat; float: left; padding-top: 5px; margin: 10px -32px 0px 16px; }
.unit10 .mail:before { display: inline-block; content: ''; width: 15px; height: 36px; background: url(../images/block10-input-ico3.png) center center no-repeat; float: left; padding-top: 5px; margin: 10px -32px 0px 16px; }
.unit10 .message:before { display: inline-block; content: ''; width: 15px; height: 36px; background: url(../images/block10-input-ico4.png) center center no-repeat; float: left; padding-top: 5px; margin: 0px -32px 0px 16px; }



/* Slider styles */
.bx-pager-item, .bx-controls-auto-item { display: inline-block; *zoom: 1; vertical-align: middle; }
.bx-wrapper .bx-pager.bx-default-pager a { background: #ffffff;	text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 30px 15px ; outline: 0; border-radius: 50%; }
.bx-wrapper .bx-pager.bx-default-pager a:hover { background: #ffc808; }
.bx-wrapper .bx-pager.bx-default-pager a.active { background: #ffc808; width: 15px; height: 15px; border-radius: 50%; margin: 25px 15px ; }

/* Modal popups */
.modalform { width: 460px; height: 460px; }
.modalform #fancybox-content { border-radius: 4px;  }
.modalform .modal-title { font-family: SSPro-Bold; font-size: 32px; color: #1565c0; margin: 0px auto; text-align: center; padding-top: 20px; }
.modalform .modal-descr { font-family: OS-Regular; font-size: 18px; color: #333333; text-align: center; padding-bottom: 20px; }
.modalform .modal-input { margin: 0px auto; }
.modalform form { padding-top: 40px; display: inline; text-align: center; } 
.modalform input[type="text"] { width: 288px; height: 48px; background: transparent; border: 1px solid #999999; border-radius: 4px; margin-bottom: 28px; font-family: OS-Light; font-size: 14px; color: #333333; padding-left: 50px; }
.modalform input[type="submit"] { width: 340px; height: 50px; background: #1565c0; color: #ffffff; border-radius: 4px; margin: 28px 0 0 0; margin: 0 60px 10px 60px; font-family: OS-Bold; font-size: 14px; text-transform: uppercase; text-align: center; border: none; }
.modalform input[type="submit"]:hover { background: #4794eb; border-radius: 4px;  }
.modalform ::-webkit-input-placeholder {color:#333333;}
.modalform ::-moz-placeholder          {color:#333333;}
.modalform :-moz-placeholder           {color:#333333;}
.modalform :-ms-input-placeholder      {color:#333333;}
.modalform .privacy { font-family: OS-Regular; font-size: 12px; color: #333333; margin-left: 60px; }
.modalform .privacy:before { display: inline-block; content: ''; width: 15px; height: 16px; background: url(../images/lock.png) left center no-repeat; float: left; padding-right: 5px; }
.modalform .name:before { display: inline-block; content: ''; width: 15px; height: 36px; background: url(../images/popup-man.png) center center no-repeat; float: left; padding-top: 5px; margin: 5px -100px 0px 80px; }
.modalform .phone:before { display: inline-block; content: ''; width: 15px; height: 36px; background: url(../images/popup-phone.png) center center no-repeat; float: left; padding-top: 5px; margin: 5px -100px 0px 80px; }
.modalform .mail:before { display: inline-block; content: ''; width: 15px; height: 36px; background: url(../images/popup-mail.png) center center no-repeat; float: left; padding-top: 5px; margin: 6px -100px 0px 80px; }


/*for free hosting zzz.com.ua*/
.cbalink { display: none !important;  }