
@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-HeavyItalic.eot');
	src: url('../font/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-HeavyItalic.woff2') format('woff2'),
		url('../font/Lato-HeavyItalic.woff') format('woff'),
		url('../font/Lato-HeavyItalic.ttf') format('truetype'),
		url('../font/Lato-HeavyItalic.svg#Lato-HeavyItalic') format('svg');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Bold.eot');
	src: url('../font/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Bold.woff2') format('woff2'),
		url('../font/Lato-Bold.woff') format('woff'),
		url('../font/Lato-Bold.ttf') format('truetype'),
		url('../font/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Black.eot');
	src: url('../font/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Black.woff2') format('woff2'),
		url('../font/Lato-Black.woff') format('woff'),
		url('../font/Lato-Black.ttf') format('truetype'),
		url('../font/Lato-Black.svg#Lato-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Semibold.eot');
	src: url('../font/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Semibold.woff2') format('woff2'),
		url('../font/Lato-Semibold.woff') format('woff'),
		url('../font/Lato-Semibold.ttf') format('truetype'),
		url('../font/Lato-Semibold.svg#Lato-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-ThinItalic.eot');
	src: url('../font/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-ThinItalic.woff2') format('woff2'),
		url('../font/Lato-ThinItalic.woff') format('woff'),
		url('../font/Lato-ThinItalic.ttf') format('truetype'),
		url('../font/Lato-ThinItalic.svg#Lato-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Italic.eot');
	src: url('../font/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Italic.woff2') format('woff2'),
		url('../font/Lato-Italic.woff') format('woff'),
		url('../font/Lato-Italic.ttf') format('truetype'),
		url('../font/Lato-Italic.svg#Lato-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato Hairline';
	src: url('../font/Lato-HairlineItalic.eot');
	src: url('../font/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-HairlineItalic.woff2') format('woff2'),
		url('../font/Lato-HairlineItalic.woff') format('woff'),
		url('../font/Lato-HairlineItalic.ttf') format('truetype'),
		url('../font/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Heavy.eot');
	src: url('../font/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Heavy.woff2') format('woff2'),
		url('../font/Lato-Heavy.woff') format('woff'),
		url('../font/Lato-Heavy.ttf') format('truetype'),
		url('../font/Lato-Heavy.svg#Lato-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Hairline';
	src: url('../font/Lato-Hairline.eot');
	src: url('../font/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Hairline.woff2') format('woff2'),
		url('../font/Lato-Hairline.woff') format('woff'),
		url('../font/Lato-Hairline.ttf') format('truetype'),
		url('../font/Lato-Hairline.svg#Lato-Hairline') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-SemiboldItalic.eot');
	src: url('../font/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-SemiboldItalic.woff2') format('woff2'),
		url('../font/Lato-SemiboldItalic.woff') format('woff'),
		url('../font/Lato-SemiboldItalic.ttf') format('truetype'),
		url('../font/Lato-SemiboldItalic.svg#Lato-SemiboldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-BlackItalic.eot');
	src: url('../font/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-BlackItalic.woff2') format('woff2'),
		url('../font/Lato-BlackItalic.woff') format('woff'),
		url('../font/Lato-BlackItalic.ttf') format('truetype'),
		url('../font/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Light.eot');
	src: url('../font/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Light.woff2') format('woff2'),
		url('../font/Lato-Light.woff') format('woff'),
		url('../font/Lato-Light.ttf') format('truetype'),
		url('../font/Lato-Light.svg#Lato-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-LightItalic.eot');
	src: url('../font/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-LightItalic.woff2') format('woff2'),
		url('../font/Lato-LightItalic.woff') format('woff'),
		url('../font/Lato-LightItalic.ttf') format('truetype'),
		url('../font/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Medium.eot');
	src: url('../font/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Medium.woff2') format('woff2'),
		url('../font/Lato-Medium.woff') format('woff'),
		url('../font/Lato-Medium.ttf') format('truetype'),
		url('../font/Lato-Medium.svg#Lato-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-MediumItalic.eot');
	src: url('../font/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-MediumItalic.woff2') format('woff2'),
		url('../font/Lato-MediumItalic.woff') format('woff'),
		url('../font/Lato-MediumItalic.ttf') format('truetype'),
		url('../font/Lato-MediumItalic.svg#Lato-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Regular.eot');
	src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Regular.woff2') format('woff2'),
		url('../font/Lato-Regular.woff') format('woff'),
		url('../font/Lato-Regular.ttf') format('truetype'),
		url('../font/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-Thin.eot');
	src: url('../font/Lato-Thin.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Thin.woff2') format('woff2'),
		url('../font/Lato-Thin.woff') format('woff'),
		url('../font/Lato-Thin.ttf') format('truetype'),
		url('../font/Lato-Thin.svg#Lato-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/Lato-BoldItalic.eot');
	src: url('../font/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-BoldItalic.woff2') format('woff2'),
		url('../font/Lato-BoldItalic.woff') format('woff'),
		url('../font/Lato-BoldItalic.ttf') format('truetype'),
		url('../font/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}


*
{
	padding:0;
	margin:0;
	box-sizing:border-box
}

a
{
	text-decoration:none;
	outline:none;
	color:inherit
}

body
{
	font-family:"Lato", sans-serif;
	font-weight:400;
	font-size: 14px;
}

img
{
	max-width:1920px;
	width:auto;
	display:block
}

.content, .block
{
	position: relative
}

.container
{
	max-width:1130px;
	width:100%;
	padding:0 15px;
	margin-left:auto;
	margin-right:auto;
	position:relative
}
.orange-color {
	color: #f4b201;
}
.square-button {
	min-width: 160px;
	text-align: center;
	padding: 0 20px;
	text-transform: uppercase;
	height: 45px;
	border-radius: 2px;
	color: inherit;
	cursor: pointer;
}
.white-button {
	background: transparent;
	border: 1px solid #fff;
}
.red-button {
	background: #e20010;
	border: 0;
}

.red-round-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background: #e20010;
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0 0 20px rgba(226,0,16,0.5);
	cursor: pointer;
	transition: 0.5s;
}

.red-round-button:hover {
    animation-name: pulsing;
    -webkit-animation-name: pulsing;

    animation: pulsing 1.5s linear infinite;
    -webkit-animation: pulsing 1.5s linear infinite;
    -moz-animation: pulsing 1.5s linear infinite;
 
    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
 
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    transition: 0.5s;
}
 
@keyframes pulsing {

    0% {
        box-shadow: 0 0 0 20px rgba(226,0,16,0.5); 
    }
    25% {
        box-shadow: 0 0 0 15px rgba(226,0,16,0.5); 
    }
    50% {
        box-shadow: 0 0 0 10px rgba(226,0,16,0.5); 
    }
    75% {
        box-shadow: 0 0 0 15px rgba(226,0,16,0.5); 
    }   
    100% {
        box-shadow: 0 0 0 20px rgba(226,0,16,0.5);
    }           
}
.block-title-left {
	position: relative;
	margin-bottom: 30px;
	line-height: 1;
}
.block-title-left:after {
	position: absolute;
	left: 0;
	bottom: -17px;
	width: 40px;
	height: 2px;
	content: '';
	display: block;
	background: #e20010;
}
.block-title-left span {
	font-weight: 400;
	font-size: 34px;
	display: block;
	text-transform: uppercase;
}
.block-title-left span.bold {
	font-weight: 900;
}
.white-text {
	color: #fff;
}
.black-text {
	color: #000;
}
.block-title-center {
	text-transform: uppercase;
	position: relative;
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}
.block-title-center:after {
	position: absolute;
	left: calc(50% - 20px);
	bottom: -17px;
	width: 40px;
	height: 2px;
	content: '';
	display: block;
	background: #e20010;
}
.block-title-center span.bold {
	font-weight: 700;
}
.slick-arrow {
	cursor: pointer;
	position: absolute;
}
.slick-prev {
	transform: rotate(-180deg);
}

.slick-grey {
	width: 21px;
	height: 37px;
	border: 0;
	background: transparent url(../img/feedback-arrow-right.png) center no-repeat;
	
	top: calc(50% - 18px);
}
.slick-round {
	width: 68px;
	height: 68px;
	border: 0;
	background: transparent url(../img/video-arrow-right.png) center no-repeat;

	top: calc(50% - 34px);
	border: 1px solid #000;
	border-radius: 50%;
}

.slick-prev.slick-grey {
	left: 10px;
}
.slick-next.slick-grey {
	right: 10px;
}

.slick-prev.slick-round {
	left: -184px;
}
.slick-next.slick-round {
	right: -184px;
}
.slick-round:before {
	display: block;
	content: '';
	position: absolute;
	top: 32px;
	height: 1px;
	background: #000;
}

.slick-prev.slick-round:before {	
	right: 100%;
	width: 99px;
}

.slick-next.slick-round:before {
	right: 100%;
	width: 99px;
}

.black-bg {
	background: #131210;
}

.red-bg {
	background: #e20010;
}



.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header-logo {
	display: inline-flex;
	position: relative;
	color: #fff;
	align-items: center;
	text-transform: uppercase;
}
.header-logo span.black {
	font-weight: 900;
	font-size: 27px;
	margin-right: 8px;
	line-height: 17px;
}
.header-logo span.light {
	font-weight: 300;
	font-size: 16px;
	white-space: nowrap;
	letter-spacing: -0.4px;
}
.header-logo:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #00b4ff;
	background: -moz-linear-gradient(left, #00b4ff 0%, #7f2dae 33%, #e31633 66%, #ff9700 100%);
	background: -webkit-linear-gradient(left, #00b4ff 0%,#7f2dae 33%,#e31633 66%,#ff9700 100%);
	background: linear-gradient(to right, #00b4ff 0%,#7f2dae 33%,#e31633 66%,#ff9700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4ff', endColorstr='#ff9700',GradientType=1 );
}

.header-contacts {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header-contact-item {
	display: flex;
	align-items: center;	
	color: #fff;
	position: relative;
}
.header-contact-item:not(:last-child) {
	margin-right: 30px;
} 


.header-contact-item:not(:last-child):after {
	display: block;
	content: '';
	position: absolute;
	right: -16px;
	top: 6px;
	height: 6px;
	width: 1px;
	background: #fff;
}

.header-contact-item .icon {
	width: 25px;
}
.header-popup-item {
	padding-left: 9px;
	padding-right: 9px;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	text-transform: uppercase;
	border-radius: 2px;
	font-weight: 400;
	font-size: 10px;
}




.block-homescreen {
	background: #16151e url(../img/home-bg.jpg) top center no-repeat;
	background-size: cover;
	/*min-height: 840px;*/
	padding-top: 105px;
	padding-bottom: 150px;
}


.block-homescreen .container {
	display: flex;
	justify-content: flex-end;
}


.block-homescreen .right-block {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: #fff;
}

.block-homescreen .button-container {
	margin-right: 25px;
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.block-homescreen .button-title {
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	
	position: relative;
	line-height: 12px;
	margin-bottom: 60px;
}

.block-homescreen .button-title:after {
	display: block;
	content: '';
	width: 8px;
	height: 6px;
	background: url(../img/icon-arrow-down.png) center no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -24px;
	left: calc(50% - 4px);
}

.block-homescreen .personal-info-container {
	text-align: right;
	margin-top: 105px;
}
.block-homescreen .personal-info-title {
	font-size: 54px;
	line-height: 54px;
	position: relative;
	margin-bottom: 38px;
	font-weight: 700;
}
.block-homescreen .personal-info-title:after {
	position: absolute;
	right: 0;
	bottom: -17px;
	width: 40px;
	height: 2px;
	content: '';
	display: block;
	background: #e20010;
}
.block-homescreen .personal-info-description {
	font-weight: 900;
	font-size: 24px;
}
.block-homescreen .personal-info-text {
	font-size: 16px;
	font-weight: 400;
	margin-top: 25px;
}
.block-homescreen .advantages-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
	width: 100%;
}
.block-homescreen .advantage-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block-homescreen .advantage-item-icon {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.block-homescreen .advantage-item-text {
	font-size: 16px;
	font-weight: 400;
	margin-top: 15px;
	text-align: center;
}


.block-biography .container {
	position: relative;
}
.block-partner-photo {
	position: absolute;
	bottom: calc(100% + 150px);
	left: 50px;
}
.block-partner-circle {
	width: 1100px;
	height: 184px;
	background: url(../img/white-hill-top.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 100%;
	left: -275px;
}
.block-partner-button-container {
	position: absolute;
	top: -225px;
	left: 190px;
	width: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.biography-button-title {
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;	
	position: relative;
	line-height: 12px;
	margin-top: 60px;
}

.biography-button-title:after {
	display: block;
	content: '';
	width: 8px;
	height: 6px;
	background: url(../img/icon-arrow-down-black.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -22px;
	left: calc(50% - 4px);
}

.block-biography-text {
	/*height: 0;*/
	display: none;
	padding-top: 30px;
	padding-bottom: 15px;
	overflow: hidden;
	width: 100% !important;
}







.block-posts {
	padding-top: 55px;
	padding-bottom: 65px;
}
.posts-container {
	display: flex;
	flex-wrap: wrap;
}
.post-item {
	width: calc((100% / 3) - 16px);
	display: block;
	transition: 0.5s;
	position: relative;
}
.post-item:after {
	transition: 0.5s;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';	
	background: rgba(255,255,255,0);
	z-index: 1;
	transition: 0.5s;
}
.post-item:hover:after {	
	background: rgba(255,255,255,0.8);
	transition: 0.5s;
}
.post-item:hover .post-item-photo img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition: 0.5s;
}
.post-item:hover .post-item-date-inner {
	background: grey;
}
.post-item:nth-child(-n+2) {
	margin-right: 24px;
}
.post-item-photo {
	height: 220px;
	overflow: hidden;
	position: relative;
}
.post-item-photo img {
	min-width: 350px;
	min-height: 220px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -50%;
	bottom: -50%;
	left: -50%;
	right: -50%;
	margin: auto;
	object-fit: cover;
	z-index: 1;
	transition: 0.5s;
}
.post-item-date {
	position: absolute;
	border: 1px solid #000;
	top: 120px;
	right: 10px;
	z-index: 1;
}
.post-item-date-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	background: #e20010;
	color: #fff;
	margin: 12px;
	transition: 0.5s;
}
.day {
	font-size: 24px;
	font-weight: 900;
}
.month {
	font-size: 12px;
	font-weight: 300px;
}
.post-item-body {
	padding: 25px 28px;
}
.post-item-title {
	position: relative;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 14px;
	margin-bottom: 28px;
}
.post-item-title:after {
	display: block;
	position: absolute;
	bottom: -14px;
	left: 0;
	width: 20px;
	height: 1px;
	background: #000;
	content: '';
}

.post-item-text {
	font-size: 16px;
	font-weight: 300;
	text-align: justify;
	text-align-last: left;
}



.block-product-single {
	background-position: center center;
	background-size: cover;
	padding-bottom: 60px;
}
.block-product-single .product-item-price-container {
	position: static;
}
.single-product-info {
	max-width: 360px;
}
.block-product-single .block-title-left {
	margin-top: 55px;
	margin-bottom: 35px;
}
.block-product-single .block-title-left span {
	font-weight: 900;
}
.single-product-info-descr {
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	text-align: justify;
	text-align-last: left;
}
.single-product-info-parameters {
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
}
.single-product-parameter {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
}
.single-product-parameter:not(:last-child) {
	margin-bottom: 25px;
	margin-right: 20px;
}
.single-product-parameter .icon {
	width: 25px;
}
.single-product-parameter span {
	padding-top: 3px;
}
.block-product-single .red-button {
	margin-top: 50px;
}





.block-products {
	padding-top: 50px;
	padding-bottom: 70px;
}

.block-products .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-item {
	width: calc(50% - 15px);
	position: relative;

}
.product-item:not(:last-child) {
	margin-bottom: 25px;
}
.product-item-photo {
	height: 240px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.product-item-photo:after {
	display: block;
	width: calc(100% + 2px);
	height: 45px;
	content: '';
	position: absolute;
	bottom: 0;
	right: -1px;
	left: -1px;
	background: url(../img/item-photo-mask.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100% 45px;
	z-index: 1;
}


.product-item-photo img {
	min-width: 530px;
	min-height: 240px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -50%;
	bottom: -50%;
	left: -50%;
	right: -50%;
	margin: auto;
	object-fit: cover;
	z-index: 1;
}
.product-item-price-container {
	display: flex;
	position: absolute;
	left: 0;
	top: 30px;
	z-index: 2;
}

.product-item-price-currency {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: #e20010;
}
.product-item-price-value {
	padding: 17px 18px 0;
	min-width: 100px;
	height: 50px;
	white-space: nowrap;
	display: flex;
	align-items: flex-start;
	line-height: 1;
	font-weight: 900;
	
}
.thousands-value {
	font-size: 23px;
}
.hundreds-value {
	font-size: 18px;
	margin-left: 5px;
}

.product-item-type-info {
	display: flex;
	position: absolute;
	right: 0;
	top: 30px;
	z-index: 2;
}

.product-item-type {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-item-info {
	padding: 0 8px;
	display: flex;
	align-items: center;
	text-align: right;
	font-size: 14px;
	font-weight: 400;
}

.product-item-link {
	position: absolute;
	top: 215px;
	left: calc(50% - 74px);
	font-size: 12px;
	width: 148px;
	z-index: 2;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	min-width: 148px;
}
.product-item-description {
	margin-top: 35px;
	text-align: center;
}

.product-item-title {
	color: #000;
	margin-bottom: 40px;
	position: relative;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
}
.product-item-title:after {
	display: block;
	width: 40px;
	height: 2px;
	background: #e20010;
	position: absolute;
	bottom: -21px;
	left: calc(50% - 20px);
	content: '';
}
.product-item-text {
	font-weight: 300;
	max-width: 430px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	margin-bottom: 40px;
	position: relative;
}
.product-item-text:after {
	display: block;
	width: 40px;
	height: 2px;
	background: #e7e7e7;
	position: absolute;
	bottom: -21px;
	left: calc(50% - 20px);
	content: '';
}
.product-item-address {
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
}
.product-item-address:after {
	display: block;
	content: '';
	width: 31px;
	height: 41px;
	background: url(../img/icon-marker-red.png);
	position: relative;
	left: calc(50% - 15px);
	margin-top: 10px;
}




.block-help {
	background: url(../img/block-help-bg.png) center no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 145px;
	text-align: center;
}

.block-help .block-title-center {
	font-size: 40px;
	font-weight: 900;
}
.block-help .title-description {
	font-size: 34px;
	font-weight: 900;
}
.block-help .red-button {
	margin: 35px auto 0;
	display: inline-block;
}




.block-videos {
	padding-bottom: 155px;
}
.block-videos .block-title-center {
	position: relative;
	top: -10px;
}
.block-videos .title-description {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	position: relative;
	top: -10px;
	margin-bottom: -10px;
}
.videos-slider {
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 585px;
}
.videos-slider:before {
	display: block;
	content: '';
	position: absolute;
	width: 766px;
	height: 485px;
	top: -25px;
	left: calc(50% - 373px);
	background: url(../img/macbook.png) center no-repeat;
	background-size: contain;
}
.video-item {
	width: 584px;
	height: 363px;
}










.block-feedback {
	padding-top: 48px;
	padding-bottom: 48px;
	background: #fbfbfb;
}
.block-feedback .title-description {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.feedback-slider {
	margin-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
}
/*.feedback-item {
	width: calc(50% - 30px) !important;
}
.feedback-item:nth-child(2n+1) {
	margin-right: 60px;
}*/
.feedback-item {
	padding: 0 15px;
}
.feedback-item-head {
	display: flex;
}
.feedback-author-photo {
	width: 100px;
	height: 100px;
	border-radius: 50px 50px 0 50px;
	overflow: hidden;
	position: relative;
}
.feedback-author-photo img {
	min-width: 100px;
	min-height: 100px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -50%;
	bottom: -50%;
	left: -50%;
	right: -50%;
	margin: auto;
	object-fit: cover;
}
.feedback-author-title {
	width: calc(100% - 100px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	padding-left: 20px;
}
.feedback-author-title:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -1px;
	left: 20px;
	width: 40px;
	height: 1px;
	background: #e20010;
}
.feedback-author-name {
	font-size: 24px;
	font-weight: 400;
}
.feedback-author-job {
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
}

.feedback-item-body {
	margin-top: 30px;
}
.feedback-item-message {
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
}
.feedback-item-message p:not(:last-child) {
	margin-bottom: 20px;
}
.feedback-item-photos {
	display: flex;
	margin-top: 15px;
	width: 100%;
}
.feedback-item-photo {
	width: 32%;
	height: 100px;
	overflow: hidden;
	position: relative;
}
.feedback-item-photo:not(:last-child) {
	margin-right: 2%;
}
.feedback-item-photo img {
	min-width: 150px;
	min-height: 100px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -50%;
	bottom: -50%;
	left: -50%;
	right: -50%;
	margin: auto;
	object-fit: cover;
}







.block-cooperation {
	background: url(../img/coop-bg.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.block-cooperation .container {
	position: relative;	
	padding-top: 75px;
	padding-bottom: 67px;
}
.block-cooperation .container:before {
	display: block;
	z-index: 1;
	content: '';
	display: block;
	background: url(../img/broker.png);
	position: absolute;
	top: -30px;
	right: 0;
	width: 445px;
	height: 1004px;
}
.block-cooperation .title-description {
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
}

.cooperation-items {
	display: flex;
	flex-wrap: wrap;
	max-width: 550px;
	justify-content: space-between;
	margin-top: 70px;
}
.cooperation-item {
	display: flex;
	width: 250px;
}
.cooperation-item:not(:last-child) {
	margin-bottom: 35px;
}
.cooperation-item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px dotted #fff;
	width: 40px;
	height: 40px;
}
.cooperation-item-text {
	margin-left: 17px;
	font-weight: 300;
	width: calc(100% - 57px);
}
.block-cooperation .buttons-container {
	margin-top: 73px;
}
.block-cooperation .buttons-container .white-button {
	margin-right: 20px;
}



.block-contacts {
	min-height: 600px;
	padding-top: 88px;
	padding-bottom: 88px;
	background: url(../img/block-contacts-bg.jpg) center no-repeat;
	background-size: cover;
}


.contacts-container {
	display: flex;
}
.contacts-column:first-child {
	max-width: 585px;
	flex-grow: 1;
}

.contacts-column-item {
	display: flex;
	align-items: center;	
	font-size: 14px;
	font-weight: 400
}
.contacts-column-item:not(:last-child) {
	margin-bottom: 30px;
} 
.contacts-column-item .icon {
	width: 25px;
}
.contacts-column-item a {
	font-weight: 700;
	margin-left: 5px;
}
.contacts-column .button-container {
	display: flex;
	align-items: center;
	margin-top: 110px;
}
.contacts-column .button-container span {
	display: block;
	margin-left: 43px;
	font-size: 12px;
	text-transform: uppercase;
}

.footer {
	padding: 55px 0;
	background: #0d0d10;
}
.footer-top .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-contacts {
	display: flex;
	align-items: center;
}
.footer-contact-item {
	display: flex;
	align-items: center;
	color: #ebebeb;
	position: relative;
}
.footer-contact-item:not(:last-child) {
	margin-right: 30px;
} 


.footer-contact-item:not(:last-child):after {
	display: block;
	content: '|';
	position: absolute;
	right: -16px;
	top: 0px;
	color: #696970;
}

.footer-contact-item .icon {
	width: 25px;
	opacity: 0.5;
}

.footer-socials {
	display: flex;
}


.footer-social-item {
	width: 31px;
	height: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	transition: 0.5s;
	border-radius: 50%;
}

.footer-social-item:not(:last-child) {
	margin-right: 10px;
}
.footer-social-item:hover {
	transition: 0.5s;
	border-color: #e20010;
	background: #e20010
}

.footer .copyright {
	margin-top: 40px;
	text-align: center;
	color: #4a4a52;
}

@media screen and (min-width: 992px) and (max-width: 1129px) {
	.header-logo span.light {
		font-size: 12px;
	}
}


@media screen and (max-width: 768px) and (max-width: 991px) {
	.header-logo span.black {
		margin-right: 0;
	}
	.header-logo span.light {
		display: none;
	}
}

























