@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Montserrat+Alternates:wght@600&family=Montserrat:wght@300;500&display=swap');
:root {
    --black: #373836;
    --blue: #49586D;
    --peach: #EA8887;

    --red: #DE1313;

    --grey-white: #fbf8f5;
    --grey: #f0f0f0;
    --grey-dark: #dcdbd9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    font-weight: 300;
}
@media screen and (max-width: 1024px) {
    body.menu-open .wrapper,
    body.modal-open .wrapper {
        overflow: hidden;
        height: 100vh;
    }
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

button {
    cursor: pointer;
}
input::placeholder {
    font-family: inherit;
    opacity: 1;
}

.wrap {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .wrap {
        padding: 0 10px;
    }
}

.block-title {
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .block-title {
        font-size: 44px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 768px) {
    .block-title {
        font-size: 40px;
    }
}
@media screen and (max-width: 640px) {
    .block-title {
        font-size: 36px;
    }
}

.button {
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    font-size: 26px;
    transition: 0.5s;
}
@media screen and (max-width: 1024px) {
    .button {
        height: 60px;
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) {
    .button {
        font-size: 22px;
    }
}
.button.blue {
    color: #DAE4E5;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.6);
    border-color: var(--blue);
}
.button.peach {
    color: #fff;
    background-color: var(--peach);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: var(--peach);
}
.button.transparent {
    color: var(--blue);
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.6);
    border-color: #000;
}
.button.white {
    color: var(--blue);
    background-color: var(--grey-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #fff;
}

@media screen and (max-width: 768px) {
    .header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}
.header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    width: 100%;
    max-width: 190px;
}
@media screen and (max-width: 768px) {
    .header .logo {
        max-width: 140px;
    }
}
.header .menu {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-bottom: 25px;
}
@media screen and (max-width: 1024px) {
    .header .menu {
        height: 100vh;
        position: absolute;
        top: -100vh;
        left: 0;
        right: 0;
        background-color: var(--blue);
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s, top 0.5s;
        z-index: 999;
    }
    body.menu-open .header .menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
    }
}

.header .menu-link {
    font-size: 23px;
    line-height: 28px;
    font-weight: 500;
}
@media screen and (max-width: 1024px) {
    .header .menu-link {
        color: #fff;
        font-size: 26px;
        line-height: 1.2;
    }
}
.header .menu-link:not(:last-child) {
    margin-right: 35px;
}
@media screen and (max-width: 1024px) {
    .header .menu-link:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
.header .burger {
    display: none;
    border: 0;
    background-color: transparent;
    pointer-events: none;
    z-index: 1000;
}
.header .burger span {
    width: 40px;
    height: 2px;
    display: block;
    background-color: var(--blue);
    transition: 0.5s;
}
.header .burger span:not(:last-child) {
    margin-bottom: 11px;
}
@media screen and (max-width: 1024px) {
    .header .burger {
        display: block;
        pointer-events: auto;
    }
    body.menu-open .header .burger span {
        background-color: #fff;
    }
}



.homescreen {
    padding-top: 180px;
    padding-bottom: 210px;
}
@media screen and (max-width: 768px) {
    .homescreen {
        height: 100vh;
        min-height: 640px;
        max-height: 1024px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    .homescreen .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.homescreen .block-title {
    font-size: 70px;
    line-height: 85px;
    text-align: left;
}
@media screen and (max-width: 1024px) {
    .homescreen .block-title {
        font-size: 56px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 768px) {
    .homescreen .block-title {
        font-size: 44px;
        text-align: center;
    }
    .homescreen .block-title br {
        display: none;
    }
}
.homescreen .buttons {
    display: flex;
    align-items: center;
    margin-top: 44px;
}
@media screen and (max-width: 768px) {
    .homescreen .buttons {
        flex-direction: column;
    }
}
.homescreen .button {
    min-width: 376px;
}
@media screen and (max-width: 1024px) {
    .homescreen .button {
        min-width: 290px;
    }
}
@media screen and (max-width: 768px) {
    .homescreen .button {
        min-width: initial;
        width: 100%;
        max-width: 320px;
    }
}
.homescreen .button:not(:last-child) {
    margin-right: 9px;
}
@media screen and (max-width: 768px) {
    .homescreen .button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}
@media screen and (max-width: 480px) {
    .gallery {
        padding: 0 4px;
        grid-gap: 4px;
    }
}
.gallery .left-col {
    display: grid;
    grid-gap: 10px;
    align-self: start;
}
@media screen and (max-width: 480px) {
    .gallery .left-col {
        grid-gap: 4px;
    }
}
.gallery .top-row {
    display: grid;
    justify-content: end;
}
.gallery .bottom-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
}
@media screen and (max-width: 1024px) {
    .gallery .bottom-row {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 480px) {
    .gallery .bottom-row {
        grid-gap: 4px;
    }
}
.gallery .right-col {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
    align-self: start;
}
@media screen and (max-width: 1024px) {
    .gallery .right-col {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
}
@media screen and (max-width: 480px) {
    .gallery .right-col {
        grid-gap: 4px;
    }
}
.gallery .left-subcol {
    display: grid;
    grid-gap: 10px;
}
@media screen and (max-width: 480px) {
    .gallery .left-subcol {
        grid-gap: 4px;
    }
}
.gallery .right-subcol {
    align-self: center;
    display: grid;
}
@media screen and (max-width: 768px) {
    .gallery .right-subcol {
        align-self: start;
    }
}
.gallery .photo {
    overflow: hidden;
    border-radius: 8px;
    align-self: start;
}
@media screen and (max-width: 768px) {
    .gallery .photo {
        width: calc(50vw - 15px);
        height: 25vw;
        position: relative;
    }
    .gallery .right-subcol .photo {
        align-self: flex-start;
    }
}
@media screen and (max-width: 480px) {
    .gallery .photo {
        border-radius: 4px;
        width: calc(50vw - 6px);
    }
}
.gallery .photo img {
    object-fit: cover;
    max-width: initial;
    min-width: 100%;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .gallery .photo img {
        position: absolute;
        top: -50%;
        left: -50%;
        right: -50%;
        bottom: -50%;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
    }
}





.about-author {
    margin-top: 160px;
    padding-top: 50px;
}
@media screen and (max-width: 1024px) {
    .about-author {
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .about-author {
        margin-top: 50px;
        padding-top: 30px;
    }
}
.about-author .block-content {
    display: flex;
    align-items: flex-start;
    margin-top: 90px;
}
@media screen and (max-width: 1024px) {
    .about-author .block-content {
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .about-author .block-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.about-author .author-photo {
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 50px;
    width: 40%;
}
@media screen and (max-width: 1024px) {
    .about-author .author-photo {
        margin-right: 30px;
    }
}
@media screen and (max-width: 768px) {
    .about-author .author-photo {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
.about-author .title-descr {
    font-size: 40px;
    line-height: 49px;
}
@media screen and (max-width: 1024px) {
    .about-author .title-descr {
        font-size: 32px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 768px) {
    .about-author .title-descr {
        text-align: center;
        font-size: 26px;
    }
}
.about-author .descr {
    font-size: 30px;
    line-height: 37px;
    margin-top: 40px;
}
@media screen and (max-width: 1024px) {
    .about-author .descr {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .about-author .descr {
        font-size: 20px;
        margin-top: 30px;
    }
}
.about-author .descr p:not(:last-child) {
    margin-bottom: 37px;
}
@media screen and (max-width: 1024px) {
    .about-author .descr p:not(:last-child) {
        margin-bottom: 30px;
    }
}
.about-author .descr ul {
    padding-left: 30px;
}


.guides {
    margin-top: 110px;
    padding-top: 50px;
}
@media screen and (max-width: 1024px) {
    .guides {
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .guides {
        margin-top: 50px;
        padding-top: 30px;
    }
}
.guides .title-descr {
    font-size: 30px;
    line-height: 37px;
    margin-top: 20px;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .guides .title-descr {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .guides .title-descr {
        font-size: 20px;
    }
}
.guides .guides-list {
    margin-top: 70px;
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .guides .guides-list {
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .guides .guides-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

.info-item {
    width: calc((100% - 60px) / 3);
    background-color: var(--grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .info-item {
        width: calc((100% - 30px) / 3);
    }
}
@media screen and (max-width: 768px) {
    .info-item {
        width: 100%;
    }
}
.info-item .title {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 8px 8px 0 0;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
}
.info-item .title.blue {
    background-color: var(--blue);
}
.info-item .title.peach {
    background-color: var(--peach);
}
@media screen and (max-width: 1024px) {
    .info-item .title {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .info-item .title {
        font-size: 20px;
        min-height: 100px;
        max-width: 100%;
    }
}
.info-item .body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 545px;
    background-color: var(--grey);
    padding: 28px 30px 34px;
    border-radius: 0 0 8px 8px;
    width: 100%;
    flex-grow: 1;
}
@media screen and (max-width: 768px) {
    .info-item .body {
        min-height: initial;
    }
}
.info-item .content {
    flex-grow: 1;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.8;
}
.info-item .price {
    min-height: 75px;
    padding-left: 12px;
}
.info-item .price-title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}
.info-item .price-value {
    font-size: 40px;
    line-height: 49px;
    margin-top: 6px;
}
.info-item .descr {
    margin-top: 25px;
}
.info-item .descr:first-child {
    margin-top: 100px;
}
@media screen and (max-width: 768px) {
    .info-item .descr:first-child {
        margin-top: 0;
    }
}
.info-item .descr ul {
    list-style: none;
}
.info-item .descr li {
    position: relative;
    padding-left: 20px;
}
.info-item .descr li:before {
    position: absolute;
    left: -3px;
    top: 11px;
    width: 16px;
    height: 12px;
    display: block;
    content: '';
    background: transparent url('../img/check.svg') center no-repeat;
    background-size: contain;
}
.info-item .button {
    width: 100%;
    margin-top: 30px;
}



.reviews {
    margin-top: 160px;
    padding-top: 50px;
}
@media screen and (max-width: 1024px) {
    .reviews {
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .reviews {
        margin-top: 50px;
        padding-top: 30px;
    }
}
.reviews .block-title {
    text-align: left;
}
@media screen and (max-width: 768px) {
    .reviews .block-title {
        text-align: center;
    }
}
.reviews .reviews-list {
    margin-top: 80px;
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .reviews .reviews-list {
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .reviews .reviews-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
.reviews .review-item {
    width: calc(50% - 15px);
    background-color: var(--grey);
    border-radius: 8px;
    flex-grow: 0;
    padding: 65px;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
    .reviews .review-item {
        width: calc(50% - 7.5px);
        padding: 40px;
    }
}
@media screen and (max-width: 768px) {
    .reviews .review-item {
        width: 100%;
        min-height: 300px;
        padding: 40px 20px 20px;
    }
}
.reviews .review-item .title {
    font-size: 30px;
    line-height: 37px;
    width: 100%;
    flex-grow: 0;
}
@media screen and (max-width: 1024px) {
    .reviews .review-item .title {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .reviews .review-item .title {
        font-size: 20px;
    }
}
.reviews .review-item .title-descr {
    margin-top: 10px;
    font-size: 26px;
    line-height: 32px;
    width: 100%;
    flex-grow: 0;
}
@media screen and (max-width: 1024px) {
    .reviews .review-item .title-descr {
        font-size: 18px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 768px) {
    .reviews .review-item .title-descr {
        font-size: 16px;
    }
}
.reviews .review-item .title-descr:only-child {
    margin-top: 0;
}
.reviews .review-item .descr {
    color: var(--red);
    font-size: 40px;
    line-height: 48px;
    font-family: 'Cormorant', serif;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .reviews .review-item .descr {
        font-size: 32px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 768px) {
    .reviews .review-item .descr {
        font-size: 24px;
    }
}




.info {
    margin-top: 160px;
    padding-top: 50px;
}
@media screen and (max-width: 1024px) {
    .info {
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .info {
        margin-top: 50px;
        padding-top: 30px;
    }
}
.info .block-title {
    text-align: left;
}
@media screen and (max-width: 768px) {
    .info .block-title {
        text-align: center;
    }
}
.info .title-descr {
    font-size: 30px;
    line-height: 37px;
    margin-top: 20px;
}
@media screen and (max-width: 1024px) {
    .info .title-descr {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .info .title-descr {
        font-size: 20px;
        text-align: center;
    }
}
.info .info-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 80px;
}
@media screen and (max-width: 1024px) {
    .info .info-list {
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .info .info-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}



.cta {
    margin-top: 160px;
    padding-top: 50px;
}
@media screen and (max-width: 1024px) {
    .cta {
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .cta {
        margin-top: 50px;
        padding-top: 30px;
    }
}
.cta .title-descr {
    font-size: 30px;
    line-height: 37px;
    margin: 20px auto 0;
    max-width: 1100px;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .cta .title-descr {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .cta .title-descr {
        font-size: 20px;
    }
}

.cta .form-wrapper {
    background-color: var(--blue);
    margin: 80px auto 0;
    max-width: 730px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 25px 20px;
}
@media screen and (max-width: 1024px) {
    .cta .form-wrapper {
        margin: 50px auto 0;
        padding: 50px 25px 20px;
    }
}
@media screen and (max-width: 768px) {
    .cta .form-wrapper {
        margin: 30px auto 0;
        padding: 30px 20px 20px;
        max-width: 100%;
    }
}
.cta .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 454px;
    margin: 0 auto;
}
.cta .input {
    background: rgba(251, 248, 245, 0.6);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 0;
    border-radius: 8px;
    font-size: 26px;
    color: #393939;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
}
@media screen and (max-width: 1024px) {
    .cta .input {
        font-size: 24px;
    }
}
.cta .input:not(:last-of-type) {
    margin-bottom: 14px;
}
.cta .checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .cta .checkbox-label {
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    .cta .checkbox-label {
        font-size: 14px;
    }
}
.cta .checkbox-custom {
    background: rgba(251, 248, 245, 0.6);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-right: 6px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
}
.cta input:checked + .checkbox-custom:before {
    background-color: #fff;
    display: block;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 5px;
}
.cta .button {
    margin-top: 20px;
    width: 100%;
}
.cta .annotation {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-top: 18px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .cta .annotation {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 10px;
    }
}


.footer {
    padding-top: 210px;
    padding-bottom: 80px;
}
@media screen and (max-width: 1024px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        padding-top: 50px;
        padding-top: 30px;
    }
}
.footer .footer-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
@media screen and (max-width: 640px) {
    .footer .footer-top {
        flex-direction: column;
        align-items: center;
    }
}
.footer .logo {
    max-width: 144px;
}
.footer .socials {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 640px) {
    .footer .socials {
        margin-top: 30px;
    }
}
.footer .socials .title {
    font-size: 30px;
    line-height: 37px;
    margin-right: 37px;
}
@media screen and (max-width: 1024px) {
    .footer .socials .title {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .footer .socials .title {
        font-size: 20px;
        margin-right: 30px;
    }
}
.footer .social {
    max-width: 40px;
}
@media screen and (max-width: 768px) {
    .footer .social {
        max-width: 45px;
    }
}
.footer .social:not(:last-child) {
    margin-right: 22px;
}
@media screen and (max-width: 768px) {
    .footer .social:not(:last-child) {
        margin-right: 15px;
    }
}
.footer .footer-center {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 60px;
}
@media screen and (max-width: 1024px) {
    .footer .footer-center {
        margin-top: 50px;
    }
}
@media screen and (max-width: 640px) {
    .footer .footer-center {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
}
.footer .contacts,
.footer .policy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width: 640px) {
    .footer .contacts {
        align-items: center;
    }
}
.footer .contacts .title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 27px;
}
@media screen and (max-width: 1024px) {
    .footer .contacts .title {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media screen and (max-width: 768px) {
    .footer .contacts .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 640px) {
    .footer .policy {
        align-items: center;
        margin-top: 30px;
    }
}
.footer .contact-link,
.footer .policy-link {
    font-size: 26px;
    line-height: 32px;
}
@media screen and (max-width: 1024px) {
    .footer .contact-link,
    .footer .policy-link {
        font-size: 24px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 768px) {
    .footer .contact-link,
    .footer .policy-link {
        font-size: 20px;
    }
}
@media screen and (max-width: 640px) {
    .footer .contact-link:not(:last-child) {
        margin-bottom: 12px;
    }
}
.footer .policy-link:not(:last-child) {
    margin-bottom: 12px;
}
.footer .copyright {
    /* font-size: 20px; */
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 125px;
}
@media screen and (max-width: 1024px) {
    .footer .copyright {
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .footer .copyright {
        font-size: 16px;
    }
}
@media screen and (max-width: 640px) {
    .footer .copyright {
        margin-top: 30px;
    }
}
.footer .copyright img {
    display: inline;
    margin: 0 3px;
}
.footer .copyright a {
    text-decoration: underline;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.modal-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}
.modal-body {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 730px;
    margin: auto;
    padding: 30px;
}
.modal-content {
    border-radius: 8px;
    background-color: var(--blue);
    margin: 80px auto 0;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px 20px;
    position: relative;
}
@media screen and (max-width: 1024px) {
    .modal .form-wrapper {
        margin: 50px auto 0;
        padding: 50px 25px 20px;
    }
}
@media screen and (max-width: 768px) {
    .modal .form-wrapper {
        margin: 30px auto 0;
        padding: 30px 20px 20px;
        max-width: 100%;
    }
}
.modal-title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #fff;
}
.modal-title-descr {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: 0;
}
.modal-close svg {
    width: 25px;
    height: 25px;
}
.modal-close svg path {
    fill: #fff;
}
.modal .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 454px;
    margin: 0 auto;
    margin-top: 30px;
}
.modal .input {
    background: rgba(251, 248, 245, 0.6);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 0;
    border-radius: 8px;
    font-size: 26px;
    color: #393939;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
}
@media screen and (max-width: 1024px) {
    .modal .input {
        font-size: 24px;
    }
}
.modal .input:not(:last-of-type) {
    margin-bottom: 14px;
}
.modal .checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .modal .checkbox-label {
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    .modal .checkbox-label {
        font-size: 14px;
    }
}
.modal .checkbox-custom {
    background: rgba(251, 248, 245, 0.6);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-right: 6px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
}
.modal input:checked + .checkbox-custom:before {
    background-color: #fff;
    display: block;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 5px;
}
.modal .button {
    margin-top: 20px;
    width: 100%;
}
.modal .annotation {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-top: 18px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .modal .annotation {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 10px;
    }
}