/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic-ext,latin-ext');*/
body {
	font-family: 'Roboto', sans-serif;
    font-size: 13px;
	font-weight: 400;
	color: var(--black);
    -webkit-text-size-adjust: none;
}
:root {
	--blue: #2862ac;
	--blue-light: #24abea;
	--grey-dark: #757575;
	--grey: #999;
    --grey-medium: #bcbdc1;
    --grey-light: #eff0f2;
    --grey-ultralight: #eaeaea;
    --grey-white: #f0f0f0;
	--grey-blue: #738c98;
    --black: #001c29;
    --black-light: #1d1d1d;
    --yellow: #e3d107;
    --orange: #deac13;
    --orange-bright: #e9b524;
    --apricot: #fffbc9;
    --green: #82ff17;
    --torque: #bce7fa;
    --peach: #f78e02;
    --red: #e72222;
    --red-dark: #d41422;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}
*:active,
*:focus {
    outline: none;
    outline: 0;
}

input::-webkit-input-placeholder {
	font-family: inherit;
	font-size: inherit;
	opacity: 1;
}
input::-moz-placeholder          {
	font-family: inherit;
	font-size: inherit;
	opacity: 1;
}
input:-moz-placeholder           {
	font-family: inherit;
	font-size: inherit;
	opacity: 1;
}
input:-ms-input-placeholder      {
	font-family: inherit;
	font-size: inherit;
	opacity: 1;
}
input::placeholder {
    opacity: 1;
    font-weight: 400;
}
input {
    color: var(--black);
    border-radius: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

a {
	text-decoration: none;
	color: inherit;
}
img {
	display: block;
	max-width: 100%;
}
button {
    cursor: pointer;
}
a, button, input, textarea, select {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
select {
    opacity: 0;
}
.wrap {
	max-width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    position: relative;
}

.button {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	background-color: var(--blue-light);
	border: 1px solid var(--blue-light);
	transition: 0.5s;
	min-width: 130px;
    height: 36px;
    display: block;
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover {
    box-shadow: 0 18px 9px -11px rgba(36,171,234,.35);
    background-color: var(--blue);
    transition: 0.5s;
}
.button.white {
    background-color: #fff;
    color: var(--blue-light);
}
.button.white:hover {
    box-shadow: 0 18px 9px -11px rgba(255,255,255,.35);
    color: var(--blue);
    border-color: var(--blue);
}
.button.transparent {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.button.transparent:hover {
    box-shadow: 0 18px 9px -11px rgba(255,255,255,.35);
}
.button.grey {
    background-color: var(--grey);
    border-color: transparent;
    color: #fff;
}
.button.grey:hover {
    background-color: var(--grey-dark);
    box-shadow: 0 18px 9px -11px rgba(24,24,24,.35);
}
.button.orange {
    background-color: var(--orange-bright);
    border-color: var(--orange-bright);
    color: #fff;
}
.button.orange:hover {
    box-shadow: 0 18px 9px -11px rgba(233,181,36,.35);
}
.button.white-orange {
    background-color: #fff;
    border-color: var(--orange);
    color: var(--orange);
}
.button.white-bluelight {
    background-color: #fff;
    border-color: var(--blue-light);
    color: var(--blue-light);
}
.button.white-bluelight:hover {
    background-color: #fff;
    border-color: var(--blue);
    color: var(--blue);
    box-shadow: 0 18px 9px -11px rgba(36,171,234,.35);
}

.block-title {
    font-size: 19px;
    /*line-height: 26px;*/
    line-height: 1;
    color: var(--black);
    position: relative;
    font-weight: 500;
}
.block-title.orange {
    color: var(--orange);
}
.block-title:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--blue-light);
    width: 55px;
    height: 2px;
    bottom: -10px;
}
.block-title.orange:after {
    background-color: var(--orange);
}


.stars-rate-group {
    position: relative;
    flex-shrink: 0;
}
.stars-rate-group .stars-rate {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.stars-rate-group .stars-rate-current {
    position: absolute;
    top: 0;
    left: 0;
}
.stars-rate-group .stars-rate.grey .star {
    background-image: url('../img/icon-star-grey.png');
}
.stars-rate-group .stars-rate.blue .star {
    background-image: url('../img/icon-star-blue.png');
}
.stars-rate-group .stars-rate.bluelight .star {
    background-image: url('../img/icon-star-bluelight.png');
}
.stars-rate-group .stars-rate.yellow .star {
    background-image: url('../img/icon-star-yellow.png');
}
.stars-rate-group .stars-rate.white .star {
    background-image: url('../img/icon-star-white.png');
}
.stars-rate-group .star {
    width: 12px;
    height: 11px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0;
    background-size: 12px 11px;
}
.stars-rate-group .star:not(:last-child) {
    margin-right: 7px;
}
.stars-rate-group + .rate-number {
    margin-left: 16px;
}


.slider-top-controls .slick-arrow,
.slider-bottom-controls .slick-arrow {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: var(--blue-light);
    /*top: -72px;*/
    font-size: 0;
    color: transparent;
    border: 0;
    background-position: center;
    background-size: 6px 9px;
    background-repeat: no-repeat;
    transition: 0.5s;
    background-image: url('../img/arrow-right-white.png');
}
.slider-top-controls .slick-arrow:not(.slick-disabled):hover,
.slider-bottom-controls .slick-arrow:not(.slick-disabled):hover {
    background-color: var(--blue);
    transition: 0.5s;
}
.slider-top-controls .slick-disabled,
.slider-bottom-controls .slick-disabled {
    background-color: var(--grey-light);
    cursor: default;
}
.slider-top-controls .slick-prev,
.slider-bottom-controls .slick-prev {
    transform: rotate(-180deg);
    right: 66px;
}
.slider-top-controls .slick-next,
.slider-bottom-controls .slick-next {
    right: 0;
}
.slider-top-controls .slick-arrow {
    top: -61px;
}
.slider-bottom-controls .slick-arrow {
    bottom: 0;
}





/*ScrollBar plugin*/
    .mCSB_inside > .mCSB_container  {
        margin-right: 21px;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        background-color: var(--grey-light);
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: var(--grey);
        width: 2px;
    }
    .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
        background-color: var(--grey-dark);
    }

/*ScrollBar plugin*/

/*select plugin*/
    .jq-selectbox select {
        display: none;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }
    .jq-selectbox.focused .jq-selectbox__select {
        border-color: var(--grey);
    }
    
    .pl_ios .jq-selectbox__dropdown {
        display: none;
    }
    .pl_ios .jq-selectbox__dropdown.open {
        display: block !important;
    }
    .jq-selectbox li {
        transition: 0.5s;
    }
    .jq-selectbox li:hover {
       background-color: rgba(36, 171, 234, 0.25);
       transition: 0.5s;
    }
/*select plugin*/

.slick-slider:not(.slick-initialized) {
    opacity: 0;
    transition: opacity 0.5s;
}
.slick-slider.slick-initialized {
    opacity: 1;
    transition: opacity 0.5s;
}


.gmnoprint {
    display: none;
}

@-webkit-keyframes progress-bar {
   0% { width: 0; }
   20% { width: 0; }
}
@-moz-keyframes progress-bar {
   0% { width: 0; }
   20% { width: 0; }
}
@keyframes progress-bar {
   0% { width: 0; }
   20% { width: 0; }
}


.map-control-buttons {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}
.map-control-buttons .map-show-button {
    height: 36px;
    line-height: 34px;
    border: 1px solid var(--grey);
    padding-right: 11px;
    padding-left: 36px;
    position: relative;
    margin-right: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.map-control-buttons .map-show-button:hover {
    transition: 0.5s;
    color: var(--blue-light);
}
.map-control-buttons .map-show-button:before {
    display: block;
    content: '';
    pointer-events: none;
    width: 15px;
    height: 22px;
    background: transparent url('../img/icon-marker-blue.png') center no-repeat;
    background-size: contain;
    position: absolute;
    left: 10px;
    top: calc(50% - 11px);
}
.map-control-buttons .jq-selectbox {
        position: static;
        z-index: 1;
        width: 100%;
}
.map-control-buttons .jq-selectbox__select {
    width: 100%;
    padding-right: 23px;
    background: #fff;
    background-color: #fff;
    font-family: inherit;
    font: inherit;
    color: inherit;
    text-shadow: none;
    display: flex;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    height: 34px;
    border: 0;
    padding-left: 0;
}
.map-control-buttons .jq-selectbox.jq-selectbox.focused .jq-selectbox__select {
    border: 0;
}
.map-control-buttons .jq-selectbox__trigger {
    width: 23px;
    border: 0;
}
.map-control-buttons .jq-selectbox__trigger-arrow {
    border-top: 5px solid #000;
    border-right: 3.5px solid transparent;
    border-left: 3.5px solid transparent;
    top: 16px;
    right: 10px;
}
.map-control-buttons .jq-selectbox__dropdown {
    border: 0;
    margin-top: 10px;
    margin-left: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    border: 0;
    font: inherit;
    border-radius: 0;
    border: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 6px 10px 19px rgba(20,20,20,0.19);
}
.map-control-buttons .jq-selectbox li {
    color: var(--black);
    padding: 0;
    padding-left: 11px;
    height: 30px;
    line-height: 30px;
}
.map-control-buttons .jq-selectbox li.disabled {
    color: var(--black);
    cursor: default;
    display: none;
}
.map-control-buttons .jq-selectbox li.selected {
    background-color: #f7f7f7;
}

.map-control-buttons .sorting-button {
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid var(--grey);
    padding-left: 11px;
    position: relative;
}
.map-control-buttons .sorting-button .title {
    color: var(--grey-blue);
    margin-right: 3px;
}


/* four slides slider */
    .four-slides-slider {
        margin-top: 30px;
        width: calc(100% + 20px);
        margin-left: -10px;
        position: relative;
    }
    .four-slides-slider:before,
    .four-slides-slider:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        background-color: #fff;
        pointer-events: none;
        z-index: 1;
    }
    .four-slides-slider:before {
        left: 0;
    }
    .four-slides-slider:after {
        right: 0;
    }
    .four-slides-slider .slide {
        padding-left: 10px;
        padding-right: 10px;
        display: block !important;
    }
    .four-slides-slider .slick-prev {
        right: 76px;
    }
    .four-slides-slider .slick-next {
        right: 10px;
    }
/* four slides slider */