/*Блок новости покера*/
    .block-poker-clubs-news {
        margin-top: 50px;
    }
    .block-poker-clubs-news .poker-clubs-news {
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .block-poker-clubs-news .primary-news {
        width: 565px;
    }
    .block-poker-clubs-news .news-item {
        padding: 25px 20px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        color: #fff;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: left;
    }
    .block-poker-clubs-news .primary-news .news-item {
        height: 400px;
    }
    .block-poker-clubs-news .secondary-news .news-item {
        height: 170px;
        padding: 20px 20px;
    }
    .block-poker-clubs-news .primary-news .news-item .title {
        font-size: 24px;
        line-height: normal;
    }
    .block-poker-clubs-news .secondary-news .news-item .title {
        font-size: 16px;
    }
    .block-poker-clubs-news .news-item .date {
        font-size: 12px;
        line-height: 1;
        margin-top: 10px;
    }
    .block-poker-clubs-news .news-item .comments {
        background-color: #fff;
        position: absolute;
        bottom: 25px;
        right: 20px;
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: var(--blue);
        font-size: 11px;
        min-width: 22px;
        text-align: center;
    }
    .block-poker-clubs-news .secondary-news .news-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .block-poker-clubs-news .secondary-news .news-item .comments {
        bottom: 20px;
    }
    .block-poker-clubs-news .news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }

    /*Slider controls*/
        .block-poker-clubs-news .slider-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
        }
        .block-poker-clubs-news .prev {
            font-size: 0;
            color: transparent;
            background-color: transparent;
            background-image: url('../img/arrow-right-blue.png');
            border: 0;
            background-size: 7px 12px;
            background-position: center;
            background-repeat: no-repeat;
            width: 7px;
            height: 12px;
            z-index: 10;
            cursor: pointer;
            transform: rotate(-180deg);
            order: 1;
            margin-right: 16px;
        }
        .block-poker-clubs-news .next {
            font-size: 0;
            color: transparent;
            background-color: transparent;
            background-image: url('../img/arrow-right-blue.png');
            border: 0;
            background-size: 7px 12px;
            background-position: center;
            background-repeat: no-repeat;
            width: 7px;
            height: 12px;
            z-index: 10;
            cursor: pointer;
            order: 2;
            margin-left: 16px;
        }
        .block-poker-clubs-news .next-arrow {
            order: 3;
        }
        .block-poker-clubs-news .slick-dots {
            list-style-type: none;
            list-style: none;
            display: flex;
            order: 2;
        }
        .block-poker-clubs-news .slick-dots li {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .block-poker-clubs-news .slick-dots li:not(:last-child) {
            margin-right: 17px;
        }
        .block-poker-clubs-news .slick-dots button {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 2px solid var(--blue);
            background-color: transparent;
            font-size: 0;
            color: transparent;
        }
        .block-poker-clubs-news .slick-dots .slick-active button {
            background-color: var(--blue);
        }
    /*Slider controls*/

    .block-poker-clubs-news .secondary-news {
        width: 325px;
    }
    .block-poker-clubs-news .short-news-item {
        display: flex;
        padding-right: 42px;
        width: 100%;
        align-items: center;
        text-align: left;
        position: relative;
    }
    .block-poker-clubs-news .short-news-item:not(:last-child) {
        margin-bottom: 31px;
    }
    .block-poker-clubs-news .short-news-item:not(:last-child):after {
        display: block;
        content: '';
        left: 0;
        right: 0;
        height: 1px;
        background-color: #dcdcdc;
        bottom: -16px;
        position: absolute;
    }
    .block-poker-clubs-news .short-news-item .photo {
        width: 78px;
        height: 54px;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .block-poker-clubs-news .short-news-item .title {
        font-size: 13px;
        line-height: 1;
    }
    .block-poker-clubs-news .short-news-item .date {
        font-size: 12px;
        line-height: normal;
        color: var(--grey);
        margin-top: 10px;
    }
    .block-poker-clubs-news .short-news-item .comments {
        background-color: var(--blue-light);
        position: absolute;
        top: calc(50% - 11px);
        left: calc(100% - 42px);
        line-height: 22px;
        padding-left: 7px;
        padding-right: 7px;
        color: #fff;
        font-size: 11px;
    }
    .block-poker-clubs-news .short-news-item .comments:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 5px;
        border-color: transparent transparent transparent var(--blue-light);
        position: absolute;
        left: 0;
        bottom: -6px;
        pointer-events: none;
    }
/*Блок новости покера*/


/*Карта международного поиска покер клубов*/
    .block-poker-clubs-world-map {
        margin-top: 50px;
        position: relative;
        z-index: 10;
    }
    .block-poker-clubs-world-map .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .block-poker-clubs-world-map .map-control-buttons {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
    }
    .block-poker-clubs-world-map .map-show-button {
        height: 36px;
        line-height: 34px;
        border: 1px solid var(--grey);
        padding-right: 11px;
        padding-left: 36px;
        position: relative;
        margin-right: 20px;
        transition: 0.5s;
        cursor: pointer;
    }
    .block-poker-clubs-world-map .map-show-button:hover {
        transition: 0.5s;
        color: var(--blue-light);
    }
    .block-poker-clubs-world-map .map-show-button:before {
        display: block;
        content: '';
        pointer-events: none;
        width: 15px;
        height: 22px;
        background: transparent url('../img/icon-marker-blue.png') center no-repeat;
        background-size: contain;
        position: absolute;
        left: 10px;
        top: calc(50% - 11px);
    }
    .block-poker-clubs-world-map .sorting-button {
        display: flex;
        align-items: center;
        height: 36px;
        border: 1px solid var(--grey);
        padding-left: 11px;
        position: relative;
    }
    .block-poker-clubs-world-map .sorting-button .title {
        color: var(--grey-blue);
        margin-right: 3px;
    }
    .block-poker-clubs-world-map .sorting-button .jq-selectbox {
        position: static;
    }
    .block-poker-clubs-world-map .sorting-button .jq-selectbox__select {
        height: 34px;
        border: 0;
        padding-left: 0;
    }
    .block-poker-clubs-world-map .sorting-button .jq-selectbox__trigger-arrow {
        top: 16px;
    }
    .block-poker-clubs-world-map .sorting-button .jq-selectbox__dropdown {
        left: 0;
        right: 0;
        width: 100% !important;
    }
    .block-poker-clubs-world-map .sorting-button .jq-selectbox li {
        padding-left: 11px;
    }
    .block-poker-clubs-world-map .map-wrapper {
        margin-top: 20px;
        width: 100%;
    }
    .block-poker-clubs-world-map .poker-clubs-map {
        height: 750px;
    }

    /*Form search selectors*/
        .block-poker-clubs-world-map .search-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            position: relative;
            z-index: 2;
            width: 100%;
        }
        .block-poker-clubs-world-map .select-group {
            position: relative;
        }
        .block-poker-clubs-world-map .select-group:before {
            display: block;
            content: '';
            position: absolute;
            left: 10px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            pointer-events: none;
            z-index: 2;
        }
        .block-poker-clubs-world-map .select-group.country {
            width: 220px;
        }
        .block-poker-clubs-world-map .select-group.country:before {
            background-image: url('../img/icon-globe-blue.png');
            width: 20px;
            height: 20px;
            top: calc(50% - 10px);
        }
        .block-poker-clubs-world-map .select-group.game-type {
            width: 230px;
        }
        .block-poker-clubs-world-map .select-group.game-type:before {
            background-image: url('../img/icon-dice-blue.png');
            width: 20px;
            height: 20px;
            top: calc(50% - 10px);
        }
        .block-poker-clubs-world-map .select-group.currency {
            width: 110px;
        }
        .block-poker-clubs-world-map .select-group.currency:before {
            background-image: url('../img/icon-currency-blue.png');
            width: 20px;
            height: 16px;
            top: calc(50% - 8px);
        }
        .block-poker-clubs-world-map .select-group.minbet {
            width: 200px;
        }
        .block-poker-clubs-world-map .select-group.minbet:before {
            background-image: url('../img/icon-minbet-blue.png');
            width: 20px;
            height: 20px;
            top: calc(50% - 10px);
        }
        .block-poker-clubs-world-map .select-group.maxbet {
            width: 205px;
        }
        .block-poker-clubs-world-map .select-group.maxbet:before {
            background-image: url('../img/icon-maxbet-blue.png');
            width: 20px;
            height: 20px;
            top: calc(50% - 10px);
        }
        .block-poker-clubs-world-map .select-group.discount {
            width: 124px;
        }
        .block-poker-clubs-world-map .select-group.discount:before {
            background-image: url('../img/icon-discount-blue.png');
            width: 20px;
            height: 20px;
            top: calc(50% - 10px);
        }
        .block-poker-clubs-world-map .jq-selectbox {
            position: relative;
            z-index: 1;
            width: 100%;
        }
        .block-poker-clubs-world-map .jq-selectbox__select {
            width: 100%;
            padding-left: 38px;
            padding-right: 23px;
            height: 46px;
            background: #fff;
            background-color: #fff;
            border: 1px solid var(--grey);
            font-family: inherit;
            font: inherit;
            color: inherit;
            text-shadow: none;
            display: flex;
            align-items: center;
            border-radius: 0;
            box-shadow: none;
        }
        .block-poker-clubs-world-map .jq-selectbox__trigger {
            width: 23px;
            border: 0;
        }
        .block-poker-clubs-world-map .jq-selectbox__trigger-arrow {
            border-top: 5px solid #000;
            border-right: 3.5px solid transparent;
            border-left: 3.5px solid transparent;
            top: 21px;
            right: 10px;
        }
        .block-poker-clubs-world-map .jq-selectbox__dropdown {
            border: 0;
            margin-top: 10px;
            margin-left: 0;
            width: 100%;
            border: 0;
            font: inherit;
            border-radius: 0;
            border: 0;
            padding-top: 9px;
            padding-bottom: 9px;
            box-shadow: 6px 10px 19px rgba(20,20,20,0.19);
        }
        .block-poker-clubs-world-map .jq-selectbox li {
            color: var(--black);
            padding: 0;
            padding-left: 40px;
            height: 30px;
            line-height: 30px;
        }
        .block-poker-clubs-world-map .jq-selectbox li.disabled {
            color: var(--black);
            cursor: default;
            display: none;
        }
        .block-poker-clubs-world-map .jq-selectbox li.selected {
            background-color: #f7f7f7;
        }
    /*Form search selectors*/

    /*image map*/
        .map-image-group {
            position: relative;
            z-index: 1;
            margin-top: 36px;
        }
        .map-image-group .map-item {
            position: absolute;
            z-index: 1;
        }
        .map-image-group .map-item:hover {
            z-index: 2;
        }
        .map-image-group .map-item-marker {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
            /*transition: background-color 0.5s;*/
        }
        .map-image-group .map-item:hover .map-item-marker {
            transition: 0.5s;
            transform: scale(1.1);
        }
        .map-image-group .map-item-marker:before {
            display: block;
            content: '';
            width: 112%;
            height: 112%;
            left: -6%;
            top: -6%;
            background-color: inherit;
            display: block;
            opacity: 0.5;
            position: absolute;
            z-index: 1;
            border-radius: 50%;
            pointer-events: none;
            /*transition: background-color 0.5s;*/
        }
        .map-image-group .map-item-marker span {
            position: relative;
            z-index: 2;
        }
        .map-image-group .map-item.blue .map-item-marker {
            background-color: var(--blue);
        }
        .map-image-group .map-item.blue-light .map-item-marker {
            background-color: var(--blue-light);
        }
        .map-image-group .map-item.size-1 {
            width: 54px;
            height: 54px;
            font-size: 8px;
            margin-top: -27px;
            margin-left: -27px;
        }
        .map-image-group .map-item.size-2 {
            width: 62px;
            height: 62px;
            font-size: 9px;
            margin-top: -31px;
            margin-left: -31px;
        }
        .map-image-group .map-item.size-3 {
            width: 78px;
            height: 78px;
            font-size: 11px;
            margin-top: -39px;
            margin-left: -39px;
        }
        .map-image-group .map-item.size-4 {
            width: 92px;
            height: 92px;
            font-size: 12px;
            margin-top: -46px;
            margin-left: -46px;
        }
        .map-image-group .map-item.size-5 {
            width: 102px;
            height: 102px;
            font-size: 12px;
            margin-top: -51px;
            margin-left: -51px;
        }
        .map-image-group .map-item.size-6 {
            width: 124px;
            height: 124px;
            font-size: 13px;
            margin-top: -62px;
            margin-left: -62px;
        }
        .map-image-group .map-item.blue:hover .map-item-marker,
        .map-image-group .map-item.blue-light:hover .map-item-marker {
            background-color: var(--orange);
            transition: background-color 0.5s;
        }
        .map-image-group .poker-clubs-popup {
            position: absolute;
            top: 50%;
            width: 670px;
            left: 80%;
            transform: translateY(-50%);
            display: none;
        }
        .map-image-group .map-item.popup-right .poker-clubs-popup {
            left: initial;
            right: 80%;
        }
        .map-image-group .map-item.popup-top-offset .poker-clubs-popup {
            top: -80px;
            transform: none;
        }
        .map-image-group .map-item.popup-bottom-offset .poker-clubs-popup {
            top: initial;
            bottom: -80px;
            transform: none;
        }
        .map-image-group .map-item:hover .poker-clubs-popup {
        /* .map-image-group .map-item .poker-clubs-popup { */
            display: block;
        }
    /*image map*/


    /*poker clubs popup*/
        .poker-clubs-popup {
            width: 100%;
            max-width: 670px;
            padding: 30px 15px 15px;
            background-color: #fff;
            /*position: absolute;*/
            right: 0;
            top: 0;
            z-index: 2;
            box-shadow: 0px 3px 5px 1px rgba(20,20,20,0.15);
            font: initial;

            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: var(--black);
        }
        .poker-clubs-popup .close {
            width: 14px;
            height: 14px;
            border: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url('../img/icon-close-greylight.png');
            position: absolute;
            right: 22px;
            top: 22px;
            z-index: 99;
        }
        .poker-clubs-popup .popup-title {
            font-size: 19px;
            line-height: 26px;
            font-weight: 400;
            padding-left: 15px;
            padding-right: 30px;
        }
        .poker-clubs-popup .poker-clubs-list {
            margin-top: 25px;
            padding: 0 15px;
        }
        /*club item*/
            .poker-clubs-popup .poker-club-item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--black-light);
                font-size: 13px;
                line-height: 18px;
            }
            .poker-clubs-popup .poker-club-item:not(:last-child) {
                margin-bottom: 40px;
            }
            .poker-clubs-popup .poker-club-item .logo {
                width: 100px;
                margin-right: 30px;
                /* background-color: var(--grey-light); */
                flex-shrink: 0;
                flex-grow: 0;
            }
            .poker-clubs-popup .poker-club-item .logo img {
                max-width: 100px;
            }
            .poker-clubs-popup .poker-club-item .title {
                width: 130px;
                flex-shrink: 0;
            }
            .poker-clubs-popup .poker-club-item .contacts {
                margin-right: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                padding-right: 15px;
            }
            .poker-clubs-popup .poker-club-item .address {
                font-style: normal;
            }
            .poker-clubs-popup .poker-club-item .phone {
                color: var(--blue-light);
                font-size: 15px;
            }
            .poker-clubs-popup .poker-club-item .poker-club-link {
                flex-shrink: 0;
                margin-left: auto;
                min-width: 100px;
            }
        /*club item*/


         /*recommend item*/
            .poker-clubs-popup .poker-clubs-recommend {
                margin-top: 70px;
                padding: 24px 14px;
                border: 1px solid var(--orange-bright);
                position: relative;
            }
            .poker-clubs-popup .poker-club-item .recommend-link {
                background-color: var(--orange-bright);
            }
        /*recommend item*/


        /*Google maps styles */
            .block-poker-clubs-world-map .gm-style-iw.gm-style-iw-c {
                padding: 0;
            }
            .block-poker-clubs-world-map .gm-ui-hover-effect {
                right: 5px !important;
                top: 5px !important;
            }
            .block-poker-clubs-world-map .gm-ui-hover-effect img {
                /*display: none !important;*/

                width: 24px !important;
                height: 24px !important;
                margin: 3px !important;
            }
            .block-poker-clubs-world-map .gm-style-iw.gm-style-iw-c,
            .block-poker-clubs-world-map .gm-style-iw-d {
                max-height: initial !important;
                max-width: 640px !important;
                width: 100%;
            }

            .block-poker-clubs-world-map .gm-style {
                font: initial;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 600;
                color: var(--black);
            }
            .block-poker-clubs-world-map .marker-item {
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                z-index: 1;
                position: absolute;
                box-shadow: 0px 3px 5px 1px rgba(20,20,20,0.15);
                /* padding: 15px; */
            }
            .block-poker-clubs-world-map .marker-item.active {
                background-color: var(--orange) !important;
                z-index: 2;
            }
            .block-poker-clubs-world-map .marker-item img {
                max-width: 54%;
            }
        /*Google maps styles */

    /*poker clubs popup*/

/*Карта международного поиска покер клубов*/




/*Слайдер лучшие покерные клубы*/
    .block-best-poker-clubs {
        margin-top: 100px;
    }
    .block-best-poker-clubs .block-title {
        padding-right: 90px;
    }
    .block-best-poker-clubs .poker-clubs-slider-outer {
        position: relative;
        margin-top: 30px;
    }
    .block-best-poker-clubs .poker-clubs-slider-outer:before,
    .block-best-poker-clubs .poker-clubs-slider-outer:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        z-index: 10;
        background-color: #fff;
    }
    .block-best-poker-clubs .poker-clubs-slider-outer:before {
        left: -10px;
    }
    .block-best-poker-clubs .poker-clubs-slider-outer:after {
        right: -10px;
    }
    .block-best-poker-clubs .poker-clubs-slider {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    .block-best-poker-clubs .slide {
        padding: 0 10px;
    }
    /*casino item*/
        .block-best-poker-clubs .casino-item {
            display: flex;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 250px;
        }
        .block-best-poker-clubs .casino-item-inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-align: center;
            padding: 60px 0;
        }
        .block-best-poker-clubs .casino-item .title {
            font-size: 26px;
            line-height: 1;
        }

        .block-best-poker-clubs .casino-item .descr {
            font-size: 13px;
            margin-top: 10px;
        }
        .block-best-poker-clubs .casino-item .button {
            margin-top: auto;
        }
    /*casino item*/

    /*slider controls*/
        .block-best-poker-clubs .slider-top-controls .slick-prev {
            right: 80px;
        }
        .block-best-poker-clubs .slider-top-controls .slick-next {
            right: 10px;
        }
    /*slider controls*/

/*Слайдер лучшие покерные клубы*/


/*Карта текущих и ближайших серий турниров*/
    .block-tournament-items-map {
        margin-top: 50px;
        background-color: var(--grey-light);
    }
    .block-tournament-items-map .wrap {
        display: flex;
        /* justify-content: space-between; */
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }



    .block-tournament-items-map .tournament-items-list-outer {
        width: calc(50% + 10px);
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 0;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .block-tournament-items-map .tournament-items-map {
        /* height: 730px; */
        /* width: 680px; */
        width: calc(50% - 10px);
        /* padding-right: 15px; */
    }

    .block-tournament-items-map .block-title,
    .block-tournament-items-map .map-control,
    .block-tournament-items-map .tournament-items-list {
        width: 565px;
    }
    .block-tournament-items-map .map-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 18px;
        position: relative;
        z-index: 2;
        padding-right: 20px;
    }
    .block-tournament-items-map .map-control-title {
        font-size: 13px;
    }
    .block-tournament-items-map .map-control-buttons {
        display: flex;
    }

    .block-tournament-items-map .select-group {
        position: relative;
        margin-right: 10px;
        width: 144px;
    }
    .block-tournament-items-map .select-group:before {
        display: block;
        content: '';
        position: absolute;
        left: 10px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        pointer-events: none;
        z-index: 2;
        background-image: url('../img/icon-globe-blue.png');
        width: 20px;
        height: 20px;
        top: calc(50% - 10px);
    }

    /*Plugin styling*/
        .block-tournament-items-map .jq-selectbox {
            position: relative;
            z-index: 1;
            width: 100%;
        }
        .block-tournament-items-map .jq-selectbox__select {
            width: 100%;
            padding-left: 38px;
            padding-right: 23px;
            height: 46px;
            background: #fff;
            background-color: #fff;
            border: 1px solid var(--grey);
            font-family: inherit;
            font: inherit;
            color: inherit;
            text-shadow: none;
            display: flex;
            align-items: center;
            border-radius: 0;
            box-shadow: none;
        }
        .block-tournament-items-map .jq-selectbox__trigger {
            width: 23px;
            border: 0;
        }
        .block-tournament-items-map .jq-selectbox__trigger-arrow {
            border-top: 5px solid #000;
            border-right: 3.5px solid transparent;
            border-left: 3.5px solid transparent;
            top: 21px;
            right: 10px;
        }
        .block-tournament-items-map .jq-selectbox__dropdown {
            border: 0;
            margin-top: 10px;
            margin-left: 0;
            width: 100%;
            border: 0;
            font: inherit;
            border-radius: 0;
            border: 0;
            padding-top: 9px;
            padding-bottom: 9px;
            box-shadow: 6px 10px 19px rgba(20,20,20,0.19);
        }
        .block-tournament-items-map .jq-selectbox li {
            color: var(--black);
            padding: 0;
            padding-left: 20px;
            height: 30px;
            line-height: 30px;
        }
        .block-tournament-items-map .jq-selectbox li.disabled {
            color: var(--black);
            cursor: default;
            display: none;
        }
        .block-tournament-items-map .jq-selectbox li.selected {
            background-color: #f7f7f7;
        }
    /*Plugin styling*/

    .block-tournament-items-map .date-input-group {
        padding-left: 35px;
        padding-right: 15px;
        min-width: 144px;
        position: relative;
        cursor: pointer;
        height: 46px;
        background-color: #fff;
        border: 1px solid var(--grey);
        display: flex;
        align-items: center;
    }
    .block-tournament-items-map .date-input-group:before {
        display: block;
        content: '';
        position: absolute;
        top: calc(50% - 8px);
        left: 9px;
        width: 16px;
        height: 16px;
        background: transparent url('../img/icon-calendar-blue.png') center no-repeat;
        background-size: contain;
    }
    .block-tournament-items-map .date-input-group .date-title {
        font-size: 13px;
        font-weight: 400;
        line-height: normal;
        color: var(--black);
        background-color: transparent;
        pointer-events: none;
        white-space: nowrap;
    }


    .block-tournament-items-map .date-input-dropdown {
        position: absolute;
        display: none;
        right: -1px;
        top: calc(100% + 10px);
        width: 552px;
        background-color: #fff;
        cursor: default;
    }
    .block-tournament-items-map .date-input-group.active .date-input-dropdown {
        display: flex;
    }
    .block-tournament-items-map .calendar-item {
        width: 276px;
        /*padding: 14px 15px 12px;*/
        padding: 15px 15px 15px;
    }

    /*date range picker*/
        .block-tournament-items-map .daterangepicker {
            position: static;
            z-index: 1;
            border: 0;
            display: block !important;
            margin-top: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
        .block-tournament-items-map .daterangepicker .drp-calendar {
            max-width: 276px;
        }
        .block-tournament-items-map .daterangepicker .calendar-table {
            border: 0;
        }
        .block-tournament-items-map .daterangepicker .drp-calendar.left {
            padding: 15px 15px 15px;
        }
        .block-tournament-items-map .daterangepicker .drp-calendar.right {
            padding: 15px 15px 15px;
        }
        .block-tournament-items-map .daterangepicker .drp-calendar.left .calendar-table {
            padding-right: 0;
        }
        .block-tournament-items-map .daterangepicker .drp-calendar.right .calendar-table {
            padding-left: 0;
        }
        .block-tournament-items-map .daterangepicker::before,
        .block-tournament-items-map .daterangepicker::after {
            content: none;
        }
        .block-tournament-items-map .daterangepicker .calendar-table th {
            border: 0;
            border-radius: 0;
            font-size: 12px;
            height: 32px;
            font-weight: 400;
        }
        .block-tournament-items-map .daterangepicker .calendar-table th.month {
            font-size: 16px;
        }
        .block-tournament-items-map .daterangepicker .calendar-table td {
            font-size: 14px;
            height: 36px;
            width: 36px;
            line-height: normal;
            border-radius: 0;
            border: 0;
            font-weight: 400;
        }
        .block-tournament-items-map .daterangepicker td.start-date,
        .block-tournament-items-map .daterangepicker td.end-date {
            border-radius: 0;
            background-color: var(--blue-light);
        }
        .block-tournament-items-map .daterangepicker td.disabled,
        .block-tournament-items-map .daterangepicker option.disabled {
            text-decoration: none;
            color: default;
            color: #dbdbdb;
            pointer-events: none;
        }
        .block-tournament-items-map .daterangepicker td.in-range {
            background-color: #f5f5f5;
        }
        .block-tournament-items-map .daterangepicker td.start-date.end-date {
            border-radius: 0;
        }
        .block-tournament-items-map .daterangepicker td.today:not(.start-date) {
            color: var(--blue-light);
            background-color: #fff;
        }
        .block-tournament-items-map .daterangepicker td.ends {
            opacity: 0;
            pointer-events: none;
        }
        .block-tournament-items-map .daterangepicker td.start-date.active,
        .block-tournament-items-map .daterangepicker td.end-date.active {
            background-color: var(--blue-light);
        }
        .block-tournament-items-map .daterangepicker td.active:hover {
            background-color: rgba(51, 170, 255, 0.5);
        }
        .block-tournament-items-map .daterangepicker .calendar-table .next span,
        .block-tournament-items-map .daterangepicker .calendar-table .prev span {
            border-color: var(--grey);
            display: none;
        }
        .block-tournament-items-map .daterangepicker .calendar-table .next,
        .block-tournament-items-map .daterangepicker .calendar-table .prev {
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            position: relative;

        }
        .block-tournament-items-map .daterangepicker .calendar-table .prev:before,
        .block-tournament-items-map .daterangepicker .calendar-table .next:before {
            position: absolute;
            left: 12px;
            top: 5px;
            display: block;
            color: #c4c4c4;
            font-size: 28px;
            line-height: 18px;
            font-weight: 400;
            z-index: 10;
        }
        .block-tournament-items-map .daterangepicker .calendar-table .prev {
            margin-right: auto;
        }
        .block-tournament-items-map .daterangepicker .calendar-table .prev:before {
            content: '‹';
        }
        .block-tournament-items-map .daterangepicker .calendar-table .next {
            margin-left: auto;
        }
        .block-tournament-items-map .daterangepicker .calendar-table .next:before {
            content: '›';
        }
    /*date range picker*/


    .block-tournament-items-map .tournament-items-list {
        /* width: 470px; */
        /* width: 565px; */
        height: 730px;
        overflow-y: scroll;
        position: relative;
        z-index: 1;
        margin-top: 20px;
    }

    /*tournament item*/
        .block-tournament-items-map .tournament-item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: #fff;
            position: relative;
            padding: 20px 0;
            height: 230px;
        }
        .block-tournament-items-map .tournament-item:not(:last-child) {
            margin-bottom: 20px;
        }
        .block-tournament-items-map .tournament-item.active {
            background-color: #fff;
            box-shadow: 6px 10px 19px rgba(20,20,20,0.19);
        }
        .block-tournament-items-map .item-column {
            display: flex;
            flex-direction: column;
        }
        .block-tournament-items-map .item-column:nth-child(1) {
            width: 160px;
            flex-shrink: 0;
            margin-right: 15px;
            align-items: center;
            padding: 0 5px;
        }
        .block-tournament-items-map .item-column:nth-child(2) {
            align-items: flex-start;
            padding-right: 10px;
        }
        .block-tournament-items-map .logo {
            width: 90px;
            height: 40px;
            flex-shrink: 0;
            flex-grow: 0;
        }
        .block-tournament-items-map .logo img {
            max-width: 90px;
            max-height: 40px;
            width: auto;
            height: auto;
            object-fit: contain;
        }
        .block-tournament-items-map .rate-and-stars {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 25px;
        }
        .block-tournament-items-map .rate-value-group {
            display: flex;
            align-items: last baseline;
            justify-content: flex-end;
            align-self: flex-end;
        }
        .block-tournament-items-map .rate-title {
            font-size: 13px;
            line-height: 12px;
            margin-right: 7px;
            text-align: right;
        }
        .block-tournament-items-map .rate-value {
            font-size: 27.4px;
            line-height: 21px;
        }
        .b_chrome .block-tournament-items-map .rate-value,
        .b_safari .block-tournament-items-map .rate-value {
            line-height: 27px;
        }
        .block-tournament-items-map .item-stars {
            margin-top: 14px;
        }
        .block-tournament-items-map .reviews-link {
            margin-top: 10px;
            font-size: 12px;
            line-height: 1;
            margin-top: 10px;
            text-decoration: underline;
            color: var(--blue);
            transition: 0.5s;
        }
        .block-tournament-items-map .reviews-link:hover {
            color: var(--blue-light);
            transition: 0.5s;
        }
        .block-tournament-items-map .reviews-link .value {
            margin-right: 2px;
        }
        .block-tournament-items-map .location {
            margin-top: 25px;
            display: flex;
            align-items: center;
            font-size: 11px;
            line-height: 16px;
        }
        .block-tournament-items-map .location img {
            max-width: 45px;
            max-height: 28px;
            width: auto;
            height: auto;
            margin-right: 15px;
            flex-shrink: 0;
        }
        .block-tournament-items-map .location-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .block-tournament-items-map .location-text .country:after {
            content: '';
        }
        .block-tournament-items-map .title {
            font-size: 19px;
            line-height: normal;
            position: relative;
        }
        .block-tournament-items-map .title.orange {
            color: var(--orange);
        }
        .block-tournament-items-map .title:after {
            display: block;
            content: '';
            width: 56px;
            height: 2px;
            background-color: var(--blue-light);
            position: absolute;
            bottom: -8px;
        }
        .block-tournament-items-map .title.orange:after {
            background-color: var(--orange);
        }
        .block-tournament-items-map .date {
            margin-top: 12px;
            font-size: 13px;
            line-height: 19px;
            color: #abb1b8;
        }
        .block-tournament-items-map .descr {
            line-height: 19px;
            margin-top: 5px;
        }
        
        .block-tournament-items-map .buttons {
            width: 100%;
            margin-top: auto;
            display: flex;
            align-items: center;
        }
        .block-tournament-items-map .tournament-item-link {
            margin-right: 20px;
        }
        .block-tournament-items-map .map-link {
            position: relative;
            color: var(--blue);
            text-decoration: underline;
            padding-left: 17px;
            transition: 0.5s;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
        .block-tournament-items-map .map-link:hover {
            color: var(--blue-light);
            transition: 0.5s;
        }
        .block-tournament-items-map .map-link:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: calc(50% - 8px);
            width: 12px;
            height: 16px;
            background: transparent url('../img/icon-marker-small-blue.png') center no-repeat;
            background-size: contain;
        }
        
        
    /*Casino item*/


    /*scrollbar plugin*/
        .block-tournament-items-map .mCSB_scrollTools {
            width: 20px;
        }
        .block-tournament-items-map .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            width: 2px;
        }
        .block-tournament-items-map .mCSB_scrollTools .mCSB_draggerRail {
            width: 2px;
        }
        .block-tournament-items-map .mCSB_inside > .mCSB_container {
            padding-right: 20px;
            margin-right: 0;
        }
    /*scrollbar plugin*/

/*Карта текущих и ближайших серий турниров*/



