
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: inherit;
	&:focus,
	&:active {
		outline: 0;
	}
}
html {
	background-color: $grey;
}
body {
	font-family: $main-font, Arial, Helvetica, sans-serif;
	max-width: 1440px;
	margin: 0 auto;
	font-weight: 400;
	background-color: #fff;
	color: $grey-black;
}
a {
	text-decoration: none;
	color: inherit;
    cursor: pointer;
	&:hover {
		cursor: pointer;
	}
	&:active, &:focus {
		outline: 0;
	}
}
img {
    display: block;
    max-width: 100%;
}
button {
	padding: 0;
    cursor: pointer;
	&:hover {
		cursor: pointer;
	}
	&:active, &:focus {
		outline: 0;
	}
}
label {
    cursor: pointer;
}

input, textarea {
	font-family: inherit;
    font-size: inherit;
	&::placehoder {
		font-family: inherit;
		opacity: 1;
        font-size: inherit;
	}
}
p {
    margin: 0;
}
.wrapper {
	overflow: hidden;
	&.modal-open {
		height: 100vh;
		@include maxw1024 {
			height: auto;
		}
	}
	&.menu-open {
		height: 100vh;
	}

	&:not(.page-home):not(.page-management) {
		.footer {
			.wrap {
				&:before {
					border: 0;
					content: none;
				}
			}
		}
	}
	
}
.wrap {
	width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-btn {
	position: relative;
	background-color: transparent;
	border: 0;
	&:before {
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 2px;
		left: 2px;
		border-width: 1px;
		border-style: solid;
		border-color: #fff;
		transition: border-color 0.5s;
	}
	&:after {
		display: block;
		content: '';
		width: 24px;
		height: 12px;
		background-color: transparent;
		background-image: url('../img/icons/arrow-right-black.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		right: 19px;
		top: calc(50% - 6px);
	}
	&:hover {
		color: #fff;
	}
	&.black {
		&:before {
			border-color: #000;
		}
		&:after {
			background-image: url('../img/icons/arrow-right-white.svg');
		}
		span {
			background-color: #000;
			color: #fff;
			border-color: #000;
		}
	}
	&.orange {
		&:before {
			border-color: $orange;
		}
		&:after {
			background-image: url('../img/icons/arrow-right-white.svg');
		}
		span {
			background-color: $orange;
			color: #fff;
			border-color: $orange;
		}
	}
	&.white {
		&:before {
			border-color: #fff;
		}
		&:after {
			background-image: url('../img/icons/arrow-right-black.svg');
		}
		span {
			background-color: #fff;
			color: #000;
			border-color: #fff;
		}
	}
	&.black-hover {
		&:hover {
			&:before {
				border-color: #000;
			}
			&:after {
				background-image: url('../img/icons/arrow-right-white.svg');
			}
			span {
				background-color: #000;
				color: #fff;
				border-color: #000;
			}
		}
	}
	&.white-hover {
		&:hover {
			&:before {
				border-color: #fff;
			}
			&:after {
				background-image: url('../img/icons/arrow-right-black.svg');
			}
			span {
				background-color: #fff;
				color: #000;
				border-color: #fff;
			}
		}
	}
	&.orange-hover {
		&:hover {
			&:before {
				border-color: $orange;
			}
			&:after {
				background-image: url('../img/icons/arrow-right-white.svg');
			}
			span {
				background-color: $orange;
				border-color: $orange;
				color: #fff;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		height: 50px;
		font-size: 14px;
		padding-left: 13px;
		padding-right: 45px;
		min-width: 200px;
		position: relative;
		border: 0;
		transition: 0.5s;
		background-color: #fff;
		border-width: 1px;
		border-style: solid;
	}
}

.show-more {
	width: 200px;
	height: 44px;
	border: 0;
	border-radius: 0;
	background-color: $grey-black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: inherit;
	border: 1px solid $grey-black;
	transition: 0.5s;
	&:hover,
	&:active {
		background-color: #fff;
		color: $grey-black;
	}
}

.block-title {
	font-family: $title-font;
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
}

.breadcrumbs {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	margin-bottom: 13px;
	.parent {
		position: relative;
		margin-right: 12px;
		transition: 0.5s;
		opacity: 0.4;
		&:hover {
			color: $orange;
			opacity: 1;
			&:after {
				color: $grey-black;
			}
		}
		&:after {
			content: ' / ';
			position: absolute;
			left: 100%;
			top: 0;
			width: 14px;
			text-align: center;
			pointer-events: none;
			color: $grey-black;
		}
	}
	.current {
		opacity: 0.4;
	}
	+ .block-title {
		font-size: 26px;
		line-height: 42px;
		color: #000;
		font-style: italic;
	}
}





