
$main-font: 'Plumb', sans-serif;

$blue-light: #00eeff;
$blue: #33a5c9;
$blue-dark: rgb(22,52,102);
$grey: #a1a1a1;
$grey-dark: #95989a;
$grey-medium: #c5c5c5;


$widescreen: 'screen and (max-width: 1600px)';
$desktop: 'screen and (max-width: 1200px)';
$tablet: 'screen and (max-width: 1024px)';
$tablet-narrow: 'screen and (max-width: 860px)';
$mobile-wide: 'screen and (max-width: 768px)';
$mobile: 'screen and (max-width: 640px)';
$mobile-small: 'screen and (max-width: 480px)';


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: $main-font;
	font-weight: 400;
	color: #fff;
	&.menu-open {
		overflow: hidden;
		height: 100vh;
	}
}
img {
    display: block;
    width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		cursor: pointer;
	}
	&:active, &:focus {
		outline: none;
	}
}
button {
	padding: 0;
	&:hover {
		cursor: pointer;
	}
	&:active, &:focus {
		outline: none;
	}
}
p {
    &:not(:last-child) {
        margin-bottom: 40px;
        @media #{$tablet} {
            margin-bottom: 30px;
        }
        @media #{$mobile-wide} {
            margin-bottom: 20px;
        }
        @media #{$mobile-small} {
            margin-bottom: 15px;
        }
    }
}
input, textarea {
	font-family: inherit;
    opacity: 1;
	&::placehoder {
		font-family: inherit;
		opacity: 1;
        color: inherit;
	}
    &::-webkit-input-placeholder {
        font-family: inherit;
        opacity: 1;
        color: inherit;
    }
    &::-moz-placeholder          {
        font-family: inherit;
        opacity: 1;
        color: inherit;
    }
    &:-moz-placeholder           {
        font-family: inherit;
        opacity: 1;
        color: inherit;
    }
    &:-ms-input-placeholder      {
        font-family: inherit;
        opacity: 1;
        color: inherit;
    }
}
hr {
	height: 1px;
	width: 100%;
}
.container {
	width: 100%;
	max-width: 1480px;
	margin-left: auto;
	margin-right: auto;
    @media #{$widescreen} {
        max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.button {
    font-size: 36px;
    font-weight: 700;
    height: 107px;
    padding-left: 50px;
    padding-right: 20px;
    // line-height: 107px;
    box-shadow: 6px 6px 11px rgba(0,0,0,0.16);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    @media #{$desktop} {
        font-size: 32px;
        height: 100px;
    }
    @media #{$tablet} {
        font-size: 28px;
        height: 90px;
    }
    @media #{$tablet-narrow} {
        font-size: 24px;
        height: 75px;
    }
    @media #{$mobile-wide} {
        font-size: 20px;
        height: 60px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        max-width: 320px;
    }
    &.white {
        color: #000;
        background-color: #fff;
    }
    &.blue {
        color: #fff;
        background-color: $blue;
    }
    &.small {
        height: 70px;
        font-size: 23px;
        @media #{$mobile-wide} {
            font-size: 20px;
        }
    }
    span {
        display: block;
        line-height: normal;
        margin-bottom: -5px;
    }
}

.checkbox-label {
	display: flex;
	align-items: center;
    &.grey {
        .checkbox-custom {
            border-color: $grey-dark;
            &:before {
                background-color: $grey-dark;
            }
        }
        .checkbox-text {
            color: $grey-dark;
        }
    }
    &.white {
        .checkbox-custom {
            border-color: #fff;
            &:before {
                background-color: #fff;
            }
        }
        .checkbox-text {
            color: #fff;
        }
    }
	.checkbox-default {
		display: none;
	}
	.checkbox-custom {
		display: block;
		background: transparent;
		border: 2px solid #000;
		width: 22px;
		height: 22px;
		position: relative;
		flex-shrink: 0;
        border-radius: 3px;
		&:before {
			display: block;
			background-color: #000;
			position: absolute;
			left: 3px;
			right: 3px;
			bottom: 3px;
			top: 3px;
            border-radius: 1px;
		}
	}
	.checkbox-text {
		font-size: 18px;
		color: #000;
		margin-left: 15px;
		@media #{$tablet-narrow} {
			font-size: 12px;
		}
	}
	.checkbox-default:checked + .checkbox-custom:before {
		content: '';
	}
}
.inputs {
    width: 100%;
}
.input-label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:before {
        display: block;
        content: '';
        position: absolute;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        left: 22px;
    }
    &.name:before {
        background-image: url('../img/user-black.png');
        width: 28px;
        // height: 34px;
        height: 36px;
        top: calc(50% - 17px);
    }
    &.country:before {
        background-image: url('../img/planet-black.png');
        width: 28px;
        height: 28px;
        top: calc(50% - 14px);
    }
    &.phone:before {
        background-image: url('../img/phone-black.png');
        width: 28px;
        height: 28px;
        top: calc(50% - 14px);
    }
    &.mail:before {
        background-image: url('../img/mail-black.png');
        width: 28px;
        height: 28px;
        top: calc(50% - 14px);
    }
    &.message:before {
        background-image: url('../img/questmark.svg');
        width: 20px;
        height: 20px;
        top: 22px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-size: 7px 12px;
    }
    &.grey {
        .input {
            border-color: $grey-dark;
            color: $grey-dark;
        }
        &.message:before {
            background-image: url('../img/chat.svg');
            width: 27px;
            height: 27px;
            top: 20px;
            border-radius: 0;
            border: 0;
            background-size: cover;
        }
    }
    &.white {
        &.name:before {
            background-image: url('../img/user-white.png');
        }
        &.country:before {
            background-image: url('../img/planet-white.png');
        }
        &.phone:before {
            background-image: url('../img/phone-white.png');
        }
        &.mail:before {
            background-image: url('../img/mail-white.png');
        }
        .input {
            border-color: #fff;
            color: #fff;
            font-size: 18px;
            padding-left: 60px;
            font-weight: 400;
            height: 60px;
            line-height: 56px;
        }
    }
    .input {
        width: 100%;
        height: 74px;
        border-radius: 3px;
        border: 2px solid #000;
        font-size: 24px;
        line-height: 70px;
        padding-left: 75px;
        padding-right: 15px;
        background-color: transparent;
        flex-grow: 1;
        color: #000;
        border-color: #000;
        @media #{$widescreen} {
            font-size: 20px;
        }
        // @media #{$desktop} {
        //     font-size: 23px;
        // }
        // @media #{$tablet} {
        //     font-size: 22px;
        // }
        // @media #{$tablet-narrow} {
        //     font-size: 21px;
        // }
        @media #{$mobile-wide} {
            // font-size: 20px;
            height: 60px;
            line-height: 56px;
            padding-left: 60px;
        }
        @media #{$mobile} {
            font-size: 18px;
        }
        @media #{$mobile-small} {
            font-size: 16px;
        }
    }
    .textarea {
        height: 100%;
        line-height: normal;
        resize: none;
        padding-top: 4px;
        @media #{$widescreen} {
            padding-top: 14px;
        }
    }
}

section .title {
    font-size: 35px;
    line-height: 42px;
    color: #000;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    @media #{$tablet} {
        line-height: normal;
    }
    @media #{$tablet-narrow} {
        font-size: 32px;
    }
    @media #{$mobile-wide} {
        font-size: 30px;
    }
    @media #{$mobile} {
        font-size: 28px;
    }
    @media #{$mobile-small} {
        font-size: 26px;
    }
}

.container > .title {
    @media #{$tablet} {
        line-height: normal !important;
    }
    @media #{$tablet-narrow} {
        font-size: 32px !important;
    }
    @media #{$mobile-wide} {
        font-size: 30px !important;
    }
    @media #{$mobile} {
        font-size: 28px !important;
    }
    @media #{$mobile-small} {
        font-size: 26px !important;
    }
}

.breadcrumbs {
    padding: 30px 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        @media #{$mobile} {
            font-size: 16px;
        }
        @media #{$mobile-small} {
            font-size: 14px;
        }
    }
    .parent-page {
        color: $blue;
        position: relative;
        &:after {
            content: '>';
            margin-left: 10px;
        }
        margin-right: 10px;
    }
    .current-page {
        color: #000;
    }
}





