
$main-font: 'Roboto';
$title-font: 'Roboto Condensed';

$grey-black: #252525;
$grey-medium-dark: #c2c2c2;
$grey: #e5e5e5;
$grey-light: #F4F5F7;
$grey-blue: #DDE6F2;
$orange: #E9542C;
$gold: #D0AB50;
$red: #D75A4A;
$green: #A9E491;
$blue: #2F80ED;