.block-homescreen {
    padding-left: 28%;
    .slide {
        height: 490px;
        position: relative;
        color: #fff;
    }
    .slide-banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .slide-content {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    .slide-product {
        width: 255px;
        img {
            max-width: 100%;
        }
    }
    .slide-title {
        font-size: 70px;
        font-weight: 700;
        line-height: 0.8;
        text-transform: uppercase;
    }
    .slide-descr {
        font-size: 30px;
        line-height: 1.2;
        margin-top: 14px;
    }
    .slide-download {
        margin-top: 20px;
        border-top: 1px solid #fff;
        padding-top: 32px;
        display: flex;
        align-items: center;
    }
    .download-link {
        border-radius: 4px;
        overflow: hidden;
        &:not(:last-child) {
            margin-right: 16px;
        }
        img {
            max-width: 90px;
            max-height: 30px;
        }
    }
    .slide-details {
        width: 270px;
        height: 66px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        background-color: transparent;
        border: 1px solid #fff;
        text-transform: lowercase;
        font-weight: 300;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        bottom: 40px;
        width: 100%;
        list-style: none;
        li {
            &:not(:last-child) {
                margin-right: 24px;
            }
            &.slick-active {
                button {
                    @include btn-bg();
                }
            }
        }
        button {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            font-size: 0;
            background-color: #fff;
            border: 0;
        }
    }
}
