$main-font: "Rubik";

$black: #141414;
$grey: #727272;
$blue: #0ba8ef;
$red: #fb1328;
$green: #30b203;

$body-bg: #f2f2f2;
$block-bg: #fafafa;
$footer-bg: #3f3f3f;

$duration: 0.3s;

$wrapper-gap-x: 16px;
$wrapper-gap-x-mobile: 12px;

$grid-products-gap: 20px;
$grid-news-column-gap: 100px;
$grid-news-row-gap: 40px;

$text-color: $black;
