$main-font: "Rubik";

$body-bg: #f2f2f2;

$black: #141414;
$grey: #727272;
$blue: #0ba8ef;
$red: #fb1328;
$green: #30b203;

$duration: 0.3s;

$wrapper-gap-x: 16px;
$wrapper-gap-x-mobile: 12px;

$text-color: $black;
