@font-face {
    font-family: 'Plumb', sans-serif;
    src: url('../fonts/plumb-light.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Plumb', sans-serif;
    src: url('../fonts/plumb-regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Plumb', sans-serif;
    src: url('../fonts/plumb-medium.otf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Plumb', sans-serif;
    src: url('../fonts/plumb-bold.otf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Plumb', sans-serif;
    src: url('../fonts/plumb-black.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Plumb Condensed', sans-serif;
    src: url('../fonts/plumbcondensed-light.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Plumb Condensed', sans-serif;
    src: url('../fonts/plumbcondensed-regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Plumb Condensed', sans-serif;
    src: url('../fonts/plumbcondensed-bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Plumb Condensed', sans-serif;
    src: url('../fonts/plumbcondensed-black.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Plumb Soft', sans-serif;
    src: url('../fonts/plumbcondensed-black.ttf');
    font-style: normal;
    font-weight: 900;
}
