

// $light-blue: #EDF7F9;
// $light-grey: #f2f2f2;
// $grey: #787878;
// $dark-grey: #4d4d4d;
// $blue: #1B1464;
// $middle-blue: #466D98;
// $violet: #544f8b;
$black: #28292A;
$green: #48ab15;
$red: #E51E1E;
$grey: #7c7c7c;


$maxw1700: 'screen and (max-width: 1700px)';
$maxw1500: 'screen and (max-width: 1500px)';
$maxw1440: 'screen and (max-width: 1440px)';
$maxw1366: 'screen and (max-width: 1366px)';
$maxw1200: 'screen and (max-width: 1200px)';
$maxw1100: 'screen and (max-width: 1100px)';
$maxw1024: 'screen and (max-width: 1024px)';
$maxw992: 'screen and (max-width: 992px)';
$maxw960: 'screen and (max-width: 960px)';
$maxw860: 'screen and (max-width: 860px)';
$maxw768: 'screen and (max-width: 768px)';
$maxw640: 'screen and (max-width: 640px)';
$maxw576: 'screen and (max-width: 576px)';
$maxw480: 'screen and (max-width: 480px)';
$maxw360: 'screen and (max-width: 360px)';

body {
    &.menu-open {
        overflow: hidden;
        height: 100vh;
    }
}
.step-group-descr {
    ul {
        padding-left: 20px;
    }
    li {
        padding-bottom: 10px;
    }
    p {
        margin-bottom: 10px !important;
    }
}

.work-steps .text{
    padding-right: 10px;
}

a.button, button.button {
    border-radius: 50px;
    display: flex;
    align-items: center;
    img {
        margin-right: 15px;
    }
}

.ark_center {
    padding: 0 0;
    @media #{$maxw1200} {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.ark_container {
    width: 100%;
}
.ark_title {
    .title {
        padding-top: 0;
    }
}

p {
    margin-top: 0;
    &:not(:last-child) {
        margin-bottom: 18px;
    }
}

















