@font-face {
    font-family: 'Cera CY';
    src:    local('Cera CY'),
            local('CeraCY'),
            local('CeraCY Light'),
            local('Cera CY Light'),
            local('CeraCY-Light'),
            url('../fonts/CeraCY-Light.eot') format('embedded-opentype'),
            url('../fonts/CeraCY-Light.otf') format('opentype'),
            url('../fonts/CeraCY-Light.woff2') format('woff2'),
            url('../fonts/CeraCY-Light.woff') format('woff'),
            url('../fonts/CeraCY-Light.ttf') format('truetype'),
            url('../fonts/CeraCY-Light.svg#CeraCY-Light') format('svg');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Cera CY';
    src:    local('Cera CY'),
            local('CeraCY'),
            local('CeraCY Regular'),
            local('Cera CY Regular'),
            local('CeraCY-Regular'),
            url('../fonts/CeraCY-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Cera CY';
    src:    local('Cera CY'),
            local('CeraCY'),
            local('CeraCY Medium'),
            local('Cera CY Medium'),
            local('CeraCY-Medium'),
            url('../fonts/CeraCY-Medium.eot') format('embedded-opentype'),
            url('../fonts/CeraCY-Medium.otf') format('opentype'),
            url('../fonts/CeraCY-Medium.woff2') format('woff2'),
            url('../fonts/CeraCY-Medium.woff') format('woff'),
            url('../fonts/CeraCY-Medium.ttf') format('truetype'),
            url('../fonts/CeraCY-Medium.svg#CeraCY-Medium') format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Cera CY';
    src:    local('Cera CY'),
            local('CeraCY'),
            local('CeraCY Bold'),
            local('Cera CY Bold'),
            local('CeraCY-Bold'),
            url('../fonts/CeraCY-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Cera CY';
    src:    local('Cera CY'),
            local('CeraCY'),
            local('CeraCY Black'),
            local('Cera CY Black'),
            local('CeraCY-Black'),
            url('../fonts/CeraCY-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Futura PT Condenced';
    src:    local('Futura PT Condenced'),
            local('Futura PT Cond'),
            local('FuturaPtCond'),
            local('FuturaPT-Condenced'),
            local('FuturaPT-Cond'),
            local('FuturaPTCond'),
            local('FuturaPTCond-Bold'),
            url('../fonts/FuturaPTCond-Bold.eot') format('embedded-opentype'),
            url('../fonts/FuturaPTCond-Bold.otf') format('opentype'),
            url('../fonts/FuturaPTCond-Bold.woff2') format('woff2'),
            url('../fonts/FuturaPTCond-Bold.woff') format('woff'),
            url('../fonts/FuturaPTCond-Bold.ttf') format('truetype'),
            url('../fonts/FuturaPTCond-Bold.svg#CFuturaPTCond-Bold') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'OlgaCTT';
    src:    local('OlgaCTT'),
            local('Olga CTT'),
            local('Olga Ctt'),
            local('Olga-CTT'),
            local('Olga-Ctt'),
            local('OlgaCTT-Regular'),
            local('OlgaCTT-Reg'),
            url('../fonts/OlgaCTT.eot') format('embedded-opentype'),
            url('../fonts/OlgaCTT.otf') format('opentype'),
            url('../fonts/OlgaCTT.woff2') format('woff2'),
            url('../fonts/OlgaCTT.woff') format('woff'),
            url('../fonts/OlgaCTT.ttf') format('truetype'),
            url('../fonts/OlgaCTT.svg#OlgaCCT') format('svg');
    font-style: normal;
    font-weight: normal;
}
