$main-font: "Raleway";

$body-bg: #1b171f;
$block-bg: #201c24;

$orange: #f25858;
$red: #e14947;
$red-dark: #881612;
$dark: #26232a;

$secondary: #707074;

$theme-color: $orange;

$duration: 0.3s;

$wrapper-gap-x: 32px;
$wrapper-gap-x-mobile: 16px;

$text-color: #fff;
