@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Heuristica-Regular.eot');
  src: url('../fonts/Heuristica-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Heuristica-Regular.woff2') format('woff2'),
  url('../fonts/Heuristica-Regular.woff') format('woff'),
  url('../fonts/Heuristica-Regular.ttf') format('truetype'),
  url('../fonts/Heuristica-Regular.svg#Heuristica') format('svg');
}

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Heuristica-Regular-Italic.eot');
  src: url('../fonts/Heuristica-Regular-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Heuristica-Regular-Italic.woff2') format('woff2'),
  url('../fonts/Heuristica-Regular-Italic.woff') format('woff'),
  url('../fonts/Heuristica-Regular-Italic.ttf') format('truetype'),
  url('../fonts/Heuristica-Regular-Italic.svg#Heuristica') format('svg');
}
