@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.header {
    position: relative;
    z-index: 999;
    color: #fff;
    flex-grow: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    @media #{$mobile-wide} {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: calc(100% - 60px);
        z-index: 9999;
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: bottom 0.5s;
    }
    &.open {
        @media #{$mobile-wide} {
            bottom: 0;
            transition: bottom 0.5s;
        }
        .header-top {
            @media #{$mobile-wide} {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
                transition: opacity 0.5s ease-in;
                animation: fadein 2s;
            }
        }
        .menu {
            @media #{$mobile-wide} {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
                transition: opacity 0.5s ease-in;
                animation: fadein 2s;
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .header-top {
        background: $bg-color;
        width: 100%;
        position: relative;
        z-index: 2;
        @media #{$mobile-wide} {
            order: 2;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transition: opacity 0.5s ease-in;
        }
        @media #{$mobile} {
            padding-bottom: 20px;
        }
        .container {
            min-height: 60px;
            @media #{$mobile} {
                flex-direction: column-reverse;
            }
        }
    }
    .header-bottom {
        margin-top: 25px;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        width: 100%;
        z-index: 1;
        @media #{$mobile-wide} {
            order: 1;
            // position: static;
            margin-top: 0;
            top: 0;
            bottom: 0;
        }
        .container {
            @media #{$mobile-wide} {
                min-height: 60px;
            }
        }
    }
    .left-block, .right-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .left-block {
        @media #{$mobile} {
            flex-direction: column-reverse;
            margin-top: 30px;
        }
    }
    .address {
        font-style: normal;
        position: relative;
        padding-left: 29px;
        &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            width: 15px;
            height: 21px;
            top: calc(50% - 10.5px);
            background: transparent url('../img/marker.svg') center no-repeat;
            background-size: cover;
        }
        &:not(:last-child) {
            margin-right: 43px;
            @media #{$mobile-wide} {
                margin-right: 25px;
                font-size: 12px;
            }
            @media #{$mobile} {
                margin-right: 0;
                margin-top: 20px;
            }
        }
    }
    .phone {
        display: block;
        position: relative;
        padding-left: 29px;
        &:before {
            display: block;
            content: '';
            width: 21px;
            height: 21px;
            position: absolute;
            left: 0;
            top: calc(50% - 10.5px);
            background: transparent url('../img/phone.svg') center no-repeat;
            background-size: cover;
        }
        &:not(:last-child) {
            margin-right: 43px;
            @media #{$mobile-wide} {
                margin-right: 25px;
                font-size: 12px;
            }
            @media #{$mobile} {
                margin-right: 0;
                margin-top: 20px;
            }
        }
    }
    .lang {
        position: relative;
    }
    .current-lang {
        display: block;
        position: relative;
        padding-left: 25px;
        padding-right: 15px;
        font-size: 14px;
        line-height: 1.5;
        @media #{$mobile-wide} {
            font-size: 12px;
        }
        &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            width: 20px;
            height: 21px;
            background: transparent url('../img/earth.svg') center no-repeat;
            background-size: cover;
        }
        &:after {
            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5.5px 0 5.5px;
            border-color: #fff transparent transparent;
        }
    }
    .dropdown-lang {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        right: 0;
        display: none;
        width: 100% !important;
        @media #{$mobile-wide} {
            top: initial;
            bottom: calc(100% + 10px);
        }
        @media #{$mobile-wide} {
            top: calc(100% + 10px);
            bottom: initial;
        }
        .langs {
            display: flex;
            flex-direction: column;
            background: #fff;
            border: 1px solid $main-color;
            padding: 10px 15px;
            text-align: center;
        }
        a {
            font-weight: 700;
            text-transform: uppercase;
            display: block;
            color: $bg-color;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

    }
    .social {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        &:not(:last-child) {
            margin-right: 25px;
        }
        &.fb {
            width: 12px;
            height: 24px;
            background-image: url('../img/fb.svg');
        }
        &.inst {
            width: 21px;
            height: 21px;
            background-image: url('../img/inst.svg');
        }
    }
    .logo {
        img {
            max-width: 110px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        @media #{$mobile-wide} {
            // display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            bottom: 0;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transition: opacity 0.5s;
            animation: fadein 2s;
        }
    }
    .menu-link {
        font-size: 16px;
        line-height: 1.5;
        color: $black;
        font-weight: 600;
        @media #{$mobile-wide} {
            color: #fff;
            font-size: 20px;
            line-height: 1;
        }
        &.active {
            color: $main-color;
            pointer-events: none;
            cursor: default;
            @media #{$mobile-wide} {
                font-size: 36px;
            }
        }
        &:not(:last-child) {
            margin-right: 44px;
            @media #{$tablet-small} {
                margin-right: 30px;
            }
            @media #{$mobile-wide} {
                margin-right: 0;
                margin-bottom: 25px;
            }
        }
    }
    .menu-burger {
        display: none;
        border: 0;
        background-color: transparent;
        position: absolute;
        top: 17px;
        right: 15px;
        z-index: 9999;
        @media #{$mobile-wide} {
            display: block;
        }
        span {
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}






