.block-homescreen {
    // min-height: 768px;
    .wrap {
        display: flex;
        align-items: stretch;
        max-width: 100%;
        position: relative;
        @media #{$maxw768} {
            flex-direction: column;
        }
    }
    .half {
        width: 50%;
        flex-shrink: 0;
        @media #{$maxw768} {
            width: 100%;
        }
    }
    .logo {
        position: absolute;
        top: 35px;
        left: 48px;
        z-index: 2;
        @media #{$maxw768} {
            left: 24px;
            // top: 24px;
            top: 14px;
        }
    }

    .banner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        height: 100vh;
        min-height: 640px;
        // max-height: 1024px;
        overflow: hidden;
        @media #{$maxw1360} {
            overflow: initial;
        }
        @media #{$maxw768} {
            order: 2;
            height: initial;
            min-height: initial;
            max-height: initial;
            // overflow: initial;
        }
    }

    .text {
        padding: 110px 90px;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $greylight;
        height: 100vh;
        min-height: 640px;
        // max-height: 1024px;
        @media #{$maxw1360} {
            padding: 100px 80px;
        }
        @media #{$maxw1024} {
            padding: 80px 40px;
        }
        @media #{$maxw768} {
            order: 1;
            padding: 100px 0 40px;
            height: initial;
            min-height: initial;
            max-height: initial;
            background-color: #fff;
        }
        &-author {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2;
            @media #{$maxw768} {
                font-size: 12px;
            }
            + .text-title {
                margin-top: 18px;
                @media #{$maxw768} {
                    margin-top: 8px;
                }
            }
        }
        &-label {
            background-color: $grass-bright;
            color: $green-text;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            line-height: 32px;
            font-weight: 700;
            @media #{$maxw768} {
                font-size: 10px;
            }
            + .text-title {
                margin-top: 40px;
                @media #{$maxw768} {
                    margin-top: 16px;
                }
            }
        }
        &-title {
            font-size: 28px;
            font-weight: 700;
            line-height: 1.2;
            margin-top: 16px;
            @media #{$maxw768} {
                font-size: 16px;
                line-height: 1.3;
            }
        }
        &-descr {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            margin-top: 24px;
            @media #{$maxw768} {
                font-size: 14px;
                line-height: 1.3;
                margin-top: 16px;
            }
            p {
                &:not(:last-child) {
                    margin-bottom: 20px;
                    @media #{$maxw768} {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &-link {
            margin-top: 32px;
            font-size: 18px;
            font-weight: 700;
            padding: 0 40px;
            height: 56px;
            line-height: 56px;
            border: 0;
            min-width: 152px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            color: $green-text;
            padding-top: 1px;
            @media #{$maxw768} {
                font-size: 14px;
                line-height: 40px;
                height: 40px;
                // padding-top: 4px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 24px;
            }
        }
        &-download {
            display: flex;
            align-items: center;
            margin-top: 28px;
            .download-link {
                font-size: 14px;
                font-weight: 900;
                position: relative;
                padding-right: 20px;
                &:after {
                    display: block;
                    content: '';
                    width: 11px;
                    height: 13px;
                    background-color: transparent;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: calc(50% - 7px);
                    right: 0;
                    background-image: url('../img/download-black.svg');
                }
                &:hover {
                    color: $green-text;
                    &:after {
                        background-image: url('../img/download-green.svg');
                    }
                }
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }
    }
}

.block-artworks {
    .wrap {
        // display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        @media #{$maxw768} {
            flex-direction: column;
        }
    }
    .logo {
        display: none;
        @media #{$maxw768} {
            display: flex;
        }
    }
    .banner {
        // min-height: 768px;
        // height: 100vh;
        // img {
        //     width: 100%;
        // }

        &.fixed {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 99;
            background-color: #fff;
            overflow: hidden;
            // transition: top 0.5s;
            @media #{$maxw768} {
                position: static;
                transition: initial;
                overflow: initial;
            }
        }
        // &.smooth {
        //     // transition: bottom 0.5s;
        // }
    }

    .book-figure {
        position: relative;
        width: 62%;
        // transform: scale(1.65);
        // transform: scale(1.78);
        // transition: transform 0.5s;
        @media #{$maxw768} {
            transform: initial;
        }
        .book {
            width: 100%;
            position: relative;
            // z-index: 2;
            &:before {
                position: absolute;
                // z-index: 1;
                background: transparent url('../img/book-shadow.png') center no-repeat;
                background-size: contain;
                width: 163.75%;
                height: 119.4%;
                right: 0;
                top: -8%;
                display: block;
                content: '';
            }
            .book-body {
                display: block;
                position: relative;
                z-index: 1;
                img {
                    width: 100%;
                }
            }
            .book-cover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                background: transparent url('../img/book-cover.svg') center no-repeat;
                background-size: cover;
            }
        }
    }

    .text {
        padding-top: 130px;
        // margin-left: auto;
        // width: 100%;
        // padding-left: calc(50% + 90px);
        @media #{$maxw1360} {
            // padding-left: calc(50% + 80px);
        }
        @media #{$maxw1024} {
            // padding-left: calc(50% + 40px);
        }
        @media #{$maxw768} {
            padding-top: 100px;
            padding-left: 0;
        }
    }
    .grid {
        max-width: calc(100% - 32px);
        // max-width: calc(50% - 16px);
        // margin-right: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        // padding-left: auto;
        // padding-right: auto;
        position: relative;
        z-index: 2;
        display: block;
        @media #{$maxw768} {
            order: 3;
            max-width: 100%;
            margin-top: 40px;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .grid-sizer {
        display: block;
        width: calc((100% - 48px) / 4);
        // width: calc((100% - 16px) / 2);
        @media #{$maxw768} {
            width: calc((100% - 16px) / 2);
        }
        @media #{$maxw480} {
            width: 100%;
        }
    }
    .grid-item {
        display: block;
        width: calc((100% - 48px) / 4);
        // width: calc((100% - 16px) / 2);
        font-family: $esti;
        float: left;
        background-color: #fff;
        transition: background-color 0.5s;
        // margin-right: 16px;
        @media #{$maxw768} {
            width: calc((100% - 16px) / 2);
        }
        @media #{$maxw480} {
            width: 100%;
        }
        &:hover {
            background-color: $grass;
            transition: background-color 0.5s;
            color: $green-text-dark;
        }
        // &:nth-of-type(2) {
        &:nth-of-type(4) {
            margin-top: -72px;
            @media #{$maxw1360} {
                margin-top: -50px;
            }
            @media #{$maxw1024} {
                margin-top: -25px;
            }
            @media #{$maxw768} {
                margin-top: initial;
            }
        }
        // &:nth-of-type(3) {
        &:nth-of-type(5) {
            margin-top: -158px;
            @media #{$maxw1360} {
                margin-top: -120px;
            }
            @media #{$maxw1024} {
                margin-top: -70px;
            }
            @media #{$maxw768} {
                margin-top: initial;
            }
        }
        &:not(:last-child) {
            margin-bottom: 24px;
            @media #{$maxw768} {
                // margin-bottom: 16px;
            }
        }
        &.half {
            width: calc( ( 100% - 48px ) / 2 + 16px );
            @media #{$maxw768} {
                width: 100%;
            }
        }
        .photo {
            width: 100%;
            // max-height: 300px;
            // overflow: hidden;
            pointer-events: none;
            img {
                width: 100%;
                display: block;
                @media #{$maxw480} {
                    // width: initial;
                    // max-width: 100%;
                }
            }
        }
        .info {
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            pointer-events: none;
            // background-color: #fff;
            @media #{$maxw768} {
                padding: 8px;
            }
        }
        .title {
            font-size: 16px;
            font-weight: 700;
            width: 100%;
            @media #{$maxw768} {
                font-size: 13px;
                line-height: 15px;
            }
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        .author {
            font-size: 12px;
            max-width: calc(100% - 50px);
            @media #{$maxw768} {
                font-size: 10px;
                line-height: 11px;
            }
        }
        .date {
            font-size: 12px;
            @media #{$maxw768} {
                font-size: 10px;
                line-height: 11px;
            }
        }
    }
    .add-items-button {
        margin-top: 24px;
        width: calc( ( 100% - 48px ) / 2 );
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 80px;
        border: 0;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: $grass;
        color: $green-text;
        margin-left: auto;
        margin-right: 16px;
        @media #{$maxw768} {
            order: 4;
            background-color: $grass-bright;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            max-width: 270px;
            margin-top: 32px;
        }
    }
}

.block-about {
    .wrap {
        @media #{$maxw1360} {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .banner, .text {
        @media #{$maxw768} {
            height: initial;
            min-height: initial;
        }
    }
    .banner {
        min-height: 100vh;
        height: auto;
        max-height: initial;
        position: fixed;
        bottom: 0;
        @media #{$maxw768} {
            order: 1;
            height: 93.75vw;
            min-height: initial;
            position: static;
            padding-top: 24px;
        }
        img {
            max-width: 680px;
            @media #{$maxw768} {
                max-width: 90%;
            }
        }
    }
    .text {
        min-height: 100vh;
        // height: 100vh;
        height: auto;
        max-height: initial;
        margin-left: auto;

        @media #{$maxw768} {
            min-height: initial;
            order: 2;
            padding: 0 24px 24px;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }
        &-title {
            @media #{$maxw768} {
                width: 100%;
            }
        }
        &-descr {
            @media #{$maxw768} {
                width: 100%;
            }
        }
        &-link {
            margin-left: initial;
            margin-right: 17px;
        }
    }
}

.block-author {
    .wrap {
        @media #{$maxw1360} {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .banner, .text {
        min-height: 768px;
        height: 100vh;
        @media #{$maxw768} {
            height: initial;
            min-height: initial;
        }
    }
    .banner {
        background-color: #e1ece6;
        overflow: hidden;
        @media #{$maxw768} {
            order: 1;
            height: 93.75vw;
        }
        img {
            min-width: 50vw;
            min-height: 100vh;
            object-fit: cover;
            @media #{$maxw768} {
                min-width: 100%;
                min-height: initial;
                top: 0;
                object-fit: initial;
                position: absolute;
            }
        }
    }
    .text {
        @media #{$maxw768} {
            order: 2;
            padding: 24px;
        }
    }
}





.block-book-content-table {
    .wrap {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        @media #{$maxw768} {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .half {
        width: 50%;
        flex-shrink: 0;
        @media #{$maxw768} {
            width: 100%;
        }
    }
    .content-title-image-group {
        background-color: $greylight;
        min-height: 768px;
        display: flex;
        padding-top: 80px;
        padding-bottom: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media #{$maxw768} {
            padding-top: 50px;
            padding-bottom: 24px;
            min-height: initial;
        }
        .title-image-figure {
            position: relative;
        }
        .image-underlay {
            position: absolute;
            left: 11px;
            right: 11px;
            top: 12px;
            bottom: -12px;
            filter: blur(40px);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            pointer-events: none;
            z-index: 1;
        }
        .image-holder {
            position: relative;
            z-index: 2;
            img {
                @media #{$maxw768} {
                    max-height: 320px;
                }
            }
        }
        .title-image-description {
            // font-family: $helvetica;
            width: 210px;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 400;
            padding: 16px;
            position: relative;
            z-index: 3;
            margin-top: -44px;
            background-color: #fff;
            text-align: center;
            text-transform: uppercase;
            box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
            @media #{$maxw768} {
                width: 290px;
            }
        }
    }
    .content-table-list {
        padding-top: 120px;
        // padding-left: 72px;
        // padding-right: 128px;
        @media #{$maxw768} {
            padding-top: 50px;
        }
        .list-title {
            font-size: 32px;
            line-height: 37px;
            font-weight: 700;
            padding-left: 72px;
            @media #{$maxw768} {
                padding-left: 24px;
                font-size: 24px;
                line-height: 1.1;
            }
        }
        .list-links {
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media #{$maxw768} {
                margin-top: 16px;
            }
        }
        .chapter-holder {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 32px;
                @media #{$maxw768} {
                    // margin-bottom: 16px;
                }
            }
        }
        .section-holder {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
        .book-chapter {
            padding-left: 72px;
            padding-right: 128px;
            @media #{$maxw768} {
                padding-left: 24px;
                padding-right: 24px;
            }
            &:not(:last-child) {
                margin-bottom: 24px;
                @media #{$maxw768} {
                    margin-bottom: 18px;
                }
            }
            &-general {
                font-size: 24px;
                line-height: 28px;
                font-weight: 700;
                display: block;
                @media #{$maxw768} {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            &-title {
                margin-top: 8px;
                font-size: 18px;
                line-height: 21px;
                font-weight: 700;
                position: relative;
                text-transform: uppercase;
                display: block;
                @media #{$maxw768} {
                    font-size: 12px;
                    line-height: 14px;
                    margin-top: 16px;
                }
            }
            &-title:after {
                font-size: 18px;
                line-height: 21px;
                font-weight: 400;
                content: '...';
                display: block;
                @media #{$maxw768} {
                    font-size: 12px;
                    line-height: 14px;
                    margin-top: 16px;
                }
            }
        }

        .chapter-section {
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            text-transform: uppercase;
            padding-left: 72px;
            padding-right: 128px;
            @media #{$maxw768} {
                padding-left: 24px;
                padding-right: 24px;
            }
            &:not(:last-child) {
                margin-bottom: 8px;
                @media #{$maxw768} {
                    margin-bottom: 16px;
                }
            }
            &-general {
                display: block;
                font-size: 10px;
                line-height: 11px;
                opacity: 0.5;
            }
            &-title {
                margin-top: 8px;
                display: block;
                font-size: 12px;
                line-height: 14px;
            }
        }
        .link {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            position: relative;
            display: block;
            width: 100%;
            padding-left: 72px;
            padding-right: 128px;
            @media #{$maxw768} {
                padding-left: 24px;
                font-size: 12px;
                line-height: 1.4;
                padding-top: 4px;
                padding-bottom: 4px;
            }
            // &:before {
            //     display: block;
            //     left: -72px;
            //     top: 0;
            //     height: 100%;
            //     width: 72px;
            //     position: absolute;
            //     content: '';
            //     background-color: transparent;
            // }
            &:hover {
                transition: background-color 0.5s;
                background-color: $grass;
                // &:before {
                //     transition: background-color 0.5s;
                //     background-color: $grass;
                // }
            }

            &:not(:last-child) {
                margin-bottom: 4px;
                @media #{$maxw768} {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

.block-book-view {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    @media #{$maxw768} {
        min-height: calc(100vh - 64px);
    }
    .wrap {
        max-width: 100%;
        padding-right: 48px;
        padding-left: 48px;
        @media #{$maxw768} {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .page-text {
        padding-top: 24px;
        padding-bottom: 24px;
        flex-grow: 1;
        @media #{$maxw768} {
            padding-top: 40px;
        }
        .text-content-group {
            display: flex;
            @media #{$maxw768} {
                display: block;
            }
            &.media-first {
                .media-column {
                    order: 1;
                }
                .text-column {
                    order: 2;
                    padding-right: 0;
                    padding-left: 40px;
                    @media #{$maxw768} {
                        padding-left: 24px;
                        padding-right: 24px;
                    }
                }
                .media-item {
                    justify-content: center;
                    padding-left: 40px;
                    padding-bottom: 66px;
                    @media #{$maxw768} {
                        padding-left: 0;
                    }
                    .title {
                        bottom: 30px;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            .half {
                width: 50%;
                flex-shrink: 0;
                @media #{$maxw768} {
                    width: 100%;
                }
                &:not(:first-child) {
                    @media #{$maxw768} {
                        margin-top: 32px;
                    }
                }
            }
            .text-column {
                padding-right: 40px;
                @media #{$maxw768} {
                    padding-right: 24px;
                    padding-left: 24px;
                }
            }
            .book-chapter {
                margin-bottom: 32px;
                @media #{$maxw768} {
                    margin-bottom: 16px;
                }
                &-general {
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 700;
                    display: block;
                    @media #{$maxw768} {
                        font-size: 10px;
                        line-height: 11px;
                    }
                }
                &-title {
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    display: block;
                    margin-top: 8px;
                    @media #{$maxw768} {
                        font-size: 14px;
                    }
                    br {
                        display: none;
                    }
                }
            }
            p {
                font-size: 16px;
                line-height: 1.4;
                hyphens: auto;
                text-indent: 45px;
                @media #{$maxw768} {
                    font-size: 14px;
                    line-height: 1.3;
                    font-weight: 400;
                    text-indent: 26px;
                }
                &:not(:last-child) {
                    margin-bottom: 18px;
                }
            }
            a {
                color: $green-text;
                background-color: $grass-bright;
                padding: 3px;
                sup {
                    font-size: 10px;
                    line-height: 1.4;
                }
            }
            .media-item {
                background-color: $greylight;
                position: relative;
                z-index: 10;
                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @media #{$maxw768} {
                    padding-top: 22px;
                    padding-bottom: 0;
                }
                + .media-item {
                    z-index: 5;

                }
                &.dark {
                    background-color: $black;
                    @media #{$maxw768} {
                        padding-top: 45px;
                        padding-bottom: 45px;
                    }
                    .title {
                        max-width: 256px;
                        @media #{$maxw768} {
                            bottom: 0;
                        }
                    }
                    img {
                        @media #{$maxw768} {
                            max-width: 85%;
                        }
                    }
                }
                img {
                    position: relative;
                    z-index: 1;
                    @media #{$maxw768} {
                        max-width: 65%;
                    }
                }
                .title {
                    margin-top: -52px;
                    max-width: 190px;
                    padding: 8px;
                    background-color: #fff;
                    font-size: 10px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    text-align: center;
                    min-height: 72px;
                    position: absolute;
                    bottom: -10px;
                    z-index: 2;
                    @media #{$maxw768} {
                        padding: 8px 16px;
                        bottom: -24px;
                    }
                }
            }
        }
    }
    .bottom-navigation {
        box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.02), 0px -1px 13px rgba(0, 0, 0, 0.03);
        flex-grow: 0;
        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 16px;
            padding-bottom: 16px;
            min-height: 72px;
            @media #{$maxw768} {
                padding-left: 30px;
                padding-right: 30px;
                min-height: 48px;
            }
        }
        .section-link {
            max-width: 350px;
            font-size: 14px;
            line-height: 1.2;
            opacity: 0.7;
            display: flex;
            align-items: center;
            @media #{$maxw768} {
                font-size: 0;
            }
        }
        .prev-chapter-section {
            &:before {
                display: block;
                content: '';
                width: 9px;
                height: 15px;
                background: transparent url('../img/angle-left-black.svg') center no-repeat;
                margin-right: 16px;
                flex-shrink: 0;
            }
            &:hover {
                color: $green-text;
                &:before {
                    background-image: url('../img/angle-left-green.svg');
                }
            }
        }
        .next-chapter-section {
            &:after {
                display: block;
                content: '';
                width: 9px;
                height: 15px;
                background: transparent url('../img/angle-right-black.svg') center no-repeat;
                margin-left: 16px;
                flex-shrink: 0;
            }
            &:hover {
                color: $green-text;
                &:after {
                    background-image: url('../img/angle-right-green.svg');
                }
            }
        }
        .current-page-number {
            font-size: 14px;
            line-height: 16px;
            @media #{$maxw768} {
                font-size: 10px;
            }
        }
    }
}

.block-articles-banners {
    // padding-top: 120px;
    .wrap {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 50px;
        justify-content: flex-start;
        min-height: 120px;
        @media #{$maxw768} {
            padding-top: 26px;
            padding-bottom: 16px;
            padding-left: 24px;
            align-items: flex-start;
        }
    }
    .logo {
        position: static;
        img {
            width: 56px;
            @media #{$maxw768} {
                width: 32px;
            }
        }
        .logo-text {
            font-size: 17px;
            @media #{$maxw768} {
                font-size: 9px;
            }
        }
    }
    .page-label {
        font-size: 22px;
        font-weight: 700;
        padding-left: 24px;
        padding-right: 32px;
        height: 48px;
        line-height: 48px;
        border: 0;
        min-width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $green-text;
        padding-top: 2px;
        margin-left: 48px;
        @media #{$maxw768} {
            margin-left: 0;
            margin-top: 40px;
            font-size: 10px;
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            padding-right: 16px;
            min-width: 92px;
            padding-top: 1px;
        }
    }
    .grid {
        max-width: calc(100% - 32px);
        // max-width: calc(50% - 16px);
        // margin-right: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        // padding-left: auto;
        // padding-right: auto;
        position: relative;
        // z-index: 2;
        display: block;
        @media #{$maxw768} {
            // order: 3;
            max-width: 100%;
            // margin-top: 40px;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .grid-sizer {
        display: block;
        width: calc((100% - 48px) / 4);
        // width: calc((100% - 16px) / 2);
        @media #{$maxw768} {
            width: calc((100% - 16px) / 2);
        }
        @media #{$maxw480} {
            width: 100%;
        }
    }
    .grid-item {
        display: block;
        width: calc((100% - 48px) / 4);
        // width: calc((100% - 16px) / 2);
        font-family: $esti;
        float: left;
        background-color: #fff;
        transition: background-color 0.5s;
        // margin-right: 16px;
        @media #{$maxw768} {
            width: calc((100% - 16px) / 2);
        }
        @media #{$maxw480} {
            width: 100%;
        }
        &:hover {
            background-color: $grass;
            transition: background-color 0.5s;
            color: $green-text-dark;
        }
        &:not(:last-child) {
            margin-bottom: 24px;
            @media #{$maxw768} {
                // margin-bottom: 16px;
            }
        }
        &.half {
            width: calc( ( 100% - 48px ) / 2 + 16px );
            @media #{$maxw768} {
                width: 100%;
            }
        }
        .photo {
            width: 100%;
            // max-height: 300px;
            // overflow: hidden;
            pointer-events: none;
            img {
                width: 100%;
                display: block;
                @media #{$maxw480} {
                    // width: initial;
                    // max-width: 100%;
                }
            }
        }
        .info {
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            pointer-events: none;
            // background-color: #fff;
            @media #{$maxw768} {
                padding: 8px;
            }
        }
        .title {
            font-size: 16px;
            font-weight: 700;
            width: 100%;
            @media #{$maxw768} {
                font-size: 13px;
                line-height: 15px;
            }
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        .author {
            font-size: 12px;
            max-width: calc(100% - 50px);
            @media #{$maxw768} {
                font-size: 10px;
                line-height: 11px;
            }
        }
        .date {
            font-size: 12px;
            @media #{$maxw768} {
                font-size: 10px;
                line-height: 11px;
            }
        }
    }
    .add-items-button {
        margin-top: 24px;
        width: calc( ( 100% - 48px ) / 2 );
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 80px;
        border: 0;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: $grass;
        color: $green-text;
        margin-right: auto;
        margin-left: auto;
        @media #{$maxw768} {
            order: 4;
            background-color: $grass-bright;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            max-width: 270px;
            margin-top: 32px;
        }
    }
}

.block-chronology {
    .wrap {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
    }
    .half {
        width: 50%;
        flex-shrink: 0;
    }

    .content-title-image-group {
        background-color: $greylight;
        min-height: 768px;
        display: flex;
        padding-top: 80px;
        padding-bottom: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title-image-figure {
            position: relative;
        }
        .image-underlay {
            position: absolute;
            left: 11px;
            right: 11px;
            top: 12px;
            bottom: -12px;
            filter: blur(40px);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            pointer-events: none;
            z-index: 1;
        }
        .image-holder {
            position: relative;
            z-index: 2;
        }
        .title-image-description {
            // font-family: $helvetica;
            width: 210px;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 400;
            padding: 16px;
            position: relative;
            z-index: 3;
            margin-top: -44px;
            background-color: #fff;
            text-align: center;
            text-transform: uppercase;
            box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
        }
    }
    .content-table-list {
        padding-top: 112px;
        // padding-left: 64px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // padding-left: 72px;
        // padding-right: 128px;
        // .list-title {
        //     font-size: 32px;
        //     line-height: 37px;
        //     font-weight: 700;
        //     padding-left: 72px;
        // }
        .page-label {
            font-size: 16px;
            font-weight: 700;
            padding-left: 16px;
            padding-right: 16px;
            height: 32px;
            line-height: 32px;
            border: 0;
            min-width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $green-text;
            padding-top: 2px;
            background-color: $grass;
            margin-left: 72px;
            @media #{$maxw768} {
                margin-left: 0;
                margin-top: 40px;
                font-size: 10px;
                height: 32px;
                line-height: 32px;
                padding-left: 16px;
                padding-right: 16px;
                min-width: 92px;
                padding-top: 1px;
            }
        }
        .chronology-content {
            margin-top: 56px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
        .chronology-item {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            position: relative;
            display: block;
            width: 100%;
            &.active {
                &:not(:last-child) {
                    margin-bottom: 21px;
                }
                .chronology-item-head {
                    min-height: 40px;
                    color: $green-text;
                    background-color: $grass;
                    .year,
                    .title {
                        padding-top: 4px;
                    }
                }
            }
            &-head {
                // min-height: 40px;
                color: $black;
                font-weight: 700;

                padding-left: 72px;
                display: flex;
                align-items: center;
                .year {
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 700;
                    width: 126px;
                    flex-shrink: 0;
                    // padding-top: 4px;
                }
                .title {
                    font-size: 18px;
                    line-height: 24px;
                    // padding-top: 4px;
                }
            }
            &-descr {
                font-size: 18px;
                line-height: 1.4;
                font-weight: 400;
                margin-top: 8px;
                padding-right: 50px;
                padding-left: 198px;
            }


            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.page-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .header {
        width: 100%;
    }
    main.content {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .block-homescreen {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .wrap {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            // padding-top: 150px;
            // padding-bottom: 150px;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 0;
            padding-right: 0;
            @media #{$maxw768} {
                padding-top: 110px;
                padding-bottom: 90px;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                max-width: 590px;
                @media #{$maxw768} {
                    max-width: 66%;
                }
            }
            .title {
                font-size: 32px;
                line-height: 1.2;
                text-align: center;
                margin-top: 34px;
                font-weight: 700;
                @media #{$maxw768} {
                    font-size: 18px;
                    line-height: 1.4;
                    margin-top: 24px;
                }
            }
            .home-link {
                margin-top: 34px;
                height: 53px;
                line-height: 53px;
                color: $green-text;
                font-size: 18px;
                padding-left: 40px;
                padding-right: 40px;
                text-transform: uppercase;
                padding-top: 2px;
                @media #{$maxw768} {
                    margin-top: 16px;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 25px;
                    padding-right: 25px;
                    font-size: 14px;
                }
            }
        }
    }
    .footer {
        margin-top: 0;
        flex-grow: 0;
        width: 100%;
    }
}

.page-404 .footer {
    margin-top: 0;
}

.block-glossary {
    // padding-top: 120px;
    .wrap {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 50px;
        justify-content: flex-start;
        min-height: 120px;
        padding-right: 145px;
        @media #{$maxw1024} {
            padding-right: 120px;
        }
        @media #{$maxw768} {
            padding-top: 26px;
            padding-bottom: 24px;
            padding-left: 24px;
            padding-right: 24px;
            align-items: flex-start;
        }
    }
    .logo {
        position: static;
        img {
            width: 56px;
            @media #{$maxw768} {
                width: 32px;
            }
        }
        .logo-text {
            font-size: 17px;
            @media #{$maxw768} {
                font-size: 9px;
            }
        }
    }
    .page-label {
        font-size: 22px;
        font-weight: 700;
        padding-left: 24px;
        padding-right: 32px;
        height: 48px;
        line-height: 48px;
        border: 0;
        min-width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $green-text;
        padding-top: 2px;
        margin-left: 48px;
        @media #{$maxw768} {
            margin-left: 0;
            margin-top: 40px;
            font-size: 10px;
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            padding-right: 16px;
            min-width: 92px;
            padding-top: 1px;
        }
    }
    .form {
        margin-left: auto;
        position: relative;
        display: block;
        @media #{$maxw768} {
            margin-left: 0;
            margin-top: 24px;
            width: 100%;
        }
        &:before {
            display: block;
            content: '';
            position: absolute;
            left: -8px;
            bottom: 0;
            background: transparent url('../img/search.svg') center no-repeat;
            background-size: 22px 23px;
            width: 48px;
            height: 48px;
            @media #{$maxw768} {
                left: 0;
                width: 32px;
                height: 32px;
                bottom: 4px;
            }
        }
    }
    .input {
        display: block;
        width: 424px;
        // height: 46px;
        padding: 8px 40px 5px;
        border: 0;
        border-bottom: 1px solid $black;
        color: $black;
        font-size: 19px;
        line-height: 32px;
        @media #{$maxw1360} {
            width: 320px;
        }
        @media #{$maxw1024} {
            width: 250px;
        }
        @media #{$maxw860} {
            width: 200px;
        }
        @media #{$maxw768} {
            width: 100%;
            font-size: 16px;
            line-height: 28px;
            padding-bottom: 4px;
        }
        &::placeholder {
            opacity: 1;
        }
    }
    .glossary {
        padding-left: 56px;
        padding-right: 56px;
        columns: 2;
        column-gap: 128px;
        margin-top: 70px;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        // grid-column-gap: 128px;
        // grid-row-gap: 40px;
        // grid-auto-flow: column;
        @media #{$maxw1360} {
            column-gap: 100px;
        }
        @media #{$maxw1024} {
            column-gap: 80px;
        }
        @media #{$maxw860} {
            column-gap: 60px;
        }
        @media #{$maxw768} {
            margin-top: 0;
            padding-left: 24px;
            padding-right: 24px;
            columns: 1;
        }
    }
    .glossary-group {
        display: flex;
        align-items: flex-start;
        align-items: baseline;
        position: relative;
        margin-bottom: 0;
        break-inside: avoid;
        &:not(:last-child) {
            margin-bottom: 40px;
            @media #{$maxw768} {
                margin-bottom: 32px;
            }
        }
    }
    .glossary-group:after {
        display: block;
        content: '';
        width: 100%;
        bottom: -21px;
        left: 0;
        background-color: #c4c4c4;
        opacity: 0.5;
        position: absolute;
        height: 1px;
        @media #{$maxw768} {
            bottom: -17px;
        }
    }
    .glossary-letter {
        font-size: 22px;
        line-height: 1.4;
        width: 48px;
        flex-shrink: 0;
        position: relative;
        color: $green-text;
        font-weight: 700;
        @media #{$maxw768} {
            width: 32px;
            font-size: 18px;
        }
    }
    .glossary-items {
        display: flex;
        flex-direction: column;
    }
    .glossary-item {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: 24px;
            @media #{$maxw768} {
                margin-bottom: 16px;
            }
        }
        .title {
            font-size: 18px;
            line-height: 21px;
            color: $green-text;
            font-weight: 700;
            display: block;
            @media #{$maxw768} {
                font-size: 14px;
                line-height: 16px;
            }
        }
        .descr {
            display: block;
            font-size: 18px;
            line-height: 1.4;
            margin-top: 8px;
            color: $black;
            @media #{$maxw768} {
                font-size: 14px;
            }
        }
    }
}

.block-article {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .column {
        width: 50%;
        position: relative;
        flex-shrink: 0;
        img {
            width: 100%;
        }
        .img-title {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 16px;
            background-color: $grass;
            font-size: 16px;
            line-height: 19px;
            color: $green-text-dark;
            font-family: $esti;
            font-weight: 500;
        }
    }
    .text-column {
        padding-top: 65px;
        padding-bottom: 60px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 18px;
        line-height: 1.4;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        &:nth-child(2) {
            padding-top: 210px;
        }
        &:nth-child(2n+1) {
            background-color: $greylight;
        }
        &:last-of-type {
            padding-bottom: 100px;
        }
        .article-author {
            font-size: 12px;
            line-height: 1.4;
            font-weight: 700;
            color: #000;
        }
        .article-date {
            font-size: 12px;
            line-height: 1.4;
            font-weight: 700;
            color: #000;
        }
        .article-title {
            margin-top: 50px;
            width: 100%;
            font-size: 28px;
            line-height: 1.2;
            color: #333;
            font-weight: 700;
        }
        .article-title-descr {
            font-size: 18px;
            line-height: 1.4;
            color: #333;
            font-weight: 700;
            margin-top: 24px;
            width: 100%;
        }
        .article-text {
            width: 100%;
            color: #333;
            &:not(:first-child) {
                margin-top: 24px;
            }
        }
        p {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    .articles-link {
        width: calc(50% - 20px);
        margin-left: auto;
        height: 168px;
        background-color: $grass;
        color: $green-text;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 700;
    }
}















