.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    &.open {
        opacity: 1;
        pointer-events: auto;
    }
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba($black-bg, .6);
    }
    &-body {
        width: 100%;
        overflow: auto;
        max-height: 100%;
        max-height: -webkit-fill-available;
        position: relative;
        z-index: 2;
    }
    &-close {
        width: 36px;
        height: 36px;
        background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36 1.38462L19.3839 17.9993L36 34.6154L34.6154 36L17.9993 19.3839L1.38462 36L0 34.6154L16.6147 17.9993L0 1.38462L1.38462 0L17.9993 16.6147L34.6154 0L36 1.38462Z' fill='white'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: -56px;
        right: -56px;
        border: 0;
        background-color: transparent;
        background-size: 100%;
        @include mobile {
            width: 20px;
            height: 20px;

        }
    }
    &-content {
        position: relative;
        // max-width: 1200px;
        // margin: 180px auto;
    }
}

.modal-contract {
    .modal-close {
        @include maxw1366 {
            right: 0;
        }
        @include mobile {
            top: -30px;
        }
    }
    .modal-content {
        max-width: 1200px;
        margin: 180px auto;
        @include maxw1280 {
            max-width: 1000px;
        }
        @include touch {
            max-width: 708px;
        }
        @include mobile {
            max-width: 480px;
            margin: 56px 20px;
        }
    }
}


.contract-order {
    background-color: #fff;
    display: flex;
    padding: 10px;
    @include touch {
        flex-direction: column;
    }
    &-banner {
        background-color: $black-bg;
        width: 354px;
        height: 680px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        position: relative;

        @include touch {
            width: 100%;
            min-height: 350px;
            height: auto;
            background: $black-bg url('../img/modal-order-banner-bg.png') left bottom no-repeat;
            background-size: 324px 474px;
        }
        @include mobile {
            background-size: auto 260px;
            min-height: initial;
        }
        &::before {
            display: block;
            content: '';
            width: 129px;
            height: 117px;
            background: transparent url('../img/order-banner-arrows-bg.svg') center no-repeat;
            position: absolute;
            top: 33px;
            right: 74px;
            @include touch {
                right: initial;
                left: calc(50% - 150px);
            }
            @include mobile {
                width: 66px;
                height: 60px;
                left: calc(100% - 145px);
                top: initial;
                bottom: 130px;
                background-size: contain;
            }
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            @include touch {
                max-width: 210px;
                max-height: 320px;
                right: 0;
                bottom: -161px;
            }
            @include mobile {
                max-width: 95px;
                max-height: 145px;
                bottom: 0;
            }
        }
    }
    .banner-head {
        position: relative;
        padding: 45px 50px;
        flex-grow: 1;
        background: transparent url('../img/modal-order-banner-bg.png') left bottom no-repeat;
        background-size: 324px 474px;
        position: relative;
        z-index: 2;
        @include touch {
            padding: 55px 60px 50px;
            background: initial;
        }
        @include mobile {
            padding: 20px;
            min-height: 165px;
            display: flex;
        }
    }
    .banner-text {
        position: relative;
        z-index: 2;
        @include touch {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
    .banner-title {
        max-width: 200px;
        color: #fff;
        font-size: 26px;
        line-height: 31px;
        font-weight: 600;
        @include mobile {

        }
    }
    .banner-duration {
        margin-top: 38px;
        @include touch {
            margin-top: 0;
        }
        @include mobile {
            margin-top: 20px;
            display: flex;
            align-items: center;
        }
        svg {
            width: 30px;
            height: 30px;
            @include mobile {
                width: 24px;
                height: 24px;
            }
        }
    }
    .duration-text {
        margin-top: 14px;
        @include mobile {
            margin-top: 0;
            margin-left: 10px;
        }
    }
    .duration-value {
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        color: #fff;
        @include mobile {
            font-size: 16px;
            line-height: 19px;
        }
    }
    .duration-title {
        margin-top: 4px;
        font-size: 13px;
        line-height: 15px;
        color: $grey-text;
        @include mobile {
            font-size: 12px;
            line-height: 14px;
        }
    }
    .banner-control {
        border-top: 1px solid rgba(#fff, .16);
        padding: 50px;
        @include touch {
            padding: 50px 60px;
            display: flex;
            align-items: flex-start;
        }
        @include mobile {
            padding: 20px;
        }
        .btn {
            width: 100%;
            padding: 0 16px;
            @include touch {
                width: initial;
                min-width: 250px;
            }
            @include mobile {
                width: 100%;
                max-width: 375px;
            }
        }
    }
    &-info {
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
        @include mobile {
            padding: 20px 10px 10px;
        }
    }

    &-stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include mobile {
            grid-template-columns: 1fr;
            border: 1px solid $grey-border;
            grid-gap: 1px;
            background-color: $grey-border;
        }
    }
    .stat-item {
        border: 1px solid $grey-border;
        padding: 24px 30px;
        min-height: 130px;
        position: relative;
        @include mobile {
            padding: 20px;
            border: 0;
            background-color: #fff;
            min-height: 77px;
            display: flex;
            align-items: center;
        }
        &:not(:first-child) {
            border-left: 0;
        }
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: calc(50% - 60.5px);
            background: transparent url('../img/program-item-arrow-bg.svg') center no-repeat;
            background-size: contain;
            width: 121px;
            height: 51px;
            @include mobile {
                width: 81px;
                height: 27px;
                left: 60px;
            }
        }
        svg {
            width: 30px;
            height: 20px;
            @include mobile {
                width: 24px;
                height: 16px;
            }
        }
        &-text {
            margin-top: 16px;
            @include mobile {
                margin-top: 0;
                margin-left: 10px;
            }
        }
        &-value {
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            @include mobile {
                font-size: 16px;
                line-height: 19px;
            }
        }
        &-descr {
            margin-top: 6px;
            font-size: 13px;
            line-height: 15px;
            color: $grey-text;
            @include mobile {
                margin-top: 4px;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    &-params {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px 50px;
        @include touch {
            grid-gap: 6px 30px;
        }
        @include mobile {
            margin-top: 20px;
            grid-template-columns: 1fr;
            grid-gap: 6px;
        }
    }
    .param-item {
        display: flex;
        justify-content: space-between;
        &-title {
            font-size: 14px;
            line-height: 1.71;
            color: $grey-text;
            @include mobile {
                font-size: 13px;
                line-height: 1.38;
            }
            &::after {
                content: ':';
            }
        }
        &-divider {
            height: 18px;
            border-bottom: 1px dashed $grey-text;
            margin: 0 16px;
            flex-shrink: 1;
            flex-grow: 1;
            @include mobile {
                height: 13px;
                margin: 0 12px;
            }
        }
        &-value {
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            @include mobile {
                font-size: 13px;
                line-height: 1.38;
            }
            .bbb {
                color: #F4C90D;
            }
            .a {
                color: #B8DE21;
            }
            .aa {
                color: #93D812;
            }

            .not-check {
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.67711 0.322887C10.1076 0.753404 10.1076 1.45141 9.67711 1.88192L6.55904 5L9.67711 8.11808C10.1076 8.54859 10.1076 9.2466 9.67711 9.67711C9.2466 10.1076 8.54859 10.1076 8.11808 9.67711L5 6.55904L1.88192 9.67711C1.45141 10.1076 0.753404 10.1076 0.322887 9.67711C-0.107629 9.2466 -0.107629 8.54859 0.322887 8.11808L3.44096 5L0.322887 1.88192C-0.107629 1.45141 -0.107629 0.753404 0.322887 0.322887C0.753404 -0.107629 1.45141 -0.107629 1.88192 0.322887L5 3.44096L8.11808 0.322887C8.54859 -0.107629 9.2466 -0.107629 9.67711 0.322887Z' fill='%23D8D8D8'/%3E%3C/svg%3E%0A");
                width: 10px;
                height: 10px;
                margin-right: 4px;
            }
            .check {
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.82921 7.84587C3.73372 7.94476 3.60352 8 3.46822 8C3.33291 8 3.20271 7.94476 3.10722 7.84587L0.224406 4.87523C-0.0748021 4.56696 -0.0748021 4.0672 0.224406 3.75946L0.585397 3.38754C0.884606 3.07927 1.36916 3.07927 1.66837 3.38754L3.46822 5.24189L8.33163 0.231202C8.63084 -0.0770672 9.1159 -0.0770672 9.4146 0.231202L9.77559 0.603123C10.0748 0.911392 10.0748 1.41115 9.77559 1.71889L3.82921 7.84587Z' fill='%2300EA9D'/%3E%3C/svg%3E%0A");
                width: 10px;
                height: 8px;
                margin-right: 4px;
            }
        }
    }

    &-descr {
        margin-top: 40px;
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: auto;
        @include mobile {
            margin-top: 20px;
            font-size: 13px;
            line-height: 1.54;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
            @include mobile {
                margin-bottom: 16px;
            }
        }
    }
    &-docs {
        margin-top: 40px;
        display: flex;
        align-items: center;
        @include mobile {
            margin-top: 20px;
            flex-direction: column;
        }
        a {
            @include mobile {
                width: 100%;
                max-width: 375px;
            }
            &:not(:last-child) {
                margin-right: 20px;
                @include mobile {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}