$main-font: 'Raleway';

$duration: 0.3s;

$wrap-inner-width: 1200px;
$wrap-padding-x: 30px;
$wrap-padding-x-mobile: 20px;

$grey-bg: #F9F9F9;
$grey-border: #F2F2F2;
$grey-text: #8C8C8C;

$black-text: #1B1B1B;
$black-bg: #0D1319;

$error: #FF1717;


$green: #00EA9D;
$blue: #01C7EC;

/////////
$body-bg: #fff;
$text-color: $black-text;