.footer {
    margin-top: -175px;
    background: transparent url('../img/footer-bg.png') top center no-repeat;
    // background-size: 100% auto ;
    background-size: cover;
    padding-top: 275px;
    padding-bottom: 75px;
    @include mobile {
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .wrap {
        display: flex;
        justify-content: flex-end;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }
    .left-col {
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            order: 2;
            margin-top: 50px;
        }
    }
    .controls {
        display: flex;
        align-items: center;
    }
    .order-link {
        margin-right: 50px;
    }
    .phones {
        font-size: 25px;
        line-height: 35px;
        margin-top: 35px;
    }
    .copyright {
        margin-top: 35px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #000;
    }
    .develop {

        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #000;
        a {
            text-decoration: underline;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 140px;
        padding-right: 75px;
        @include mobile {
            align-items: center;
            order: 1;
            margin-left: 0;
            padding-right: 0;
        }
    }
    .menu-link {
        font-size: 15px;
        line-height: 35px;
        &.active {
            color: $brown;
        }
    }
}