.header {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1000;
    &.menu-open {
        // .header-top {
        //     .menu-pages {
        //         @include maxw1024 {
        //             // top: 0;
        //             // top: 50vh;
        //             top: calc(50vh + 30px);
        //             pointer-events: auto;
        //             opacity: 1;
        //         }
        //     }
        // }
        // .header-middle {
        //     @include maxw1024 {
        //         // top: 50vh;
        //         top: 0;
        //         opacity: 1;
        //         pointer-events: auto;
        //     }
        // }
        // &.ios-safari {
        //     .header-top {
        //         .menu-pages {
        //             @include maxw1024 {
        //                 top: calc(50vh + 30px);
        //             }
        //         }
        //     }
        // }
        .header-mobile-menu {
            top: 0;
            opacity: 1;
            pointer-events: auto;
        }
    }
    // &.ios-safari {
    //     // .header-top {
    //     //     .menu-pages {
    //     //         @include maxw1024 {
    //     //             height: calc(50vh - 60px);
    //     //         }
    //     //     }
    //     // }
    //     // &-middle {
    //     //     background-color: #000;
    //     //     position: relative;
    //     //     z-index: 1;
    //     //     @include maxw1024 {
    //     //         height: 50vh;
    //     //     }
    //     // }
    //     // .header-mobile-menu {
    //     //     .menu-group {
    //     //         &.menu-pages {
    //     //             padding-bottom: 70px;
    //     //         }
    //     //     }
    //     // }
    // }
    &-inner {
        position: relative;
    }
    &-top {
        background-color: $grey-black;
        @include maxw1024 {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }
        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 40px;
            position: relative;
            z-index: 3;
            @include maxw1024 {
                height: 60px;
            }
        }
        .logo {
            position: absolute;
            left: 15px;
            top: 10px;
            width: 62px;
            @include maxw1024 {
                position: relative;
                top: initial;
                left: initial;
                width: 45px;
                z-index: 2;
            }
        }
        .menu-pages {
            display: flex;
            align-items: center;
            padding-left: 130px;
            color: #fff;
            overflow: auto;
            @include maxw1200 {
                padding-left: 100px;
            }
            @include maxw1024 {
                position: absolute;
                top: -50vh;
                // height: 50vh;
                height: calc(50vh - 30px);
                width: 100%;
                left: 0;
                transition: 0.5s;
                pointer-events: none;
                z-index: 1;
                padding-left: 0;
                flex-direction: column;
                justify-content: center;
                background-color: $grey-black;
                opacity: 0;
                // padding-top: 60px;
                // padding-top: 90px;
                padding-top: 30px;
                padding-bottom: 30px;
                @include maxh640 {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 15px;
                    justify-items: center;
                    padding-left: calc(50vw - 150px); 
                    padding-right: calc(50vw - 150px);
                    // padding-top: 70px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    grid-auto-rows: 15px;
                    align-content: center;
                }
                @include maxh480 {
                    grid-gap: 10px;
                }
            }
        }
        .menu-link {
            font-size: 13px;
            line-height: 15px;
            opacity: 0.6;
            text-transform: uppercase;
            transition: 0.5s;
            &:hover {
                color: $orange;
                opacity: 1;
            }
            &:not(:last-child) {
                margin-right: 50px;
                @include maxw1200 {
                    margin-right: 30px;
                }
                @include maxw1024 {
                    margin-right: 0;
                    margin-bottom: 15px;
                    @include maxh640 {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .fav-cart {
            display: flex;
            align-items: center;
            @include maxw1024 {
                position: relative;
                z-index: 2;
                flex-grow: 1;
                justify-content: center;
                height: 100%;
                background-color: $grey-black;
            }
        }
        .fav {
            width: 19px;
            height: 16px;
            background: transparent url('../img/icons/heart-white.svg') center no-repeat;
            background-size: contain;
            margin-right: 23px;
            &:hover {
                background-image: url('../img/icons/heart-orange.svg');
            }
        }
        .cart-wrap {
            display: flex;
            align-items: center;
        }
        .cart {
            position: relative;
            width: 18px;
            height: 21px;
            background: transparent url('../img/icons/bag-white.svg') center no-repeat;
            background-size: contain;
            cursor: pointer;
            &:hover {
                background-image: url('../img/icons/bag-orange.svg');
                .cart-value {
                    background-color: #fff;
                    color: $orange;
                }
            }
            &-value {
                position: absolute;
                top: -8px;
                right: -8px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                color: #fff;
                background-color: $orange;
                font-size: 12px;
                transition: 0.5s;
            }
            &-empty {
                margin-left: 17px;
                font-size: 12px;
                line-height: 14px;
                opacity: 0.6;
                color: #fff;
            }
        }
        .burger {
            background-color: transparent;
            border: 0;
            display: none;
            position: relative;
            z-index: 2;
            &.open {
                span {
                    &:nth-child(1) {
                        transform: rotate(-45deg);
                        top: 8px;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg);
                        top: -8px;
                    }
                }
            }
            @include maxw1024 {
                display: block;
            }
            span {
                display: block;
                background-color: #fff;
                width: 25px;
                height: 2px;
                transition: 0.5s;
                position: relative;
                top: 0;
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }
    }
    &-middle {
        background-color: #000;
        position: relative;
        z-index: 1;
        @include maxw1024 {
            display: none;
            // position: absolute;
            // position: fixed;
            // top: -50vh;
            // // height: 50vh;
            // height: calc(50vh + 30px);
            // left: 0;
            // right: 0;
            // opacity: 0;
            // pointer-events: none;
            // transition: 0.5s;
            // display: flex;
            // align-items: stretch;
            // // padding: 30px 0;
            // // padding: 90px 0 30px;
            // padding: 70px 0 10px;
            // // @include maxh640 {
            // //     padding-top: 70px;
            // //     padding-bottom: 10px;
            // // }
            // // @include maxh480 {
            // //     padding: 10px 0;
            // // }
        }
        .wrap {
            display: flex;
            align-items: center;
            // justify-content: center;
            min-height: 40px;
            // @include maxw1024 {
            //     // justify-content: center;
            //     overflow: auto;
            //     display: block;
            // }
        }
        .menu-categories {
            display: flex;
            align-items: center;
            color: #fff;
            padding-left: 130px;
            @include maxw1200 {
                padding-left: 100px;
            }
            // @include maxw1024 {
            //     padding-left: 0;
            //     flex-direction: column;
            //     justify-content: center;
            //     @include maxh640 {
            //         display: grid;
            //         grid-template-columns: 1fr 1fr;
            //         grid-gap: 15px;
            //         justify-items: center;
            //         padding-left: calc(50vw - 160px); 
            //         padding-right: calc(50vw - 160px);
            //         grid-auto-rows: 16px;
            //     }
            //     @include maxh480 {
            //         padding-top: 10px;
            //         padding-bottom: 10px;
            //         grid-gap: 10px;
            //     }
            // }
            @include maxw1024 {
                display: none;
            }
        }

        /////////////////////
        // start mobile categories
        // .mobile-menu-categories {
        //     display: none;
        //     @include maxw1024 {
        //         display: block;
        //         width: 100%;
        //     }
        //     .models-categories {
        //         display: grid;
        //         grid-template-columns: repeat(4, 1fr);
        //         grid-gap: 4px;
        //         @include maxw860 {
        //             grid-template-columns: repeat(3, 1fr);
        //         }
        //         @include maxw640 {
        //             grid-template-columns: 1fr 1fr;
        //         }
        //         @include maxw360 {
        //             grid-template-columns: 1fr;
        //         }
        //     }
        //     .model-category {
        //         display: flex;
        //         align-items: center;
        //         box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        //         border-radius: 5px;
        //         background-color: #fff;
        //         position: relative;
        //         padding-right: 20px;
        //         min-height: 55px;
        //         border: 1px solid #fff;
        //         transition: 0.5s;
        //         &:after {
        //             display: block;
        //             content: '';
        //             position: absolute;
        //             right: 6px;
        //             top: calc(50% - 5px);
        //             background: transparent url('../img/icons/drop-right.svg') center no-repeat;
        //             background-size: contain;
        //             width: 8px;
        //             height: 10px;
        //         }
        //         &:hover {
        //             border-color: $grey-black;
        //         }
        //         .category-icon {
        //             display: flex;
        //             align-items: center;
        //             justify-content: center;
        //             align-self: stretch;
        //             flex-shrink: 0;
        //             width: 65px;
        //             @include maxw860 {
        //                 width: 90px;
        //             }
        //             @include maxw768 {
        //                 width: 70px;
        //             }
        //             @include maxw640 {
        //                 width: 80px;
        //             }
        //             @include maxw480 {
        //                 width: 65px;
        //             }
        //             @include maxw360 {
        //                 width: 100px;
        //             }
        //             img {
        //                 max-width: 90%;
        //             }
        //         }
        //         .category-title {
        //             font-size: 14px;
        //             line-height: normal;
        //             @include maxw640 {
        //                 word-break: break-word;
        //             }
        //             @include maxw480 {
        //                 font-size: 12px;
        //             }
        //             @include maxw360 {
        //                 font-size: 14px;
        //             }
        //         }
        //     }
        // }
        // end mobile-categories
        /////////////////////

        .menu-link {
            font-size: 14px;
            line-height: 16px;
            font-weight: 700;
            font-family: $title-font;
            text-transform: uppercase;
            transition: 0.5s;
            &:hover {
                color: $orange;
            }
            &:not(:last-child) {
                margin-right: 50px;
                @include maxw1200 {
                    margin-right: 30px;
                }
                @include maxw1024 {
                    margin-right: 0;
                    margin-bottom: 15px;
                    @include maxh640 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &-bottom {
        background-color: #fff;
        @include maxw1024 {
            padding-top: 60px;
        }
        .wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 40px;
            @include maxw640 {
                flex-direction: column;
                padding: 10px;
                align-content: center;
            }
        }
        .info-item {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 16px;
            @include maxw1024 {
                font-size: 13px;
            }
            @include maxw640 {
                max-width: 360px;
                width: 100%;
            }
            &:not(:last-child) {
                margin-right: 40px;
                @include maxw1024 {
                    margin-right: 30px;
                }
                @include maxw768 {
                    margin-right: 15px;
                }
                @include maxw640 {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 12px;
                font-size: 14px;
                line-height: 16px;
                font-family: $title-font;
                font-weight: 700;
                color: #fff;
                flex-shrink: 0;
                background-color: #000;
            }
        }
    }
    &-mobile-menu {
        display: none;
        @include maxw1024 {
            // display: flex;
            // flex-direction: column;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            height: 100vh;
            padding-top: 60px;
            background-color: $grey-black;
            transition: 0.5s;
            z-index: 1;
            opacity: 0;
            pointer-events: none;
            top: -100vh;
        }
        .menu-inner {
            overflow: auto;
        }
        .menu-group {
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            &.menu-categories {
                background-color: #000;
                font-weight: 700;
                font-family: $title-font;
            }
        }
        .menu-link {
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            transition: 0.5s;
            color: #fff;
            &:hover {
                color: $orange;
            }
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

    }
}






