@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('eot'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-365:before {
	content: "\E001";
}

.icon-arrow-bottom:before {
	content: "\E002";
}

.icon-arrow-right:before {
	content: "\E003";
}

.icon-bag:before {
	content: "\E004";
}

.icon-button-arrow:before {
	content: "\E005";
}

.icon-clock:before {
	content: "\E006";
}

.icon-delivery:before {
	content: "\E007";
}

.icon-heart:before {
	content: "\E008";
}

.icon-marker:before {
	content: "\E009";
}

.icon-phone:before {
	content: "\E00A";
}

.icon-rotate:before {
	content: "\E00B";
}

.icon-ruler:before {
	content: "\E00C";
}

.icon-shoes:before {
	content: "\E00D";
}

.icon-warranty:before {
	content: "\E00E";
}
