@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@400;500;700&family=Roboto&display=swap');

:root {
    --body-bg: #f6f6f6;
    --text-color: #4f4f4f;
    --grey: #8c8c8c;
    --grey-dark: #7a7a7a;

    --violet: #ab4591;
    --orange: #f9ad0c;
    --cherry: #92203f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
html {
    background-color: #fff;
}
body {
    font-family: 'Oswald', sans-serif;
    background: var(--body-bg) url('../img/footer-figure.png') center bottom no-repeat;
    background-size: auto 525px;
    color: var(--text-color);
    max-width: 1920px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    body {
        background-position: 0vw bottom;
        background-size: 300vw 300px;
    }
}
@media screen and (max-width: 480px) {
    body {
        background-size: 400vw 300px;
    }
}
img {
    max-width: 100%;
    display: block;
}

.wrapper {
    overflow: hidden;
}

.wrap {
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.text-group {
    width: 100%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width: 768px) {
    .text-group {
        max-width: 100%;
    }
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.text p + p,
.text ul + p {
    margin-top: 22px;
}
@media screen and (max-width: 640px) {
    .text p + p,
    .text ul + p {
        margin-top: 12px;
    }
}

.block-title {
    font-size: 36px;
    line-height: 0.66;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
     .block-title {
        line-height: 1;
        font-size: 26px;
    }
}
.block-title.violet {
    color: var(--violet);
}
.block-title.orange {
    color: var(--orange);
}
.block-title.cherry {
    color: var(--cherry);
}

.button {
    width: 195px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
.button.violet {
    background-color: var(--violet);
    box-shadow: 0 0 35px 0px rgba(171, 69, 45, 0.5);
}
.button.violet:hover {
    background-color: #d461b7;
    box-shadow: 0 0 35px 0px rgba(212, 197, 183, 0.5);
}
.button.orange {
    background-color: var(--orange);
    box-shadow: 0 0 35px 0px rgba(249, 173, 12, 0.5);
}
.button.orange:hover {
    background-color: #ffce66;
    box-shadow: 0 0 35px 0px rgba(255, 206, 102, 0.5);
}
.button.cherry {
    background-color: var(--cherry);
    box-shadow: 0 0 35px 0px rgba(146, 32, 63, 0.5);
}
.button.cherry:hover {
    background-color: #f71653;
    box-shadow: 0 0 35px 0px rgba(247, 22, 83, 0.5);
}

.header {
    position: absolute;
    padding-top: 55px;
    top: 0;
    left: 0;
    right: 0;
}
@media screen and (max-width: 768px) {
    .header {
        position: absolute;
        padding-top: 25px;
    }
    body.menu-open .header {
        height: 100vh;
    }
    body.menu-open .header:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        display: block;
        content: '';
        z-index: 9;
    }
}
.header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .header .wrap {
        justify-content: center;
    }
}
.header .logo {
    max-width: 283px;
}
@media screen and (max-width: 768px) {
    .header .logo {
        max-width: 150px;
        position: relative;
        z-index: 20;
    }
}
.header .menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 768px) {
    .header .menu-container {
        opacity: 0;
        top: -100vh;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        height: 100vh;
        background-color: var(--body-bg);
        pointer-events: none;
        transition: top 0.5s, opacity 0.5s;
        justify-content: flex-start;
        align-items: center;
        padding: 100px 0 30px;
        flex-direction: column;
        max-height: 485px;
    }
    @media screen and (max-height: 480px) {
        .header .menu-container {
            padding: 70px 20px 20px;
        }
    }
    body.menu-open .header .menu-container {
        top: 0;
        opacity: 1;
        pointer-events: auto;
    }
}
@media screen and (max-width: 540px) {
    .header .menu-container {
        background-image: url('../img/mobile-menu-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
.header .menu {
    width: 100%;
    max-width: 465px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .header .menu {
        width: 100%;
        max-width: initial;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 768px) {
    .header .menu {
        flex-direction: column;
    }
}
.header .menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--violet);
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}
.header .menu-link:hover {
    text-decoration: underline;
    color: #7a005b;
}
.header .menu-link:not(:last-child) {
    margin-right: 64px;
}
@media screen and (max-width: 768px) {
    .header .menu-link:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
.header .socials {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}
@media screen and (max-width: 768px) {
    .header .socials {
        display: flex;
    }
}
.header .social-link:not(:last-child) {
    margin-right: 70px;
}
.header .burger {
    display: none;
    border: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 20;
    pointer-events: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .header .burger {
        display: flex;
        pointer-events: auto;
    }
}
.header .burger span {
    width: 25px;
    height: 2px;
    display: block;
    background-color: var(--violet);
    transition: 0.25s;
}
.header .burger span:not(:last-child) {
    margin-bottom: 6px;
}
@media screen and (max-width: 768px) {
    body.menu-open .header .burger span:nth-child(1) {
        transform: rotate(-45deg);
        margin-bottom: -1px;
        margin-right: -1px;
    }
    body.menu-open .header .burger span:nth-child(2) {
        transform: rotate(45deg);
        margin-right: -1px;
        margin-top: -1px;
    }
}



.block-homescreen {
    padding-top: 165px;
    padding-bottom: 150px;
    background: transparent url('../img/home.png') calc(50% - 30px) center no-repeat;
    background-size: cover;
    min-height: 790px;
}
@media screen and (max-width: 1024px) {
    .block-homescreen {
        padding-top: 55vw;
        padding-bottom: 0;
        background-size: 100% auto;
        background-position: center 10vw;
        min-height: initial;
    }
}
@media screen and (max-width: 768px) {
    .block-homescreen {
        padding-top: 84vw;
        background-size: 175vw auto;
        background-position: left 10vw;
    }
}
.block-homescreen .wrap {
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
    .block-homescreen .about-brand {
        max-width: 100%;
    }
}
.block-homescreen .scroll-figure {
    cursor: pointer;
    padding-left: 50px;
    margin-top: 90px;
    position: relative;
    color: var(--grey-dark);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
@media screen and (max-width: 1024px) {
    .block-homescreen .scroll-figure {
        margin: 50px auto 0;
    }
}
@media screen and (max-width: 768px) {
    .block-homescreen .scroll-figure {
        display: none;
    }
}
.block-homescreen .scroll-figure:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: -14px;
    width: 30px;
    height: 47px;
    background: transparent url('../img/icon-mouse.png') center no-repeat;
    background-size: contain;
}



.block-products {
    margin-top: 100px;
    padding-top: 40px;
}
@media screen and (max-width: 1024px) {
    .block-products {
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .block-products {
        margin-top: 0;
    }
}
.product-item {
    width: 100%;
    display: flex;
    align-items: stretch;
}
@media screen and (max-width: 768px) {
    .product-item {
        display: block;
        position: relative;
    }
}
.product-item:not(:last-child) {
    margin-bottom: 230px;
}
@media screen and (max-width: 1024px) {
    .product-item:not(:last-child) {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 768px) {
    .product-item:not(:last-child) {
        margin-bottom: 50px;
    }
}
.product-item:nth-child(2n+1) .photo {
    order: 1;
    justify-content: flex-end;
    margin-right: 30px;
}
@media screen and (max-width: 768px) {
    .product-item:nth-child(2n+1) .photo {
        margin-right: 0;
        justify-content: center;
    }
}
.product-item:nth-child(2n+1) .text-group {
    order: 2;
}
.product-item:nth-child(2n) .photo {
    order: 2;
    justify-content: flex-start;
    margin-left: 30px;
}
@media screen and (max-width: 768px) {
    .product-item:nth-child(2n) .photo {
        margin-left: 0;
        justify-content: center;
    }
}
.product-item:nth-child(2n) .text-group {
    order: 1;
}
.product-item .photo {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
}
@media screen and (max-width: 768px) {
    .product-item .photo {
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        height: 40vw;
    }
}
@media screen and (max-width: 640px) {
    .product-item .photo {
        height: 300px;
    }
}
@media screen and (max-width: 480px) {
    .product-item .photo {
        height: 250px;
    }
}
.product-item .photo img {
    max-width: calc(100% + 200px);
    position: absolute;
}
@media screen and (max-width: 1024px) {
    .product-item .photo img {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .product-item .photo img {
        position: static;
        max-height: 100%;
        object-fit: contain;
    }
}
@media screen and (max-width: 768px) {
    .product-item .block-title {
        text-align: center;
    }
}
.product-item .text {
    font-size: 14px;
    line-height: 22px;
}
@media screen and (max-width: 768px) {
    .product-item .text {
        margin-top: 40vw;
    }
}
@media screen and (max-width: 640px) {
    .product-item .text {
        margin-top: 320px;
    }
}
@media screen and (max-width: 480px) {
    .product-item .text {
        margin-top: 270px;
    }
}
.product-item .text ul {
    list-style: none;
    list-style-type: none;
}
.product-item ul li:before {
    content: '- ';
}
.product-item .product-container-features {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .product-item .product-container-features {
        align-self: center;
    }
}
.product-item .container-type {
    height: 60px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--grey-dark);
}
@media screen and (max-width: 640px) {
    .product-item .container-type {
        width: 70px;
    }
}
.product-item .pills-type {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 640px) {
    .product-item .pills-type {
        width: 70px;
        margin-right: 15px;
    }
}
.product-item .pills-amount {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: var(--grey-dark);
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .product-item .pills-amount {
        font-size: 18px;
    }
}
.product-item .button {
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .product-item .button {
        align-self: center;
    }
}
@media screen and (max-width: 640px) {
    .product-item .button {
        margin-top: 40px;
    }
}




.footer {
    padding-top: 255px;
    padding-bottom: 80px;
}
@media screen and (max-width: 1024px) {
    .footer {
        padding-top: 150px;
        padding-bottom: 70px;
    }
}
@media screen and (max-width: 640px) {
    .footer {
        padding-top: 90px;
    }
}
.footer .wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 640px) {
    .footer .wrap {
        display: block;
    }
}
.footer .logo {
    max-width: 190px;
}
.footer .socials {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 640px) {
    .footer .socials {
        margin-top: 40px;
    }
}
.footer .social-link:not(:last-child) {
    margin-right: 75px;
}
.footer .copyright {
    width: 100%;
    margin-top: 64px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
}
@media screen and (max-width: 640px) {
    .footer .copyright {
        margin-top: 35px;
    }
}



body.menu-open .wrapper,
body.modal-open .wrapper {
    height: 100vh;
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.modal-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
.modal-body {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 80px 15px 30px;
}
@media screen and (max-width: 768px) {
    .modal-body {
        padding: 30px 15px 30px;
    }
}
.modal-content {
    padding: 30px 30px 60px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
}
@media screen and (max-width: 640px) {
    .modal-content {
        padding: 15px 15px 15px;
    }
}
.modal-close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 24px;
    height: 24px;
    background: transparent url('../img/icon-close.png') center no-repeat;
    background-size: contain;
    cursor: pointer;
}
@media screen and (max-width: 640px) {
    .modal-close {
        position: absolute;
        right: 12px;
        top: 12px;
    }
}
.modal .block-title {
    margin-bottom: 0;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .modal .block-title {
        padding: 0 30px;
    }
}
@media screen and (max-width: 640px) {
    .modal .block-title {
        padding: 0;
        padding-right: 30px;
        font-size: 18px;
        line-height: 20px;
        text-align: left;
    }
}
.modal .block-title-descr {
    border-radius: 8px;
    width: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 14px;
    width: 100%;
    margin-top: 20px;
}
@media screen and (max-width: 640px) {
    .modal .block-title-descr {
        font-size: 12px;
        padding: 6px calc(50% - 90px);
        margin-top: 15px;
        line-height: normal;
    }
}
.modal .block-title-descr.violet {
    background-color: var(--violet);
} 
.modal .block-title-descr.orange {
    background-color: var(--orange);
}
.modal .block-title-descr.cherry {
    background-color: var(--cherry);
}
.modal .text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 3;
    padding-left: 15px;
}
@media screen and (max-width: 640px) {
    .modal .text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
        padding-left: 0;
    }
}
.modal .text p:not(:last-child) {
    margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
    .modal .text p:not(:last-child) {
        margin-bottom: 12px;
    }
}
.table-with-photo {
    display: flex;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 768px) {
    .table-with-photo {
        width: 100%;
        flex-direction: column;
    }
}
.table-with-photo .table-wrap {
    max-width: 535px;
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 768px) {
    .table-with-photo .table-wrap {
        max-width: 100%;
    }
}
.table-with-photo table {
    background-color: #e6e6e6;
    border-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;
    text-align: left;
    width: 100%;
    font-size: 14px;
}
@media screen and (max-width: 640px) {
    .table-with-photo table {
        font-size: 10px;
    }
}
.table-with-photo table thead {
    color: #fff;
    border-radius: 8px;
}
.table-with-photo table thead.violet {
    background-color: var(--violet);
}
.table-with-photo table thead.orange {
    background-color: var(--orange);
}
.table-with-photo table thead.cherry {
    background-color: var(--cherry);
}
.table-with-photo table th,
.table-with-photo table td {
    border: 0;
    padding-right: 10px;
}
.table-with-photo table th:first-child,
.table-with-photo table td:first-child {
    padding-left: 15px;
}
@media screen and (max-width: 640px) {
    .table-with-photo table th:first-child,
    .table-with-photo table td:first-child {
        padding-left: 10px;
    }
}
.table-with-photo table th {
    font-weight: 400;
}
.table-with-photo table thead tr:nth-child(1) th {
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 12px;
}
.table-with-photo table thead tr:nth-child(2) th {
    padding-top: 4px;
    padding-bottom: 6px;
}
.table-with-photo table thead tr:only-child th {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
}
.table-with-photo table th strong,
.table-with-photo table th b {
    font-weight: 700;
}
.table-with-photo table tbody td {
    line-height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}
@media screen and (max-width: 640px) {
    .table-with-photo table tbody td {
        line-height: normal;
    }
}
.table-with-photo table tbody tr:first-child td {
    padding-top: 5px;
}
.table-with-photo table tbody tr:last-child td {
    padding-bottom: 5px;
}
.table-with-photo .table-annotation {
    margin-top: 25px;
    font-size: 12px;
    line-height: normal;
    padding: 0 15px;
}
@media screen and (max-width: 640px) {
    .table-with-photo .table-annotation {
        margin-top: 15px;
        font-size: 10px;
        padding: 0;
    }
}
.table-with-photo .table-annotation + table {
    margin-top: 20px;
}
.table-with-photo .photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-grow: 1;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .table-with-photo .photo {
        justify-content: flex-end;
        margin-top: 20px;
    }
}
.table-with-photo .photo img {
    position: absolute;
    max-width: calc(100% + 120px);
    right: -30px;
    transform: translateY(-50%);
}
@media screen and (max-width: 1024px) {
    .table-with-photo .photo img {
        max-width: calc(100% + 50px);
    }
}
@media screen and (max-width: 768px) {
    .table-with-photo .photo img {
        position: relative;
        max-width: 100%;
        right: 0;
        transform: none;
    }
}
.descr-with-marks {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    position: relative;
    z-index: 3;
}
@media screen and (max-width: 768px) {
    .descr-with-marks {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 640px) {
    .descr-with-marks {
        margin-top: 15px;
    }
}
.descr-with-marks .descr {
    width: 100%;
    max-width: 550px;
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    .descr-with-marks .descr {
        max-width: 100%;
    }
}
.descr-with-marks .marks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 290px;
    margin-right: 40px;
}
@media screen and (max-width: 768px) {
    .descr-with-marks .marks {
        margin-right: 0;
        margin-top: 30px;
    }
}
@media screen and (max-width: 640px) {
    .descr-with-marks .marks {
        max-width: 240px;
    }
}
@media screen and (max-width: 640px) {
    .descr-with-marks .marks img {
        max-width: 35px;
        object-fit: contain;
    }
}