
$main-font: 'Poppins';


$blue: #007AFF;
$blue-darker: #0A60CF;
$dark: #303840;
$grey: #CDD3E0;
$secondary: #ABB5CC;

$body-bg: #fff;

$duration: 0.3s;

$wrapper-gap-x: 20px;
$wrapper-gap-x-mobile: 16px;

$theme-color: $blue;
$theme-color-darker: $blue-darker;
$text-color: $dark;