@font-face {  
  font-family: 'Museo'; 
  src: url('../fonts/Museo-SansCyrl.eot');    
  src: url('../fonts/Museo-SansCyrl.woff') format('woff'), url('../fonts/Museo-SansCyrl.ttf') format('truetype'), url('../fonts/Museo-SansCyrl.svg') format('svg'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'Chalk'; 
  src: url('../fonts/LC-ChalkRegular.eot'); 
  src: url('../fonts/LC-ChalkRegular.woff') format('woff'), url('../fonts/LC-ChalkRegular.ttf') format('truetype'), url('../fonts/LC-ChalkRegular.svg') format('svg'); 
  font-weight: normal; 
  font-style: normal; 
}

  


* { margin: 0; padding: 0; }
body { background: white; font-family: 'Open Sans', sans-serif; min-width: 1200px; }
a { text-decoration: none; }
img {max-width: 100%;}

.container { margin: 0px auto; width: 1170px; padding: 0 15px; }
.clearfix:after { content: ".";  display: block; height: 0; clear: both; visibility: hidden; }

.sprite { background-image: url(../img/spritesheet.png); background-repeat: no-repeat; display: block; }
.sprite-block1-ico1{ width: 51px; height: 54px; background-position: -5px -5px; }
.sprite-block1-ico2{ width: 31px; height: 29px; background-position: -66px -5px; }
.sprite-block1-ico3{ width: 26px; height: 27px; background-position: -107px -5px; }
.sprite-block2-ico1{ width: 31px; height:22px; background-position: -143px -5px; }
.sprite-block2-ico2{ width: 26px; height:29px; background-position: -184px -5px; }
.sprite-block4-ico1{ width: 94px; height:94px; background-position: -66px -44px; }
.sprite-block4-ico2{ width: 94px; height:94px; background-position: -170px -44px; }
.sprite-block4-ico3{ width: 94px; height:94px; background-position: -5px -148px; }
.sprite-block4-ico4{ width: 94px; height:94px; background-position: -109px -148px; }
.sprite-block4-ico5{ width: 94px; height:94px; background-position: -213px -148px; }
.sprite-block4-ico6{ width: 94px; height:94px; background-position: -274px -5px; }
.sprite-block5-cursor-left{ width: 13px; height: 21px; background-position:- 220px -5px; }
.sprite-block5-cursor-right{ width: 13px; height: 21px; background-position: -243px -5px; }
.sprite-block6-marker{ width: 29px; height: 26px; background-position: -378px -5px; }
.sprite-block7-cursor-left{ width: 14px; height: 22px; background-position: -378px -41px; }
.sprite-block7-cursor-right{ width: 14px; height: 22px; background-position: -402px -41px; }
.sprite-logo-footer{ width: 182px; height: 38px; background-position: -5px -252px; }
.sprite-logo-header{ width: 210px; height: 43px; background-position: -197px -252px; }
.sprite-phone{ width: 15px; height: 15px; background-position: -5px -73px; }
.sprite-worktime{ width: 18px; height: 18px; background-position: -30px -73px; }

.header { height: 120px; width: 100%; }
.header .logo { width: 220px; height: auto; padding: 16px 0 0 60px; float: left; }
.header .header-logo { float: left; }
.header .logo-descr { font-size: 18px; text-align: center; color: #ff000d; padding: 4px 4px 0 0; line-height: 21px; }
.header .worktime { width: 220px; margin: 0px auto;  padding: 17px 0 0 118px; }
.header .worktime i { float: left; margin: 8px 5px 0 -12px; }
.header .worktime-descr { margin: 0px auto; font-size: 15px; color: #ff000d; width: 220px; padding-left: 15px; }
.header .worktime-descr span { font-size: 22px; line-height: 27px; padding-bottom: 2px; display: inline-block; }
.header .contacts { width: 220px; font-size: 20px; color: #ff000d; float: right; text-align: right; padding-top: 16px; }
.header .contacts span { font-size: 24px; padding: 0 0 2px 2px; display: inline-block; }
.header .header-phone a { color: #ff000d; }
.header .header-button a { font-size: 15px; color: #ff000d; margin: 5px 3px 0 0; padding: 11px 21px 12px 21px; border-radius: 21px; border: 1px solid #ff000d; display: inline-block; }
.header .header-button a:hover  { color: white; background: #ff000d; }

.menu-container { width: 100%; background: #e20001; }
.menu { height: 65px; background: #e20001; width: 80%; margin: 0px auto; /*  float: left;*/ overflow: hidden; position: relative; padding-left: 41px; }
.menu ul { margin: 0; padding: 0; float: left; position: relative; left: 50%; }
.menu ul li { float: left; list-style: none; position: relative; right: 50%; border-right: 1px solid #b00000; }
.menu ul li:last-child { border-right: none; }
.menu ul li:hover { background: #fe0000; }
.menu ul li a { font-weight: 700; font-size: 19px; color: white; display: block; line-height: 67px; padding: 0 46px; text-decoration: none; }
.menu .invisible { display: none; }
.menu-fixed { position: fixed; top: 0px; z-index: 9999; }
.menu-fixed .menu { float: left; width: 100%; padding-left: 0px; }
.menu-fixed .invisible { display: inline-block; }
.menu-fixed .invisible:hover { background: transparent; }
.menu-fixed .logo { padding: 20px 49px 0 35px; border-right: none; }
.menu-fixed .button a { width: 116px; height: 36px; border-radius: 16px; border: 1px solid white; display: block; margin: 15px 0 0 39px;
  font-size: 11px !important; padding: 0 12px !important;  color: white; line-height: 35px; text-align: center; }
.menu-fixed .button a:hover { color: #fe0000; background: white; }
.menu-fixed .menu ul li:nth-child(6) { border-right: none; }
.menu-fixed .menu ul li a { font-size: 18px; padding: 0 27px 0 28px; }


.block-a { height: 551px; background: url(../img/block1-bg.jpg) center center no-repeat; z-index: 1; background-size: cover; }
.block-a .title { font-family: 'Museo'; font-size: 45px; line-height: 58px; color: white; text-align: center; padding-top: 132px; }
.block-a .attributes { width: 994px; padding-top: 55px;  line-height: 26px; margin: 0px auto; font-family: 'Museo'; font-size: 24px; color: white; list-style: none; }
.block-a .attributes .column-one { float: left; width: 270px; padding: 12px 0 0 1px; }
.block-a .attributes .column-two { margin: 0px auto; width: 275px; padding-top: 15px; }
.block-a .attributes .column-three { float: right; padding: 12px 75px 0 0 ; }
.block-a .attributes i { float: left; padding-right: 10px; } 
.block-a .attributes .column-one i { margin: -5px -7px 0 -2px; padding: 0px 11px 5px 2px; }
.block-a .attributes .column-two i { margin: 1px 0 0 0; }
.block-a .attributes .column-three i { margin: 2px 0 0 0; }

.block-b { height: 397px; background: #f4bd06; display: block; z-index: 2; }
.block-b .car { width: 417px; height: 197px; background: url(../img/delivery.png) center center no-repeat; padding: 51px 39px; float: left; }
.block-b .conditions { width: 522px; height: 338px; background: white; float: right; margin: 31px 56px 0 0; border-radius: 10px; }
.block-b .conditions-container { width: 460px; height: 272px; margin: 21px 20px 20px 20px; border: 12px solid #ff000d; border-radius: 10px; color: #010000; font-family: 'Museo'; font-size: 22px; text-align: center; }
.block-b .conditions-container span { color: #ff000d; font-size: 44px;  } /* 34px в фотошоп */
.block-b .conditions-container i { float: left; }
.block-b .delivery-descr { padding-top: 60px; width: 280px; margin: 0px auto;  position: relative; z-index: 3; }
.block-b .delivery-descr i { margin: 6px 4px 0 -7px;  }
.block-b .delivery-descr span { margin: -5px 0 0 3px; display: inline-block; }
.block-b .price-descr { padding-top: 33px; width: 260px; margin: 0px auto;  position: relative; z-index: 3; }
.block-b .price-descr i { margin: -4px 9px 10px -9px; }
.block-b .price-descr span { margin: -2px 0 0px 4px; display: inline-block; }
.block-b .kebab-overlay { width: 681px; height: 396px; background: url(../img/kebab.png) center bottom no-repeat; display: block; z-index: 2; position: relative; padding-left: 296px; }


.block-c { min-height: 1374px; position: relative; z-index: 3; }
.block-c .food-filter { width: 973px; padding-top: 76px; margin: 0px auto; }
.block-c .food-types { width: 100% }
.block-c .food-types li { cursor: pointer; color: white; line-height: 44px; font-weight: bold; font-size: 18px; color: #ff000d; display: block; float: left; width: calc( 20% - 30px ); height: 43px; margin: 0 13px;  background: white; border: 1px solid #ff000d; border-radius: 22px;  text-align: center; }
.block-c .food-types li:hover { color: white; background: #d61213; border: 1px solid #d61213; color: #f9efc6; }
.block-c .food-text { text-align: center; padding-top: 52px; }
.block-c .food-title { font-family: 'Museo'; font-size: 40px; color: #ff000d; }
.block-c .food-descr { font-size: 20px; color: #6c6b6b; padding-top: 17px; line-height: 24px; }
.block-c .food-items-container { padding-top: 48px;  margin-left: -32px; font: 14px Verdana, Arial, sans-serif; word-spacing: -.36em;  }
.block-c .box { display: none; }
.block-c .box.visible { display: block; }

.block-c .food-items-row {}
.block-c .food-item { width: 266px; font-family: 'Open Sans'; font-size: 14px; word-spacing: normal; margin: 0 0 30px 32px; border: 1px solid #b7b7b7; border-radius: 8px; display: inline-block; vertical-align: top; color: #160000; text-align: center; }
.block-c .food-photo { width: 244px; padding: 12px; border-radius: 8px; }
.block-c .food-item-descr { width: 244px; height: auto; padding: 0 12px 12px 12px; }
.block-c .food-item-name { font-weight: bold; font-size: 19px; padding: 2px 5px 5px 0; line-height: 23px; min-height: 53px; }
.block-c .ingredients { font-size: 14px; width: 232px; margin: 0px auto; line-height: 16px; padding-top: 10px; }
.block-c .ingredients li { text-align: left; border-bottom: 2px dotted #cbcbcb; list-style-type: none; }
.block-c .ingredients b { display: inline-block; vertical-align: middle; margin-bottom: -8px; font-weight: normal; background-color: #fff; padding-right: 5px; }
.block-c .ingredients span{ float: right; background-color: #fff; position: relative; bottom: -6px; padding-left: 5px; }
.block-c .total-weight { font-weight: bold; font-size: 16px; padding-top: 9px; }
.block-c .total-price { font-weight: bold; font-size: 23px; color: #ff000d; line-height: 24px; }
.block-c .allitems-loader { width: 182px; height: 44px; margin: 0px auto; background: white; border: 1px solid #ff000d; border-radius: 22px;  text-align: center; word-spacing: normal; }
.block-c .allitems-loader a { color: white; line-height: 42px; font-weight: bold; font-size: 17px; color: #ff000d; }
.block-c .allitems-loader:hover { background: #d61213; border: 1px solid #d61213; }
.block-c .allitems-loader:hover a { color: #f9efc6; }


.block-d { height: 875px; background: url(../img/block3-bg.jpg) center center no-repeat; background-size: cover; }
.block-d .title { padding-top: 59px; margin: 0px auto; font-family: 'Museo'; font-size: 40px; color: white; text-align: center; }
.block-d .column { width: 570px; }
.block-d .column-left { float: left; padding-right: 30px; }
.block-d .column-right { float: right; }
.block-d .column-right .advantage-item { margin-right: -10px; }
.block-d .column-right .advantage-icon { margin-left: 10px; }
.block-d .advantage-item { padding-top: 28px; height: 176px; }
.block-d .advantage-icon { width: 118px; height: 118px; background: transparent; border: 1px solid white; border-radius: 50%; margin: 0px 0 0 -4px; }
.block-d .wrapper-first { width: 108px; height: 108px; background: white; margin: 5px 5px; border-radius: 50%; display: inline-block; vertical-align: middle; }
.block-d .wrapper-second { width: 94px; height: 94px; background: #ff000d; margin: 7px; border-radius: 50%; display: inline-block; vertical-align: middle; }
.block-d .advantage-descr { width: 493px; height: 157px; background: white; z-index: 1; color: #000000; float: right; border-radius: 10px; margin: -102px 11px 0 0; }
.block-d .descr-title { width: 455px; font-size: 22px; font-weight: bold; padding-top: 22px; text-align: center; float: right; }
.block-d .descr-body { font-size: 14px; padding: 60px 20px 0 45px; text-align: left; line-height: 17px; }


.block-e { 
  min-height: 444px; padding-bottom: 50px; 
  background: #ba0101;
  background: -moz-linear-gradient(left, #ba0101 0%, #ff000d 50%, #ba0101 100%, #ba0101 100%);
  background: -webkit-linear-gradient(left, #ba0101 0%,#ff000d 50%,#ba0101 100%,#ba0101 100%);
  background: linear-gradient(to right, #ba0101 0%,#ff000d 50%,#ba0101 100%,#ba0101 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba0101', endColorstr='#ba0101',GradientType=1 );
}
.block-e .title { text-align: center; font-size: 40px; padding-top: 63px; text-transform: uppercase; font-family: 'Museo'; color: white; }
.block-e .feedback-slider { width: 1200px; margin-top: 47px; margin-left: -30px; }
.block-e .slider-item { background: #fff; padding: 24px 16px 19px 14px; border-radius: 6px; margin-left: 30px; }
.block-e .item-wrapper {border: 8px solid #e00000; font-family: 'PT Sans'; color: black; }
.block-e .item-title { font-weight: bold; font-size: 24px; width: 523px; height: 67px; background: #ececec; border-radius: 6px 0 10px 0; margin: -33px 0 0 -22px; }
.block-e .item-title p { padding: 23px 0 0 40px; }
.block-e .item-descr { font-weight: normal; font-size: 17px; padding: 16px 24px 23px 24px; line-height: 22px; }


.block-f { height: 609px; background: url(../img/block6-bg.jpg) center center no-repeat; background-size: cover; }
.block-f .title { padding-top: 74px; padding-bottom: 40px; margin: 0px auto; font-family: 'Museo'; font-size: 40px; color: white; text-align: center; }
.block-f .delivery-terms { width: 670px; float: right; }
.block-f .term-item { font-family: 'Chalk'; font-size: 26px; color: white; padding: 8px 0 14px 9px; display: block; line-height: 40px; }
.block-f .term-item span { color: #d4ffad; display: inline-block; }
.block-f .delivery-terms .span-one { padding: 0 0 0 16px; }
.block-f .delivery-terms .span-two { padding: 1px 0 0 17px; }
.block-f .delivery-terms .span-three { padding: 1px 0 0 0; }
.block-f .delivery-terms .span-four { padding: 0 0 0 1px; }
.block-f .delivery-terms .span-five { padding: 2px 0 0 15px; }
.block-f .delivery-terms .span-six { padding: 0 0 0 16px; }
.block-f .term-item i { float: left; margin: 9px 15px 15px -2px; }


.block-g { height: 1000px; background: white; }
.block-g .title { font-family: 'Museo'; font-weight: bold; font-size: 40px; margin: 0px auto; color: #ff000d; text-align:  center; padding-top: 71px; }
.about-info { padding-top: 49px; }
.about-photo { float: left; width: 570px; height: 393px; background: url(../img/block7-about-image1.jpg) center center no-repeat; margin-right: 30px; }
.about-descr { font-size: 18px; margin-top: -6px; line-height: 24px; }
.about-slider { width: 1200px; margin: 128px 0 100px 0px; }
.about-slider img { width: 370px; height: 250px; margin-right: 30px; }


.block-h { height: 445px; background: url(../img/block8-bg.jpg) center center no-repeat; background-size: cover; }
.block-h .title { font-family: 'Museo'; font-size: 40px; color: white; text-shadow: rgba( 0, 0, 0, 0.5) 3px 4px 1px; padding-top: 54px; text-align: center; }
.block-h .description { font-size: 24px; color: white; text-align: center; padding-top: 21px; line-height: 29px; }
.block-h .form { padding-top: 45px; width: 640px; margin: 0px auto; }
.block-h input[type=submit] { background: #d11111; width: 183px; border-radius: 22px; border: 0px; margin: 75px auto 0 auto; display: block; 
  color: white; font-size: 18px; font-weight: bold; text-align: center; font-size: 16px; padding: 11px 0; }
.block-h input[type=text], .block-h input[type=tel] { width: 288px ; font-size: 16px; border-radius: 11px; border: 1px solid white; padding: 11px 0 11px 15px; outline: none; }
.block-h input[type=text] { float: left; }
.block-h input[type=tel] { float: right; }
.block-h input[type=submit]:hover { background: #fe0000; }
/*.block-h input[type=text]:focus, .block-h input[type=tel]:focus { border: 1px solid #fe0000; }*/
.block-h input::-webkit-input-placeholder { color:#424242; font-size: 16px; }
.block-h input::-moz-placeholder     { color:#424242; font-size: 16px; }
.block-h input:-moz-placeholder      { color:#424242; font-size: 16px; }
.block-h input:-ms-input-placeholder   { color:#424242; font-size: 16px; }


.footer { height: 100px; width: 100%; background: #ececec; overflow: hidden; }
.footer .container { width: 950px; margin: 0px auto; }
.footer .logo { width: 220px; height: auto; padding: 29px 0 0 4px; float: left;  }
.footer .footer-descr { width: 250px; margin: 0px auto;  padding: 24px 0 0 2px; font-size: 18px; line-height: 23px; color: #818181; font-style: italic; text-align: center; }
.footer .contacts { width: 220px; float: right; text-align: right; padding: 26px 33px; }
.footer .contacts span { font-weight: bold; font-size: 32px; display: inline-block; padding-left: 2px; letter-spacing: normal; }
.footer .contacts a { font-size: 16px; color: #7f7f7f; letter-spacing: 0.75px; }
.footer .contacts i { padding-top: 30px; float: left; margin: 21px 2px 0 0; }


.owl-nav > div {
  width: 14px;
  height: 22px;
  background-image: url('../img/spritesheet.png');
  position: absolute;
  top: 50%;
  margin-top: -11px;
  text-indent: -9999px;
}

.owl-prev {
  background-position: -220px -5px;
  left: 0;
}

.owl-next {
  background-position: -243px -5px;
  right: 0;
}

.feedback-slider .owl-prev { left: 5px; }
.feedback-slider .owl-next { right: -25px; }

.about-slider .owl-prev { left: -25px; background-position: -378px -41px; }
.about-slider .owl-next { right: -25px; background-position: -402px -41px; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }


.owl-height {
  transition: height 500ms ease-in-out; }


.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }


.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../img/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }


.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../img/blank.gif'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5){

  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/fancybox_sprite@2x.png');
    background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url('../img/fancybox_loading@2x.gif');
    background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
  }
}
