.footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
}
.footer .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding-top: 4px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: var(--grey-dark);
}
.footer-link .icon {
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-link .icon img {
    max-height: 18px;
}
.footer-link .title {
    margin-top: 8px;
}