.footer {
    flex-grow: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 25px;
    background-color: $grey-light;
    @media #{$maxw992} {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        @media #{$maxw768} {
            flex-direction: column;
        }
    }
    .contacts {
        // flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .phone {
        // font-size: 30px;
        // font-size: 24px;
        // font-size: 20px;
        font-size: calc(20px * 0.75);
        font-weight: 500;
        // @media #{$maxw1170} {
        //     // font-size: 24px;
        // }
        // @media #{$maxw992} {
        //     font-size: 21px;
        // }
    }
    .address {
        // font-size: 20px;
        font-size: calc(20px * 0.75);
        font-weight: 300;
        font-style: normal;
        @media #{$maxw1170} {
            // font-size: 18px;
            font-size: calc(18px * 0.75);
        }
        @media #{$maxw992} {
            // font-size: 14px;
            font-size: calc(14px * 0.75);
        }
        @media #{$maxw768} {
            margin-top: 15px;
            // font-size: 16px;
            font-size: calc(16px * 0.75);
        }
    }
    .socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // flex-grow: 1;
        // min-width: 240px;
        // min-width: 190px;
        min-width: 160px;
        // @media #{$maxw1170} {
        //     // min-width: 190px;
        // }
        // @media #{$maxw992} {
        //     min-width: 165px;
        // }
        @media #{$maxw768} {
            min-width: initial;
            margin-top: 15px;
        }
    }
    .social {
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        &.facebook {
            width: 15px;
            height: 27px;
            // background-image: url('../img/icon-fb-black.png');
            // background-image: url('../img/icon-fb-orange.svg');
            background-image: url('../img/icon-fb-black.svg');
        background-size: cover;
            &:hover {
                background-image: url('../img/icon-fb-orange.svg');
            }
        }
        &.instagram {
            width: 28px;
            height: 28px;
            // background-image: url('../img/icon-insta-black.png');
            // background-image: url('../img/icon-insta-orange.svg');
            background-image: url('../img/icon-insta-black.svg');

            background-size: contain;
            &:hover {
                background-image: url('../img/icon-insta-orange.svg');
            }
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    .copyright {
        // font-size: 10px;
        font-size: calc(10px * 0.75);
        font-weight: 500;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        @media #{$maxw992} {
            margin-top: 15px;
        }
    }
}

































