@mixin maxw1920 {
	@media screen and (max-width: 1920px) {
	  	@content;
	}
}
@mixin maxw1600 {
	@media screen and (max-width: 1600px) {
	  	@content;
	}
}
@mixin maxw1440 {
	@media screen and (max-width: 1440px) {
	  	@content;
	}
}
@mixin maxw1280 {
	@media screen and (max-width: 1280px) {
	  	@content;
	}
}
@mixin maxw1200 {
	@media screen and (max-width: 1200px) {
	  	@content;
	}
}
@mixin maxw1024 {
	@media screen and (max-width: 1024px) {
	  	@content;
	}
}
@mixin maxw860 {
	@media screen and (max-width: 860px) {
	  	@content;
	}
}
@mixin maxw768 {
	@media screen and (max-width: 768px) {
	  	@content;
	}
}
@mixin maxw640 {
	@media screen and (max-width: 640px) {
	  	@content;
	}
}
@mixin maxh640 {
	@media screen and (max-height: 640px) {
	  	@content;
	}
}
@mixin maxw540 {
	@media screen and (max-width: 540px) {
	  	@content;
	}
}
@mixin maxw480 {
	@media screen and (max-width: 480px) {
	  	@content;
	}
}
@mixin maxh480 {
	@media screen and (max-height: 480px) {
	  	@content;
	}
}
@mixin maxw359 {
	@media screen and (max-width: 359px) {
	  	@content;
	}
}

@mixin img-fit {
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: initial;
	object-fit: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
