
$main-font: 'Circe';

$body-bg: #F7F7F7;
$black: #333;
$text-color: rgba($black, 0.7);
$input-border: #d6d6d6;
$select-color: #394D60;

$footer-bg-light: #303030;
$footer-bg-dark: #242424;

// $circle-bg: #F4E9BD;

$orange: #F2590D;
$yellow: #FEF2D3;
$blue: #274792;

$radius: 6px;
$radius-small: 4px;
$duration: 0.3s;