@font-face { font-family: 'OS'; src: url('../fonts/OpenSans.ttf'); }
@font-face { font-family: 'OS-Bold'; src: url('../fonts/OpenSans-Bold.ttf'); }
@font-face { font-family: 'OS-BoldItalic'; src: url('../fonts/OpenSans-BoldItalic.ttf'); }
@font-face { font-family: 'OS-CondBold'; src: url('../fonts/OpenSans-CondBold.ttf'); }
@font-face { font-family: 'OS-CondLight'; src: url('../fonts/OpenSans-CondLight.ttf'); }
@font-face { font-family: 'OS-CondLightItalic'; src: url('../fonts/OpenSans-CondLightItalic.ttf'); }
@font-face { font-family: 'OS-ExtraBold'; src: url('../fonts/OpenSans-ExtraBold.ttf'); }
@font-face { font-family: 'OS-ExtraBoldItalic'; src: url('../fonts/OpenSans-ExtraBoldItalic.ttf'); }
@font-face { font-family: 'OS-Italic'; src: url('../fonts/OpenSans-Italic.ttf'); }
@font-face { font-family: 'OS-Light'; src: url('../fonts/OpenSans-Light.ttf'); }
@font-face { font-family: 'OS-LightItalic'; src: url('../fonts/OpenSans-LightItalic.ttf'); }
@font-face { font-family: 'OS-Regular'; src: url('../fonts/OpenSans-Regular.ttf'); }
@font-face { font-family: 'OS-SemiBold'; src: url('../fonts/OpenSans-SemiBold.ttf'); }
@font-face { font-family: 'OS-SemiboldItalic'; src: url('../fonts/OpenSans-SemiboldItalic.ttf'); }
@font-face { font-family: 'SSPro-Bold'; src: url('../fonts/pfsquaresanspro-bold.ttf'); }
@font-face { font-family: 'SSPro-Light'; src: url('../fonts/pfsquaresanspro-light.ttf'); }
@font-face { font-family: 'SSPro-Medium'; src: url('../fonts/pfsquaresanspro-medium.ttf'); }
@font-face { font-family: 'SSPro-Regular'; src: url('../fonts/pfsquaresanspro-regular.ttf'); }
@font-face { font-family: 'SSPro-Xblack'; src: url('../fonts/pfsquaresanspro-xblack.ttf'); }