@font-face {
    font-family: 'Yanone Kaffeesatz';
    // src: url('../fonts/YanoneKaffeesatz-Light.woff2') format('woff2');
    src: url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    // src: url('../fonts/YanoneKaffeesatz-Regular.woff2') format('woff2');
    src: url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    // src: url('../fonts/YanoneKaffeesatz-Bold.woff2') format('woff2');
    src: url('../fonts/YanoneKaffeesatz-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Bebas Neue Pro';
    src: url('../fonts/BebasNeuePro-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}