.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    &.open {
        opacity: 1;
        pointer-events: auto;
    }
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        // background-color: rgba(#151515, .4);
    }
    &-body {
    }
}