$main-font: 'Yanone Kaffeesatz';
$common-text-font: 'Roboto';
$descr-font: 'Bebas Neue Pro';

$duration: 0.3s;

$wrap-inner-width: 1280px;
$wrap-padding-x: 32px;
$wrap-padding-x-mobile: 15px;

$body-bg: #FCFBF9;

$dark: #1D1C1D;
$text-color: #302D3C;
$grey-text: #9b9b9b;
$theme-color: #DC7090;
$orange: #F5A246;
$sand: #FFF9E7;

$gradient: linear-gradient(270deg, #F89A87 0%, #D46493 100%);
$webkit-gradient: -webkit-linear-gradient(270deg, #F89A87 0%, #D46493 100%);

$svg-shadow: drop-shadow(79.5344px 91.1881px 80px rgba(0, 0, 0, 0.06)) drop-shadow(51.5501px 59.1034px 46.8519px rgba(0, 0, 0, 0.0455556)) drop-shadow(30.6355px 35.1243px 25.4815px rgba(0, 0, 0, 0.0364444)) drop-shadow(15.9069px 18.2376px 13px rgba(0, 0, 0, 0.03)) drop-shadow(6.48058px 7.43014px 6.51852px rgba(0, 0, 0, 0.0235556)) drop-shadow(1.47286px 1.68867px 3.14815px rgba(0, 0, 0, 0.0144444));