$main-font: 'PT Sans';


$dark: #071A33;
$blue-light: #59AEE4;
$gray: #8693A2;
$gray-light: #E8E8E9;

$logo-color: #1A2741;


$body-bg: #f7f7f7;

$duration: 0.3s;

$wrapper-max-width: 1160px;
$wrapper-padding-x: 20px;
$wrapper-padding-x-mobile: 15px;

$header-grid-gap: 30px;
$header-grid-gap-mobile: 15px;

$text-color: $dark;
