@charset "UTF-8";



/*Fonts LOginpage*/
@font-face {
  font-family: ProximaNovaBold;
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaSemiBold;
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaLight;
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/ProximaNova-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaThin;
  src: url('../fonts/ProximaNovaT-Thin.eot');
  src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
  url('../fonts/ProximaNovaT-Thin.ttf') format('truetype'),
  url('../fonts/ProximaNovaT-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light-webfont.woff') format('woff'),
  url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*end fonts loginpage*/


/*Login page */
body{ background: #f7f4f6; min-height: 420px; }
.loginform-container { width: 356px; height: 420px; margin: 0px auto; padding-top: 140px; /*position : absolute; top: 0; bottom: 0; left: 0; right: 0;*/ }
.admin-loginpage { margin: 0px auto; width: 356px; }
.loginpage-title { display: block; width: 110px; /*margin: 0px auto;*/ padding-bottom: 39px; text-align: justify;     margin-left: 117px; }
.loginpage-title b { text-transform: uppercase; color: #cbbfc7; font-weight: normal; }
.loginpage-title b:nth-child(1) { font-family: ProximaNovaLight; font-size: 28px; line-height: 22px; letter-spacing: 1px; }
.loginpage-title b:nth-child(2) { font-family: ProximaNovaBold; font-size: 34px; line-height: 28px; letter-spacing: 0.8px; }
.loginpage-title b:nth-child(3) { font-family: ProximaNovaThin; font-size: 30px; line-height: 24px; letter-spacing: 0.15px; }
.loginpage-title b:nth-child(4) { font-family: ProximaNovaSemiBold; font-size: 44px; line-height: 36px; letter-spacing: 7.7px; }
.loginpage-form { width: 356px; height: 260px; margin: 0px auto; background: #fff; border-radius: 5px; box-shadow: 0px 0px 16px 4px #f0edef; }
.form-logo { margin: 0px auto; padding-top: 40px; padding-bottom: 25px; width: 146px; }
input { display: block; margin: 0px auto; outline: none; padding: 0; margin-bottom: 10px; }
input[type=text] { max-width: 487px; height: 33px; background: #f7f4f6; border: 1px solid #d1c7cc; border-radius: 16px; font-family: RobotoLight; font-size: 14px; color: #000; outline: none; padding-left: 15px; }
input[type=submit] { width: 148px; height: 35px; background: #ae1e6a; border-radius: 17px; border: none; font-family: RobotoLight; font-size: 16px; color: #fff; outline: none; }
input[type=text]::-webkit-input-placeholder { font-family: RobotoLight; color: #000; font-size: 14px; }
input[type=text]::-moz-placeholder     { font-family: RobotoLight; color: #000; font-size: 14px; }
input[type=text]:-moz-placeholder      { font-family: RobotoLight; color: #000; font-size: 14px; }
input[type=text]:-ms-input-placeholder   { font-family: RobotoLight; color: #000; font-size: 14px; }
input[type=submit]::-webkit-input-placeholder { font-family: RobotoLight; color: #fff; font-size: 16px; }
input[type=submit]::-moz-placeholder     { font-family: RobotoLight; color: #fff; font-size: 16px; }
input[type=submit]:-moz-placeholder      { font-family: RobotoLight; color: #fff; font-size: 16px; }
input[type=submit]:-ms-input-placeholder   { font-family: RobotoLight; color: #fff; font-size: 16px; }
input[type=submit]:hover{ background: #da2685; }

/*end login page*/