script(
    type = 'text/javascript'
    src = '/js/nav.js'
)
script(
    type = 'text/javascript'
    src = '/js/cart.js'
)
script(
    type = 'text/javascript'
    src = '/js/order.js'
)

script(
    type = 'text/javascript'
    src='https://cdn.jsdelivr.net/npm/sweetalert2@8'
)