.block-homescreen {
    .wrap {
        padding-top: 214px;
        padding-bottom: 228px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-height: 100vh;
        @include maxw1199 {
            padding-top: 200px;
            padding-bottom: 200px;
        }
        @include mobile {
            padding-top: 60px;
            padding-bottom: $block-gap-y-mobile;
            flex-direction: column-reverse;
            min-height: initial;
        }
    }
    .text-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 436px;
        flex-shrink: 0;
        @include mobile {
            max-width: 100%;
            margin-top: 32px;
        }
    }
    .title-descr {
        margin-top: 28px;
        @include mobile {
            margin-top: 16px;
        }
    }
    .btn {
        margin-top: 32px;
    }
    .figure-group {
        width: 50%;
        position: relative;
        // min-height: 400px;
        // padding-bottom: 76%;
        padding-bottom: 38%; //50% --> 76/2
        max-height: 400px;
        @include mobile {
            width: 100%;
            padding-bottom: 78%;
            max-height: initial;
        }
    }
    .figure {
        position: absolute;
        transition: transform $duration*3;
        &:nth-child(1) {
            z-index: 10;
            left: 0;
            top: 44px;
            width: 46.5%;
            max-width: 243px;
        }
        &:nth-child(2) {
            z-index: 9;
            top: 0;
            left: 34.5%;
            width: 37%;
            max-width: 193px;
        }
        &:nth-child(3) {
            z-index: 7;
            right: 0;
            top: calc(50% - 90px);
            width: 34.5%;
            max-width: 180px;
            @include mobile {
                top: calc(50% - 60px);
            }
        }
        &:nth-child(4) {
            z-index: 8;
            bottom: 0;
            left: 35.5%;
            width: 41.5%;
            max-width: 220px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    .text-items {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // animation: spin 45s linear infinite;
        animation: spin 90s linear infinite;
        @include mobile {
            animation: initial;
        }
    }
    .text-item {
        position: absolute;
        // animation: spin 45s linear infinite reverse;
        animation: spin 90s linear infinite reverse;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.5;
        @include mobile {
            animation: initial;
            white-space: nowrap;
        }
        &:nth-child(1) {
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 0.045em;
            color: rgba(19, 3, 3, 0.15);
            @include mobile {
                font-size: 6px;
                left: 0 !important;
                top: 8px !important;
            }
        }
        &:nth-child(2) {
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 0.085em;
            color: rgba(19, 3, 3, 0.2);
            @include mobile {
                font-size: 5px;
                left: 55% !important;
                top: -5px !important;
            }
        }
        &:nth-child(3) {
            font-size: 15px;
            font-weight: 700;
            color: rgba(19, 3, 3, 0.15);
            @include mobile {
                font-size: 8px;
                left: 65% !important;
                top: 40px !important;
            }
        }
        &:nth-child(4) {
            font-size: 12px;
            color: rgba(19, 3, 3, 0.5);
            @include mobile {
                font-size: 6px;
                left: 70% !important;
                top: initial !important;
                bottom: 5px !important;
            }
        }
        &:nth-child(5) {
            font-size: 15px;
            color: rgba(19, 3, 3, 0.1);
            @include mobile {
                font-size: 8px;
                left: 25px !important;
                top: initial !important;
                bottom: 25px !important;

            }
        }
        &:nth-child(6) {
            font-size: 10px;
            color: #130303;
            @include mobile {
                font-size: 5px;
                left: 5px !important;
                top: initial !important;
                bottom: 25% !important;
            }
        }
    }
    .scrollr {
        height: 100px;
        width: 23px;
        position: absolute;
        bottom: 0;
        left: $wrapper-gap-x;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            display: none;
        }
        span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 39px;
            border: 2px solid $grey-300;
            border-radius: 15px;
            &::before {
                display: block;
                content: '';
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: $red-500;
                position: relative;
                animation: scrollr-bounce-down 2s infinite;
                @include tablet {
                    animation: initial;
                }
            }

        }
        &::after {
            display: block;
            width: 1px;
            height: 44px;
            background-color: $grey-300;
            content: '';
        }
    }
}

.block-about {
    padding-top: $block-gap-y;
    padding-bottom: $block-gap-y;
    @include tablet {
        padding-top: $block-gap-y-tablet;
        padding-bottom: $block-gap-y-tablet;
    }
    @include mobile {
        padding-top: $block-gap-y-mobile;
        padding-bottom: $block-gap-y-mobile;
    }
    .wrap {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        display: grid;
        grid-template-columns: 55fr 37fr;
        grid-column-gap: 60px;
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 48px;
            align-items: start;
        }
        @include mobile {
            grid-template-columns: 1fr;
            grid-column-gap: initial;
        }
    }
    .side-title {
        position: absolute;
        font-size: 11px;
        line-height: 1.56;
        letter-spacing: .2em;
        text-transform: uppercase;
        color: $grey-300;
        display: flex;
        align-items: center;
        top: calc(#{$block-gap-y} + 56px);
        left: $wrapper-gap-x;
        transform: rotate(-90deg);
        transform-origin: left top;
        @include tablet {
            transform: initial;
            position: relative;
            top: initial;
            left: initial;
            grid-column: 1;
        }
        @include mobile {
            grid-row: 1;
        }
        &::after {
            display: block;
            content: '';
            width: 40px;
            height: 1px;
            margin-left: 32px;
            background-color: currentColor;
            @include tablet {
                content: initial;
            }
        }
    }
    .block-title {
        padding-left: 77px;
        grid-column: 1;
        @include tablet {
            padding-left: 0;
            margin-top: 8px;
        }
        @include mobile {
            grid-row: 2;
        }
    }
    .about-text {
        padding-left: 77px;
        max-width: 577px;
        flex-shrink: 0;
        flex-shrink: 0;
        margin-top: 16px;
        line-height: 1.48;
        grid-column: 1;
        p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        @include tablet {
            // max-width: 50%;
            max-width: initial;
            padding-left: 0;
            grid-column: 1;
            margin-top: 8px;
        }
        @include mobile {
            grid-column: initial;
            grid-row: 4;
            margin-top: 24px;
        }
    }
    // .text {
    //     margin-top: 16px;
    //     line-height: 1.48;
    //     p {
    //         &:not(:last-child) {
    //             margin-bottom: 20px;
    //         }
    //     }
    // }
    .about-picture {
        grid-column: 2;
        grid-row: 1/3;
        // margin-left: 60px;
        // @include maxw1199 {
        //     margin-left: 48px;
        // }
        @include tablet {
            // margin-left: initial;
            grid-column: 2;
            grid-row: 1/4;
        }
        @include mobile {
            grid-column: initial;
            grid-row: initial;
            margin-top: 32px;
            grid-row: 3;
        }
    }
    .about-stats {
        display: grid;
        align-items: start;
        justify-items: center;
        justify-content: center;
        margin-top: 60px;
        width: 100%;
        grid-template-columns: repeat(3, minmax(0, 252px));
        grid-column-gap: 70px;
        grid-column: span 2;
        // @include tablet {
        //     grid-column: span 2;
        // }
        @include mobile {
            grid-column: initial;
            margin-top: 24px;
        }
        @include maxw479 {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: $grid-column-gap;
            grid-row-gap: $grid-row-gap-mobile;
            justify-items: start;
        }
    }
    .stat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include maxw479 {
            align-items: flex-start;
            text-align: left;
        }
        .value {
            font-size: 68px;
            line-height: 1.17;
            color: $red-100;
            text-stroke: 1px $red-300;
            -webkit-text-stroke: 1px $red-300;
            white-space: nowrap;
            font-family: $title-font;
            font-weight: 700;
            @include mobile {
                font-size: 38px;
            }
        }
        .descr {
            line-height: 1.36;
            margin-top: 8px;
            @include mobile {
                font-size: 12px;
                margin-top: 4px;
            }
        }
    }
}

.block-finished-auctions {
    margin-top: $block-gap-y;
    @include tablet {
        margin-top: $block-gap-y-tablet;
    }
    @include mobile {
        margin-top: $block-gap-y-mobile;
    }
    &.block-all-finished-auctions {
        margin-top: 0;
    }
    .block-title {
        @include mobile {
            padding-right: 24px;
        }
    }
    .finished-auctions {
        &:not(:first-child) {
            margin-top: 72px;
            @include mobile {
                margin-top: 32px;
            }
        }
        &.slick-initialized {
            display: block;
            @include mobile {
                width: calc(100% + 24px);
            }
            @include maxw479 {
                width: 100%;
            }
            .slick-slide {
                padding: 0 12px;
                @include maxw479 {
                    padding: 0;
                }
            }
            &::before {
                @include tablet {
                    display: block;
                    content: '';
                    position: absolute;
                    top: -52px;
                    right: 12px;
                    width: 24px;
                    height: 20px;
                    background: transparent url('../img/icons/icon-drag-red-light.svg') center no-repeat;
                    background-size: contain;
                    animation: drag-x 2s linear infinite;
                }
                @include maxw479 {
                    right: 0;
                }
            }
        }
    }
}

.block-advantages {
    margin-top: $block-gap-y;
    @include tablet {
        margin-top: $block-gap-y-tablet;
    }
    @include mobile {
        margin-top: $block-gap-y-mobile;
    }
    .wrap {
        display: flex;
        @include tablet {
            display: block;
        }
    }
    .title-col {
        max-width: 344px;
        margin-right: 80px;
        flex-shrink: 0;
        @include tablet {
            max-width: 100%;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include maxw479 {
            align-items: flex-start;
        }
    }
    .subtitle {
        @include tablet {
            text-align: center;
        }
        @include mobile {
            text-align: left
        }
        + .block-title {
            text-align: left;
            // @include mobile {
            // }
        }
    }
    .arrow-link {
        margin-top: $arrow-link-margin;
    }
    .advantages-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        @include tablet {
            margin-top: 36px;
        }
        @include mobile {
            grid-gap: 32px;
            // grid-template-columns: 1fr;
        }
        @include maxw479 {
            grid-template-columns: 1fr;
        }
    }
    .advantage-item {
        .title {
            display: flex;
            align-items: center;
            font-size: 21px;
            line-height: 1.34;
            // font-weight: 700;
            // color: $title-color;
            @include mobile {
                font-size: 18px;
            }
        }
        .icon {
            margin-right: 24px;
            width: 32px;
            flex-shrink: 0;
            img {
                width: 100%;
            }
        }
        .descr {
            line-height: 1.56;
            margin-top: 16px;
            @include mobile {
                margin-top: 8px;
            }
        }
    }
}

.block-services {
    background-color: #fff;
    padding-top: $block-gap-y;
    padding-bottom: $block-gap-y;
    @include tablet {
        padding-top: $block-gap-y-tablet;
        padding-bottom: $block-gap-y-tablet;
    }
    @include mobile {
        padding-top: $block-gap-y-mobile;
        padding-bottom: $block-gap-y-mobile;
    }
    &.block-service-tabs {
        background-color: transparent;
        padding-bottom: 0;
    }

    .service-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: $block-gap-y;
            @include tablet {
                margin-bottom: $block-gap-y-tablet;
            }
            @include mobile {
                margin-bottom: $block-gap-y-mobile;
            }
        }
        .block-title,
        .block-title-descr {
            align-self: flex-start;
            text-align: left;
        }
        .service-list {
            margin-top: 40px;
            @include mobile {
                margin-top: 24px;
            }
        }
    }

    .service-tab-links {
        display: flex;
        margin-top: 72px;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
        @include mobile {
            margin-top: 32px;
            width: calc(100% + #{$wrapper-gap-x * 2});
        }
    }
    .tab-link {
        width: 50%;
        border-top: 4px solid $grey-200;
        background-color: $grey-150;
        padding: 40px 40px 40px 88px;
        position: relative;
        cursor: pointer;
        transition: border-color $duration;
        @include mobile {
            padding: 56px 16px 28px;
        }
        &::before {
            display: block;
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            top: 40px;
            left: 40px;
            @include mobile {
                top: 20px;
                left: calc(50% - 12px);
            }
        }
        &.primary {
            &::before {
                background-image: url('../img/icons/icon-service-1-grey.svg');
            }
            &.active {
                &::before {
                background-image: url('../img/icons/icon-service-1-red.svg');

                }
            }
        }
        &.secondary {
            &::before {
                background-image: url('../img/icons/icon-service-2-grey.svg');
            }
            &.active {
                &::before {
                background-image: url('../img/icons/icon-service-2-red.svg');

                }
            }
        }
        &.active {
            border-color: $red-500;
            background-color: #fff;
            pointer-events: none;
            .title {
                color: $title-color;
            }
        }
        &:hover {
            border-color: $red-500;
        }
        .title {
            font-size: 21px;
            // font-weight: 700;
            color: $grey-500;
            @include mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 14px;
                text-align: center;
            }
        }
        .descr {
            line-height: 1.4;
            margin-top: 16px;
            @include mobile {
                display: none;
            }
        }
    }

    .service-tabs {
        @include mobile {
            width: calc(100% + #{$wrapper-gap-x * 2});
        }
    }

    .service-tab {
        display: none;
        padding: 64px 40px;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        overflow: hidden;
        @include mobile {
            padding: 32px $wrapper-gap-x $block-gap-y-mobile;
            border-radius: 0;
        }
        &.active {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .service-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-column-gap: 44px;
        grid-row-gap: 40px;
        counter-reset: service-list;
        list-style: none;
        @include tablet {
            grid-column-gap: $grid-column-gap;
            grid-row-gap: $grid-row-gap-tablet;
        }
        @include mobile {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            // grid-column-gap: $grid-column-gap;
            grid-row-gap: $grid-row-gap-mobile;

        }
        @include maxw479 {
            grid-template-columns: minmax(0, 1fr);
        }
    }
    .service-item {
        counter-increment: service-list;
        border-top: 2px solid $grey-300;
        padding-top: 16px;
        @include mobile {
            padding-top: 24px;
            border-color: $grey-200;
        }
        .title {
            font-size: 18px;
            line-height: 1.4;
            // font-weight: 700;
            // color: $title-color;
            display: flex;
            align-items: flex-start;
            @include mobile {
                font-size: 14px;
            }
            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                content: counter(service-list);
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $red-100;
                color: $red-300;
                font-weight: 700;
                flex-shrink: 0;
                margin-right: 16px;
            }
        }
        .descr {
            margin-top: 24px;
            line-height: 1.5;
            @include mobile {
                margin-top: 16px;
                font-size: 14px;
            }
        }
    }

    .btn {
        @include mobile {
            align-self: flex-start;
        }
    }
}

.block-current-auctions {
    margin-top: $block-gap-y;
    @include tablet {
        margin-top: $block-gap-y-tablet;
    }
    @include mobile {
        margin-top: $block-gap-y-mobile;
    }
    &.block-all-current-auctions {
        margin-top: 0;
        padding-top: 64px;
        @include mobile {
            // padding-top: $block-gap-y-mobile;
            padding-top: 0;
        }
    }
    .block-title {
        @include mobile {
            padding-right: 24px;
        }
    }
    .current-auctions-list {
        width: calc(100% + 24px);
        // margin-left: -12px;
        margin-top: 72px;
        @include tablet {
            // padding-top: $block-gap-y-mobile;
            margin-top: 0;
        }
        @include maxw479 {
            width: 100%;
        }
        &::after {
            @include tablet {
                display: block;
                content: '';
                position: absolute;
                // top: 16px;
                top: -16px;
                right: 12px;
                width: 24px;
                height: 20px;
                background: transparent url('../img/icons/icon-drag-red-light.svg') center no-repeat;
                background-size: contain;
                animation: drag-x 2s linear infinite;
            }
            @include maxw479 {
                right: 0;
            }
        }

        + .btn {
            @include maxw479 {
                align-self: flex-start;
            }
        }
    }
    .all-current-auctions-list {
        margin-top: 64px;
        margin-left: initial;
        width: 100%;
        @include mobile {
            margin-top: 32px;
        }
    }
    .categories-selectors {
        max-width: 780px;
        position: relative;
        @include mobile {
            max-width: initial;
            width: calc(100% + #{$wrapper-gap-x * 2});
            margin-right: -$wrapper-gap-x;
            margin-left: -$wrapper-gap-x;
            // min-height: 31px;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;

            // @supports ( (column-gap: 30px) and (row-gap: 16px) ) {
            //     column-gap: 30px;
            //     row-gap: 16px;
            // }

            @include mobile {
                overflow-x: auto;
                justify-content: flex-start;
                // column-gap: 16px;
                flex-wrap: initial;
                // padding-right: $wrapper-gap-x;
                // min-height: calc(31px + #{$block-gap-y-mobile});
                min-height: 63px;
                // padding-top: $block-gap-y-mobile;
                padding-top: 32px;

                // @supports ( (column-gap: 30px) and (row-gap: 16px) ) {
                //     column-gap: 16px;
                // }
            }
        }
        // &::before {
        //     @include mobile {
        //         display: block;
        //         content: '';
        //         position: absolute;
        //         bottom: 46px;
        //         right: $wrapper-gap-x;
        //         width: 24px;
        //         height: 20px;
        //         background: transparent url('../img/icons/icon-drag-red-light.svg') center no-repeat;
        //         background-size: contain;
        //     }
        // }
    }
    .category-selector {
        display: flex;
        margin-right: 30px;
        // @supports not (column-gap: 30px) {
        //     margin-right: 30px;
        //     margin-bottom: 16px;
        // }
        &.active {
            pointer-events: none;
            cursor: default;
            .category-selector-inner {
                color: #fff;
                background-color: $red-500;
            }
        }
        &:hover {
            .category-selector-inner {
                color: $red-500;
            }
        }
        &-inner {
            height: 30px;
            line-height: 30px;
            background-color: $grey-150;
            border-radius: 4px;
            padding: 0 15px;
            color: $grey-500;
            font-size: 14px;
            white-space: nowrap;
            padding-top: 1px;
            cursor: pointer;
            transition: color $duration;

            // &.active {

            // }
        }
        &:first-child {
            &::before {
                @include mobile {
                    display: block;
                    content: '';
                    pointer-events: none;
                    width: $wrapper-gap-x;
                }
            }
        }
        &:nth-child(-n+4) {
            margin-bottom: 16px;
            @include mobile {
                margin-bottom: 0;
            }
        }
        &:nth-child(4) {
            margin-right: 0;
            @include mobile {
                margin-right: 16px;
            }
        }
        &:not(:last-child) {
            @include mobile {
                margin-right: 16px;
            }
        }
        &:last-child {
            margin-right: 0;
            &::after {
                @include mobile {
                    display: block;
                    content: '';
                    pointer-events: none;
                    width: $wrapper-gap-x;
                }
            }
        }
    }
}

.block-certificates {
    margin-top: $block-gap-y;
    @include tablet {
        margin-top: $block-gap-y-tablet;
    }
    @include mobile {
        margin-top: $block-gap-y-mobile;
    }
    &.block-all-certificates {
        margin-top: 0;
        // padding-top: 64px;
        padding-top: $block-gap-y;
        @include mobile {
            padding-top: $block-gap-y-mobile;
        }
        .certificates-list {
            grid-row-gap: 64px;
            // grid-row-gap: $block-gap-y;
            @include mobile {
                grid-row-gap: $grid-row-gap-mobile;
            }
        }
    }
    .certificates-list {
        align-items: start;
        &:not(:first-child) {
            margin-top: 64px;
            // margin-top: $block-gap-y;
            @include mobile {
                margin-top: 32px;
            }
        }
    }
}

.block-latest-news {
    margin-top: $block-gap-y;
    @include tablet {
        margin-top: $block-gap-y-tablet;
    }
    @include mobile {
        margin-top: $block-gap-y-mobile;
    }
    .latest-news {
        width: 100%;
        margin-top: 72px;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 48px;
        align-items: start;
        &.slick-initialized {
            display: block;
            @include mobile {
                width: calc(100% + 24px);
            }
            @include maxw479 {
                width: 100%;
            }
            .slick-slide {
                padding: 0 12px;
                @include maxw479 {
                    padding: 0;
                }
            }
            &::before {
                @include tablet {
                    display: block;
                    content: '';
                    position: absolute;
                    top: -52px;
                    right: 12px;
                    width: 24px;
                    height: 20px;
                    background: transparent url('../img/icons/icon-drag-red-light.svg') center no-repeat;
                    background-size: contain;
                    animation: drag-x 2s linear infinite;
                }
                @include maxw479 {
                    right: 0;
                }
            }
        }
        @include mobile {
            // margin-top: 36px;
            margin-top: 32px;
            grid-column-gap: $grid-column-gap;
            grid-row-gap: $grid-row-gap-mobile;
            grid-template-columns: minmax(0, 1fr);
        }
        // @include maxw479 {
        // }
    }
    .mobile-slide {
        grid-column: 2;

        &:nth-child(4n+1) {
            @include not-mobile {

                grid-column: 1;
                grid-row: span 3;
                .latest-news-item {
                    // grid-column: 1;
                    // grid-row: span 3;
                    flex-direction: column;
                    .photo {
                        width: 100%;
                        height: initial;
                        padding-bottom: 53.5%;
                    }
                    .info {
                        padding-left: 0;
                        padding-top: 16px;
                    }
                    .title {
                        font-size: 21px;
                    }
                    .descr {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .latest-news-item {
        display: flex;
        align-items: flex-start;
        // grid-column: 2;
        @include mobile {
            grid-column: initial;
            flex-direction: column;
        }
        &:hover {
            .title {
                color: $red-500;
            }
        }

        .photo {
            width: 144px;
            height: 94px;
            flex-shrink: 0;
            border-radius: $card-radius;
            overflow: hidden;
            position: relative;
            z-index: 2;
            @include mobile {
                padding-bottom: 67.4%;
                width: 100%;
                height: auto;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info {
            padding-left: 24px;
            @include mobile {
                position: relative;
                z-index: 1;
                padding: 16px;
                margin-top: -$card-radius;
                border: 1px solid $card-border-color;
                border-top: 0;
                border-radius: $card-radius;
                transition: background-color $duration;
                background-color: #fff;
            }
        }
        .date {
            line-height: 1.34;
            display: flex;
            align-items: flex-start;
            @include mobile {
                line-height: 1.5;
            }
            &::before {
                display: block;
                content: '';
                width: 14px;
                height: 16px;
                background: transparent url('../img/icons/icon-date-red.svg') center no-repeat;
                background-size: contain;
                margin-right: 9px;
                position: relative;
                @include mobile {
                    top: 1px;
                }
            }
        }
        .title {
            font-size: 18px;
            line-height: 1.365;
            transition: color $duration;
            // margin-top: 16px;
            margin-top: 8px;
            @include mobile {
                // margin-top: 8px;
                font-size: 16px;
                line-height: 1.2;
            }
        }
        .descr {
            margin-top: 8px;
            font-size: 14px;
            line-height: 1.4;
        }
    }
}

.block-all-news {
    padding-top: 64px;
    @include mobile {
        padding-top: $block-gap-y-mobile;
    }
}

.block-breadcrumbs {
    padding-top: 178px;
    padding-bottom: 72px;
    min-height: 336px;
    @include mobile {
        padding-top: 116px;
        padding-bottom: 60px;
        min-height: 220px;
    }
    &.with-banner {
        background: $body-bg url('../img/screen-figure.svg') right bottom no-repeat;
        @include mobile {
            background: $body-bg url('../img/screen-figure-mobile.svg') center 60px no-repeat;
            background-size: 100% auto;
        }
    }
    &.white {
        background: #fff;
    }
    &.transparent {
        background: transparent;
    }
    &.no-padding-bottom {
        padding-bottom: 0;
    }
    .breadcrumbs {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.07;
        @include mobile {
            display: none;
        }
    }
    .parent-page {
        margin-right: 20px;
        position: relative;
        &::after {
            content: 'ᐳ';
            position: absolute;
            right: -14px;
            bottom: 2px;
            font-size: 10px;
            pointer-events: none;
        }
    }
    .current-page {
        color: $grey-900;
    }
    .block-title {
        margin-top: 16px;
        @include mobile {
            margin-top: 0;
        }
    }
}

.block-text {
    @include mobile {
        font-size: 16px;
        line-height: 1.6;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .banner {
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        &:not(:first-child) {
            margin-top: 32px;
            @include mobile {
                margin-top: 24px;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
        + p {
            margin-top: 32px;
        }
    }
    .date {
        margin-top: 32px;
        line-height: 1.34;
        display: flex;
        // align-items: center;
        align-items: flex-start;
        @include mobile {
            line-height: 1.5;
            margin-top: 24px;
        }
        &::before {
            display: block;
            content: '';
            width: 14px;
            height: 16px;
            background: transparent url('../img/icons/icon-date-red.svg') center no-repeat;
            background-size: contain;
            margin-right: 9px;
            position: relative;
            @include mobile {
                top: 1px;
            }
        }
    }
    p {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        a {
            color: $red-300;
            text-decoration: underline;
            transition: color $duration;
        	word-break: break-all;
            &:hover {
                color: $red-500;
            }
        }
        + h2,
        + ul,
        + ol {
            // margin-top: 32px;
            margin-top: 12px;
        }
        + h3 {
            margin-top: 24px;
        }
    }
    h2 {
        font-size: 28px;
        line-height: 1.3;
        font-weight: 700;
        color: $title-color;
        + p,
        + ul,
        + ol {
            margin-top: 24px;
        }
    }
    h3 {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 700;
        color: $title-color;
        + p,
        + ul,
        + ol {
            margin-top: 24px;
        }
    }
    strong, b {
        color: $grey-700;
    }
    ul,
    ol {
        list-style: none;
        counter-reset: news-list-item;
        li {
            padding-left: 23px;
            position: relative;
            list-style-type: none;
            counter-increment: news-list-item;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &:before {
                display: block;
                position: absolute;
                left: 0;
                color: $grey-700;
            }
        }

    }
    ul {
        li {
            &:before {
                width: 8px;
                height: 8px;
                content: '';
                border-radius: 50%;
                background-color: currentColor;
                top: 7px;
            }
        }
        + p,
        + ol,
        + ul,
        + h2,
        + h3 {
            margin-top: 32px;
        }
    }
    ol {
        li {
            &:before {
                font-weight: 700;
                top: 0;
                content: counter(news-list-item)'.';
            }
        }
        + p,
        + ol,
        + ul,
        + h2,
        + h3 {
            margin-top: 32px;
        }
    }
    blockquote {
        padding: 40px 32px 40px 62px;
        position: relative;
        @include mobile {
            padding: 36px 22px;
        }
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 40px;
            left: 32px;
            background: transparent url('../img/icons/icon-quote-greylight.svg') center no-repeat;
            background-size: contain;
            width: 14px;
            height: 8px;
            @include mobile {
                left: 0;
                top: 36px;
            }
        }
        &:not(:first-child) {
            margin-top: 32px;
        }
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    a[download] {
        display: inline-flex;
        margin-top: 40px;
        align-items: center;
        position: relative;
        color: $grey-900;
        text-decoration: underline;
        transition: color $duration;
        @include mobile {
            margin-top: 36px;
            font-size: 14px;
            line-height: 1.4;
            align-items: flex-start;
        }
        &:hover {
            color: $red-500;
        }
        &::before {
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            background: transparent url('../img/icons/icon-download-red.svg') center no-repeat;
            background-size: contain;
            margin-right: 8px;
            flex-shrink: 0;
            position: relative;
            @include mobile {
                top: -2px;
            }
        }
        + a[download] {
            margin-top: 20px;
            @include mobile {
                margin-top: 8px;
            }
        }
    }
    hr {
        color: $grey-300;
        margin-top: 40px;
        width: 100%;
        @include mobile {
            margin-top: 36px;
        }
    }
    cite {
        margin-top: 16px;
        font-style: normal;
        @include mobile {
            font-size: 14px;
            line-height: 1.6;
        }
        a {
            color: $red-500;
        }
    }
    .return {
        margin-top: 72px;
        align-self: center;
        display: inline-flex;
        align-items: flex-end;
        font-size: 14px;
        line-height: 1;
        color: $grey-900;
        text-decoration: underline;
        transition: color $duration;
        &:hover {
            color: $red-500;
        }
        &::before {
            display: block;
            content: '';
            width: 21px;
            height: 16px;
            background: transparent url('../img/icons/icon-return-red.svg') center no-repeat;
            background-size: contain;
            margin-right: 8px;
            flex-shrink: 0;
        }
    }
}

.block-one-auction {
    .auction-type-label {
        position: absolute;
        top: 12px;
        right: 9px;
        background-color: rgba(#000, .6);
        border-radius: 4px;
        font-size: 12px;
        line-height: 27px;
        padding: 1px 15px 0;
        color: #fff;;
    }
    .auction-location {
        margin-top: 32px;
        line-height: 1.34;
        @include mobile {
            margin-top: 24px;
        }
    }
    .aution-date {
        margin-top: 32px;
        @include mobile {
            margin-top: 24px;
        }
    }
    .auction-summary {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $red-100;
        border-radius: 4px;
        padding: 20px 40px;
        width: 100%;
        min-height: 100px;
        @include mobile {
            flex-direction: column;
            align-items: stretch;
            padding: 20px 16px;
        }
    }
    .left-col {
        display: flex;
        align-items: center;
        @include mobile {
            justify-content: space-between;
        }
    }
    .col-logo {
        width: 56px;
        margin-right: 24px;
        @include mobile {
            display: none;
        }
        img {
            max-width: 56px;
            flex-shrink: 0;
        }
    }
    .col-title {
        max-width: 132px;
        flex-shrink: 0;
        font-size: 14px;
        line-height: 1.365;
        margin-right: 16px;
        @include mobile {
            margin-right: auto;
        }
    }
    .col-price {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.34;
        color: $red-300;
        @include mobile {
            font-size: 21px;
        }
    }
    .right-col {
        @include mobile {
            margin-top: 16px;
        }
    }
    .param-group {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
        @include mobile {
            width: 100%;
            justify-content: space-between;
            line-height: 1.6;
        }
        &:not(:last-child) {
            margin-bottom: 8px;
            @include mobile {
                margin-bottom: 4px;
            }
        }
    }
    .param-title {
        margin-right: 16px;
    }
    .param-value {
        flex-shrink: 0;
        min-width: 100px;
        text-align: right;
    }
    .auction-descr {
        margin-top: 32px;
    }
}

.block-article {
    &:last-child {
        padding-bottom: 75px;
    }
}

.block-contacts {
    padding-top: 64px;
    color: $grey-900;
    @include mobile {
        padding-top: $block-gap-y-mobile;
    }
    .wrap {
        display: flex;
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 24px;
            grid-row-gap: 40px;
        }
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
    .col-group {
        width: 50%;
        @include tablet {
            width: initial;
            max-width: 480px;
        }
    }
    .block-title {
        margin-bottom: 24px;
    }
    .phone {
        padding-left: 40px;
        position: relative;
        transition: color $duration;
        &:hover {
            color: $red-500;
        }
        &::before {
            display: block;
            content: '';
            width: 24px;
            height: 24px;
            background: transparent url('../img/icons/icon-phone-red.svg') center no-repeat;
            background-size: contain;
            position: absolute;
            top: calc(50% - 12px);
            left: 0;
        }
    }
    .mail {
        padding-left: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 16px;
        &::before {
            display: block;
            content: '';
            width: 24px;
            height: 24px;
            background: transparent url('../img/icons/icon-mail-red.svg') center no-repeat;
            background-size: contain;
            position: absolute;
            top: calc(50% - 12px);
            left: 0;
        }
        a {
            transition: color $duration;
            &:hover {
                color: $red-500;
            }
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
    .address-title {
        margin-top: 16px;
    }
    .address {
        font-style: normal;
        margin-top: 8px;
        max-width: 274px;
    }
    .socials {
        display: flex;
        align-items: center;
        margin-top: 24px;
    }
    .social-link {
        width: 24px;
        height: 24px;
        display: block;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &.telegram {
            background-image: url('../img/icons/icon-telegram-red.svg');
        }
        &.instagram {
            background-image: url('../img/icons/icon-instagram-red.svg');
        }
        &.facebook {
            background-image: url('../img/icons/icon-facebook-red.svg');
        }
        &.twitter {
            background-image: url('../img/icons/icon-twitter-red.svg');
        }
        &.whatsapp {
            background-image: url('../img/icons/icon-whatsapp-red.svg');
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .input-label {
        display: block;
        position: relative;
        + .input-label {
            margin-top: 35px;
        }
    }
    .input {
        height: 55px;
        width: 100%;
        border: 0;
        border-bottom: 1px solid $input-border-color;
        display: flex;
        align-items: center;
        font-size: 17px;
        line-height: 23px;
        padding: 0 20px;
        background-color: transparent;
        color: $input-color;
        text-transform: capitalize;
        &:focus + .input-title,
        &:not(:placeholder-shown) + .input-title {
            font-size: 14px;
            line-height: 19px;
            bottom: 47px;
        }
        &:focus {
            border-color: $input-error-color;
            + .input-title {
                color: $input-error-color;
            }
        }
        &:not(:valid) {
            box-shadow: initial;
        }
        // &:not(:valid):not(:placeholder-shown) {
        //     border-color: $input-error-color;
        //     box-shadow: initial;
        //     // color: $input-error-color;
        //     + .input-title {
        //         color: $input-error-color;
        //     }
        // }
        &::placeholder {
            color: $input-placeholder-color;
            opacity: 1;
        }
    }
    .input-title {
        position: absolute;
        // bottom: 8px;
        bottom: 17px;
        left: 20px;
        font-size: 17px;
        line-height: 23px;
        transition: $duration;
        color: $grey-300;
    }
    .checkbox-label {
        display: flex;
        align-items: flex-start;
        margin-top: 24px;
    }
    input:checked + .checkbox-custom::before {
        opacity: 1;
    }
    .checkbox-custom {
        width: 13px;
        height: 13px;
        display: block;
        flex-shrink: 0;
        border: 1px solid $input-border-color;
        // margin-top: 4px;
        margin-right: 8px;
        position: relative;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            background-color: $checkbox-check-color;
            opacity: 0;
            transition: opacity $duration;
        }
    }
    .checkbox-text {
        font-size: 11px;
        line-height: 1.36;
    }
    .form-submit {
        margin-top: 32px;
        height: 56px;
        border-radius: 4px;
        align-self: flex-start;
    }
}

.block-thanks {
    padding-top: 110px;
    display: flex;
    // background: transparent url('../img/screen-figure-big.svg') center bottom no-repeat;
    background: transparent url('../img/screen-figure-big.svg') center 110px no-repeat;
    // background-size: 100% calc(100% - 110px);
    background-size: 100% auto;
    flex-grow: 1;
    min-height: 640px;
    @include mobile {
        background: initial;
        min-height: 100vh;
        min-height: -webkit-fill-avialable;
        padding-top: 60px;
    }
    &:last-child {
        padding-bottom: 0;
    }
    .wrap {
        block-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
}